Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

fix: adjust styles to match design
  src/app/demo/page.jsx
  src/components/pages/demo/demo-list/demo-list.jsx
  src/components/pages/demo/hero/hero.jsx
  src/components/shared/cta-with-elephant/cta-with-elephant.jsx
Due: prettier --write, eslint --cache --fix

chore: minor fix
  src/components/pages/demo/demo-list/demo-list.jsx
Due: prettier --write, eslint --cache --fix

chore: replace div with li
  src/components/pages/demo/demo-list/demo-list.jsx
Due: prettier --write, eslint --cache --fix

fix: hover state, text style update
  src/components/pages/demo/demo-list/demo-list.jsx
  src/components/pages/demo/hero/hero.jsx
  src/components/shared/link/link.jsx
Due: prettier --write, eslint --cache --fix

Add technology cards for FerretDB
  content/docs/guides/guides-intro.md
  content/docs/introduction.md
Due: node src/scripts/update-frontmatter.js

fix: adjust image sizes
  src/components/pages/demo/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

Update monitoring.md
  content/docs/introduction/monitoring.md
Due: node src/scripts/update-frontmatter.js

feat: develop case studies page
  src/app/case-studies/page.jsx
  src/components/pages/case-studies/hero/hero.jsx
  src/components/pages/case-studies/hero/images/bunnyshell.svg
  src/components/pages/case-studies/hero/images/hasura.svg
  src/components/pages/case-studies/hero/images/proposales.svg
  src/components/pages/case-studies/hero/images/replit.svg
  src/components/pages/case-studies/hero/images/vercel.svg
  src/components/pages/case-studies/hero/images/wundergraph.svg
  src/components/pages/case-studies/hero/index.js
  src/components/shared/cta-with-elephant/cta-with-elephant.jsx
Due: prettier --write, eslint --cache --fix

edits
  content/docs/guides/ferretdb.md
  content/docs/guides/guides-intro.md
  content/docs/introduction.md
Due: node src/scripts/update-frontmatter.js

Update roadmap.md
  content/docs/introduction/roadmap.md
Due: node src/scripts/update-frontmatter.js

Update timescaledb extension documentation
  content/docs/extensions/timescaledb.md
Due: node src/scripts/update-frontmatter.js

Update timescaledb documentation
  content/docs/extensions/timescaledb.md
Due: node src/scripts/update-frontmatter.js

Add json_extract_path function
  content/docs/functions/json_extract_path.md
Due: node src/scripts/update-frontmatter.js

Uncommon SQL
  content/docs/functions/json_extract_path.md
Due: node src/scripts/update-frontmatter.js

Add json_array_elements function documentation
  content/docs/functions/json_array_elements.md
Due: node src/scripts/update-frontmatter.js

Small updates
  content/docs/functions/json_array_elements.md
Due: node src/scripts/update-frontmatter.js

Add docs tabs for Operations
  content/docs/manage/operations.md
Due: node src/scripts/update-frontmatter.js

update links
  content/changelog/2023-03-02-docs.md
  content/docs/reference/api-reference.md
Due: node src/scripts/update-frontmatter.js

feat: add ruby on rails guide
  content/docs/guides/ruby-on-rails.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

feat: add rails to guides list
  content/docs/guides/guides-intro.md
  public/images/technology-logos/rails-logo.svg
Due: node src/scripts/update-frontmatter.js

Add Neon CLI --psql examples
  content/docs/reference/cli-connection-string.md
  content/docs/reference/cli-projects.md
Due: node src/scripts/update-frontmatter.js

Update cli-branches.md
  content/docs/reference/cli-branches.md
Due: node src/scripts/update-frontmatter.js

feat: add menu description
  src/constants/menus.js
Due: prettier --write, eslint --cache --fix

Expand note about CREATEDB priv and add card to intro page.
  content/docs/guides/ruby-on-rails.md
  content/docs/introduction.md
Due: node src/scripts/update-frontmatter.js

Update import-sample-data.md
  content/docs/import/import-sample-data.md
Due: node src/scripts/update-frontmatter.js

Update branch-restore.md
  content/docs/guides/branch-restore.md
Due: node src/scripts/update-frontmatter.js

fix: change the menu items order
  src/constants/menus.js
Due: prettier --write, eslint --cache --fix

Added download mention to overview page
  content/docs/security/security-overview.md
  content/docs/security/soc2-compliance.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/security/security-overview.md
  content/docs/security/security-overview.md
Due: node src/scripts/update-frontmatter.js

feat: add show more button
  src/components/pages/case-studies/hero/hero.jsx
  src/components/shared/button/button.jsx
  src/icons/chevron-down.inline.svg
Due: prettier --write, eslint --cache --fix

chore: update frontmatter date (auto-update)
  content/docs/guides/ferretdb.md
  content/docs/guides/guides-intro.md
  content/docs/introduction.md
Due: node src/scripts/update-frontmatter.js

Update ferretdb.md
  content/docs/guides/ferretdb.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/ferretdb.md
Due: node src/scripts/update-frontmatter.js

fix: change menu icons background color
  src/icons/header/ai.svg
  src/icons/header/autoscaling.svg
  src/icons/header/branching.svg
  src/icons/header/cli.svg
  src/icons/header/storage.svg
Due: none

revised
  content/docs/security/security-overview.md
  content/docs/security/soc2-compliance.md
Due: node src/scripts/update-frontmatter.js

chore: update doc illustration
  public/docs/guides/logical_replication_model.jpg
Due: none

feat: integrate with Wordpress
  src/app/case-studies/page.jsx
  src/components/pages/case-studies/hero/hero.jsx
  src/utils/api-posts.js
Due: prettier --write, eslint --cache --fix
