Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

docs: cross region replication setup
  content/docs/guides/logical-replication-neon-to-neon.md
Due: node src/scripts/update-frontmatter.js

docs: update checklist
  content/docs/get-started-with-neon/production-checklist.md
Due: node src/scripts/update-frontmatter.js

docs: edit
  content/docs/get-started-with-neon/production-checklist.md
Due: node src/scripts/update-frontmatter.js

docs: fix link
  content/docs/get-started-with-neon/production-checklist.md
Due: node src/scripts/update-frontmatter.js

feat: project_id and org_id selectors
  src/app/(docs)/docs/user-data-provider.jsx
  src/components/pages/doc/user-data-example/user-data-example.jsx
Due: prettier --write, eslint --cache --fix

docs: edits
  content/docs/get-started-with-neon/production-checklist.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/get-started-with-neon/production-checklist.md
  content/docs/guides/logical-replication-neon-to-neon.md
Due: node src/scripts/update-frontmatter.js

feat: make NeonConnectionSnippet work with user data provider
  content/docs/guides/go.md
  package-lock.json
  package.json
  src/app/(docs)/docs/layout.jsx
  src/components/pages/doc/user-data-example/index.js
  src/components/pages/doc/user-data-example/user-data-example.jsx
  src/components/shared/content/content.jsx
  src/components/shared/neon-connection-snippet/NeonConnectionSnippet.jsx
  src/components/shared/neon-connection-snippet/NeonConnectionSnippet.module.css
  src/components/shared/user-data-provider/UserDataProvider.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

feat: combo box component
  src/components/shared/combo-box/Combobox.jsx
  src/components/shared/content/content.jsx
  src/components/shared/neon-connection-snippet/NeonConnectionSnippet.jsx
Due: prettier --write, eslint --cache --fix

docs: add claim api partner docs
  content/docs/guides/partner-intro.md
  content/docs/reference/neon-claim-flow.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/reference/neon-claim-flow.md
Due: node src/scripts/update-frontmatter.js

feat: enhance graphql congif (#3453)
  src/lib/graphQLClient.js
Due: prettier --write, eslint --cache --fix

feat: use prod console in previews and production
  src/components/shared/user-data-provider/UserDataProvider.jsx
Due: prettier --write, eslint --cache --fix

docs: add dict_int
  content/docs/extensions/dict_int.md
Due: node src/scripts/update-frontmatter.js

refactor: update styles and fix naming conventions
  content/docs/guides/go.md
  content/docs/guides/node.md
  src/components/shared/combo-box/Combobox.jsx
  src/components/shared/combo-box/combo-box.jsx
  src/components/shared/combo-box/index.js
  src/components/shared/connection-snippet/connection-snippet.jsx
  src/components/shared/connection-snippet/connection-snippet.module.css
  src/components/shared/connection-snippet/index.js
  src/components/shared/content/content.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: commit
  content/docs/guides/databricks-federated-sql.md
  content/docs/guides/logical-replication-databricks.md
Due: node src/scripts/update-frontmatter.js

docs: adding folder structure
  .gitignore
  content/docs/neon-auth/components/account-settings.md
  content/docs/neon-auth/components/components.md
  content/docs/neon-auth/components/credential-sign-in.md
  content/docs/neon-auth/components/credential-sign-up.md
  content/docs/neon-auth/components/oauth-button-group.md
  content/docs/neon-auth/components/oauth-button.md
  content/docs/neon-auth/components/selected-team-switcher.md
  content/docs/neon-auth/components/sign-in.md
  content/docs/neon-auth/components/sign-up.md
  content/docs/neon-auth/components/stack-handler.md
  content/docs/neon-auth/components/stack-provider.md
  content/docs/neon-auth/components/stack-theme.md
  content/docs/neon-auth/components/user-button.md
  content/docs/neon-auth/concepts/backend-integration.md
  content/docs/neon-auth/concepts/custom-user-data.md
  content/docs/neon-auth/concepts/oauth.md
  content/docs/neon-auth/concepts/orgs-and-teams.md
  content/docs/neon-auth/concepts/permissions.md
  content/docs/neon-auth/concepts/stack-app.md
  content/docs/neon-auth/concepts/team-selection.md
  content/docs/neon-auth/concepts/user-onboarding.md
  content/docs/neon-auth/get-started/accessing-user-data.md
  content/docs/neon-auth/get-started/components-overview.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

docs: connect bi tools to read replicas
  content/docs/connect/connect-from-any-app.md
  content/docs/connect/connect-postgres-gui.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/connect/connect-from-any-app.md
  content/docs/connect/connect-postgres-gui.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/connect/connect-from-any-app.md
  content/docs/connect/connect-postgres-gui.md
Due: node src/scripts/update-frontmatter.js

refactor(components): update branching with glass effect
  src/components/pages/multi-tb/branching/branching.jsx
Due: prettier --write, eslint --cache --fix

docs: add data size limit
  content/docs/introduction/usage-metrics.md
  content/docs/manage/projects.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/connect/connect-from-any-app.md
  content/docs/connect/connect-postgres-gui.md
  content/docs/introduction/usage-metrics.md
  content/docs/manage/projects.md
Due: node src/scripts/update-frontmatter.js

docs: revisions
  content/docs/introduction/usage-metrics.md
  content/docs/manage/projects.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/introduction/usage-metrics.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/introduction/usage-metrics.md
  content/docs/manage/projects.md
Due: node src/scripts/update-frontmatter.js

Update compute-lifecycle.md
  content/docs/introduction/compute-lifecycle.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/introduction/compute-lifecycle.md
Due: node src/scripts/update-frontmatter.js

Update typescript-sdk.md
  content/docs/reference/typescript-sdk.md
Due: node src/scripts/update-frontmatter.js

docs: add redirect_url info
  content/docs/reference/neon-claim-flow.md
Due: node src/scripts/update-frontmatter.js

docs: expand redirect_url info
  content/docs/reference/neon-claim-flow.md
Due: node src/scripts/update-frontmatter.js

docs: add dict_int
  content/docs/extensions/dict_int.md
  content/docs/extensions/extensions-intro.md
  content/docs/extensions/pg-extensions.md
  content/docs/extensions/pg_graphql.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

Update monitoring-page.md
  content/docs/introduction/monitoring-page.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/introduction/monitoring-page.md
  content/docs/introduction/monitoring-page.md
Due: node src/scripts/update-frontmatter.js

feat: user data injection
  content/docs/guides/go.md
  src/app/(docs)/docs/layout.jsx
  src/components/shared/combo-box/combo-box.jsx
  src/components/shared/connection-snippet/connection-snippet.jsx
  src/components/shared/connection-snippet/connection-snippet.module.css
  src/components/shared/connection-snippet/index.js
  src/components/shared/content/content.jsx
  src/components/shared/user-data-provider/index.js
  src/components/shared/user-data-provider/user-data-provider.jsx
  src/components/shared/user-data-selector/index.js
  src/components/shared/user-data-selector/user-data-selector.jsx
  src/components/shared/user-data/index.js
  src/components/shared/user-data/user-data.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

refactor(components): validate Pixel Perfect for Multi-TB page
  src/app/multi-tb/page.jsx
  src/components/pages/multi-tb/branching/branching.jsx
  src/components/pages/multi-tb/hero/hero.jsx
  src/components/pages/multi-tb/high-availability/high-availability.jsx
  src/components/pages/multi-tb/peak-demand/peak-demand.jsx
  src/components/pages/multi-tb/related-article/related-article.jsx
  src/components/pages/multi-tb/sub-hero/sub-hero.jsx
  src/components/pages/multi-tb/tag-cloud/tag-cloud.jsx
  src/components/pages/multi-tb/test-reliably/test-reliably.jsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix
