Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: minor edits
  public/prompts/clean-up-orphaned-s3-objects-neon-branching-prompt.md
  public/prompts/discord-bot-on-neon-functions-prompt.md
  public/prompts/durable-workflow-on-neon-functions-prompt.md
  public/prompts/image-processing-api-neon-functions-prompt.md
  public/prompts/llm-proxy-neon-functions-prompt.md
  public/prompts/neon-functions-github-actions-prompt.md
  public/prompts/sentry-neon-functions-prompt.md
Due: node src/scripts/update-frontmatter.js

feat: add Rive hero animations
  public/animations/pages/ai-gateway/hero.riv
  public/animations/pages/functions/hero.riv
  src/components/pages/ai-gateway/hero/hero-diagram.jsx
  src/components/pages/functions/hero/illustration.jsx
  src/components/shared/rive-wasm/rive-wasm.jsx
Due: prettier --write, eslint --cache --fix

docs: expand and correct the websockets and SSE guide
  content/docs/cli/dev.md
  content/docs/compute/functions/websockets.md
Due: node src/scripts/update-frontmatter.js

docs: correct websocket handshake-refusal guidance
  content/docs/compute/functions/websockets.md
Due: node src/scripts/update-frontmatter.js

docs: whitespace
  content/docs/compute/functions/websockets.md
Due: node src/scripts/update-frontmatter.js

docs: document upgradeWebSocket on Neon Functions
  content/docs/cli/dev.md
  content/docs/compute/functions/websockets.md
Due: node src/scripts/update-frontmatter.js

docs: skip closing sockets in the websockets polling loop
  content/docs/compute/functions/websockets.md
Due: node src/scripts/update-frontmatter.js

chore: exclude .claude worktrees from vitest test discovery
  vitest.config.js
Due: prettier --write, eslint --cache --fix

Add guide for best AI agent frameworks in 2026
  content/guides/best-agent-frameworks-2026.md
Due: node src/scripts/update-frontmatter.js

Conditionally render InkeepModalSearch and InkeepModalChat
  src/components/shared/inkeep-trigger/inkeep-trigger.jsx
Due: prettier --write, eslint --cache --fix

chore: exclude .claude worktrees from vitest test discovery (#5697)
  vitest.config.js
Due: prettier --write, eslint --cache --fix

feat: generate markdown for backend platform pages
  next.config.js
  package.json
  scripts/test-markdown-urls.js
  src/app/ai-gateway/page.jsx
  src/app/functions/page.jsx
  src/components/pages/ai-gateway/compatibility/compatibility.jsx
  src/components/pages/ai-gateway/gateway-benefits/gateway-benefits.jsx
  src/components/pages/ai-gateway/hero/hero-diagram.jsx
  src/components/pages/ai-gateway/hero/hero.jsx
  src/components/pages/ai-gateway/models/models.jsx
  src/components/pages/backend-platform/backed-by/backed-by.jsx
  src/components/pages/backend-platform/backend-platform-page/backend-platform-page.jsx
  src/components/pages/backend-platform/backend-services/backend-services.jsx
  src/components/pages/backend-platform/built-for-agents/built-for-agents.jsx
  src/components/pages/doc/ai-gateway-model-index/model-index-client.jsx
  src/components/pages/doc/ai-gateway-model-index/model-markdown.js
  src/components/pages/doc/ai-gateway-model-index/model-markdown.test.js
  src/components/pages/doc/ai-gateway-model-index/model-rows.js
  src/components/pages/functions/backend-compute/backend-compute.jsx
  src/components/pages/functions/branching/branching.jsx
  src/components/pages/functions/hero/hero.jsx
  src/components/pages/functions/hero/illustration.jsx
  src/components/pages/home/backed-by/backed-by.jsx
  src/components/pages/home/backed-by/quotes/quotes.jsx
  src/components/shared/faq/faq.jsx
  src/constants/backend-platform-page-content.js
  src/constants/content.js
  src/constants/seo-data.js
  src/middleware.test.js
  src/proxy.js
  src/scripts/generate-backend-platform-page-markdown.js
  src/scripts/generate-backend-platform-page-markdown.test.js
  src/scripts/process-md-for-llms.js
  src/utils/ai-agent-detection.js
  src/utils/ai-agent-detection.test.js
  src/utils/get-metadata.test.js
Due: prettier --write, eslint --cache --fix

fix: mount Inkeep modals only when opened so dev works without Inkeep keys (#5699)
  src/components/shared/inkeep-trigger/inkeep-trigger.jsx
Due: prettier --write, eslint --cache --fix

docs(object-model): tighten prose, restore Managed Better Auth naming, update diagram (LKB-16593)
  content/docs/concepts/the-object-model.md
  public/docs/concepts/the-object-model.png
Due: node src/scripts/update-frontmatter.js

docs: reposition per-branch storage as unlimited on paid plans (#5677)
  content/docs/guides/consumption-limits.md
  content/docs/introduction/cost-optimization.md
  content/docs/introduction/plans.md
  content/docs/manage/branches.md
  content/docs/manage/projects.md
  content/docs/unused/legacy-plans.md
  content/guides/neon-scale-plan-vs-supabase-team-plan.md
  public/pricing.md
Due: node src/scripts/update-frontmatter.js

docs(object-model): subtitle -> How the Neon backend is structured (LKB-16593)
  content/docs/concepts/the-object-model.md
Due: node src/scripts/update-frontmatter.js

docs(object-model): tighten summary/intro, dedup branch section, standardize on 'services' (LKB-16593)
  content/docs/concepts/the-object-model.md
Due: node src/scripts/update-frontmatter.js

fix(nav): remove duplicate object-model entry under Platform so breadcrumb resolves under Concepts (LKB-16593)
  content/docs/navigation.yaml
Due: none

docs: tighten object-model intro (LKB-16593)
  content/docs/concepts/the-object-model.md
Due: node src/scripts/update-frontmatter.js

docs(ai-gateway): cross-reference beta limits from the overview pricing section
  content/docs/ai-gateway/overview.md
Due: node src/scripts/update-frontmatter.js

docs: leave branch-restore link untouched to avoid rename conflict with main (LKB-16593)
  content/docs/introduction/branch-restore.md
Due: node src/scripts/update-frontmatter.js

chore: sync agent skills from upstream
  public/.well-known/agent-skills/index.json
  public/docs/.well-known/agent-skills/index.json
  public/docs/ai/skills/neon-functions/SKILL.md
  public/docs/ai/skills/neon-functions/references/mastra-studio.md
  public/docs/ai/skills/neon/SKILL.md
Due: node src/scripts/update-frontmatter.js

chore: sync agent skills from upstream (#5702)
  public/.well-known/agent-skills/index.json
  public/docs/.well-known/agent-skills/index.json
  public/docs/ai/skills/neon-functions/SKILL.md
  public/docs/ai/skills/neon-functions/references/mastra-studio.md
  public/docs/ai/skills/neon/SKILL.md
Due: node src/scripts/update-frontmatter.js

chore: sync agent skills from upstream
  public/.well-known/agent-skills/index.json
  public/docs/.well-known/agent-skills/index.json
  public/docs/ai/skills/neon-functions/SKILL.md
  public/docs/ai/skills/neon-functions/references/sse.md
Due: node src/scripts/update-frontmatter.js

chore: sync agent skills from upstream (#5703)
  public/.well-known/agent-skills/index.json
  public/docs/.well-known/agent-skills/index.json
  public/docs/ai/skills/neon-functions/SKILL.md
  public/docs/ai/skills/neon-functions/references/sse.md
Due: node src/scripts/update-frontmatter.js

docs: rewrite auth.md for provision-then-claim
  public/auth.md
Due: node src/scripts/update-frontmatter.js

docs: make claim status polling executable
  public/auth.md
Due: node src/scripts/update-frontmatter.js

docs: refresh Neon CLI to 4.14.0 (checkout --env, env pull)
  content/docs/cli/checkout.md
  content/docs/cli/env.md
  scripts/docs-checks/neonctl/generate-schema.js
  scripts/docs-checks/neonctl/overrides.json
  scripts/docs-checks/neonctl/schema.json
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: make HTTP claim poll from mint until reconciled
  public/auth.md
Due: node src/scripts/update-frontmatter.js

docs: install neon and neon-postgres skills from auth.md
  public/auth.md
Due: node src/scripts/update-frontmatter.js

docs: stop listing which claimable capabilities fail
  public/auth.md
Due: node src/scripts/update-frontmatter.js

docs: provision claimable projects from neon.ts first
  public/auth.md
Due: node src/scripts/update-frontmatter.js

docs: gate claim create before fallbacks and skip skills prompts
  public/auth.md
Due: node src/scripts/update-frontmatter.js

fix: update backend platform hero animations
  public/animations/pages/ai-gateway/hero.riv
  public/animations/pages/functions/hero.riv
  src/components/pages/ai-gateway/hero/hero-diagram.jsx
  src/components/pages/functions/hero/illustration.jsx
Due: prettier --write, eslint --cache --fix

docs: live-reload browser tabs on content edits
  package-lock.json
  package.json
  scripts/watch-content.mjs
  src/app/layout.jsx
  src/instrumentation.js
Due: prettier --write, eslint --cache --fix

fix: run OG image routes on the Node.js runtime
  src/app/(docs)/docs/og/route.jsx
  src/app/api/og/route.jsx
  src/app/layout.jsx
Due: prettier --write, eslint --cache --fix

docs: minor edits
  content/guides/image-processing-api-neon-functions.md
  public/prompts/clean-up-orphaned-s3-objects-neon-branching-prompt.md
  public/prompts/discord-bot-on-neon-functions-prompt.md
  public/prompts/durable-workflow-on-neon-functions-prompt.md
  public/prompts/image-processing-api-neon-functions-prompt.md
  public/prompts/llm-proxy-neon-functions-prompt.md
  public/prompts/neon-functions-github-actions-prompt.md
  public/prompts/sentry-neon-functions-prompt.md
Due: node src/scripts/update-frontmatter.js

feat: add branching animation
  public/animations/pages/functions/branching.riv
  src/components/pages/functions/branching/branching.jsx
  src/images/pages/functions/branching/illustration.svg
Due: prettier --write, eslint --cache --fix

docs: clarify checkout --env wording
  content/docs/cli/checkout.md
Due: node src/scripts/update-frontmatter.js

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
