Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

fix: responsive components
  src/components/shared/autoscaling-chart/autoscaling-chart.jsx
  src/components/shared/autoscaling-viz/autoscaling-viz.jsx
Due: prettier --write, eslint --cache --fix

fix: invert responsive
  src/components/shared/autoscaling-viz/autoscaling-viz.jsx
Due: prettier --write, eslint --cache --fix

fix: responsive components (#4473)
  src/components/shared/autoscaling-chart/autoscaling-chart.jsx
  src/components/shared/autoscaling-viz/autoscaling-viz.jsx
Due: prettier --write, eslint --cache --fix

fix: remove console logs
  src/components/pages/pricing/hero/plans/plans.jsx
Due: prettier --write, eslint --cache --fix

Feat: Update Pricing Levels Part 2 (#4459)
  public/images/pricing/140-CU-Hours.webp
  public/images/pricing/190-CU-Hours.webp
  public/images/pricing/3000-CU-Hours.webp
  public/images/pricing/6000-CU-Hours.webp
  public/images/pricing/720-CU-Hours.webp
  src/app/pricing/page.jsx
  src/components/pages/pricing/features/features.jsx
  src/components/pages/pricing/hero/plans/data/plans.js
  src/components/pages/pricing/hero/plans/features/features.jsx
  src/components/pages/pricing/hero/plans/plans.jsx
  src/components/pages/pricing/hero/plans/resource-size-select/index.js
  src/components/pages/pricing/hero/plans/resource-size-select/resource-size-select.jsx
  src/components/pages/pricing/hero/programs/programs.jsx
  src/components/pages/pricing/plans/data/plans.js
  src/components/shared/button/button.jsx
  src/constants/links.js
Due: prettier --write, eslint --cache --fix

fix: event count is production
  content/pages/autoscaling-report.md
Due: node src/scripts/update-frontmatter.js

fix: autoscaling event count (#4474)
  content/pages/autoscaling-report.md
Due: node src/scripts/update-frontmatter.js

fix: serve doc .md URLs by moving content rewrites to beforeFiles
  next.config.js
Due: prettier --write, eslint --cache --fix

fix: grammatical error
  content/pages/autoscaling-report.md
Due: node src/scripts/update-frontmatter.js

docs: try new approach
  next.config.js
  package.json
  src/app/api/serve-doc-md/[[...path]]/route.js
  src/middleware.js
Due: prettier --write, eslint --cache --fix

chore: restore postbuild for llms.txt (other PR will handle llms changes)
  package.json
Due: none

fix: serve doc .md URLs via API route (e.g. /docs/ai/ai-rules.md)
  next.config.js
  src/app/api/serve-doc-md/[[...path]]/route.js
  src/middleware.js
Due: prettier --write, eslint --cache --fix

docs: fix adds explicit unified/remark-parse deps to fix LLM markdown generation
  package-lock.json
  package.json
Due: none

docs: fix adds explicit unified/remark-parse deps to fix LLM markdown gen (#4476)
  package-lock.json
  package.json
Due: none

docs: fail build when LLM markdown processing has file errors
  src/scripts/process-md-for-llms.js
Due: prettier --write, eslint --cache --fix

docs: fail build when LLM markdown processing has file errors (#4477)
  src/scripts/process-md-for-llms.js
Due: prettier --write, eslint --cache --fix

docs: add noindex header for .md URLs and fix double .md extension in middleware
  next.config.js
  src/utils/ai-agent-detection.js
  src/utils/ai-agent-detection.test.js
Due: prettier --write, eslint --cache --fix

docs: add noindex header for .md URLs and fix double .md extension in… (#4478)
  next.config.js
  src/utils/ai-agent-detection.js
  src/utils/ai-agent-detection.test.js
Due: prettier --write, eslint --cache --fix

docs: changelog-02-12-026
  .claude/commands/doc-context-bridge.md
  .cursor/doc-ai-tools-list.md
  .cursor/rules/docs-pr-report.mdc
  .cursor/rules/neon-changelog.mdc
  .cursor/rules/neon-changelog.rules
  content/changelog/2025-02-13.md
  content/changelog/2026-02-13.md
  content/docs/community/ai-tools.md
Due: node src/scripts/update-frontmatter.js

docs: remove file
  content/changelog/2025-02-13.md
Due: node src/scripts/update-frontmatter.js

docs: update title
  content/changelog/2026-02-13.md
Due: node src/scripts/update-frontmatter.js

docs: revise entry
  content/changelog/2026-02-13.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/community/ai-tools.md
  package.json
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  package.json
Due: none

docs: revisions
  content/changelog/2026-02-13.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/ai/connect-mcp-clients-to-neon.md
Due: node src/scripts/update-frontmatter.js

docs: revisions
  content/changelog/2026-02-13.md
  public/docs/changelog/add_domain.png
  public/docs/changelog/autoscaling_report_image.png
Due: node src/scripts/update-frontmatter.js

feat: add hero section for guides/authors page + add link from guide to author
  src/app/(docs)/guides/(index)/authors/[slug]/page.jsx
  src/app/blog/(index)/page.jsx
  src/components/pages/blog/blog-header/blog-header.jsx
  src/components/pages/doc/aside/aside.jsx
  src/components/pages/doc/post/post.jsx
  src/components/shared/rss-button/rss-button.jsx
  src/utils/api-guides.js
Due: prettier --write, eslint --cache --fix

docs: revisions
  content/changelog/2026-02-13.md
  public/docs/changelog/jules_mcp.png
Due: node src/scripts/update-frontmatter.js

docs: revisions
  content/docs/manage/organizations.md
  content/docs/manage/orgs-add-members-by-domain.md
  content/docs/manage/orgs-auto-provision-domain.md
  content/docs/manage/orgs-manage.md
  content/docs/navigation.yaml
  public/docs/manage/orgs_domains_empty.png
  public/docs/manage/orgs_domains_pending.png
Due: node src/scripts/update-frontmatter.js

Revert script changes; PR should only update oauth-integration.md
  src/scripts/generate-legacy-llms-output.js
Due: prettier --write, eslint --cache --fix

docs: update entry
  content/changelog/2026-02-13.md
Due: node src/scripts/update-frontmatter.js

docs: minor revisions
  content/docs/guides/oauth-integration.md
  content/docs/guides/platform-integration-overview.md
Due: node src/scripts/update-frontmatter.js

docs: blur image and add note
  content/docs/manage/orgs-add-members-by-domain.md
  public/docs/manage/orgs_domains_pending.png
Due: node src/scripts/update-frontmatter.js

docs: update image
  content/changelog/2026-02-13.md
  public/docs/changelog/orgs_domains_pending.png
Due: node src/scripts/update-frontmatter.js

docs: use different image
  content/changelog/2026-02-13.md
  public/docs/changelog/org_domains.png
Due: node src/scripts/update-frontmatter.js

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
