Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

Update content/docs/guides/partner-billing.md
  content/docs/guides/partner-billing.md
Due: node src/scripts/update-frontmatter.js

chore(docs): Update frontmatter date
  content/docs/guides/partner-billing.md
Due: node src/scripts/update-frontmatter.js

chore: enable showLineNumbers
  content/docs/README.md
  content/docs/guides/read-replica-prisma.md
Due: node src/scripts/update-frontmatter.js

chore(docs): Update frontmatter date
  content/docs/README.md
  content/docs/guides/read-replica-prisma.md
Due: node src/scripts/update-frontmatter.js

fix: update styles for code block in admonition
  src/components/pages/doc/admonition/admonition.jsx
Due: prettier --write, eslint --cache --fix

chore: update note text
  src/app/docs/(postgres)/postgres/[slug]/page.jsx
Due: prettier --write, eslint --cache --fix

feat: set default state for useMedia
  src/components/shared/header/header.jsx
Due: prettier --write, eslint --cache --fix

chore: remove test data
  content/docs/guides/read-replica-prisma.md
Due: node src/scripts/update-frontmatter.js

chore(docs): Update frontmatter date
  content/docs/guides/read-replica-prisma.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter
  content/docs/README.md
  content/docs/guides/read-replica-prisma.md
Due: node src/scripts/update-frontmatter.js

Update read-replica-guide.md
  content/docs/guides/read-replica-guide.md
Due: node src/scripts/update-frontmatter.js

chore(docs): Update frontmatter date
  content/docs/guides/read-replica-guide.md
Due: node src/scripts/update-frontmatter.js

fix: move tabs after links with icons
  src/app/docs/(postgres)/layout.jsx
  src/components/pages/doc/sidebar/sidebar.jsx
Due: prettier --write, eslint --cache --fix

feat: add preconnect links
  src/app/layout.jsx
Due: prettier --write, eslint --cache --fix

chore: liquid syntax error
  content/postgresql/arrays.md
Due: node src/scripts/update-frontmatter.js

feat: implement IncludeBlock to add shared content
  content/docs/extensions/pg_tiktoken.md
  content/docs/shared-content/need-help.md
  content/docs/unused/prisma-guide.md
  src/app/docs/(neon)/[...slug]/page.jsx
  src/app/docs/(neon)/release-notes/[...slug]/page.jsx
  src/app/docs/(postgres)/postgres/[slug]/page.jsx
  src/components/pages/doc/chat-widget/message/message.jsx
  src/components/pages/doc/include-block/include-block.jsx
  src/components/pages/doc/include-block/index.js
  src/components/shared/content/content.jsx
  src/styles/doc-content.css
  src/utils/api-docs.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore(docs): Update frontmatter date
  content/docs/extensions/pg_tiktoken.md
  content/docs/shared-content/need-help.md
  content/docs/unused/prisma-guide.md
Due: node src/scripts/update-frontmatter.js

feat: install remark-gfm
  package-lock.json
  src/components/shared/code-block/code-block.jsx
  src/components/shared/content/content.jsx
Due: prettier --write, eslint --cache --fix

fix: remove unused async
  src/app/docs/(neon)/release-notes/[...slug]/page.jsx
Due: prettier --write, eslint --cache --fix

fix: exclude shared content from update frontmatter
  .github/workflows/update-frontmatter.yml
  content/docs/shared-content/need-help.md
Due: node src/scripts/update-frontmatter.js

chore: update readme
  content/docs/README.md
Due: node src/scripts/update-frontmatter.js

fix: content proptypes
  src/components/pages/blog/release-notes-list/release-notes-list.jsx
Due: prettier --write, eslint --cache --fix

fix: update anchor on scroll (wip)
  src/components/pages/doc/table-of-contents/item/item.jsx
  src/components/pages/doc/table-of-contents/table-of-contents.jsx
Due: prettier --write, eslint --cache --fix

feat: text content and code block in code tabs
  content/docs/README.md
  content/docs/guides/read-replica-prisma.md
  src/components/pages/doc/code-tabs/code-tabs.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

feat: exclude paths
  .github/workflows/update-frontmatter.yml
  content/docs/README.md
Due: node src/scripts/update-frontmatter.js

chore: disable wp protection
  .env.example
  src/lib/graphQLClient.js
Due: prettier --write, eslint --cache --fix

fix: update the workflow
  .github/workflows/update-frontmatter.yml
Due: none

cli-install.md: Update node dep version
  content/docs/reference/cli-install.md
Due: node src/scripts/update-frontmatter.js

chore: md lint fix
  content/postgresql/arrays.md
Due: node src/scripts/update-frontmatter.js

Update Neon Vercel Integratyion docs
  content/docs/guides/vercel.md
Due: node src/scripts/update-frontmatter.js

Update 2023-11-07-console.md
  content/release-notes/2023-11-07-console.md
Due: node src/scripts/update-frontmatter.js

updated screenshot
  public/docs/connect/connection_details.png
  public/docs/connect/connection_details.snagx
Due: none

first draft RN
  content/release-notes/2023-11-07-console.md
  public/docs/connect/connection_details.png
  public/docs/connect/connection_details.snagx
Due: node src/scripts/update-frontmatter.js

Update content/release-notes/2023-11-07-console.md
  content/release-notes/2023-11-07-console.md
Due: node src/scripts/update-frontmatter.js

chore: exclude postgres docs from sitemap and indexing
  next-sitemap.config.js
  src/app/docs/(postgres)/postgres/[slug]/page.jsx
Due: prettier --write, eslint --cache --fix

chore(docs): Update frontmatter date
  content/docs/guides/guides-intro.md
  content/docs/introduction.md
Due: node src/scripts/update-frontmatter.js
