Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

docs: simplify overview into the intro
  content/docs/import/migrate-choosing-method.md
  content/docs/import/migrate-intro.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/import/migrate-intro.md
Due: node src/scripts/update-frontmatter.js

docs: add doc overview info for issue #3016 (#4315)
  content/docs/import/migrate-intro.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/import/migrate-intro.md
Due: node src/scripts/update-frontmatter.js

docs: improve testing workflow and RLS docs for data api
  content/docs/data-api/access-control.md
  content/docs/data-api/get-started.md
  content/docs/data-api/manage.md
  content/docs/data-api/troubleshooting.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/data-api/access-control.md
  content/docs/data-api/get-started.md
  content/docs/data-api/troubleshooting.md
Due: node src/scripts/update-frontmatter.js

docs: clarifications
  content/docs/data-api/access-control.md
  content/docs/data-api/get-started.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/data-api/access-control.md
Due: node src/scripts/update-frontmatter.js

Document 'Access to this endpoint is temporarily disabled' error
  content/docs/connect/connection-errors.md
Due: node src/scripts/update-frontmatter.js

feat: update logo and favicon
  public/favicon.ico
  public/favicon/apple-touch-icon.png
  public/favicon/favicon-144x144.png
  public/favicon/favicon-16x16.png
  public/favicon/favicon-192x192.png
  public/favicon/favicon-256x256.png
  public/favicon/favicon-32x32.png
  public/favicon/favicon-384x384.png
  public/favicon/favicon-48x48.png
  public/favicon/favicon-512x512.png
  public/favicon/favicon-72x72.png
  public/favicon/favicon-96x96.png
  public/favicon/favicon.ico
  public/favicon/favicon.png
  public/favicon/favicon.svg
  public/favicon/safari-pinned-tab.svg
  public/images/og-image/logo.png
  public/images/social-previews/index.jpg
  public/inkeep/css/base.css
  public/inkeep/images/neon-logo.svg
  public/inkeep/images/neon-white-logo.svg
  public/manifest.json
  src/components/shared/logo/images/neon.inline.svg
  src/components/shared/logo/logo.jsx
  src/icons/logo.inline.svg
  src/images/logo-black.svg
  src/images/logo-white.svg
  src/images/logo.svg
  src/utils/get-metadata.js
Due: prettier --write, eslint --cache --fix

feat: index og image update
  public/images/social-previews/index.jpg
Due: none

feat: add padding to favicon
  public/favicon/apple-touch-icon.png
  public/favicon/favicon.svg
Due: none

feat: update brand logo in public folder
  public/brand/neon-brand-assets.zip
  public/brand/neon-logo-dark-color.svg
  public/brand/neon-logo-dark-mono.svg
  public/brand/neon-logo-light-color.svg
  public/brand/neon-logo-light-mono.svg
  public/brand/neon-logomark-dark-color.svg
  public/brand/neon-logomark-dark-mono.svg
  public/brand/neon-logomark-light-color.svg
  public/brand/neon-logomark-light-mono.svg
Due: none

feat: remove more
  src/app/partners/aws-israel/page.jsx
Due: prettier --write, eslint --cache --fix

feat: update logo context menu
  src/components/shared/logo/images/download.inline.svg
  src/components/shared/logo/images/file.inline.svg
  src/components/shared/logo/images/neon.inline.svg
  src/components/shared/logo/logo.jsx
Due: prettier --write, eslint --cache --fix

feat: decrease favicon paddings
  public/favicon/favicon.svg
Due: none

fix: footer z-index
  src/components/pages/home-new/cta/cta.jsx
  src/components/shared/footer/footer.jsx
Due: prettier --write, eslint --cache --fix

docs: 2026 01 17 changelog
  content/changelog/2026-01-17.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/changelog/2026-01-17.md
Due: node src/scripts/update-frontmatter.js

chore: merge fix
  content/pages/autoscaling-report.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/pages/autoscaling-report.md
Due: node src/scripts/update-frontmatter.js

docs: vercel neon auth support
  content/docs/guides/neon-managed-vercel-integration.md
  content/docs/guides/vercel-managed-integration.md
  content/docs/guides/vercel-overview.md
Due: node src/scripts/update-frontmatter.js

docs(tanstack start): add documentation for tanstack start and neon
  content/docs/guides/react.md
  content/docs/guides/tanstack-start.md
Due: node src/scripts/update-frontmatter.js

fix: icon name format and remove commented links
  content/docs/guides/react.md
  content/docs/guides/tanstack-start.md
  src/utils/.get-metadata.js.swp
Due: node src/scripts/update-frontmatter.js

docs: add info about custom rules showing in console
  content/docs/workflows/data-anonymization.md
Due: node src/scripts/update-frontmatter.js

docs: add data anon custom rules
  content/changelog/2026-01-17.md
Due: node src/scripts/update-frontmatter.js

docs: add info about custom rules showing in console (#4337)
  content/docs/workflows/data-anonymization.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/workflows/data-anonymization.md
Due: node src/scripts/update-frontmatter.js

docs: split data anonymization into three pages
  content/docs/navigation.yaml
  content/docs/workflows/data-anonymization-api.md
  content/docs/workflows/data-anonymization-github-actions.md
  content/docs/workflows/data-anonymization.md
Due: node src/scripts/update-frontmatter.js

docs: fix links
  content/docs/workflows/data-anonymization.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/workflows/data-anonymization-api.md
  content/docs/workflows/data-anonymization-github-actions.md
  content/docs/workflows/data-anonymization.md
Due: node src/scripts/update-frontmatter.js

docs: clarification about custom rules
  content/docs/workflows/data-anonymization.md
Due: node src/scripts/update-frontmatter.js

docs: fix incorrect statements about when rules display as text
  content/docs/workflows/data-anonymization.md
Due: node src/scripts/update-frontmatter.js

docs: minor updates
  content/guides/react-neon-auth-data-api.md
  public/docs/data-api/data_api_sidebar_with_public_schema.png
Due: node src/scripts/update-frontmatter.js

docs: minor edit
  content/guides/neon-auth-nextjs.md
Due: node src/scripts/update-frontmatter.js

feat: update brand page
  public/brand/neon-logo-dark-color.svg
  public/brand/neon-logo-dark-mono.svg
  public/brand/neon-logo-light-color.svg
  public/brand/neon-logo-light-mono.svg
  public/brand/neon-logomark-dark-color.svg
  public/brand/neon-logomark-dark-mono.svg
  public/brand/neon-logomark-light-color.svg
  public/brand/neon-logomark-light-mono.svg
  src/app/brand/page.jsx
  src/components/pages/brand/hero/hero.jsx
  src/components/pages/brand/logo/index.js
  src/components/pages/brand/logo/logo.jsx
  src/components/pages/brand/logomark/index.js
  src/components/pages/brand/logomark/logomark.jsx
  src/components/pages/brand/logos/images/logo-spacing-sm.svg
  src/components/pages/brand/logos/images/logo-spacing.svg
  src/components/pages/brand/logos/index.js
  src/components/pages/brand/logos/logos.jsx
  src/components/pages/brand/section/index.js
  src/components/pages/brand/section/section.jsx
  src/components/pages/brand/spacing/images/logo-spacing.svg
  src/components/pages/brand/spacing/images/logomark-spacing.svg
  src/components/pages/brand/spacing/index.js
  src/components/pages/brand/spacing/spacing.jsx
  src/icons/download.inline.svg
Due: prettier --write, eslint --cache --fix

feat: remove padding from svg logo in pack
  public/brand/neon-brand-assets.zip
Due: none

feat: update autoscaling rive
  public/animations/pages/home-new/autoscaling.riv
  src/components/pages/home-new/autoscaling/animation.jsx
Due: prettier --write, eslint --cache --fix

chore: update auth section heading
  src/components/pages/home-new/auth/auth.jsx
Due: prettier --write, eslint --cache --fix
