Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

chore: update frontmatter date (auto-update)
  content/docs/manage/orgs-project-transfer.md
Due: node src/scripts/update-frontmatter.js

docs: add more nudge mentions
  content/docs/get-started/signing-up.md
  content/docs/get-started/workflow-primer.md
  content/docs/introduction/plans.md
  content/docs/manage/organizations.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

fix: show API key in plaintext MCP instructions
  src/components/pages/doc/mcp-setup-configurator/mcp-setup-configurator.jsx
Due: prettier --write, eslint --cache --fix

chore: post ui adjustments
  src/app/(docs)/docs/changelog/[...slug]/page.jsx
Due: prettier --write, eslint --cache --fix

docs: changelog and source config updates
  content/changelog/2025-01-24.md
  content/changelog/2025-06-06.md
  content/changelog/2025-06-27.md
  content/changelog/2025-07-04.md
  content/changelog/2025-10-03.md
  content/changelog/2025-10-17.md
  content/changelog/2025-10-24.md
  content/changelog/2025-11-28.md
  content/changelog/2026-01-30.md
  content/changelog/2026-02-27.md
  next.config.js
  src/app/api/deploy-postgres/route.js
  src/constants/links.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

refactor: merge performance tools into querying scope
  content/docs/shared-content/mcp-tools.md
  src/components/pages/doc/mcp-setup-configurator/mcp-setup-configurator.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: remove entry
  content/changelog/2026-03-06.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/manage/api-keys.md
  content/docs/manage/orgs-api.md
  content/docs/reference/api-reference.md
Due: node src/scripts/update-frontmatter.js

docs: clarify project-scoped excluded MCP tools
  content/docs/shared-content/mcp-tools.md
  src/components/pages/doc/mcp-setup-configurator/mcp-setup-configurator.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

fix: default MCP configurator to streamable HTTP
  src/components/pages/doc/mcp-setup-configurator/mcp-setup-configurator.jsx
  src/components/shared/code-block-wrapper/code-block-wrapper.jsx
Due: prettier --write, eslint --cache --fix

docs: fix mermaid rendering
  src/components/shared/mermaid/mermaid.jsx
  src/styles/doc-content.css
Due: prettier --write, eslint --cache --fix

docs: fix mermaid rendering (#4601)
  src/components/shared/mermaid/mermaid.jsx
  src/styles/doc-content.css
Due: prettier --write, eslint --cache --fix

docs: improve connection choosing guide
  content/docs/connect/choose-connection.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/connect/choose-connection.md
Due: node src/scripts/update-frontmatter.js

docs: fix 404 links
  content/docs/azure/azure-develop.md
  content/docs/import/migrate-mysql.md
  content/pages/use-cases/dev-test.md
  content/postgresql/postgresql-cheat-sheet.md
  content/postgresql/postgresql-php.md
  content/postgresql/postgresql-triggers/introduction-postgresql-trigger.md
  content/postgresql/postgresql-tutorial/postgresql-drop-column.md
  content/postgresql/postgresql-tutorial/postgresql-rename-column.md
  content/postgresql/postgresql-tutorial/postgresql-server-and-database-objects.md
  content/postgresql/postgresql-tutorial/postgresql-vs-mysql.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/postgresql/postgresql-tutorial/postgresql-vs-mysql.md
Due: node src/scripts/update-frontmatter.js

docs: update nav title
  content/docs/navigation.yaml
Due: none

docs: update screenshot
  public/docs/auth/console-auth-organizations-config.png
Due: none

docs: fix 404 links (#4603)
  content/docs/azure/azure-develop.md
  content/docs/import/migrate-mysql.md
  content/pages/use-cases/dev-test.md
  content/postgresql/postgresql-cheat-sheet.md
  content/postgresql/postgresql-php.md
  content/postgresql/postgresql-triggers/introduction-postgresql-trigger.md
  content/postgresql/postgresql-tutorial/postgresql-drop-column.md
  content/postgresql/postgresql-tutorial/postgresql-rename-column.md
  content/postgresql/postgresql-tutorial/postgresql-server-and-database-objects.md
  content/postgresql/postgresql-tutorial/postgresql-vs-mysql.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/azure/azure-develop.md
  content/docs/import/migrate-mysql.md
Due: node src/scripts/update-frontmatter.js

docs: add neon auth organization plugin configuration docs (#4513)
  content/docs/auth/guides/plugins.md
  content/docs/auth/guides/plugins/organization.md
  content/docs/auth/roadmap.md
  public/docs/auth/console-auth-organizations-config.png
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/auth/guides/plugins.md
  content/docs/auth/guides/plugins/organization.md
  content/docs/auth/roadmap.md
Due: node src/scripts/update-frontmatter.js

docs: improve connection choosing guide (#4602)
  content/docs/connect/choose-connection.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/connect/choose-connection.md
Due: node src/scripts/update-frontmatter.js

docs: add neon auth webhooks guide
  content/docs/auth/guides/webhooks.md
  content/docs/auth/roadmap.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

docs: fix phone_number_verified
  content/docs/auth/guides/webhooks.md
Due: node src/scripts/update-frontmatter.js

docs: address reviewer comment
  content/docs/auth/guides/webhooks.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/auth/guides/webhooks.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/auth/guides/webhooks.md
  content/docs/auth/roadmap.md
Due: node src/scripts/update-frontmatter.js

docs: add neon auth webhooks guide (#4537)
  content/docs/auth/guides/webhooks.md
  content/docs/auth/roadmap.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/auth/guides/webhooks.md
  content/docs/auth/roadmap.md
Due: node src/scripts/update-frontmatter.js

docs: fix MIN_SCALE function example output
  content/postgresql/postgresql-math-functions.md
Due: node src/scripts/update-frontmatter.js

feat: generate full changelog.md
  src/scripts/process-md-for-llms.js
Due: prettier --write, eslint --cache --fix

refactor: upd Blog and Case studies
  src/app/blog/[slug]/page.jsx
  src/components/pages/blog-post/hero/hero.jsx
  src/components/pages/blog/blog-grid-item/blog-grid-item.jsx
  src/components/pages/blog/blog-post-card/blog-post-card.jsx
  src/components/pages/blog/blog-search-hit/blog-search-hit.jsx
  src/utils/get-react-content-with-lazy-blocks.jsx
Due: prettier --write, eslint --cache --fix

fix: mdx render for changelog index
  src/scripts/process-md-for-llms.js
Due: prettier --write, eslint --cache --fix

chore: format
  src/scripts/LLMS_PROCESSOR_GUIDE.md
Due: node src/scripts/update-frontmatter.js

chore: prop upd
  src/utils/get-react-content-with-lazy-blocks.jsx
Due: prettier --write, eslint --cache --fix

chore: remove isInline prop
  src/app/blog/[slug]/page.jsx
Due: prettier --write, eslint --cache --fix

refactor: enhance contact sales hero and form components
  src/components/pages/contact-sales/hero/contact-form/contact-form.jsx
  src/components/pages/contact-sales/hero/hero.jsx
  src/components/shared/field/field.jsx
  src/components/shared/heading/heading.jsx
Due: prettier --write, eslint --cache --fix
