Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

feat: add test page
  content/docs/get-started/test.md
  src/styles/doc-content.css
Due: prettier --write, node src/scripts/update-frontmatter.js

chore: add content
  content/docs/get-started/test.md
Due: node src/scripts/update-frontmatter.js

chore: adjustments
  src/components/pages/doc/docs-list/docs-list.jsx
  src/components/shared/blog-search/search-results.jsx
  src/components/shared/content/content.jsx
  src/components/shared/link/link.jsx
  src/components/shared/quote-block/quote-block.jsx
  src/styles/blog-content.css
  src/styles/doc-content.css
  src/styles/search.css
  src/utils/get-excerpt.js
Due: prettier --write, eslint --cache --fix

feat: add callout
  content/docs/README.md
  content/docs/get-started/test.md
  src/components/pages/doc/callout/callout.jsx
  src/components/pages/doc/callout/index.js
  src/components/shared/content/content.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: ui adjustments
  src/app/[slug]/pages/wp-page.jsx
  src/app/wp-draft-post-preview-page/page.jsx
  src/components/pages/branching/contents/contents.jsx
  src/components/pages/brand/hero/hero.jsx
  src/components/pages/cli/features/features.jsx
  src/components/pages/demos/demo-list/demo-list.jsx
  src/components/pages/enterprise/case-studies/case-studies.jsx
  src/components/pages/home/speed-scale/features/manage-fleet/animation.jsx
  src/components/pages/pricing/features/features.jsx
  src/components/pages/startups/hero/quotes/quotes.jsx
  src/components/pages/startups/hero/quotes/slider.css
  src/components/pages/templates/filter-bar/filter-bar.jsx
  src/components/pages/use-case/testimonial/testimonial.jsx
  src/components/pages/variable/efficiency/efficiency.jsx
  src/components/shared/changelog-form/changelog-form.jsx
  src/components/shared/feature-list/feature-list.jsx
  src/components/shared/field/field.jsx
  src/components/shared/navigation-links/navigation-links.jsx
  src/components/shared/program-form/program-form.jsx
  src/styles/doc-content.css
Due: prettier --write, eslint --cache --fix

docs: add llms-full.txt with concatenated neon docs
  .gitignore
  next.config.js
  package.json
  src/middleware.js
  src/scripts/generate-llms-full.js
  src/scripts/llms-index-config.js
  src/scripts/process-md-for-llms.js
Due: prettier --write, eslint --cache --fix

fix: react warnings, hydration, manifest cors, and list keys
  src/app/layout.jsx
  src/components/pages/doc/docs-list/docs-list.jsx
  src/components/pages/home/speed-scale/features/manage-fleet/components/step.jsx
  src/utils/get-metadata.js
Due: prettier --write, eslint --cache --fix

fix: address PR review feedback (remove redundant default, use null for className)
  src/components/pages/home/speed-scale/features/manage-fleet/components/step.jsx
Due: prettier --write, eslint --cache --fix

feat: update for video & minor fixes
  content/docs/community/component-specialized.md
  src/components/pages/doc/tabs/tab-item/tab-item.jsx
  src/styles/doc-content.css
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: misc fix
  content/docs/community/component-specialized.md
Due: node src/scripts/update-frontmatter.js

chore: add test page to navigation
  content/docs/navigation.yaml
Due: none

chore: ui adjustments
  src/app/migration/page.jsx
  src/components/pages/home/autoscaling/autoscaling.jsx
  src/components/pages/home/speed-scale/header/header.jsx
  src/components/pages/migration/task/task.jsx
  src/components/pages/migration/tasks-steps/steps-slider/slider.css
  src/components/pages/migration/tasks-steps/tasks-steps.jsx
  src/components/pages/pricing/hero/plans/plans.jsx
  src/components/pages/pricing/plans/table/table.jsx
  src/components/shared/anchor-heading/anchor-heading.jsx
  src/components/shared/autoscaling-chart/autoscaling-chart.jsx
  src/components/shared/card-items-list/card-items-list.jsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

chore: inkeep adjustments
  public/inkeep/css/base.css
  public/inkeep/css/chat.css
  public/inkeep/css/modal.css
  src/components/shared/button-ai-helper/button-ai-helper.jsx
  src/components/shared/cta-new/cta-new.jsx
  src/components/shared/inkeep-trigger/inkeep-trigger.jsx
  src/lib/inkeep-settings.js
Due: prettier --write, eslint --cache --fix

fix: animation freezing
  src/components/shared/header/burger/burger.jsx
Due: prettier --write, eslint --cache --fix

chore: cta background
  src/components/shared/doc-cta/doc-cta.jsx
Due: prettier --write, eslint --cache --fix

chore: small bug fixes
  src/components/pages/changelog/changelog-list/changelog-list.jsx
  src/components/shared/content/content.jsx
  src/styles/doc-content.css
  src/utils/get-language-icon.jsx
Due: prettier --write, eslint --cache --fix

chore: use own .md URLs for copy-markdown and chatbot links
  .env.example
  .github/workflows/e2e-tests.yml
  next.config.js
  src/components/pages/doc/actions/actions.jsx
Due: prettier --write, eslint --cache --fix

Add Oli Juhl (MedusaJS) quote to Open Source Program page
  content/pages/programs/open-source.md
  src/components/shared/quote-block/quote-block.jsx
  src/images/authors/oli-juhl.png
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

Change Oli to Oliver in quote attribution
  src/components/shared/quote-block/quote-block.jsx
Due: prettier --write, eslint --cache --fix

docs: update neon auth next.js community guide to use the current auth sdk
  content/guides/neon-auth-nextjs.md
Due: node src/scripts/update-frontmatter.js

fix: transition
  src/components/pages/case-studies/hero/hero.jsx
  src/components/pages/doc/prompt-cards/prompt-cards.jsx
  src/components/pages/doc/tech-cards/tech-cards-wrapper/tech-cards-wrapper.jsx
  src/components/pages/multi-tb/branching/branching.jsx
  src/components/shared/header/menu-banner/menu-banner.jsx
Due: prettier --write, eslint --cache --fix

fix: build
  package-lock.json
  src/utils/get-language-icon.jsx
Due: prettier --write, eslint --cache --fix

feat: replace Testimonial with QuoteBlock
  content/pages/platforms.md
  content/pages/use-cases/database-per-tenant.md
  content/pages/use-cases/dev-test.md
  content/pages/use-cases/postgres-for-saas.md
  src/components/pages/use-case/testimonials-wrapper/index.js
  src/components/pages/use-case/testimonials-wrapper/testimonials-wrapper.jsx
  src/components/shared/content/content.jsx
  src/components/shared/quote-block/quote-block.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

fix: submenu overline on hover state
  src/components/pages/doc/docs-header/docs-header.jsx
  src/components/pages/doc/sidebar/sidebar.jsx
  src/components/shared/header/header-wrapper/header-wrapper.jsx
  src/components/shared/header/header.jsx
Due: prettier --write, eslint --cache --fix

feat: update logos carousel in home, pricing & enterprise pages
  src/app/enterprise/page.jsx
  src/app/pricing/page.jsx
  src/components/pages/home/hero/hero.jsx
  src/components/shared/logos/images/bitso.inline.svg
  src/components/shared/logos/images/framer.inline.svg
  src/components/shared/logos/logos.jsx
Due: prettier --write, eslint --cache --fix

fix: separate lines on enterprise page
  src/components/pages/enterprise/case-studies/case-studies.jsx
Due: prettier --write, eslint --cache --fix

chore: remove unused logo
  src/components/shared/logos/images/zimmer-biomet.inline.svg
Due: none

docs: address feedback, clarify and expand manual vs automatic cleanup
  content/docs/guides/vercel-branch-cleanup.md
Due: node src/scripts/update-frontmatter.js

docs: add vercel preview branch cleanup guide
  content/docs/guides/neon-managed-vercel-integration.md
  content/docs/guides/vercel-branch-cleanup.md
  content/docs/guides/vercel-managed-integration.md
  content/docs/guides/vercel-overview.md
  content/docs/introduction/cost-optimization.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/guides/vercel-branch-cleanup.md
Due: node src/scripts/update-frontmatter.js

fix: update react-icons imports renamed/removed in v5.6.0
  src/utils/get-language-icon.jsx
Due: prettier --write, eslint --cache --fix

docs: revise note
  content/docs/extensions/pg_search.md
Due: node src/scripts/update-frontmatter.js

docs: update vercel cleanup guide based on retention testing
  content/docs/guides/vercel-branch-cleanup.md
Due: node src/scripts/update-frontmatter.js

docs: additional clarifications
  content/docs/guides/vercel-branch-cleanup.md
Due: node src/scripts/update-frontmatter.js

docs: fix
  content/docs/guides/vercel-managed-integration.md
Due: node src/scripts/update-frontmatter.js

docs: make data api docs auth-agnostic, rename sdk title
  content/docs/README.md
  content/docs/auth/authentication-flow.md
  content/docs/auth/guides/manage-auth-api.md
  content/docs/auth/migrate/from-supabase.md
  content/docs/auth/reference/ui-components.md
  content/docs/connect/choose-connection.md
  content/docs/data-api/demo.md
  content/docs/data-api/get-started.md
  content/docs/data-api/manage.md
  content/docs/data-api/overview.md
  content/docs/data-api/troubleshooting.md
  content/docs/guides/rls-tutorial.md
  content/docs/navigation.yaml
  content/docs/reference/javascript-sdk.md
  content/docs/reference/sdk.md
  content/docs/sdk-navigation.yaml
  content/guides/admin-dashboard-neon-auth.md
  content/guides/react-neon-auth-data-api.md
  content/guides/react-neon-auth-hono.md
Due: node src/scripts/update-frontmatter.js

fix: make middleware.test.js tests pass by fixing mock setup
  src/middleware.test.js
Due: prettier --write, eslint --cache --fix

docs: serve markdown 404 with doc links for AI agent requests
  src/middleware.js
  src/middleware.test.js
  src/utils/ai-agent-detection.js
  src/utils/ai-agent-detection.test.js
Due: prettier --write, eslint --cache --fix
