Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

refactor: pagesToShow array, docs index support
  src/components/pages/doc/modal/data.js
  src/components/pages/doc/post/post.jsx
Due: prettier --write, eslint --cache --fix

refactor: docs index page check
  src/components/pages/doc/post/post.jsx
Due: prettier --write, eslint --cache --fix

refactor: initial modal state
  src/components/pages/doc/modal/modal.jsx
Due: prettier --write, eslint --cache --fix

docs: updates
  content/docs/extensions/pg_search.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/extensions/pg-extensions.md
  content/docs/extensions/pg-extensions.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/extensions/extensions-intro.md
  content/docs/extensions/pg-extensions.md
  content/docs/extensions/pg_search.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/extensions/pg-extensions.md
  content/docs/extensions/pg_search.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/extensions/pg-extensions.md
  content/docs/extensions/pg_search.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/extensions/pg_search.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/extensions/pg_search.md
Due: node src/scripts/update-frontmatter.js

Update topbar.jsx
  src/components/shared/topbar/topbar.jsx
Due: prettier --write, eslint --cache --fix

docs: update cli authentication flow info
  content/docs/reference/cli-auth.md
  content/docs/reference/neon-cli.md
Due: node src/scripts/update-frontmatter.js

refactor: useLocalStorage and appearing animation for modal
  src/components/pages/doc/modal/modal.jsx
Due: prettier --write, eslint --cache --fix

refactor: modalClosedKey and animation
  src/components/pages/doc/modal/modal.jsx
Due: prettier --write, eslint --cache --fix

Update topbar.jsx (#3179)
  src/components/shared/topbar/topbar.jsx
Due: prettier --write, eslint --cache --fix

refactor: closedModals array, delay for appearing
  src/components/pages/doc/modal/modal.jsx
Due: prettier --write, eslint --cache --fix

Fix spelling on postgresql-json-index.md
  content/postgresql/postgresql-indexes/postgresql-json-index.md
Due: node src/scripts/update-frontmatter.js

refactor: rename type prop to id
  src/components/pages/doc/modal/data.js
  src/components/pages/doc/modal/modal.jsx
Due: prettier --write, eslint --cache --fix

refactor: docs modal component (#3172)
  src/components/pages/doc/modal/data.js
  src/components/pages/doc/modal/modal.jsx
  src/components/pages/doc/post/post.jsx
  src/icons/docs/modal/support.inline.svg
Due: prettier --write, eslint --cache --fix

chore: update signup link
  src/components/pages/home/takeover/takeover.jsx
Due: prettier --write, eslint --cache --fix

feat: HP pgsearch takeover (#3154)
  src/app/(home-page)/page.jsx
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/takeover/index.js
  src/components/pages/home/takeover/takeover.jsx
  src/images/pages/home/hero/bg.jpg
Due: prettier --write, eslint --cache --fix

docs: fix typo and add JOIN examples to pg_search documentation
  content/docs/extensions/pg_search.md
Due: node src/scripts/update-frontmatter.js

Adding BM redirect to next.config.js
  next.config.js
Due: prettier --write, eslint --cache --fix

feat: add tracking for modal links
  src/components/pages/doc/modal/modal.jsx
Due: prettier --write, eslint --cache --fix

docs: updates for pg_search
  content/docs/extensions/pg_search.md
Due: node src/scripts/update-frontmatter.js

docs: fix typo in compatibility.md by removing 'be' from sentence
  content/docs/reference/compatibility.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/reference/compatibility.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/reference/cli-auth.md
  content/docs/reference/neon-cli.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/reference/cli-auth.md
  content/docs/reference/neon-cli.md
Due: node src/scripts/update-frontmatter.js

chore: rename event name for modal link
  src/components/pages/doc/modal/data.js
Due: prettier --write, eslint --cache --fix

feat: add tracking for 'Add to Slack' button
  content/docs/manage/slack-app.md
  src/components/pages/doc/modal/modal.jsx
  src/components/shared/content/content.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: apply sentence style capitalization to headings
  content/docs/extensions/pgcrypto.md
  content/docs/extensions/unaccent.md
  content/docs/extensions/uuid-ossp.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/extensions/pgcrypto.md
  content/docs/extensions/unaccent.md
  content/docs/extensions/uuid-ossp.md
Due: node src/scripts/update-frontmatter.js

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
