Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

edits
  content/docs/introduction/monitor-external-tools.md
  public/docs/introduction/monitor_data_size.png
Due: node src/scripts/update-frontmatter.js

Nit: Winter of 2024 has yet to come
  content/docs/introduction/roadmap.md
Due: node src/scripts/update-frontmatter.js

fix: pricing cta heading
  src/components/pages/pricing/cta/cta.jsx
Due: prettier --write, eslint --cache --fix

chore: content update
  src/components/pages/home/ai-index/ai-index.jsx
  src/components/pages/home/ai-index/animation/animation.jsx
  src/components/pages/home/bento/bento.jsx
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/industry/testimonials/testimonial.jsx
  src/components/pages/home/industry/testimonials/testimonials.jsx
  src/components/pages/home/lightning/lightning.jsx
  src/components/pages/home/logos/logos.jsx
  src/components/pages/home/multitenancy/multitenancy.jsx
  src/images/pages/home/industry/alex-klarfeld.jpg
  src/images/pages/home/industry/avatar-1.png
  src/images/pages/home/industry/avatar-2.png
  src/images/pages/home/industry/avatar-3.png
  src/images/pages/home/industry/edouard-bonlieu.jpg
  src/images/pages/home/industry/himanshu-bhandoh.jpg
  src/images/pages/home/industry/koyeb.svg
  src/images/pages/home/industry/leonard-henriquez.jpg
  src/images/pages/home/industry/retool.svg
  src/images/pages/home/industry/supergood.svg
  src/images/pages/home/industry/topo.svg
  src/images/pages/home/industry/vercel.svg
  src/images/pages/home/trusted/digit.jpg
Due: prettier --write, eslint --cache --fix

Update monitoring-page.md
  content/docs/introduction/monitoring-page.md
Due: node src/scripts/update-frontmatter.js

Update roadmap.md
  content/docs/introduction/roadmap.md
Due: node src/scripts/update-frontmatter.js

Update monitor_ram.png
  public/docs/introduction/monitor_ram.png
Due: none

update images
  content/docs/introduction/monitoring-page.md
  content/docs/introduction/monitoring.md
  public/docs/introduction/monitor_cache.png
  public/docs/introduction/monitor_connections.png
  public/docs/introduction/monitor_data_size.png
  public/docs/introduction/monitor_deadlocks.png
  public/docs/introduction/monitor_rows.png
Due: node src/scripts/update-frontmatter.js

chore: update header nav
  src/constants/menus.js
Due: prettier --write, eslint --cache --fix

initial changes
  content/docs/manage/projects.md
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js

Update images
  public/docs/introduction/monitor_cpu.png
  public/docs/introduction/monitor_rows.png
Due: none

Update monitor_deadlocks.png
  public/docs/introduction/monitor_deadlocks.png
Due: none

feat: add Features section
  src/app/pricing/page.jsx
  src/components/pages/pricing/features/compute/compute.jsx
  src/components/pages/pricing/features/compute/index.js
  src/components/pages/pricing/features/features.jsx
  src/components/pages/pricing/features/images/compute-illustration.svg
  src/components/pages/pricing/features/images/storage-illustration.svg
  src/components/pages/pricing/features/index.js
  src/components/pages/pricing/features/storage/index.js
  src/components/pages/pricing/features/storage/storage.jsx
Due: prettier --write, eslint --cache --fix

chore: update pricing sections layout
  src/app/pricing/page.jsx
  src/components/pages/pricing/features/compute/compute.jsx
  src/components/pages/pricing/features/compute/index.js
  src/components/pages/pricing/features/features.jsx
  src/components/pages/pricing/features/row/index.js
  src/components/pages/pricing/features/row/row.jsx
  src/components/pages/pricing/features/storage/index.js
  src/components/pages/pricing/features/storage/storage.jsx
Due: prettier --write, eslint --cache --fix

Update content/docs/guides/vercel.md
  content/docs/guides/vercel.md
Due: node src/scripts/update-frontmatter.js

edits
  content/docs/introduction/monitor-usage.md
  content/docs/introduction/monitor_branches_widget.png
  content/docs/introduction/monitoring-page.md
  content/docs/introduction/monitoring.md
Due: node src/scripts/update-frontmatter.js

feat: add initial logic for scroll animation
  package-lock.json
  package.json
  src/components/pages/home/industry/testimonials/testimonial.jsx
  src/components/pages/home/industry/testimonials/testimonials.jsx
Due: prettier --write, eslint --cache --fix

chore: add small adjustments
  src/components/pages/home/industry/testimonials/testimonials.jsx
Due: prettier --write, eslint --cache --fix

edits
  content/docs/introduction/monitor-usage.md
  content/docs/introduction/monitoring-page.md
  public/docs/introduction/monitor_branches_widget.png
Due: node src/scripts/update-frontmatter.js

docs: with screenshots
  .gitignore
  content/docs/guides/time-travel-tutorial.md
  public/docs/guides/time_travel_tutorial_activation.png
  public/docs/guides/time_travel_tutorial_after.png
  public/docs/guides/time_travel_tutorial_before.png
Due: node src/scripts/update-frontmatter.js

docs: update sidebar.yaml
  content/docs/sidebar.yaml
Due: none

docs: update sidebar
  content/docs/sidebar.yaml
Due: none

chore: set top bar global
  src/components/shared/topbar/topbar.jsx
  src/utils/get-metadata.js
Due: prettier --write, eslint --cache --fix

chore: rm redudant file
  src/utils/pages-with-no-topbar.js
Due: prettier --write, eslint --cache --fix

fix: counter output with 0 after decimal pointer
  src/components/shared/github-star-counter/github-star-counter.jsx
Due: prettier --write, eslint --cache --fix

Update content/docs/introduction/monitor-external-tools.md
  content/docs/introduction/monitor-external-tools.md
Due: node src/scripts/update-frontmatter.js

chore: cache control videos
  next.config.js
Due: prettier --write, eslint --cache --fix

edits
  content/docs/introduction/how-billing-works.md
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

chore: set new fonts global
  src/app/(old-design)/layout.jsx
  src/app/layout.jsx
  src/components/pages/partners/apply/apply.jsx
  src/components/pages/partners/collaboration/collaboration.jsx
  src/components/pages/partners/hero/hero.jsx
  src/components/pages/partners/integration/api/api.jsx
  src/components/shared/heading/heading.jsx
  src/components/shared/split-view-grid/split-view-grid.jsx
  src/styles/main.css
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

chore: update pricing features illustrations
  src/components/pages/pricing/features/features.jsx
  src/components/pages/pricing/features/images/compute-illustration.jpg
  src/components/pages/pricing/features/images/compute-illustration.svg
  src/components/pages/pricing/features/images/storage-illustration.jpg
  src/components/pages/pricing/features/images/storage-illustration.svg
  src/components/pages/pricing/features/row/row.jsx
Due: prettier --write, eslint --cache --fix

edits
  content/docs/introduction/billing-sample.md
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

revisions
  content/docs/introduction/how-billing-works.md
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

chore: set footer and header global
  src/app/(new-design)/(home-page)/last-week-in-aws/page.jsx
  src/app/(old-design)/ai/page.jsx
  src/app/(old-design)/blog/(index)/layout.jsx
  src/app/(old-design)/blog/[slug]/page.jsx
  src/app/(old-design)/blog/wp-draft-post-preview-page/page.jsx
  src/app/(old-design)/branching/page.jsx
  src/app/(old-design)/careers/page.jsx
  src/app/(old-design)/case-studies/page.jsx
  src/app/(old-design)/contact-sales/page.jsx
  src/app/(old-design)/demos/page.jsx
  src/app/(old-design)/developer-days-1/page.jsx
  src/app/(old-design)/docs/(neon)/layout.jsx
  src/app/(old-design)/docs/(postgres)/layout.jsx
  src/app/(old-design)/enterprise/page.jsx
  src/app/(old-design)/partners/aws-israel/page.jsx
  src/app/(old-design)/partners/page.jsx
  src/app/(old-design)/pricing/page.jsx
  src/app/(old-design)/thank-you/page.jsx
  src/components/pages/about/cta/cta.jsx
  src/components/pages/about/team/team.jsx
  src/components/shared/footer/footer.jsx
  src/components/shared/footer/status-badge/status-badge.jsx
  src/components/shared/github-star-counter/github-star-counter.jsx
  src/components/shared/header/header-new/header-new.jsx
  src/components/shared/header/header-new/index.js
  src/components/shared/header/header.jsx
  src/components/shared/heading/heading.jsx
  src/components/shared/layout/layout.jsx
  src/components/shared/link/link.jsx
  src/components/shared/mobile-menu/index.js
  src/components/shared/mobile-menu/mobile-menu-new/index.js
  src/components/shared/mobile-menu/mobile-menu-new/mobile-menu-new.jsx
  src/components/shared/mobile-menu/mobile-menu.jsx
  src/images/logo-black-28.svg
Due: prettier --write, eslint --cache --fix
