Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

revisions
  content/docs/guides/read-replica-data-analysis.md
  content/docs/guides/read-replica-guide.md
  content/docs/guides/read-replica-prisma.md
  content/docs/introduction/compute-lifecycle.md
  content/docs/introduction/pro-plan.md
Due: node src/scripts/update-frontmatter.js

revisions
  content/docs/guides/project-sharing-guide.md
  content/docs/manage/projects.md
Due: node src/scripts/update-frontmatter.js

chore(docs): Update frontmatter date
  content/docs/guides/project-sharing-guide.md
  content/docs/manage/projects.md
Due: node src/scripts/update-frontmatter.js

rename file
  content/release-notes/2023-10-17-console.md
Due: node src/scripts/update-frontmatter.js

Update 2023-10-17-console.md
  content/release-notes/2023-10-17-console.md
Due: node src/scripts/update-frontmatter.js

update image
  content/docs/guides/autoscaling-guide.md
  public/docs/guides/autoscaling_existing_project.png
Due: node src/scripts/update-frontmatter.js

chore(docs): Update frontmatter date
  content/docs/guides/autoscaling-guide.md
Due: node src/scripts/update-frontmatter.js

update images
  content/docs/connect/code_connection_examples.png
  content/docs/connect/compute_endpoint_state.png
  public/docs/connect/compute_endpoint_state.png
Due: none

docs: update intro messaging
  content/docs/guides/remix.md
Due: node src/scripts/update-frontmatter.js

docs: change common to familiar
  content/docs/guides/remix.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/guides/auto-suspend-guide.md
  content/docs/guides/auto-suspend-guide.md
Due: node src/scripts/update-frontmatter.js

chore(docs): Update frontmatter date
  content/docs/guides/auto-suspend-guide.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/guides/autoscaling-guide.md
  content/docs/guides/autoscaling-guide.md
Due: node src/scripts/update-frontmatter.js

edits
  content/docs/connect/connection-latency.md
  content/docs/guides/auto-suspend-guide.md
  content/docs/guides/autoscaling-guide.md
Due: node src/scripts/update-frontmatter.js

chore(docs): Update frontmatter date
  content/docs/guides/auto-suspend-guide.md
  content/docs/guides/autoscaling-guide.md
Due: node src/scripts/update-frontmatter.js

Update pro-plan.md
  content/docs/introduction/pro-plan.md
Due: node src/scripts/update-frontmatter.js

chore(docs): Update frontmatter date
  content/docs/introduction/pro-plan.md
Due: node src/scripts/update-frontmatter.js

Update project-sharing-guide.md
  content/docs/guides/project-sharing-guide.md
Due: node src/scripts/update-frontmatter.js

chore: update animation
  public/animations/pages/pricing/lights.riv
Due: none

chore(docs): Update frontmatter date
  content/docs/guides/project-sharing-guide.md
Due: node src/scripts/update-frontmatter.js

feat: add logos for technology-navigation
  public/images/technology-logos/astro-logo.svg
  public/images/technology-logos/aws-lambda-logo.svg
  public/images/technology-logos/elixir-logo.svg
  public/images/technology-logos/exograph-logo.svg
  public/images/technology-logos/grafbase-logo.svg
  public/images/technology-logos/javascript-logo.svg
  public/images/technology-logos/koyeb-logo.svg
  public/images/technology-logos/neon-logo.svg
  public/images/technology-logos/oauth-logo.svg
  public/images/technology-logos/polyscale-logo.svg
  public/images/technology-logos/remix-logo.svg
  public/images/technology-logos/stepzen-logo.svg
  public/images/technology-logos/wundergraph-logo.svg
Due: none

chore: update animation
  public/animations/pages/pricing/lights.riv
  src/components/pages/pricing/forecast/forecast.jsx
Due: prettier --write, eslint --cache --fix

edits
  content/docs/guides/read-replica-data-analysis.md
  content/docs/guides/read-replica-guide.md
  content/release-notes/2023-10-17-console.md
Due: node src/scripts/update-frontmatter.js

chore(docs): Update frontmatter date
  content/docs/guides/read-replica-data-analysis.md
  content/docs/guides/read-replica-guide.md
Due: node src/scripts/update-frontmatter.js

Update read-replica-prisma.md
  content/docs/guides/read-replica-prisma.md
Due: node src/scripts/update-frontmatter.js

fix: steps label, sections height
  src/components/pages/pricing/forecast/forecast.jsx
  src/components/pages/pricing/forecast/metrics/metrics.jsx
Due: prettier --write, eslint --cache --fix

feat: intercept network requests
  cypress/e2e/apply-form.cy.js
Due: prettier --write, eslint --cache --fix

feat: add env variables
  cypress.config.js
  cypress/e2e/apply-form.cy.js
Due: prettier --write, eslint --cache --fix

chore: minor update
  cypress/e2e/apply-form.cy.js
Due: prettier --write, eslint --cache --fix

Create 2023-10-19-storage-and-compute.md
  content/release-notes/2023-10-19-storage-and-compute.md
Due: node src/scripts/update-frontmatter.js

Update 2023-10-19-storage-and-compute.md
  content/release-notes/2023-10-19-storage-and-compute.md
Due: node src/scripts/update-frontmatter.js

fix: replace select, section height, hover state
  src/components/pages/pricing/forecast/forecast.jsx
  src/components/pages/pricing/forecast/metrics/metrics.jsx
  src/components/pages/pricing/forecast/select/index.js
  src/components/pages/pricing/forecast/select/select.jsx
Due: prettier --write, eslint --cache --fix

fix: return steps number
  src/components/pages/pricing/forecast/metrics/metrics.jsx
Due: prettier --write, eslint --cache --fix
