Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

Update code-tabs.jsx
  src/components/pages/doc/code-tabs/code-tabs.jsx
Due: prettier --write, eslint --cache --fix

Create CodeTabsContext.jsx
  src/components/pages/doc/code-tabs/CodeTabsContext.jsx
Due: prettier --write, eslint --cache --fix

Update layout.jsx
  src/app/layout.jsx
Due: prettier --write, eslint --cache --fix

fix: content folder jsx comments
  content/docs/community/contribution-guide.md
  content/docs/functions/json_extract_path.md
  content/docs/postgresql/query-reference.md
Due: node src/scripts/update-frontmatter.js

docs: add autosuspend note
  content/changelog/2024-05-31.md
Due: node src/scripts/update-frontmatter.js

docs: remove item
  content/changelog/2024-05-31.md
Due: node src/scripts/update-frontmatter.js

fix: comemnts in content folder for prettier
  .prettierignore
  content/docs/README.md
  content/docs/community/contribution-guide.md
  content/guides/README.md
Due: node src/scripts/update-frontmatter.js

fix: file structures in content folder
  content/docs/README.md
  content/docs/community/contribution-guide.md
  content/guides/README.md
Due: node src/scripts/update-frontmatter.js

fix: add contribution guide to prettierignore
  .prettierignore
  content/docs/community/contribution-guide.md
Due: node src/scripts/update-frontmatter.js

chore: change home page database-per-tenant link to blog post
  src/components/pages/home/multitenancy/multitenancy.jsx
Due: prettier --write, eslint --cache --fix

fix: styles for shiki transformers lines
  src/styles/highlighted-code.css
Due: prettier --write

docs: fix Israel
  content/docs/introduction/roadmap.md
Due: node src/scripts/update-frontmatter.js

fix: don't copy removed lines of code at copy button
  src/components/shared/code-block-wrapper/code-block-wrapper.jsx
Due: prettier --write, eslint --cache --fix

Update content/docs/introduction/roadmap.md
  content/docs/introduction/roadmap.md
Due: node src/scripts/update-frontmatter.js

docs: remove items not on prod yet
  content/changelog/2024-05-31.md
Due: node src/scripts/update-frontmatter.js

chore: test rewrite of nested directory
  vercel.json
Due: none

feat: add regional latency path with rewrite
  public/inkeep/images/neon-logo.svg
  vercel.json
Due: none

chore: test single rewrite for latencies
  vercel.json
Due: none

chore: revert single rewrite for latencies
  vercel.json
Due: none

Update code-block-wrapper.jsx
  src/components/shared/code-block-wrapper/code-block-wrapper.jsx
Due: prettier --write, eslint --cache --fix

chore: test single redirect
  vercel.json
Due: none

Update python.md
  content/docs/guides/python.md
Due: node src/scripts/update-frontmatter.js

feat: add rewrite for latency dashboard
  vercel.json
Due: none

Update node.md
  content/docs/guides/node.md
Due: node src/scripts/update-frontmatter.js

Update astro.md
  content/docs/guides/astro.md
Due: node src/scripts/update-frontmatter.js

Update content/guides/feature-flags-sveltekit.md
  content/guides/feature-flags-sveltekit.md
Due: node src/scripts/update-frontmatter.js
