Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

fix: render mdx using includeblock
  content/docs/shared-content/index.js
  next.config.js
  package-lock.json
  package.json
  src/components/pages/doc/include-block/include-block.jsx
  src/components/pages/doc/include-block/index.js
  src/components/shared/content/content.jsx
Due: prettier --write, eslint --cache --fix

chore: update readme
  content/docs/README.md
Due: node src/scripts/update-frontmatter.js

fix: get filename from sharedMdxComponents
  src/utils/api-docs.js
Due: prettier --write, eslint --cache --fix

fix: toc issue
  src/components/pages/doc/table-of-contents/table-of-contents.jsx
Due: prettier --write, eslint --cache --fix

fix: proptypes, export, code styles in admonition
  content/docs/shared-content/index.js
  src/components/pages/doc/admonition/admonition.jsx
  src/components/pages/doc/post/post.jsx
  src/components/pages/release-notes/release-note-list/release-note-list.jsx
  src/utils/api-docs.js
Due: prettier --write, eslint --cache --fix

chore: clean code
  src/utils/api-docs.js
Due: prettier --write, eslint --cache --fix

feat: add logos for TechnologyNavigation
  public/images/technology-logos/flyway-logo.svg
  public/images/technology-logos/liquibase-logo.svg
Due: none

feat: add frontmatter for release notes
  content/release-notes/2023-11-08-console.md
  src/app/docs/(neon)/release-notes/rss.xml/route.js
  src/utils/get-excerpt.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

fix: default description
  src/app/docs/(neon)/release-notes/rss.xml/route.js
Due: prettier --write, eslint --cache --fix

chore: remove test description
  content/release-notes/2023-11-08-console.md
Due: node src/scripts/update-frontmatter.js

Create 2023-11-21-console.md
  content/release-notes/2023-11-21-console.md
Due: node src/scripts/update-frontmatter.js

Update 2023-11-21-console.md
  content/release-notes/2023-11-21-console.md
Due: node src/scripts/update-frontmatter.js

Update chat-widget.jsx
  src/components/pages/doc/chat-widget/chat-widget.jsx
Due: prettier --write, eslint --cache --fix

Update content/release-notes/2023-11-21-console.md
  content/release-notes/2023-11-21-console.md
Due: node src/scripts/update-frontmatter.js

fix: postgres docs internal links
  src/components/pages/doc/previous-and-next-links/previous-and-next-links.jsx
  src/components/shared/content/content.jsx
Due: prettier --write, eslint --cache --fix

Update signup and create project instructions
  content/docs/get-started-with-neon/setting-up-a-project.md
  content/docs/get-started-with-neon/signing-up.md
  content/docs/guides/hasura.md
  content/docs/guides/stepzen.md
  content/docs/guides/vercel-manual.md
  content/docs/introduction.md
  content/docs/introduction/regions.md
  content/docs/sidebar.yaml
  content/docs/unused/using-branches.md
  public/docs/get-started-with-neon/connection_details_modal.png
  public/docs/get-started-with-neon/create_first_project.png
Due: node src/scripts/update-frontmatter.js

feat: send gtag search event to
  src/components/shared/search/search.jsx
Due: prettier --write, eslint --cache --fix

fix: return postgres to sitemap temporary
  next-sitemap.config.js
  src/app/docs/(postgres)/postgres/[slug]/page.jsx
  src/utils/get-metadata.js
Due: prettier --write, eslint --cache --fix

Update projects.md
  content/docs/manage/projects.md
Due: node src/scripts/update-frontmatter.js

Update read-replicas.md
  content/docs/introduction/read-replicas.md
Due: node src/scripts/update-frontmatter.js

fix: exclude postgres from sitemap
  next-sitemap.config.js
Due: prettier --write, eslint --cache --fix

chore: update frontmatter date
  content/docs/introduction/read-replicas.md
Due: node src/scripts/update-frontmatter.js

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
