Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: status page note
  content/changelog/2025-08-15.md
Due: node src/scripts/update-frontmatter.js

docs: changelog for 09-05-2025
  content/changelog/2025-09-05.md
Due: node src/scripts/update-frontmatter.js

docs: saving current
  content/docs/data-api/get-started.md
  public/docs/data-api/data-api-enabled.png
Due: node src/scripts/update-frontmatter.js

docs: compute is same as Launch
  content/pages/use-cases/ai-agents.md
Due: node src/scripts/update-frontmatter.js

docs: add playwright test guide
  content/docs/guides/neon-github-integration.md
  content/guides/e2e-playwright-tests-with-neon-branching.md
  content/guides/neon-github-actions-authomated-branching.md
  public/docs/guides/github_card.png
Due: node src/scripts/update-frontmatter.js

docs: minor revisions
  content/docs/ai/ai-agents-tools.md
  content/docs/ai/ai-database-versioning.md
  content/docs/guides/platform-integration-intro.md
  public/docs/guides/active_branch_pattern.jpg
  public/docs/guides/polling_operations_flow.jpg
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/ai/ai-agents-tools.md
  content/docs/ai/ai-database-versioning.md
Due: node src/scripts/update-frontmatter.js

docs: revisions
  content/docs/ai/ai-agents-tools.md
  content/docs/guides/platform-integration-intro.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/ai/ai-agents-tools.md
Due: node src/scripts/update-frontmatter.js

docs: data api fix and rls banner
  content/docs/data-api/get-started.md
  content/docs/guides/neon-rls-auth0.md
  content/docs/guides/neon-rls-aws-cognito.md
  content/docs/guides/neon-rls-azure-ad.md
  content/docs/guides/neon-rls-clerk.md
  content/docs/guides/neon-rls-custom-jwt.md
  content/docs/guides/neon-rls-descope.md
  content/docs/guides/neon-rls-firebase-gcp.md
  content/docs/guides/neon-rls-google-identity.md
  content/docs/guides/neon-rls-keycloak.md
  content/docs/guides/neon-rls-propelauth.md
  content/docs/guides/neon-rls-stack-auth.md
  content/docs/guides/neon-rls-stytch.md
  content/docs/guides/neon-rls-supertokens.md
  content/docs/guides/neon-rls-troubleshooting.md
  content/docs/guides/neon-rls-tutorial.md
  content/docs/guides/neon-rls-workos.md
  content/docs/guides/neon-rls.md
  content/docs/shared-content/index.js
  content/docs/shared-content/neon-rls-deprecation.md
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: edits
  content/docs/data-api/get-started.md
Due: node src/scripts/update-frontmatter.js

docs: emandates update
  content/docs/introduction/manage-billing.md
Due: node src/scripts/update-frontmatter.js

docs: adjust support link
  content/docs/introduction/manage-billing.md
Due: node src/scripts/update-frontmatter.js

docs: improve wording
  content/docs/introduction/manage-billing.md
Due: node src/scripts/update-frontmatter.js

docs: revise instruction
  content/docs/introduction/manage-billing.md
Due: node src/scripts/update-frontmatter.js

docs: adjust wording
  content/docs/introduction/manage-billing.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/introduction/manage-billing.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/introduction/manage-billing.md
Due: node src/scripts/update-frontmatter.js

refactor: format with prettier
  .github/workflows/format-markdown.yml
  .github/workflows/update-frontmatter.yml
  content/branching/index.yaml
  content/postgresql/sidebar.yaml
  src/components/pages/blog-post/content/content.jsx
  src/components/pages/partners/collaboration/collaboration.jsx
  src/components/pages/partners/hero/hero.jsx
  src/components/pages/pricing/hero/data/plans.json
  src/styles/remove-autocomplete-styles.css
  src/styles/ticket.css
  vercel.json
Due: prettier --write, eslint --cache --fix

docs: sidebar updates
  content/docs/ai/ai-agents-tools.md
  content/docs/ai/connect-mcp-clients-to-neon.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

docs: minor updates
  content/guides/e2e-playwright-tests-with-neon-branching.md
  content/guides/neon-github-actions-authomated-branching.md
Due: node src/scripts/update-frontmatter.js

docs: sidebar adjustments
  content/docs/guides/platform-integration-intro.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

docs: edit subtitle
  content/docs/ai/ai-database-versioning.md
Due: node src/scripts/update-frontmatter.js

Update content/guides/complete-supabase-migration.md
  content/guides/complete-supabase-migration.md
Due: node src/scripts/update-frontmatter.js

docs: update repo link
  content/guides/complete-supabase-migration.md
Due: node src/scripts/update-frontmatter.js

feat: theme color updater for theme provider
  src/app/layout.jsx
  src/app/theme-provider.jsx
Due: prettier --write, eslint --cache --fix

chore: update frontmatter date (auto-update)
  content/docs/guides/neon-github-integration.md
Due: node src/scripts/update-frontmatter.js

docs: update docs nav yaml
  content/docs/navigation.yaml
Due: none

docs: nav edits
  content/docs/navigation.yaml
Due: none

docs: add metric definitions
  content/docs/guides/consumption-metrics.md
  content/docs/manage/api-keys.md
  content/docs/manage/branches.md
  content/docs/manage/computes.md
  content/docs/manage/databases.md
  content/docs/manage/operations.md
  content/docs/manage/orgs-api-consumption.md
  content/docs/manage/projects.md
  content/docs/manage/roles.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/guides/consumption-metrics.md
  content/docs/manage/orgs-api-consumption.md
Due: node src/scripts/update-frontmatter.js

feat: rebuild feature list to dynamic usage
  content/pages/use-cases/ai-agents.md
  src/components/pages/doc/aside/aside.jsx
  src/components/shared/feature-list/feature-list.jsx
  src/components/shared/feature-list/glowing-icon/data.js
  src/components/shared/feature-list/glowing-icon/glowing-icon.jsx
  src/components/shared/feature-list/glowing-icon/index.js
  src/components/shared/feature-list/icon/icon.jsx
  src/components/shared/feature-list/icon/index.js
  src/icons/features-icon/agent.inline.svg
  src/icons/features-icon/api.inline.svg
  src/icons/features-icon/lock.inline.svg
  src/icons/features-icon/scale.inline.svg
  src/icons/features-icon/speedometer.inline.svg
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

feat: enhance feature list with active state tracking for icons
  src/components/shared/feature-list/feature-list.jsx
  src/components/shared/feature-list/icon/icon.jsx
Due: prettier --write, eslint --cache --fix

feat: theme color updater for theme provider (#3894)
  src/app/layout.jsx
  src/app/theme-provider.jsx
Due: prettier --write, eslint --cache --fix

docs: standardize summary text
  content/docs/extensions/pg-extensions.md
  content/docs/guides/consumption-metrics.md
  content/docs/manage/orgs-api-consumption.md
Due: node src/scripts/update-frontmatter.js

docs: add api endpoint doc links
  content/docs/extensions/pg-extensions.md
  content/docs/guides/consumption-metrics.md
  content/docs/manage/api-keys.md
  content/docs/manage/branches.md
  content/docs/manage/computes.md
  content/docs/manage/databases.md
  content/docs/manage/operations.md
  content/docs/manage/orgs-api-consumption.md
  content/docs/manage/projects.md
  content/docs/manage/roles.md
Due: node src/scripts/update-frontmatter.js

docs: update link
  content/docs/manage/operations.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/extensions/pg-extensions.md
  content/docs/guides/consumption-metrics.md
  content/docs/manage/api-keys.md
  content/docs/manage/branches.md
  content/docs/manage/computes.md
  content/docs/manage/databases.md
  content/docs/manage/operations.md
  content/docs/manage/orgs-api-consumption.md
  content/docs/manage/projects.md
  content/docs/manage/roles.md
Due: node src/scripts/update-frontmatter.js

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
