Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

Update content/docs/guides/neon-authorize-future.md
  content/docs/guides/neon-authorize-future.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/guides/neon-authorize-future.md
  content/docs/guides/neon-authorize-troubleshooting.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/guides/neon-authorize-troubleshooting.md
Due: node src/scripts/update-frontmatter.js

Update topbar.jsx
  src/components/shared/topbar/topbar.jsx
Due: prettier --write, eslint --cache --fix

Update plans.json
  src/components/pages/pricing/plans/data/plans.json
Due: none

chore: update frontmatter date (auto-update)
  content/docs/guides/datadog.md
Due: node src/scripts/update-frontmatter.js

docs: pgrag doc
  content/docs/extensions/pgrag.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/extensions/pgrag.md
Due: node src/scripts/update-frontmatter.js

docs: revisions
  content/docs/extensions/pgrag.md
Due: node src/scripts/update-frontmatter.js

docs: add extension
  content/docs/extensions/extensions-intro.md
  content/docs/extensions/pg-extensions.md
Due: node src/scripts/update-frontmatter.js

docs: fix title
  content/docs/extensions/pgrag.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/neon-authorize-future.md
  content/docs/guides/neon-authorize-troubleshooting.md
  content/docs/guides/neon-authorize-tutorial.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/extensions/pgrag.md
Due: node src/scripts/update-frontmatter.js

Update vercel-sdk-migration.md
  content/guides/vercel-sdk-migration.md
Due: node src/scripts/update-frontmatter.js

feat: add the stage link
  next-sitemap.config.js
  src/app/stage/page.jsx
  src/app/tickets/[handle]/edit/page.jsx
  src/app/tickets/[handle]/page.jsx
  src/components/pages/stage/stage/stage.jsx
  src/constants/seo-data.js
Due: prettier --write, eslint --cache --fix

fix: replace href with to
  src/app/tickets/[handle]/edit/page.jsx
  src/app/tickets/[handle]/page.jsx
Due: prettier --write, eslint --cache --fix

docs: add pg_moocake to extensions list
  content/docs/extensions/extensions-intro.md
  content/docs/extensions/pg-extensions.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/extensions/pg-extensions.md
Due: node src/scripts/update-frontmatter.js

docs: add error list and links to top of page
  content/docs/guides/neon-authorize-troubleshooting.md
Due: node src/scripts/update-frontmatter.js

feat: add deploy live
  src/components/pages/stage/stage/stage.jsx
Due: prettier --write, eslint --cache --fix

feat: add redirect
  next.config.js
Due: prettier --write, eslint --cache --fix

docs: edit
  content/docs/guides/neon-authorize-troubleshooting.md
Due: node src/scripts/update-frontmatter.js

Update neon-authorize-future.md
  content/docs/guides/neon-authorize-future.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/neon-authorize-future.md
Due: node src/scripts/update-frontmatter.js

docs: add pre-install step
  content/docs/extensions/pgrag.md
Due: node src/scripts/update-frontmatter.js

docs: add warning
  content/docs/extensions/pg-extensions.md
Due: node src/scripts/update-frontmatter.js

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
