Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

Update introduction.md
  content/docs/introduction.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/guides-intro.md
  content/docs/introduction.md
Due: node src/scripts/update-frontmatter.js

edits
  content/docs/extensions/neon.md
  content/docs/manage/endpoints.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/extensions/neon.md
  content/docs/extensions/neon.md
Due: node src/scripts/update-frontmatter.js

Update endpoints.md
  content/docs/manage/endpoints.md
Due: node src/scripts/update-frontmatter.js

chore: simplify consent wording
  src/components/shared/cookie-consent/cookie-consent.jsx
Due: prettier --write, eslint --cache --fix

chore: minor style adjustment
  src/components/shared/button/button.jsx
  src/components/shared/cookie-consent/cookie-consent.jsx
Due: prettier --write, eslint --cache --fix

Update content/docs/guides/branch-restore.md
  content/docs/guides/branch-restore.md
Due: node src/scripts/update-frontmatter.js

fix: update blog index layout
  src/app/blog/(index)/page.jsx
  src/utils/api-posts.js
Due: prettier --write, eslint --cache --fix

fix: swap video & changelog
  src/app/blog/(index)/page.jsx
Due: prettier --write, eslint --cache --fix

chore: add missing tooltip
  src/components/pages/partners/plans/data/plans.json
Due: none

chore: minor adjustments
  src/components/pages/partners/plans/table/table.jsx
Due: prettier --write, eslint --cache --fix

chore: only load zaraz in prod
  src/app/layout.jsx
  src/components/shared/cookie-consent/cookie-consent.jsx
Due: prettier --write, eslint --cache --fix

chore: fix grammar
  src/components/shared/cookie-consent/cookie-consent.jsx
Due: prettier --write, eslint --cache --fix

chore: remove GTM from bottom of layout
  src/app/layout.jsx
Due: prettier --write, eslint --cache --fix

fix: update github star counter
  src/components/shared/github-star-counter/github-star-counter.jsx
Due: prettier --write, eslint --cache --fix

fix: increase blog posts
  src/utils/api-posts.js
Due: prettier --write, eslint --cache --fix

Create quickstart.md
  content/docs/workflows/quickstart.md
Due: node src/scripts/update-frontmatter.js

Update sidebar.yaml
  content/docs/sidebar.yaml
Due: none

Update content/docs/manage/endpoints.md
  content/docs/manage/endpoints.md
Due: node src/scripts/update-frontmatter.js

initial content
  content/changelog/2024-03-01-console.md
  content/docs/manage/roles.md
Due: node src/scripts/update-frontmatter.js

Update 2024-03-01-console.md
  content/changelog/2024-03-01-console.md
Due: node src/scripts/update-frontmatter.js

Update 2024-02-16-console.md
  content/changelog/2024-02-16-console.md
Due: node src/scripts/update-frontmatter.js

Update import-from-postgres.md
  content/docs/import/import-from-postgres.md
Due: node src/scripts/update-frontmatter.js

Update glossary.md
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js

Update compatibility.md
  content/docs/reference/compatibility.md
Due: node src/scripts/update-frontmatter.js

Update 2024-02-23-console.md
  content/changelog/2024-02-23-console.md
Due: node src/scripts/update-frontmatter.js

Create schema-diff-tutorial.md
  content/docs/guides/schema-diff-tutorial.md
Due: node src/scripts/update-frontmatter.js

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
