Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

test: update MDX-to-LLM snapshot for backend beta removal
  src/scripts/__snapshots__/process-md-for-llms.test.js.snap
Due: none

Disable doc video popups (#5852)
  src/components/pages/doc/modal/data.js
Due: prettier --write, eslint --cache --fix

docs: clarify the top of the Object Storage, AI Gateway, and Functions overviews
  content/docs/ai-gateway/overview.md
  content/docs/compute/functions/overview.md
  content/docs/storage/overview.md
Due: node src/scripts/update-frontmatter.js

chore: sync agent skills from upstream
  public/.well-known/agent-skills/index.json
  public/.well-known/skills/index.json
  public/docs/.well-known/agent-skills/index.json
  public/docs/.well-known/skills/index.json
  public/docs/ai/skills/neon-ai-gateway/SKILL.md
  public/docs/ai/skills/neon-functions/SKILL.md
  public/docs/ai/skills/neon-functions/references/ai-sdk.md
  public/docs/ai/skills/neon-functions/references/function-triggers.md
  public/docs/ai/skills/neon-functions/references/mastra-studio.md
  public/docs/ai/skills/neon-object-storage/SKILL.md
  public/docs/ai/skills/neon-postgres-branches/SKILL.md
  public/docs/ai/skills/neon-postgres-egress-optimizer/SKILL.md
  public/docs/ai/skills/neon-postgres/SKILL.md
  public/docs/ai/skills/neon/SKILL.md
  public/docs/ai/skills/neon/references/claimable-neon.md
  public/docs/ai/skills/neon/references/function-triggers.md
  public/docs/ai/skills/neon/references/logs-loki.md
  public/docs/ai/skills/neon/references/parse-env.md
  public/docs/ai/skills/neon/references/sdk.md
  src/app/.well-known/ai-catalog.json/catalog.json
  src/constants/static-md-manifest.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: clarify the top of the Object Storage, AI Gateway, and Functions overviews (#5861)
  content/docs/ai-gateway/overview.md
  content/docs/compute/functions/overview.md
  content/docs/storage/overview.md
Due: node src/scripts/update-frontmatter.js

chore: sync agent skills from upstream (#5862)
  public/.well-known/agent-skills/index.json
  public/.well-known/skills/index.json
  public/docs/.well-known/agent-skills/index.json
  public/docs/.well-known/skills/index.json
  public/docs/ai/skills/neon-ai-gateway/SKILL.md
  public/docs/ai/skills/neon-functions/SKILL.md
  public/docs/ai/skills/neon-functions/references/ai-sdk.md
  public/docs/ai/skills/neon-functions/references/function-triggers.md
  public/docs/ai/skills/neon-functions/references/mastra-studio.md
  public/docs/ai/skills/neon-object-storage/SKILL.md
  public/docs/ai/skills/neon-postgres-branches/SKILL.md
  public/docs/ai/skills/neon-postgres-egress-optimizer/SKILL.md
  public/docs/ai/skills/neon-postgres/SKILL.md
  public/docs/ai/skills/neon/SKILL.md
  public/docs/ai/skills/neon/references/claimable-neon.md
  public/docs/ai/skills/neon/references/function-triggers.md
  public/docs/ai/skills/neon/references/logs-loki.md
  public/docs/ai/skills/neon/references/parse-env.md
  public/docs/ai/skills/neon/references/sdk.md
  src/app/.well-known/ai-catalog.json/catalog.json
  src/constants/static-md-manifest.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

Sync backend GA post with latest Google Doc examples
  content/blog/posts/neon-backend-is-ga.md
Due: node src/scripts/update-frontmatter.js

Adds placeholders for videos
  content/blog/posts/neon-backend-is-ga.md
Due: node src/scripts/update-frontmatter.js

docs: document object-created triggers and the neon.ts GA config (Neon CLI 4.21.0)
  content/docs/ai-gateway/get-started.md
  content/docs/cli/triggers.md
  content/docs/compute/functions/get-started.md
  content/docs/get-started/backend-overview.md
  content/docs/reference/neon-ts.md
  content/docs/storage/get-started.md
  content/guides/neon-ts-demo.md
  scripts/docs-checks/neonctl/schema.json
  src/components/pages/doc/cli-reference/cli-command-index/meta.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: document object-created triggers and the neon.ts GA config (Neon CLI 4.21.0) (#5863)
  content/docs/ai-gateway/get-started.md
  content/docs/cli/triggers.md
  content/docs/compute/functions/get-started.md
  content/docs/get-started/backend-overview.md
  content/docs/reference/neon-ts.md
  content/docs/storage/get-started.md
  content/guides/neon-ts-demo.md
  scripts/docs-checks/neonctl/schema.json
  src/components/pages/doc/cli-reference/cli-command-index/meta.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: refresh the AI Gateway model catalog and reference docs
  content/docs/ai-gateway/anthropic-messages.md
  content/docs/ai-gateway/authentication.md
  content/docs/ai-gateway/models.md
  content/docs/navigation.yaml
  src/app/models.json/data.json
  src/app/models/capabilities.json
  src/app/models/route.test.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: refresh the AI Gateway model catalog and reference docs (#5864)
  content/docs/ai-gateway/anthropic-messages.md
  content/docs/ai-gateway/authentication.md
  content/docs/ai-gateway/models.md
  content/docs/navigation.yaml
  src/app/models.json/data.json
  src/app/models/capabilities.json
  src/app/models/route.test.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: update AI Gateway model access language for gradual rollout
  content/docs/ai-gateway/get-started.md
  content/docs/ai-gateway/models.md
  content/docs/ai-gateway/overview.md
  content/docs/ai-gateway/prepaid-credits.md
  content/docs/ai-gateway/troubleshooting.md
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

chore: design adjustments
  src/components/pages/home/agent-platform/agent-platform.jsx
  src/components/pages/home/architecture/architecture.jsx
  src/components/pages/home/autoscaling/autoscaling.jsx
  src/components/pages/home/build-your-backend/build-your-backend.jsx
  src/components/pages/home/built-by/built-by.jsx
  src/components/pages/home/cta/cta.jsx
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/operate-with-agents/animation.jsx
  src/components/pages/home/operate-with-agents/operate-with-agents.jsx
  src/components/pages/home/scale-your-app/feature-heading.jsx
  src/components/pages/home/scale-your-app/scale-your-app.jsx
  src/components/pages/lakebase/architecture/architecture.jsx
  src/images/pages/home/architecture/schema-mobile.png
Due: prettier --write, eslint --cache --fix

docs: drop specific model providers from plans AI Gateway blurb
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

docs: rename Postgres version support page (#5851)
  content/blog/posts/postgres-17.md
  content/blog/posts/why-does-everyone-run-ancient-postgres-versions.md
  content/changelog/2024-11-15.md
  content/changelog/2024-11-29.md
  content/changelog/2025-01-10.md
  content/changelog/2025-02-28.md
  content/changelog/2025-05-23.md
  content/changelog/2025-09-26.md
  content/changelog/2025-12-05.md
  content/changelog/2026-02-27.md
  content/changelog/2026-05-01.md
  content/changelog/2026-06-05.md
  content/changelog/2026-06-26.md
  content/changelog/2026-08-21.md
  content/changelog/2026-08-28.md
  content/docs/navigation.yaml
  content/docs/postgresql/introduction.md
  content/docs/postgresql/postgres-upgrade.md
  content/docs/postgresql/postgres-version-support.md
  content/docs/reference/compatibility.md
  content/faqs/check-postgresql-version-neon.md
  content/postgresql/18-new-features.md
Due: node src/scripts/update-frontmatter.js

docs: standardize AI Gateway model description to open-weight and foundation models
  content/docs/ai-gateway/get-started.md
  content/docs/ai-gateway/models.md
  content/docs/ai-gateway/overview.md
  content/docs/ai-gateway/prepaid-credits.md
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

docs: add Functions and Object storage to Console-to-invoice mapping table
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

chore: adjust spacing between sections
  src/components/pages/home/build-your-backend/build-your-backend.jsx
  src/components/pages/home/operate-with-agents/operate-with-agents.jsx
  src/components/pages/home/scale-your-app/deploy.jsx
  src/components/pages/home/scale-your-app/scale-your-app.jsx
Due: prettier --write, eslint --cache --fix

docs: update AI Gateway model access language for gradual rollout (#5865)
  content/docs/ai-gateway/get-started.md
  content/docs/ai-gateway/models.md
  content/docs/ai-gateway/overview.md
  content/docs/ai-gateway/prepaid-credits.md
  content/docs/ai-gateway/troubleshooting.md
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

docs: fix postgres-version-policy redirect trailing slash
  content/docs/postgresql/postgres-version-support.md
Due: node src/scripts/update-frontmatter.js

docs: correct redirectFrom trailing-slash guidance in CLAUDE.md
  CLAUDE.md
Due: node src/scripts/update-frontmatter.js

docs: fix postgres-version-policy redirect trailing slash (#5866)
  CLAUDE.md
  content/docs/postgresql/postgres-version-support.md
Due: node src/scripts/update-frontmatter.js

docs: update billing metrics for backend services (#5836)
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

docs: add Grok 4.6 pricing to the AI Gateway catalog
  src/app/models.json/data.json
Due: none

docs: add Grok 4.6 pricing to the AI Gateway catalog (#5867)
  src/app/models.json/data.json
Due: none

docs: clarify wording on the Function Triggers pages
  content/docs/compute/functions/triggers/overview.md
  content/docs/compute/functions/triggers/schedule.md
Due: node src/scripts/update-frontmatter.js

docs: add the object-created trigger type and invocation-id header
  content/docs/compute/functions/triggers/object-storage.md
  content/docs/compute/functions/triggers/overview.md
  content/docs/compute/functions/triggers/schedule.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

docs: add Function Triggers overview and schedule guide
  content/docs/compute/functions/overview.md
  content/docs/compute/functions/triggers/overview.md
  content/docs/compute/functions/triggers/schedule.md
  content/docs/extensions/pg_cron.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

docs: mark top trigger diagrams as priority to fix LCP warning
  content/docs/compute/functions/triggers/object-storage.md
  content/docs/compute/functions/triggers/schedule.md
Due: node src/scripts/update-frontmatter.js

docs: document all trigger management surfaces and add diagrams
  content/docs/compute/functions/triggers/object-storage.md
  content/docs/compute/functions/triggers/overview.md
  content/docs/compute/functions/triggers/schedule.md
  content/docs/extensions/pg_cron.md
  public/docs/compute/functions/triggers/cron-anatomy.png
  public/docs/compute/functions/triggers/object-upload-use-cases.png
  public/docs/compute/functions/triggers/prefix-filter.png
  public/docs/compute/functions/triggers/schedule-flow.png
  public/docs/compute/functions/triggers/types-fan-in.png
Due: node src/scripts/update-frontmatter.js

docs: tighten the neon.ts trigger note and link it from the schedule guide
  content/docs/compute/functions/triggers/schedule.md
Due: node src/scripts/update-frontmatter.js

docs: add use-case intros and agent prompts to trigger guides
  content/docs/compute/functions/triggers/object-storage.md
  content/docs/compute/functions/triggers/overview.md
  content/docs/compute/functions/triggers/schedule.md
Due: node src/scripts/update-frontmatter.js

docs: align neon.ts schedule-trigger docs to the GA config
  content/docs/compute/functions/triggers/schedule.md
  content/docs/reference/neon-ts.md
Due: node src/scripts/update-frontmatter.js

docs: drop source_branch_id from Function Trigger responses
  content/docs/compute/functions/triggers/object-storage.md
  content/docs/compute/functions/triggers/overview.md
  content/docs/compute/functions/triggers/schedule.md
Due: node src/scripts/update-frontmatter.js

docs: add Function Triggers guides for schedule and object uploads (#5790)
  content/docs/compute/functions/overview.md
  content/docs/compute/functions/triggers/object-storage.md
  content/docs/compute/functions/triggers/overview.md
  content/docs/compute/functions/triggers/schedule.md
  content/docs/extensions/pg_cron.md
  content/docs/navigation.yaml
  content/docs/reference/neon-ts.md
  public/docs/compute/functions/triggers/cron-anatomy.png
  public/docs/compute/functions/triggers/object-upload-use-cases.png
  public/docs/compute/functions/triggers/prefix-filter.png
  public/docs/compute/functions/triggers/schedule-flow.png
  public/docs/compute/functions/triggers/types-fan-in.png
Due: node src/scripts/update-frontmatter.js

docs: add a custom domains guide for Neon Functions
  content/docs/cli/functions.md
  content/docs/compute/functions/custom-domains.md
  content/docs/compute/functions/overview.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

docs: document config-runtime custom domains in PushResult
  content/docs/reference/config-runtime.md
Due: node src/scripts/update-frontmatter.js

docs: document function custom domains in neon.ts
  content/docs/compute/functions/custom-domains.md
Due: node src/scripts/update-frontmatter.js

docs: align function custom domains with the GA config and Console
  content/docs/compute/functions/custom-domains.md
  content/docs/reference/neon-ts.md
Due: node src/scripts/update-frontmatter.js

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
