Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

docs: add Azure Marketplace MACC documentation
  content/docs/extensions/pg_search.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/extensions/pg_search.md
Due: node src/scripts/update-frontmatter.js

docs: move Azure MACC documentation to billing-azure-marketplace.md
  content/docs/extensions/pg_search.md
  content/docs/introduction/billing-azure-marketplace.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/introduction/billing-azure-marketplace.md
Due: node src/scripts/update-frontmatter.js

docs: align documentation with revised terminology
  content/docs/get-started-with-neon/dev-experience.md
  content/docs/get-started-with-neon/production-checklist.md
  content/docs/get-started-with-neon/query-with-neon-sql-editor.md
  content/docs/get-started-with-neon/why-neon.md
  content/docs/guides/branch-restore.md
  content/docs/guides/logical-replication-tips.md
  content/docs/guides/neon-features.md
  content/docs/guides/partner-get-started.md
  content/docs/guides/time-travel-assist.md
  content/docs/guides/time-travel-tutorial.md
  content/docs/guides/vercel-postgres-transition-guide.md
  content/docs/introduction.md
  content/docs/introduction/billing-sample.md
  content/docs/introduction/branching.md
  content/docs/introduction/monitor-query-history.md
  content/docs/introduction/monitor-usage.md
  content/docs/introduction/plans.md
  content/docs/introduction/pricing-estimation-guide.md
  content/docs/introduction/restore-window.md
  content/docs/introduction/roadmap.md
  content/docs/introduction/usage-metrics.md
  content/docs/manage/backups.md
  content/docs/manage/branches.md
  content/docs/manage/operations.md
  content/docs/manage/projects.md
  content/docs/postgresql/query-reference.md
  content/docs/reference/cli-branches.md
  content/docs/reference/cli-connection-string.md
  content/docs/reference/cli-projects.md
  content/docs/reference/glossary.md
  content/docs/shared-content/lr-tips.md
  content/docs/sidebar.yaml
  content/docs/unused/branch-refresh.md
  content/docs/unused/branching-pitr.md
  screenshots-to-update.txt
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/guides/vercel-postgres-transition-guide.md
  content/docs/manage/operations.md
Due: node src/scripts/update-frontmatter.js

fix: homepage copies takeover
  src/app/(home-page)/all-things-open-2023/page.jsx
  src/app/(home-page)/cfe/page.jsx
  src/app/(home-page)/devs/page.jsx
  src/app/(home-page)/education/page.jsx
  src/app/(home-page)/fireship/page.jsx
  src/app/(home-page)/github/page.jsx
  src/app/(home-page)/home/page.jsx
  src/app/(home-page)/last-week-in-aws/page.jsx
  src/app/(home-page)/pgt/page.jsx
  src/app/(home-page)/radio/page.jsx
  src/app/(home-page)/stackoverflow/page.jsx
  src/app/(home-page)/youtube/page.jsx
Due: prettier --write, eslint --cache --fix

fix: remove duplicate words in terminology updates
  content/docs/get-started-with-neon/dev-experience.md
  content/docs/get-started-with-neon/query-with-neon-sql-editor.md
  content/docs/guides/branch-restore.md
  content/docs/guides/time-travel-assist.md
  content/docs/introduction/usage-metrics.md
  content/docs/manage/branches.md
  content/docs/reference/glossary.md
  content/docs/unused/branching-pitr.md
Due: node src/scripts/update-frontmatter.js

fix: neon-cli.md file formatting and build issues
  content/docs/reference/neon-cli.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/reference/neon-cli.md
Due: node src/scripts/update-frontmatter.js

fix: homepage copies takeover (#3189)
  src/app/(home-page)/all-things-open-2023/page.jsx
  src/app/(home-page)/cfe/page.jsx
  src/app/(home-page)/devs/page.jsx
  src/app/(home-page)/education/page.jsx
  src/app/(home-page)/fireship/page.jsx
  src/app/(home-page)/github/page.jsx
  src/app/(home-page)/home/page.jsx
  src/app/(home-page)/last-week-in-aws/page.jsx
  src/app/(home-page)/pgt/page.jsx
  src/app/(home-page)/radio/page.jsx
  src/app/(home-page)/stackoverflow/page.jsx
  src/app/(home-page)/youtube/page.jsx
Due: prettier --write, eslint --cache --fix

docs: add note about prefixes vercel
  content/docs/guides/vercel-native-integration.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/guides/vercel-native-integration.md
Due: node src/scripts/update-frontmatter.js

docs: update note
  content/docs/guides/vercel-native-integration.md
Due: node src/scripts/update-frontmatter.js

fix: sidebar scroll for short menus
  src/components/pages/doc/sidebar/sidebar.jsx
Due: prettier --write, eslint --cache --fix

fix: sidebar items icons and tags align
  src/components/pages/doc/menu/item/item.jsx
Due: prettier --write, eslint --cache --fix

chore: update frontmatter date (auto-update)
  content/docs/guides/vercel-native-integration.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/get-started-with-neon/why-neon.md
  content/docs/get-started-with-neon/why-neon.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/guides/vercel-postgres-transition-guide.md
  content/docs/guides/vercel-postgres-transition-guide.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/guides/time-travel-tutorial.md
  content/docs/guides/time-travel-tutorial.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/guides/vercel-postgres-transition-guide.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/introduction/billing-sample.md
  content/docs/introduction/billing-sample.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/manage/slack-app.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/introduction/monitor-usage.md
  content/docs/introduction/monitor-usage.md
Due: node src/scripts/update-frontmatter.js

fix: docs sidebar fixes (#3192)
  src/components/pages/doc/menu/item/item.jsx
  src/components/pages/doc/sidebar/sidebar.jsx
Due: prettier --write, eslint --cache --fix

docs: add HIPAA compliance documentation
  content/docs/security/hipaa.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/security/hipaa.md
Due: node src/scripts/update-frontmatter.js

Revert "feat: HP pgsearch takeover (#3154)"
  src/app/(home-page)/page.jsx
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/takeover/index.js
  src/components/pages/home/takeover/takeover.jsx
  src/images/pages/home/hero/bg.jpg
Due: prettier --write, eslint --cache --fix

fix: remove duplicate 'instant' in branching-pitr.md
  content/docs/unused/branching-pitr.md
Due: node src/scripts/update-frontmatter.js

fix: update terminology in branching.md
  content/docs/introduction/branching.md
Due: node src/scripts/update-frontmatter.js

Revert "fix: homepage copies takeover (#3189)"
  src/app/(home-page)/all-things-open-2023/page.jsx
  src/app/(home-page)/cfe/page.jsx
  src/app/(home-page)/devs/page.jsx
  src/app/(home-page)/education/page.jsx
  src/app/(home-page)/fireship/page.jsx
  src/app/(home-page)/github/page.jsx
  src/app/(home-page)/home/page.jsx
  src/app/(home-page)/last-week-in-aws/page.jsx
  src/app/(home-page)/pgt/page.jsx
  src/app/(home-page)/radio/page.jsx
  src/app/(home-page)/stackoverflow/page.jsx
  src/app/(home-page)/youtube/page.jsx
Due: prettier --write, eslint --cache --fix

Revert "feat: HP pgsearch takeover" (#3194)
  src/app/(home-page)/all-things-open-2023/page.jsx
  src/app/(home-page)/cfe/page.jsx
  src/app/(home-page)/devs/page.jsx
  src/app/(home-page)/education/page.jsx
  src/app/(home-page)/fireship/page.jsx
  src/app/(home-page)/github/page.jsx
  src/app/(home-page)/home/page.jsx
  src/app/(home-page)/last-week-in-aws/page.jsx
  src/app/(home-page)/page.jsx
  src/app/(home-page)/pgt/page.jsx
  src/app/(home-page)/radio/page.jsx
  src/app/(home-page)/stackoverflow/page.jsx
  src/app/(home-page)/youtube/page.jsx
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/takeover/index.js
  src/components/pages/home/takeover/takeover.jsx
  src/images/pages/home/hero/bg.jpg
Due: prettier --write, eslint --cache --fix

feat: add new api route for fetching topbar from wp
  src/app/api/topbar/route.js
Due: prettier --write, eslint --cache --fix

feat: use api route to fetch data for topbar
  src/app/api/topbar/route.js
  src/components/shared/topbar/topbar-client/images/pattern.svg
  src/components/shared/topbar/topbar-client/index.js
  src/components/shared/topbar/topbar-client/topbar-client.jsx
  src/components/shared/topbar/topbar.jsx
Due: prettier --write, eslint --cache --fix

feat: add caching and console error for route
  src/app/api/topbar/route.js
Due: prettier --write, eslint --cache --fix

fix: improve error handling, default response and remove caching
  src/app/api/topbar/route.js
Due: prettier --write, eslint --cache --fix

[StepSecurity] ci: Harden GitHub Actions
  .github/workflows/e2e-tests.yml
  .github/workflows/format-markdown.yml
  .github/workflows/linkinator.yml
  .github/workflows/update-frontmatter.yml
Due: none
