Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

feat: catalog-driven verifier for agent-discovery endpoints (#5249)
  .github/workflows/agent-discovery-verify.yml
  .github/workflows/models-sync-check.yml
  config/agent-endpoints.yaml
  package.json
  public/.well-known/agent-skills/index.json
  public/docs/.well-known/agent-skills/index.json
  scripts/verify-agent-endpoints.mjs
  src/app/.well-known/api-catalog/route.js
  src/app/.well-known/mcp/server-card.json/route.js
  src/constants/agent-discovery.js
Due: prettier --write, eslint --cache --fix

feat: fold API reference coverage into the agent-discovery verifier
  .github/workflows/agent-discovery-verify.yml
  config/agent-endpoints.yaml
  content/docs/api-operation-ids.json
  scripts/check-api-ref-nav.mjs
  scripts/generate-api-ref.mjs
  scripts/lib/api-coverage.mjs
  scripts/lib/api-coverage.test.js
  scripts/lib/api-ref-output.mjs
  scripts/verify-agent-endpoints.mjs
Due: prettier --write, eslint --cache --fix

docs: remove references to old connectors
  content/changelog/2024-11-22.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

docs: remove references to old connectors (#5251)
  content/changelog/2024-11-22.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

refactor: split coverage into a docs↔API consistency verifier
  .github/workflows/agent-discovery-verify.yml
  .github/workflows/docs-api-consistency.yml
  .github/workflows/sdk-docs-check.yml
  .github/workflows/sdk-docs-drift.yml
  config/agent-endpoints.yaml
  package.json
  scripts/check-api-ref-generated.mjs
  scripts/check-docs-api-consistency.mjs
  scripts/check-docs-api-consistency.test.js
  scripts/generate-api-ref.md
  scripts/verify-agent-endpoints.mjs
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

fix: serve /openapi.json from beforeFiles, point straight at CloudFront
  next.config.js
Due: prettier --write, eslint --cache --fix

chore: regenerate agent-skills index after merging main (neon-postgres SKILL.md update)
  public/.well-known/agent-skills/index.json
  public/.well-known/skills/index.json
  public/docs/.well-known/agent-skills/index.json
  public/docs/.well-known/skills/index.json
  src/app/.well-known/ai-catalog.json/catalog.json
Due: none

feat: agent-discovery fixes (/openapi.json, MCP card) + unified verifiers for discovery & docs↔API consistency (#5250)
  .github/workflows/agent-discovery-verify.yml
  .github/workflows/docs-api-consistency.yml
  .github/workflows/models-sync-check.yml
  .github/workflows/sdk-docs-check.yml
  .github/workflows/sdk-docs-drift.yml
  config/agent-endpoints.yaml
  content/docs/api-operation-ids.json
  next.config.js
  package.json
  public/.well-known/agent-skills/index.json
  public/.well-known/skills/index.json
  public/docs/.well-known/agent-skills/index.json
  public/docs/.well-known/skills/index.json
  scripts/check-api-ref-generated.mjs
  scripts/check-api-ref-nav.mjs
  scripts/check-docs-api-consistency.mjs
  scripts/check-docs-api-consistency.test.js
  scripts/generate-api-ref.md
  scripts/generate-api-ref.mjs
  scripts/lib/api-coverage.mjs
  scripts/lib/api-coverage.test.js
  scripts/lib/api-ref-output.mjs
  scripts/verify-agent-endpoints.mjs
  src/app/.well-known/ai-catalog.json/catalog.json
  src/app/.well-known/api-catalog/route.js
  src/app/.well-known/mcp/server-card.json/route.js
  src/constants/agent-discovery.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: standardize on `neon` CLI over `neonctl` in user-facing copy
  content/docs/reference/api.md
  public/agentic-provisioning-llm-context.md
  src/components/pages/cli/hero/code-tabs/code-tabs.jsx
  src/components/pages/doc/cli-reference/cli-command-index/meta.js
  src/components/pages/doc/cli-reference/cli-command-index/meta.test.js
  src/components/pages/doc/neon-init-modal/neon-init-modal.jsx
  src/components/pages/home/ai/ai.jsx
  src/components/pages/home/cta/cta.jsx
  src/scripts/llms-index-config.js
  src/utils/ai-agent-detection.js
  src/utils/get-table-of-contents.js
  src/utils/get-table-of-contents.test.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

refactor: decouple tag themes from labels
  content/docs/api-navigation.yaml
  content/docs/auth/legacy/database-integration.md
  content/docs/auth/legacy/overview.md
  content/docs/get-started/full-backend-quickstart.md
  content/docs/guides/backup-restore.md
  content/docs/guides/branching-circleci.md
  content/docs/import/import-data-assistant.md
  content/docs/introduction.md
  content/docs/introduction/spending-limit.md
  content/docs/navigation.yaml
  content/docs/reference/terraform.md
  content/docs/workflows/data-anonymization.md
  content/postgresql/tutorial/merge.md
  scripts/generate-api-ref.mjs
  scripts/generate-api-ref.test.js
  src/app/(docs)/docs/reference/api/[...slug]/page.jsx
  src/components/pages/doc/api-operation/api-operation.jsx
  src/components/pages/doc/api-tag-page/api-tag-page.jsx
  src/components/pages/doc/detail-icon-cards/detail-icon-cards.jsx
  src/components/pages/doc/menu/item/item.jsx
  src/components/pages/doc/post/post.jsx
  src/components/pages/doc/tag/tag.jsx
  src/components/pages/doc/tag/tag.test.jsx
  src/scripts/process-md-for-llms.js
  src/scripts/process-md-for-llms.test.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

feat: update backend product naming
  src/components/pages/home/auth/auth.jsx
  src/components/pages/home/hero/hero-services.jsx
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/toc-wrapper/toc/toc.jsx
  src/components/pages/pricing/features/features.jsx
Due: prettier --write, eslint --cache --fix

feat: add beta tags to pricing
  src/components/pages/pricing/hero/plans/data/plans.js
  src/components/pages/pricing/hero/plans/features/features.jsx
  src/components/pages/pricing/plans/data/plans.js
  src/components/pages/pricing/plans/table/table.jsx
Due: prettier --write, eslint --cache --fix

docs: remove early access forms
  content/changelog/2026-06-12.md
  content/changelog/2026-06-19.md
  content/changelog/2026-06-26.md
  content/docs/ai-gateway/overview.md
  content/docs/introduction.md
  content/docs/introduction/roadmap.md
  content/docs/storage/overview.md
Due: node src/scripts/update-frontmatter.js

fix: update pricing FAQ auth naming
  src/app/pricing/page.jsx
Due: prettier --write, eslint --cache --fix

docs: add fastify hey api guide
  content/guides/fastify-neon-zod.md
Due: node src/scripts/update-frontmatter.js

docs: add service name filter and truncation banner to function logs
  content/docs/compute/functions/logs.md
Due: node src/scripts/update-frontmatter.js

docs: minor updates
  content/guides/fastify-neon-zod.md
Due: node src/scripts/update-frontmatter.js

docs: correct logs navigation to the shared Monitoring > Logs tab
  content/docs/compute/functions/logs.md
Due: node src/scripts/update-frontmatter.js

docs: add Object Storage logs and a shared Monitor logs page
  content/docs/compute/functions/logs.md
  content/docs/introduction/monitor-logs.md
  content/docs/introduction/monitoring.md
  content/docs/navigation.yaml
  content/docs/storage/logs.md
  content/docs/storage/overview.md
  content/docs/storage/troubleshooting.md
Due: node src/scripts/update-frontmatter.js

docs(functions): address deploy docs review
  content/docs/compute/functions/deploy.md
  content/docs/compute/functions/environment-variables.md
Due: node src/scripts/update-frontmatter.js

docs(functions): update parity notes and limitations
  content/docs/compute/functions/deploy.md
  content/docs/compute/functions/environment-variables.md
  content/docs/compute/functions/overview.md
Due: node src/scripts/update-frontmatter.js

docs: correct object storage env vars
  content/docs/compute/functions/environment-variables.md
Due: node src/scripts/update-frontmatter.js

docs(auth): update Neon Auth parity notes
  content/docs/auth/guides/customize-emails.md
  content/docs/auth/guides/manage-auth-api.md
  content/docs/auth/guides/plugins/jwt.md
  content/docs/auth/guides/webhooks.md
  content/docs/auth/overview.md
  content/docs/auth/production-checklist.md
  content/docs/auth/quick-start/react.md
  content/docs/auth/quick-start/tanstack-router.md
Due: node src/scripts/update-frontmatter.js

docs(data-api): document single-url neon-js initialization
  content/docs/data-api/access-control.md
  content/docs/data-api/demo.md
  content/docs/data-api/generate-types.md
  content/docs/data-api/get-started.md
  content/docs/reference/javascript-sdk.md
  src/components/shared/sql-to-rest-converter/sql-to-rest-converter.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs(data-api): clarify single-url setup discovery
  content/docs/data-api/access-control.md
  content/docs/data-api/demo.md
  content/docs/data-api/generate-types.md
  content/docs/data-api/get-started.md
  content/docs/reference/javascript-sdk.md
Due: node src/scripts/update-frontmatter.js

docs: refresh functions agent skill references
  public/docs/ai/skills/neon-functions/SKILL.md
Due: node src/scripts/update-frontmatter.js

docs: correct OpenAI gateway base URL
  content/docs/compute/functions/environment-variables.md
Due: node src/scripts/update-frontmatter.js

docs(auth): fix stale SDK import paths and complete single-URL client migration
  content/docs/auth/migrate/from-legacy-auth.md
  content/docs/auth/migrate/from-supabase.md
  content/docs/auth/quick-start/nextjs-api-only.md
Due: node src/scripts/update-frontmatter.js

docs: address functions IA audit gaps
  content/docs/compute/functions/authentication.md
  public/docs/ai/skills/neon-functions/SKILL.md
Due: node src/scripts/update-frontmatter.js

docs(auth): address parity review findings
  content/docs/auth/guides/manage-auth-api.md
  content/docs/auth/guides/plugins/jwt.md
  content/docs/auth/production-checklist.md
Due: node src/scripts/update-frontmatter.js

docs: fix false NEON_ reserved-prefix claim
  content/docs/compute/functions/environment-variables.md
  public/docs/ai/skills/neon-functions/SKILL.md
Due: node src/scripts/update-frontmatter.js

docs(pages): apply Data API IA audit follow-up
  content/docs/data-api/custom-authentication-providers.md
  content/docs/data-api/troubleshooting.md
Due: node src/scripts/update-frontmatter.js

docs: align AI skill Data API client setup
  public/docs/ai/skills/neon-postgres/references/neon-js.md
Due: node src/scripts/update-frontmatter.js

fix(pages): address Neon Auth IA audit follow-up
  content/docs/auth/migrate/from-legacy-auth.md
  content/docs/auth/quick-start/tanstack-router.md
  content/docs/auth/troubleshooting.md
Due: node src/scripts/update-frontmatter.js

docs: fix stale gen-types CLI flags, add missing Data API settings fields
  content/docs/data-api/generate-types.md
  content/docs/data-api/manage.md
Due: node src/scripts/update-frontmatter.js

docs: fix stale --schemas flag reference in generate-types frontmatter
  content/docs/data-api/generate-types.md
Due: node src/scripts/update-frontmatter.js

docs: fix false "JWT claims under development" claim for org plugin
  content/docs/auth/guides/plugins.md
  content/docs/auth/guides/plugins/organization.md
  content/docs/auth/roadmap.md
Due: node src/scripts/update-frontmatter.js

docs: remove stale JWT-claims clause from plugins page summary
  content/docs/auth/guides/plugins.md
Due: node src/scripts/update-frontmatter.js

docs: correct CLI config-only deploy claim in functions/deploy.md
  content/docs/compute/functions/deploy.md
  content/docs/compute/functions/environment-variables.md
Due: node src/scripts/update-frontmatter.js

docs: split dash-joined sentence in Supabase migration prerequisites
  content/docs/auth/migrate/from-supabase.md
Due: node src/scripts/update-frontmatter.js
