Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

Revise description for Neon Labs post
  content/blog/posts/introducing-neon-labs.md
Due: node src/scripts/update-frontmatter.js

docs: note Functions egress counts toward the shared network transfer allowance
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

docs: frame Functions egress as applying when billing begins
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

docs: add Functions and Object Storage pricing to plans page (#5637)
  content/docs/ai-gateway/overview.md
  content/docs/compute/functions/overview.md
  content/docs/introduction/plans.md
  content/docs/storage/overview.md
  public/pricing.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/postgresql/postgres-version-policy.md
  content/docs/postgresql/postgres-version-policy.md
Due: node src/scripts/update-frontmatter.js

docs: add recent minor version rollout timeline to Postgres version policy page (#5603)
  content/docs/postgresql/postgres-version-policy.md
Due: node src/scripts/update-frontmatter.js

Document claimable 72-hour and 15-minute clocks, and Auth after claim.
  content/docs/reference/claimable-neon.md
  public/auth.md
  public/docs/ai/skills/neon/SKILL.md
  public/docs/ai/skills/neon/references/claimable-neon.md
Due: node src/scripts/update-frontmatter.js

docs: retarget the post-freeze claim token and pin the neon skill.
  config/skills.json
  content/docs/reference/claimable-neon.md
  public/.well-known/agent-skills/index.json
  public/docs/.well-known/agent-skills/index.json
Due: node src/scripts/update-frontmatter.js

pricing: publish Functions and Object Storage rates (#5640)
  package-lock.json
  package.json
  public/pricing.md
  src/components/pages/pricing/hero/plans/data/plans.js
  src/components/pages/pricing/plans/data/plans.js
  src/components/pages/pricing/plans/table/table.jsx
  src/constants/backend-pricing.js
  src/scripts/check-pricing-sync.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

Document that neon deploy can enable Auth and the Data API before claim.
  config/skills.json
  content/docs/reference/claimable-neon.md
  public/auth.md
  public/docs/ai/skills/neon/references/claimable-neon.md
Due: node src/scripts/update-frontmatter.js

Pin the hosted neon skill to the pre-claim neon deploy copy.
  config/skills.json
  public/.well-known/agent-skills/index.json
  public/docs/.well-known/agent-skills/index.json
  public/docs/ai/skills/neon/SKILL.md
Due: node src/scripts/update-frontmatter.js

docs: refresh CLI reference for Neon CLI 4.7.0
  content/docs/cli.md
  content/docs/cli/link.md
  scripts/docs-checks/neonctl/schema.json
Due: node src/scripts/update-frontmatter.js

Document Claimable Neon expirations and neon deploy for Auth (#5646)
  config/skills.json
  content/docs/reference/claimable-neon.md
  public/.well-known/agent-skills/index.json
  public/auth.md
  public/docs/.well-known/agent-skills/index.json
  public/docs/ai/skills/neon/SKILL.md
  public/docs/ai/skills/neon/references/claimable-neon.md
Due: node src/scripts/update-frontmatter.js

docs: refresh CLI reference for Neon CLI 4.7.0 (#5647)
  content/docs/cli.md
  content/docs/cli/link.md
  scripts/docs-checks/neonctl/schema.json
Due: node src/scripts/update-frontmatter.js

Sync the hosted neon skill from agent-skills main.
  config/skills.json
  public/.well-known/agent-skills/index.json
  public/docs/.well-known/agent-skills/index.json
  public/docs/ai/skills/neon/SKILL.md
  public/docs/ai/skills/neon/references/claimable-neon.md
Due: node src/scripts/update-frontmatter.js

Sync the hosted neon skill from agent-skills main (#5648)
  config/skills.json
  public/.well-known/agent-skills/index.json
  public/docs/.well-known/agent-skills/index.json
  public/docs/ai/skills/neon/SKILL.md
  public/docs/ai/skills/neon/references/claimable-neon.md
Due: node src/scripts/update-frontmatter.js

feat: add standard Faq component and convert docs to use it (#5641)
  CLAUDE.md
  content/docs/README.md
  content/docs/ai/ai-database-versioning.md
  content/docs/community/component-guide.md
  content/docs/guides/vercel-branch-cleanup.md
  content/docs/guides/vercel-managed-integration.md
  content/docs/import/azure-regions-deprecation.md
  content/docs/introduction/plans.md
  content/docs/security/hipaa.md
  src/components/pages/doc/faq/faq-item.jsx
  src/components/pages/doc/faq/faq.jsx
  src/components/pages/doc/faq/index.js
  src/components/shared/content/content.jsx
  src/scripts/process-md-for-llms.js
  src/styles/doc-content.css
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: stop pinning hosted skills to a git SHA
  .github/workflows/skills-readonly.yml
  config/skills.json
  scripts/check-skills-sync.mjs
  src/scripts/sync-skills.js
  src/scripts/sync-skills.test.js
Due: prettier --write, eslint --cache --fix

prod-aws-us-east-2-cell6: update website documentation
  content/docs/guides/neon-private-networking.md
  content/docs/introduction/regions.md
Due: node src/scripts/update-frontmatter.js

prod-aws-us-east-2-cell6: update website documentation (#5649)
  content/docs/guides/neon-private-networking.md
  content/docs/introduction/regions.md
Due: node src/scripts/update-frontmatter.js

chore: remove create-pr-report tool
  .claude/commands/create-pr-report.md
  .claude/commands/triage-changelog.md
  .claude/doc-ai-tools-list.md
  CLAUDE.md
  config/monitored-repos.json
  content/docs/community/ai-tools.md
  scripts/check-docs-report-deps.sh
  scripts/generate-docs-pr-report.sh
  scripts/setup-repos.sh
Due: node src/scripts/update-frontmatter.js

chore: remove create-pr-report tool (#5651)
  .claude/commands/create-pr-report.md
  .claude/commands/triage-changelog.md
  .claude/doc-ai-tools-list.md
  CLAUDE.md
  config/monitored-repos.json
  content/docs/community/ai-tools.md
  scripts/check-docs-report-deps.sh
  scripts/generate-docs-pr-report.sh
  scripts/setup-repos.sh
Due: node src/scripts/update-frontmatter.js

Embed Neon Labs demo videos in introducing-neon-labs post
  content/blog/posts/introducing-neon-labs.md
  src/components/pages/doc/youtube-iframe/youtube-iframe.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

Leave placeholder for video
  content/blog/posts/introducing-neon-labs.md
Due: node src/scripts/update-frontmatter.js

docs: add standing NAT gateway/PrivateLink update guidance and record
  .claude/commands/create-changelog.md
  content/docs/guides/neon-private-networking.md
  content/docs/introduction/regions.md
Due: node src/scripts/update-frontmatter.js

docs: add a Concepts lane and rewrite the object model page
  content/docs/concepts/the-object-model.md
  content/docs/guides/ai-agent-integration.md
  content/docs/guides/embedded-postgres.md
  content/docs/guides/multitenancy.md
  content/docs/introduction/branch-restore.md
  content/docs/introduction/plans.md
  content/docs/local/vscode-extension.md
  content/docs/manage/databases.md
  content/docs/manage/overview.md
  content/docs/manage/platform.md
  content/docs/navigation.yaml
  public/docs/concepts/the-object-model.svg
Due: node src/scripts/update-frontmatter.js

docs: standing guidance and update record for NAT gateway / PrivateLink changes (#5653)
  .claude/commands/create-changelog.md
  content/docs/guides/neon-private-networking.md
  content/docs/introduction/regions.md
Due: node src/scripts/update-frontmatter.js

feat: add assets
  content/blog/posts/introducing-neon-labs.md
Due: node src/scripts/update-frontmatter.js

feat: add assets (#5654)
  content/blog/posts/introducing-neon-labs.md
Due: node src/scripts/update-frontmatter.js

Add object-model tree diagram and standardize Managed Better Auth (LKB-16593)
  content/docs/concepts/the-object-model.md
  public/docs/concepts/the-object-model.png
  public/docs/concepts/the-object-model.svg
Due: node src/scripts/update-frontmatter.js

Separate Functions vs AI Gateway branch-aware semantics in summary (LKB-16593)
  content/docs/concepts/the-object-model.md
Due: node src/scripts/update-frontmatter.js

Tune object-model copy and add Product availability to Regions (LKB-16593)
  content/docs/concepts/the-object-model.md
  content/docs/introduction/regions.md
Due: node src/scripts/update-frontmatter.js

Address cross-review: alt-text precision, drop Data API peer row, de-infer Auth availability (LKB-16593)
  content/docs/concepts/the-object-model.md
  content/docs/introduction/regions.md
Due: node src/scripts/update-frontmatter.js

Gate website CI on JFrog tarball availability, not a skip list.
  .github/workflows/deps-proxy-allowlist.yml
  scripts/check-deps-proxy-allowlisted.mjs
  scripts/check-deps-proxy-allowlisted.test.js
Due: prettier --write, eslint --cache --fix

Probe JFrog tarballs with a byte-range GET.
  .github/workflows/deps-proxy-allowlist.yml
  scripts/check-deps-proxy-allowlisted.mjs
Due: none

docs: align MCP category lists with the hosted server
  content/docs/auth/guides/manage-auth-api.md
  content/docs/cli/mcp.md
  content/docs/data-api/get-started.md
  content/docs/shared-content/auth-ai-setup.md
  content/docs/shared-content/mcp-tools.md
  content/guides/vercel-neon-mcp.md
  scripts/check-mcp-categories-sync.mjs
  scripts/check-mcp-categories-sync.test.js
  src/components/pages/doc/mcp-setup-configurator/mcp-setup-configurator.jsx
  src/scripts/__snapshots__/process-md-for-llms.test.js.snap
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

Tighten comments on the JFrog proxy check.
  .github/workflows/deps-proxy-allowlist.yml
  scripts/check-deps-proxy-allowlisted.mjs
Due: none

docs: put MCP migrations on querying, not schema
  .github/workflows/mcp-categories-sync.yml
  content/docs/shared-content/mcp-tools.md
  scripts/check-mcp-categories-sync.mjs
  src/components/pages/doc/mcp-setup-configurator/mcp-setup-configurator.jsx
  src/scripts/__snapshots__/process-md-for-llms.test.js.snap
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js
