Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

docs: updates
  content/changelog/2024-12-06.md
  public/docs/relnotes/azure_marketplace.png
  public/docs/relnotes/drizzle_schema_mgmt.png
  public/docs/relnotes/new_branches_table.png
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/changelog/2024-12-06.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/changelog/2024-12-06.md
Due: node src/scripts/update-frontmatter.js

docs: change title
  content/changelog/2024-12-06.md
Due: node src/scripts/update-frontmatter.js

fix: default filter for PostgreSQL Tutorial inkeep search
  src/components/shared/inkeep-trigger/inkeep-trigger.jsx
Due: prettier --write, eslint --cache --fix

chore: update search tab labels to 'PostgreSQL Tutorial' in inkeep settings
  src/components/shared/inkeep-trigger/inkeep-trigger.jsx
  src/lib/inkeep-settings.js
Due: prettier --write, eslint --cache --fix

docs: edit
  content/changelog/2024-12-06.md
Due: node src/scripts/update-frontmatter.js

docs: typo
  content/changelog/2024-12-06.md
Due: node src/scripts/update-frontmatter.js

InKeep: filter search to current section (#2542)
  src/app/postgresql/layout.jsx
  src/components/shared/header/header.jsx
  src/components/shared/inkeep-trigger/inkeep-trigger.jsx
  src/components/shared/layout/layout.jsx
  src/lib/inkeep-settings.js
Due: prettier --write, eslint --cache --fix

refactor: restruct posthog events (#2610)
  src/components/pages/pricing/hero/data/plans.json
  src/components/pages/pricing/hero/hero.jsx
  src/components/pages/pricing/plans/data/plans.json
  src/components/pages/pricing/plans/table/table.jsx
Due: prettier --write, eslint --cache --fix

chore: remove posthog production key from env example
  .env.example
Due: none

docs: revision
  content/changelog/2024-12-06.md
Due: node src/scripts/update-frontmatter.js

docs: move sslnegotiation to latency topic
  content/docs/connect/connection-latency.md
Due: node src/scripts/update-frontmatter.js

docs: remove old content
  content/docs/connect/connect-securely.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/connect/connection-latency.md
  content/docs/functions/math-random.md
Due: node src/scripts/update-frontmatter.js

docs: reorder lowercase and add cards to intro
  content/docs/functions/introduction.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/functions/introduction.md
  content/docs/functions/json.md
  content/docs/functions/json_exists.md
  content/docs/functions/json_query.md
  content/docs/functions/json_scalar.md
  content/docs/functions/json_serialize.md
  content/docs/functions/json_value.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/functions/json_exists.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/functions/json_exists.md
Due: node src/scripts/update-frontmatter.js

docs: roadmap update
  content/docs/introduction/roadmap.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/functions/json_exists.md
  content/docs/introduction/roadmap.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/introduction/roadmap.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/introduction/roadmap.md
Due: node src/scripts/update-frontmatter.js

docs: remove item
  content/docs/introduction/roadmap.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/introduction/roadmap.md
Due: node src/scripts/update-frontmatter.js

docs: add sidebar links for examples and templates
  content/docs/sidebar.yaml
Due: none

docs: add azure ai language
  content/guides/azure-ai-language.md
Due: node src/scripts/update-frontmatter.js

fix: make docs migrate modal fixed
  src/components/pages/doc/migrate-modal/migrate-modal.jsx
  src/components/pages/doc/post/post.jsx
Due: prettier --write, eslint --cache --fix

fix: docs, use-cases, guides sidebar overscroll
  src/components/pages/doc/post/post.jsx
  src/components/pages/guides/post/post.jsx
  src/components/pages/guides/post/sidebar/sidebar.jsx
  src/components/shared/table-of-contents/table-of-contents.jsx
Due: prettier --write, eslint --cache --fix

feat: add support modal for docs support page
  src/components/pages/doc/migrate-modal/index.js
  src/components/pages/doc/modal/index.js
  src/components/pages/doc/modal/modal.jsx
  src/components/pages/doc/post/post.jsx
  src/constants/links.js
  src/icons/docs/support.inline.svg
Due: prettier --write, eslint --cache --fix

Update topbar.jsx
  src/components/shared/topbar/topbar.jsx
Due: prettier --write, eslint --cache --fix

docs: fixed typo (missing sixth)
  content/postgresql/postgresql-getting-started/install-postgresql-linux.md
Due: node src/scripts/update-frontmatter.js

docs: add google identity
  content/docs/guides/neon-authorize-gcp-cloud-identity-platform.md
  content/docs/guides/neon-authorize-google-identity.md
  content/docs/guides/neon-authorize.md
  content/docs/sidebar.yaml
  public/docs/guides/google_identity_jwks_url_in_neon.png
  public/docs/guides/google_oauth_create_credentials.png
Due: node src/scripts/update-frontmatter.js

chore: remove posthog production key from env example (#2611)
  .env.example
Due: none

docs: edits
  content/docs/guides/neon-authorize-drizzle.md
  content/docs/guides/neon-authorize.md
Due: node src/scripts/update-frontmatter.js

docs: add Inngest as an AI Integration
  content/docs/ai/inngest.md
  content/docs/ai/langchain.md
  content/docs/ai/llamaindex.md
  content/docs/sidebar.yaml
  public/docs/guides/inngest-rag-workflow.png
  public/docs/guides/inngest-with-step-ai-infer.png
  public/docs/guides/inngest-without-step-ai-infer.png
Due: node src/scripts/update-frontmatter.js

chore: add sign up events
  src/components/pages/home/hero/hero.jsx
  src/components/shared/button/button.jsx
  src/components/shared/header/header.jsx
Due: prettier --write, eslint --cache --fix

refactor: docs modals content
  src/components/pages/doc/modal/modal.jsx
  src/components/pages/doc/post/post.jsx
Due: prettier --write, eslint --cache --fix
