Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

docs: image update
  public/docs/relnotes/app_build.png
Due: none

docs: image update (#3564)
  public/docs/relnotes/app_build.png
Due: none

docs(guides): Omit unused dependency in `fastapi` guide
  content/guides/fastapi-async.md
Due: node src/scripts/update-frontmatter.js

refactor: template routing (#3554)
  src/app/(template)/layout.jsx
  src/app/(template)/storage/page.jsx
  src/app/[slug]/page.jsx
  src/app/[slug]/pages/template-page.jsx
  src/app/[slug]/pages/wp-page.jsx
  src/app/[slug]/wp-draft-post-preview-page/page.jsx
  src/app/use-cases/[slug]/page.jsx
  src/constants/seo-data.js
Due: prettier --write, eslint --cache --fix

chore: update menu links
  src/constants/links.js
  src/constants/menus.js
Due: prettier --write, eslint --cache --fix

docs: add databricks lr guide
  content/docs/guides/logical-replication-databricks.md
  content/docs/guides/logical-replication-guide.md
  content/docs/sidebar.yaml
  public/docs/guides/airbyte_databricks_destination.png
  public/docs/guides/airbyte_neon_databricks_connection_setup.png
  public/docs/guides/airbyte_neon_databricks_sync_settings.png
  public/docs/guides/databricks_sql_editor_replicated_data.png
  public/images/technology-logos/databricks.svg
Due: node src/scripts/update-frontmatter.js

Update plans.json
  src/components/pages/pricing/hero/data/plans.json
Due: none

fix: update section title styling
  src/components/pages/doc/menu/menu.jsx
Due: prettier --write, eslint --cache --fix

fix: mobile docs menu z-index
  src/components/pages/doc/mobile-nav/mobile-nav.jsx
Due: prettier --write, eslint --cache --fix

feat: new template page (#3522)
  content/pages/storage.md
  public/pages/storage/schema.jpg
  src/app/[slug]/page.jsx
  src/app/[slug]/pages/template-page.jsx
  src/app/[slug]/pages/wp-page.jsx
  src/app/[slug]/wp-draft-post-preview-page/page.jsx
  src/app/use-cases/[slug]/page.jsx
  src/components/pages/doc/aside/aside.jsx
  src/components/pages/doc/post/post.jsx
  src/components/shared/content/content.jsx
  src/components/shared/header/menu-banner/images/banner-desktop.jpg
  src/components/shared/header/menu-banner/images/banner-tablet.jpg
  src/components/shared/header/menu-banner/menu-banner.jsx
  src/components/shared/header/navigation/navigation.jsx
  src/components/shared/table-of-contents/item/item.jsx
  src/components/shared/table-of-contents/table-of-contents.jsx
  src/constants/content.js
  src/constants/links.js
  src/constants/menus.js
  src/icons/header/auth-gradient.inline.svg
  src/icons/header/auth.inline.svg
  src/icons/header/branching-gradient.inline.svg
  src/icons/header/branching.inline.svg
  src/icons/header/cloud-gradient.inline.svg
  src/icons/header/cloud.inline.svg
  src/icons/header/flow-gradient.inline.svg
  src/icons/header/flow.inline.svg
  src/icons/header/restore-gradient.inline.svg
  src/icons/header/restore.inline.svg
  src/icons/header/search-gradient.inline.svg
  src/icons/header/search.inline.svg
  tailwind.config.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

fix: colalpsible section heading font-size
  src/components/pages/doc/menu/menu.jsx
Due: prettier --write, eslint --cache --fix

feat: update docs mode toggler styles
  src/components/pages/doc/mode-toggler/mode-toggler.jsx
Due: prettier --write, eslint --cache --fix

docs: add federated queries
  content/docs/guides/databricks-federated-sql.md
  public/docs/guides/databricks-federated-sql-create-external-connection-ui.png
  public/docs/guides/databricks-federated-sql-explain-formatted-query-example.png
  public/docs/guides/databricks-federated-sql-query-example-catalog-explorer.png
  public/docs/guides/databricks-federated-sql-query-example-sql.png
Due: node src/scripts/update-frontmatter.js

refactor: docs tabs and code tabs context
  src/app/(docs)/docs/layout.jsx
  src/app/layout.jsx
  src/components/pages/doc/code-tabs/CodeTabsContext.jsx
  src/components/pages/doc/code-tabs/code-tabs.jsx
  src/components/pages/doc/tabs/tabs.jsx
  src/contexts/docs/code-tabs-context.jsx
  src/contexts/docs/tabs-context.jsx
Due: prettier --write, eslint --cache --fix

refactor: some code improves
  src/components/pages/doc/code-tabs/code-tabs.jsx
  src/contexts/docs/code-tabs-context.jsx
  src/contexts/docs/tabs-context.jsx
Due: prettier --write, eslint --cache --fix

refactor: move tabs providers to main layout to support guides and wp posts
  src/app/(docs)/docs/layout.jsx
  src/app/layout.jsx
  src/components/pages/doc/code-tabs/code-tabs.jsx
  src/components/pages/doc/tabs/tabs.jsx
  src/contexts/code-tabs-context.jsx
  src/contexts/tabs-context.jsx
Due: prettier --write, eslint --cache --fix

refactor: remove unnecessary useMemo from CodeTabs component
  src/components/pages/doc/code-tabs/code-tabs.jsx
Due: prettier --write, eslint --cache --fix

refactor: remove legacy anchors from definition list
  src/components/pages/doc/definition-list/definition-list.jsx
Due: prettier --write, eslint --cache --fix

refactor: separate docs and template page post components
  src/app/[slug]/pages/template-page.jsx
  src/app/use-cases/[slug]/page.jsx
  src/components/pages/doc/post/post.jsx
  src/components/pages/template/post/index.js
  src/components/pages/template/post/post.jsx
Due: prettier --write, eslint --cache --fix

feat: update sidebar and toc
  content/pages/storage.md
  src/components/pages/doc/aside/aside.jsx
  src/components/shared/table-of-contents/item/item.jsx
  src/components/shared/table-of-contents/table-of-contents.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: add test template page
  content/pages/test.md
Due: node src/scripts/update-frontmatter.js

feat: increase h2 size for template page
  src/components/shared/content/content.jsx
  src/styles/doc-content.css
Due: prettier --write, eslint --cache --fix

feat: update text styles for template page
  src/styles/doc-content.css
Due: prettier --write

feat: bring mega-link component for template page
  content/pages/test.md
  src/components/shared/content/content.jsx
  src/components/shared/cta-block/cta-block.jsx
  src/components/shared/mega-link/index.js
  src/components/shared/mega-link/mega-link.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: remove test collapsible props from sidebar
  content/docs/sidebar.yaml
Due: none

feat: docs collapsible sidebar sections (#3556)
  src/components/pages/doc/menu/menu.jsx
  src/components/pages/doc/mobile-nav/mobile-nav.jsx
Due: prettier --write, eslint --cache --fix

chore: remove aws pay link from hero section
  src/components/pages/pricing/hero/data/plans.json
Due: none

feat: add icons to table and features
  src/components/pages/pricing/features/features.jsx
  src/components/pages/pricing/plans/data/plans.json
  src/components/pages/pricing/plans/table/table.jsx
  src/icons/pricing/features/auth.svg
  src/icons/pricing/features/cable.svg
  src/icons/pricing/features/check.svg
  src/icons/pricing/features/compliance.svg
  src/icons/pricing/features/copy.svg
  src/icons/pricing/features/grid.svg
  src/icons/pricing/features/scale.svg
  src/icons/pricing/features/search.svg
  src/icons/pricing/table/check.svg
  src/icons/pricing/table/plus.svg
  src/icons/pricing/table/stats.svg
Due: prettier --write, eslint --cache --fix

chore: fix links in faq section
  src/app/pricing/page.jsx
Due: prettier --write, eslint --cache --fix

refactor: code fixes
  src/components/pages/pricing/plans/table/table.jsx
  src/components/shared/faq/faq.jsx
Due: prettier --write, eslint --cache --fix

chore: update icon for add-ons
  src/components/pages/pricing/plans/data/plans.json
  src/components/pages/pricing/plans/table/table.jsx
  src/icons/pricing/table/figures.svg
Due: prettier --write, eslint --cache --fix

refactor: remove revalidate from static pages
  src/app/branching/page.jsx
  src/app/careers/page.jsx
  src/app/contact-sales/page.jsx
  src/app/cost-fleets/page.jsx
  src/app/developer-days-1/page.jsx
  src/app/variable-load/page.jsx
Due: prettier --write, eslint --cache --fix

docs: add changelog template for 2025-06-13
  content/changelog/2025-06-13.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/changelog/2025-06-13.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/changelog/2025-06-13.md
Due: node src/scripts/update-frontmatter.js

feat: docs preserve tabs selection (#3569)
  src/app/layout.jsx
  src/components/pages/doc/code-tabs/CodeTabsContext.jsx
  src/components/pages/doc/code-tabs/code-tabs.jsx
  src/components/pages/doc/tabs/tabs.jsx
  src/contexts/code-tabs-context.jsx
  src/contexts/tabs-context.jsx
Due: prettier --write, eslint --cache --fix

docs: additions
  content/changelog/2025-06-13.md
Due: node src/scripts/update-frontmatter.js
