Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

fix: dynamic import
  src/components/pages/doc/inkeep-trigger/inkeep-trigger.jsx
Due: prettier --write, eslint --cache --fix

chore: animation upd
  public/animations/pages/home/api.riv
Due: none

chore: styles update
  public/css/inkeep-chat.css
  public/inkeep/css/inkeep-chat.css
  public/inkeep/images/example.svg
  public/inkeep/images/user.svg
  src/components/pages/doc/inkeep-trigger/images/close.svg
  src/components/pages/doc/inkeep-trigger/images/user.inline.svg
  src/components/pages/doc/inkeep-trigger/inkeep-trigger.jsx
Due: prettier --write, eslint --cache --fix

fix: list margins
  public/inkeep/css/inkeep-chat.css
Due: prettier --write

fix: set default modal width
  public/inkeep/css/inkeep-chat.css
Due: prettier --write

chore: inkeep loading
  src/styles/main.css
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

edits
  content/changelog/2024-03-29-console.md
  content/docs/connect/connection-errors.md
  content/docs/guides/vercel.md
  content/docs/reference/glossary.md
  content/docs/unused/concepts-deprecated
  public/docs/guides/vercel_connect_neon.png
Due: node src/scripts/update-frontmatter.js

chore: design improvements
  public/inkeep/css/inkeep-chat.css
  src/components/pages/doc/inkeep-trigger/images/close.svg
  src/components/pages/doc/inkeep-trigger/inkeep-trigger.jsx
Due: prettier --write, eslint --cache --fix

chore: rm old chat
  package-lock.json
  src/components/pages/doc/chat-widget/chat-input/chat-input.jsx
  src/components/pages/doc/chat-widget/chat-input/index.js
  src/components/pages/doc/chat-widget/chat-widget.jsx
  src/components/pages/doc/chat-widget/images/attention.inline.svg
  src/components/pages/doc/chat-widget/images/check.inline.svg
  src/components/pages/doc/chat-widget/images/close.inline.svg
  src/components/pages/doc/chat-widget/images/example.inline.svg
  src/components/pages/doc/chat-widget/images/experimental.inline.svg
  src/components/pages/doc/chat-widget/images/reload.inline.svg
  src/components/pages/doc/chat-widget/images/send.inline.svg
  src/components/pages/doc/chat-widget/images/sparks.inline.svg
  src/components/pages/doc/chat-widget/images/stop.inline.svg
  src/components/pages/doc/chat-widget/images/user.inline.svg
  src/components/pages/doc/chat-widget/index.js
  src/components/pages/doc/chat-widget/message/index.js
  src/components/pages/doc/chat-widget/message/message.jsx
Due: prettier --write, eslint --cache --fix

feat: add esbuild font
  src/app/(new-design)/layout.jsx
  src/app/fonts.js
  src/components/pages/home/ai-index/ai-index.jsx
  src/components/pages/home/bento/bento.jsx
  src/components/pages/home/get-started/get-started.jsx
  src/components/pages/home/industry/industry.jsx
  src/components/pages/home/lightning/lightning.jsx
  src/components/pages/home/multitenancy/multitenancy.jsx
  src/components/pages/home/trusted/trusted.jsx
  src/fonts/esbuild/ESBuild-Medium.woff2
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

edits
  content/changelog/2024-03-29-console.md
  content/docs/guides/vercel.md
Due: node src/scripts/update-frontmatter.js

Update 2024-03-29-console.md
  content/changelog/2024-03-29-console.md
Due: node src/scripts/update-frontmatter.js

minor edits, add source card
  content/docs/guides/entity-migrations.md
Due: node src/scripts/update-frontmatter.js

links
  content/changelog/2024-03-29-console.md
Due: node src/scripts/update-frontmatter.js

minor edits, source card
  content/docs/guides/laravel-migrations.md
Due: node src/scripts/update-frontmatter.js

Update entity-migrations.md
  content/docs/guides/entity-migrations.md
Due: node src/scripts/update-frontmatter.js

edits
  content/changelog/2024-03-29-console.md
Due: node src/scripts/update-frontmatter.js

chore: timer animation upd
  public/animations/pages/home/clock.riv
  src/app/fonts.js
  src/components/pages/home/bento/clock-animation/clock-animation.jsx
Due: prettier --write, eslint --cache --fix

chore: animation speed upd
  src/components/pages/home/bento/clock-animation/clock-animation.jsx
Due: prettier --write, eslint --cache --fix

docs(pages): add pg_partman code
  content/docs/extensions/pg_partman.md
Due: node src/scripts/update-frontmatter.js

docs(pages): save
  content/docs/extensions/pg_partman.md
Due: node src/scripts/update-frontmatter.js

Update migrate-mysql.md
  content/docs/import/migrate-mysql.md
Due: node src/scripts/update-frontmatter.js

chore: upd animation
  src/components/pages/home/bento/clock-animation/clock-animation.jsx
Due: prettier --write, eslint --cache --fix

chore: modal size, check system theme
  public/inkeep/css/inkeep-chat.css
  src/components/pages/doc/inkeep-trigger/inkeep-trigger.jsx
Due: prettier --write, eslint --cache --fix

Create 2024-04-05-console.md
  content/changelog/2024-04-05-console.md
Due: node src/scripts/update-frontmatter.js

chore: viewport animation
  src/components/pages/home/bento/clock-animation/clock-animation.jsx
Due: prettier --write, eslint --cache --fix

chore: upd animation
  public/animations/footer.riv
Due: none

chore: animation upd
  public/animations/pages/home/clock.riv
  src/components/pages/home/bento/clock-animation/clock-animation.jsx
Due: prettier --write, eslint --cache --fix

Update content/docs/guides/branch-restore.md
  content/docs/guides/branch-restore.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/guides/schema-diff.md
  content/docs/guides/schema-diff.md
Due: node src/scripts/update-frontmatter.js
