Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

test: add logging for debug
  src/middleware.js
Due: prettier --write, eslint --cache --fix

refactor: refine AI agent detection logic by clarifying Accept header
  src/utils/ai-agent-detection.js
Due: prettier --write, eslint --cache --fix

refactor: enhance AI agent detection by adding explicit HTML check in Accept header
  src/utils/ai-agent-detection.js
Due: prettier --write, eslint --cache --fix

chore: fix dev-test use-case extra tag
  content/pages/use-cases/dev-test.md
Due: node src/scripts/update-frontmatter.js

refactor: finalize content routes checking, remote logs
  src/constants/content.js
  src/middleware.js
  src/utils/ai-agent-detection.js
Due: prettier --write, eslint --cache --fix

refactor: remove 'use-cases/variable-load' from excluded routes
  src/constants/content.js
Due: prettier --write, eslint --cache --fix

docs: add hono prompt
  content/docs/guides/hono.md
  public/prompts/hono-prompt.md
Due: node src/scripts/update-frontmatter.js

docs: add nestjs prompt
  content/docs/guides/nestjs.md
  public/prompts/nestjs-prompt.md
Due: node src/scripts/update-frontmatter.js

docs: add express js prompt
  content/docs/guides/express.md
  public/prompts/express-prompt.md
  public/prompts/hono-prompt.md
  public/prompts/nestjs-prompt.md
Due: node src/scripts/update-frontmatter.js

fix: mention EoL on other azure pages
  content/docs/azure/azure-deploy.md
  content/docs/azure/azure-develop.md
  content/docs/azure/azure-manage.md
Due: node src/scripts/update-frontmatter.js

docs: update redwoodsdk
  content/docs/guides/redwoodsdk.md
Due: node src/scripts/update-frontmatter.js

docs: update redwood sdk
  content/docs/guides/redwoodsdk.md
  public/prompts/hono-prompt.md
  public/prompts/redwood-sdk-prompt.md
Due: node src/scripts/update-frontmatter.js

docs: update monitoring docs
  content/docs/introduction/monitor-active-queries.md
  content/docs/introduction/monitor-query-performance.md
  content/docs/introduction/monitoring.md
  content/docs/introduction/roadmap.md
  content/docs/manage/platform.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

docs: update image
  .cursor/commands/docs.md
  content/docs/introduction/monitor-query-performance.md
  public/docs/introduction/query_history.png
  public/docs/introduction/query_performance.png
Due: node src/scripts/update-frontmatter.js

docs: alt description
  content/docs/introduction/monitor-query-performance.md
Due: node src/scripts/update-frontmatter.js

docs: update image link
  content/faster/index.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/introduction/monitor-active-queries.md
  content/docs/introduction/monitor-query-performance.md
  content/docs/introduction/monitoring.md
  content/docs/introduction/roadmap.md
  content/docs/manage/platform.md
Due: node src/scripts/update-frontmatter.js

docs: add changelog
  content/changelog/2025-10-24.md
Due: node src/scripts/update-frontmatter.js

docs: postgres extension updates
  content/docs/extensions/pg-extensions.md
Due: node src/scripts/update-frontmatter.js

docs: child branch storage updates
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

docs: revision
  content/changelog/2025-10-24.md
Due: node src/scripts/update-frontmatter.js

docs: update cost optimization guide
  content/docs/introduction/cost-optimization.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/introduction/cost-optimization.md
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/extensions/pg-extensions.md
Due: node src/scripts/update-frontmatter.js

chore: fix MM values on timeline on about page
  src/components/pages/about/timeline/timeline.jsx
Due: prettier --write, eslint --cache --fix

docs: update cursor mcp
  content/docs/ai/connect-mcp-clients-to-neon.md
  content/guides/cursor-mcp-neon.md
Due: node src/scripts/update-frontmatter.js

docs: add entry for extension updates
  content/changelog/2025-10-24.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/ai/connect-mcp-clients-to-neon.md
Due: node src/scripts/update-frontmatter.js

fix: inkeep share chat url base path
  src/lib/inkeep-settings.js
Due: prettier --write, eslint --cache --fix

feat: auto-open AI chat modal for doc pages with chatId parameter
  src/components/shared/inkeep-trigger/inkeep-trigger.jsx
  src/lib/inkeep-settings.js
Due: prettier --write, eslint --cache --fix

feat: store shared chatId for AI chat modal in InkeepTrigger component
  src/components/shared/inkeep-trigger/inkeep-trigger.jsx
Due: prettier --write, eslint --cache --fix

docs: private networking update
  content/docs/guides/neon-private-networking.md
Due: node src/scripts/update-frontmatter.js

fix: docs ask ai chat share button (#4067)
  src/components/pages/about/timeline/timeline.jsx
  src/components/shared/inkeep-trigger/inkeep-trigger.jsx
  src/lib/inkeep-settings.js
Due: prettier --write, eslint --cache --fix

chore: update frontmatter date (auto-update)
  content/docs/guides/neon-private-networking.md
Due: node src/scripts/update-frontmatter.js

feat: serve markdown directly to AI agents instead of redirecting
  src/middleware.js
Due: prettier --write, eslint --cache --fix

refactor: remove testing console.log
  src/middleware.js
Due: prettier --write, eslint --cache --fix

refactor: add new console.log for detect ai agent requests
  src/middleware.js
Due: prettier --write, eslint --cache --fix

feat: add vitest library and unit tests for AI agent middleware
  package-lock.json
  package.json
  src/middleware.test.js
  src/utils/ai-agent-detection.test.js
  vitest.config.js
Due: prettier --write, eslint --cache --fix

feat: add unit-tests github workflow
  .github/workflows/unit-tests.yml
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
