Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

docs: edits
  content/guides/migrate-faunadb-to-neon.md
Due: node src/scripts/update-frontmatter.js

docs: add weekly changelog for 2025-03-28
  content/changelog/2025-03-28.md
Due: node src/scripts/update-frontmatter.js

docs: serverless driver updates
  content/docs/serverless/serverless-driver.md
Due: node src/scripts/update-frontmatter.js

docs: updates
  content/docs/guides/cloudflare-workers.md
  content/docs/guides/neon-rls-auth0.md
  content/docs/serverless/serverless-driver.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/serverless/serverless-driver.md
  content/docs/serverless/serverless-driver.md
Due: node src/scripts/update-frontmatter.js

Fix minor typos in database-per-user.md
  content/docs/use-cases/database-per-user.md
Due: node src/scripts/update-frontmatter.js

docs: recent updates
  content/docs/guides/autoscaling-guide.md
  content/docs/introduction/roadmap.md
  content/docs/reference/compatibility.md
Due: node src/scripts/update-frontmatter.js

docs: Fix LFC size ratio
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js

docs: add serverless driver entry
  content/changelog/2025-03-28.md
Due: node src/scripts/update-frontmatter.js

docs: add note
  content/docs/serverless/serverless-driver.md
Due: node src/scripts/update-frontmatter.js

Update cloudflare-workers.md
  content/docs/guides/cloudflare-workers.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/security/compliance.md
  content/docs/security/hipaa.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/security/hipaa.md
Due: node src/scripts/update-frontmatter.js

docs: refactor IA for AI
  content/docs/ai/ai-agents-tools.md
  content/docs/ai/ai-intro.md
  content/docs/ai/ai-rules-neon-auth.md
  content/docs/ai/ai-rules-neon-drizzle.md
  content/docs/ai/ai-rules-neon-serverless.md
  content/docs/ai/ai-rules.md
  content/docs/shared-content/ai-rule-usage.md
  content/docs/shared-content/index.js
  content/docs/sidebar.yaml
  public/docs/ai/ai-rules.png
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: fix sidebar
  content/docs/sidebar.yaml
Due: none

docs: update data transferm desc
  content/docs/introduction/usage-metrics.md
Due: node src/scripts/update-frontmatter.js

docs: update glossary
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js

docs: troubleshoot lr, pg_subscription_rel guide
  content/docs/guides/logical-replication-pg_subscription_rel.md
  public/docs/guides/pg_subscription_rel.svg
  public/docs/guides/pg_subscription_rel_troubleshoot.svg
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/introduction/usage-metrics.md
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/ai/ai-agents-tools.md
  content/docs/ai/ai-agents-tools.md
Due: node src/scripts/update-frontmatter.js

docs: add pgcopydb
  content/docs/guides/logical-replication-pg_subscription_rel.md
  content/docs/guides/pgcopydb.md
Due: node src/scripts/update-frontmatter.js

docs: minor edits to pgcopydb
  content/docs/guides/pgcopydb.md
Due: node src/scripts/update-frontmatter.js

feat: udpate hipaa legal page url to docs, add redirect
  next.config.js
  src/constants/links.js
Due: prettier --write, eslint --cache --fix

docs: minor edits to pg_subscription_rel
  content/docs/guides/logical-replication-pg_subscription_rel.md
Due: node src/scripts/update-frontmatter.js

docs: minor edits
  content/docs/guides/logical-replication-pg_subscription_rel.md
Due: node src/scripts/update-frontmatter.js

feat: udpate hipaa legal page url to docs, add redirect (#3235)
  next.config.js
  src/constants/links.js
Due: prettier --write, eslint --cache --fix

docs: update query history docs to clarify grouping and source visibility
  content/docs/introduction/monitor-query-history.md
Due: node src/scripts/update-frontmatter.js

feat: add changelog subscription form
  src/components/pages/blog-post/subscribe-form/subscribe-form.jsx
  src/components/pages/doc/post/post.jsx
  src/components/shared/subscribe-form/index.js
  src/components/shared/subscribe-form/subscribe-form.jsx
  src/icons/send.inline.svg
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

fix: condition and responsive styles
  src/components/shared/subscribe-form/subscribe-form.jsx
Due: prettier --write, eslint --cache --fix

refactor: rename form to changelog
  src/components/pages/doc/post/post.jsx
  src/components/shared/changelog-form/changelog-form.jsx
  src/components/shared/changelog-form/index.js
  src/components/shared/subscribe-form/index.js
Due: prettier --write, eslint --cache --fix

Add redirect MS Build
  next.config.js
Due: prettier --write, eslint --cache --fix

docs: update sample app repository links to remove 'authorize' from 'neon-rls-authorize'
  content/docs/guides/neon-rls-auth0.md
  content/docs/guides/neon-rls-aws-cognito.md
  content/docs/guides/neon-rls-azure-ad.md
  content/docs/guides/neon-rls-clerk.md
  content/docs/guides/neon-rls-descope.md
  content/docs/guides/neon-rls-drizzle.md
  content/docs/guides/neon-rls-propelauth.md
  content/docs/guides/neon-rls-stack-auth.md
  content/docs/guides/neon-rls-stytch.md
  content/docs/guides/neon-rls-supertokens.md
  content/docs/guides/neon-rls-workos.md
  llms/guides-neon-rls-drizzle.txt
  public/llms/guides-neon-rls-drizzle.txt
  src/constants/links.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: one missed link
  content/docs/guides/neon-rls-custom-jwt.md
Due: node src/scripts/update-frontmatter.js

docs: draft
  content/changelog/2025-03-28.md
  public/docs/relnotes/AI_card_get_started_panel.png
  public/docs/relnotes/neon_auth_splash.png
Due: node src/scripts/update-frontmatter.js

docs: update title
  content/changelog/2025-03-28.md
Due: node src/scripts/update-frontmatter.js

Update content/changelog/2025-03-28.md
  content/changelog/2025-03-28.md
Due: node src/scripts/update-frontmatter.js
