Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

docs: edits
  content/changelog/2024-11-08.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/manage/operations.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/changelog/2024-10-04.md
Due: node src/scripts/update-frontmatter.js

docs: typo
  content/changelog/2024-11-08.md
Due: node src/scripts/update-frontmatter.js

docs: remove archive branching
  content/changelog/2024-11-08.md
Due: node src/scripts/update-frontmatter.js

feat: update case-studies page
  src/app/case-studies/category/[slug]/page.jsx
  src/app/case-studies/page.jsx
  src/components/pages/case-studies/cards/cards.jsx
  src/components/pages/case-studies/cards/category-link/category-link.jsx
  src/components/pages/case-studies/cards/category-link/index.js
  src/components/pages/case-studies/hero/hero.jsx
  src/constants/case-studies.js
  src/utils/get-link-props.js
Due: prettier --write, eslint --cache --fix

feat: adaptives for new case-studies
  src/components/pages/case-studies/cards/cards.jsx
  src/components/pages/case-studies/hero/hero.jsx
  src/components/pages/case-studies/hero/images/card-bg-1.jpg
  src/components/pages/case-studies/hero/images/card-bg-4.jpg
  src/components/pages/pricing/plans/table/table.jsx
Due: prettier --write, eslint --cache --fix

fix: case-studies logos safari
  src/components/pages/case-studies/cards/cards.jsx
  src/components/pages/case-studies/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

fix: case-studies cards borders
  src/components/pages/case-studies/cards/cards.jsx
Due: prettier --write, eslint --cache --fix

docs: revisions
  content/docs/guides/vercel-marketplace.md
Due: node src/scripts/update-frontmatter.js

docs: remove cli update item
  content/changelog/2024-11-08.md
Due: node src/scripts/update-frontmatter.js

fix: pricing page hero plans links
  src/components/pages/pricing/hero/data/plans.json
Due: none

docs: point to pg_session_jwt earlier
  content/docs/guides/neon-authorize-auth0.md
  content/docs/guides/neon-authorize-clerk.md
  content/docs/guides/neon-authorize-stack-auth.md
Due: node src/scripts/update-frontmatter.js

fix: pricing page hero plans links (#2444)
  src/components/pages/pricing/hero/data/plans.json
Due: none

chore: add redirect that logs a pageview
  src/app/signup/page.jsx
Due: prettier --write, eslint --cache --fix

Update content/docs/guides/neon-authorize-auth0.md
  content/docs/guides/neon-authorize-auth0.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/neon-authorize-auth0.md
  content/docs/guides/neon-authorize-clerk.md
  content/docs/guides/neon-authorize-stack-auth.md
Due: node src/scripts/update-frontmatter.js

Add a signup redirect that logs a pageview (#2445)
  src/app/signup/page.jsx
Due: prettier --write, eslint --cache --fix

docs: revise wording
  content/changelog/2024-11-08.md
Due: node src/scripts/update-frontmatter.js

docs: edit
  content/changelog/2024-11-08.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/guides/vercel-marketplace.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/guides/vercel-marketplace.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/extensions/pg-extensions.md
  content/docs/manage/organizations.md
Due: node src/scripts/update-frontmatter.js

docs: fix link
  content/changelog/2024-11-08.md
Due: node src/scripts/update-frontmatter.js

refactor: case studies page after review
  src/app/case-studies/page.jsx
  src/components/pages/case-studies/cards/cards.jsx
  src/components/pages/case-studies/hero/hero.jsx
  src/utils/api-posts.js
Due: prettier --write, eslint --cache --fix

docs: revision
  content/docs/guides/vercel-marketplace.md
Due: node src/scripts/update-frontmatter.js

Update plans.json
  src/components/pages/pricing/hero/data/plans.json
Due: none

fix: more case studies
  src/utils/api-posts.js
Due: prettier --write, eslint --cache --fix

fix: even more case studies
  src/utils/api-posts.js
Due: prettier --write, eslint --cache --fix

Fix: more case studies (#2448)
  src/utils/api-posts.js
Due: prettier --write, eslint --cache --fix
