Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: address review comments
  content/docs/guides/branching-schema-only.md
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/guides/branching-schema-only.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/extensions/timescaledb.md
Due: node src/scripts/update-frontmatter.js

docs: fix tagging
  content/docs/guides/branching-schema-only.md
Due: node src/scripts/update-frontmatter.js

docs: add schema-only branches card
  content/docs/guides/branching-intro.md
Due: node src/scripts/update-frontmatter.js

fix: small style fix
  src/components/shared/socials/socials.jsx
Due: prettier --write, eslint --cache --fix

refactor: content directory constants
  src/app/(docs)/docs/[...slug]/page.jsx
  src/app/(docs)/docs/changelog/[...slug]/page.jsx
  src/app/(docs)/docs/changelog/rss.xml/route.js
  src/components/pages/doc/include-block/include-block.jsx
  src/constants/content.js
  src/constants/docs.js
  src/pages/api/release-notes.js
  src/utils/api-docs.js
Due: prettier --write, eslint --cache --fix

refactor: rename extra categories postSlug to basePath
  src/components/pages/blog/blog-post-card/blog-post-card.jsx
  src/constants/blog.js
Due: prettier --write, eslint --cache --fix

fix: blog extra categories slugs
  src/components/pages/blog/blog-post-card/blog-post-card.jsx
Due: prettier --write, eslint --cache --fix

docs: update rate limit
  content/docs/guides/partner-consumption-metrics.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/partner-consumption-metrics.md
Due: node src/scripts/update-frontmatter.js

docs: update console steps
  content/docs/guides/branching-schema-only.md
Due: node src/scripts/update-frontmatter.js

fix: small desktop style fixes (#2846)
  src/app/(docs)/ai-chat/page.jsx
  src/components/shared/header/header.jsx
Due: prettier --write, eslint --cache --fix

feat: replace load-more with scroll-loader
  src/app/blog/(index)/category/[slug]/page.jsx
  src/app/blog/(index)/page.jsx
  src/components/pages/blog/sidebar/sidebar.jsx
  src/components/pages/changelog/changelog-list/changelog-list.jsx
  src/components/shared/load-more-posts/index.js
  src/components/shared/load-more-posts/load-more-posts.jsx
  src/components/shared/scroll-loader/index.js
  src/components/shared/scroll-loader/scroll-loader.jsx
Due: prettier --write, eslint --cache --fix

fix: docs tablet layout
  src/app/(docs)/docs/layout.jsx
Due: prettier --write, eslint --cache --fix

feat: add rss button to blog
  src/app/blog/(index)/layout.jsx
  src/app/blog/(index)/page.jsx
  src/components/pages/blog/sidebar/sidebar.jsx
  src/components/pages/guides/sidebar/sidebar.jsx
  src/components/shared/rss-button/index.js
  src/components/shared/rss-button/rss-button.jsx
  src/styles/search.css
Due: prettier --write, eslint --cache --fix

docs: revisions
  content/docs/manage/updates.md
Due: node src/scripts/update-frontmatter.js

docs: mention token bucket
  content/docs/guides/partner-consumption-metrics.md
Due: node src/scripts/update-frontmatter.js

docs: add guide for `neondatabase/toolkit`
  content/guides/neondatabase-toolkit.md
Due: node src/scripts/update-frontmatter.js

Update topbar.jsx
  src/components/shared/topbar/topbar.jsx
Due: prettier --write, eslint --cache --fix

Update billing-aws-marketplace.md
  content/docs/introduction/billing-aws-marketplace.md
Due: node src/scripts/update-frontmatter.js

docs: revisions
  content/docs/manage/updates.md
  public/docs/guides/free_plan_updates.png
  public/docs/manage/free_plan_updates.png
  public/docs/manage/paid_plan_updates.png
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/manage/updates.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/introduction/billing-aws-marketplace.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/manage/projects.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/manage/projects.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/manage/updates.md
Due: node src/scripts/update-frontmatter.js

docs: update image
  public/docs/manage/paid_plan_updates.png
Due: none

docs: update image
  public/docs/guides/create_schema_only_branch.png
Due: none

Update content/docs/guides/branching-schema-only.md
  content/docs/guides/branching-schema-only.md
Due: node src/scripts/update-frontmatter.js

fix: hide blog rss button on mobile
  src/components/pages/blog/sidebar/sidebar.jsx
Due: prettier --write, eslint --cache --fix

refactor: shared post grid item for blog pages
  src/app/blog/(index)/category/[slug]/page.jsx
  src/app/blog/(index)/page.jsx
  src/components/pages/blog/blog-grid-item/blog-grid-item.jsx
  src/components/pages/blog/blog-grid-item/index.js
  src/components/pages/blog/blog-post-card/index.js
Due: prettier --write, eslint --cache --fix

fix: small style fixes
  src/app/blog/(index)/category/[slug]/page.jsx
  src/components/pages/blog/blog-post-card/blog-post-card.jsx
Due: prettier --write, eslint --cache --fix

fix: small style fixes
  src/app/blog/(index)/layout.jsx
  src/components/pages/blog/sidebar/sidebar.jsx
  src/styles/search.css
Due: prettier --write, eslint --cache --fix

fix: blog index page description mobile styles
  src/app/blog/(index)/layout.jsx
Due: prettier --write, eslint --cache --fix

docs: use neon alias
  content/changelog/2023-12-12.md
  content/changelog/2024-02-23.md
  content/changelog/2024-04-26.md
  content/changelog/2024-06-14.md
  content/changelog/2024-08-09.md
  content/changelog/2024-08-30.md
  content/changelog/2024-09-27.md
  content/docs/connect/choose-connection.md
  content/docs/guides/neon-authorize-auth0.md
  content/docs/guides/neon-authorize-aws-cognito.md
  content/docs/guides/neon-authorize-azure-ad.md
  content/docs/guides/neon-authorize-clerk.md
  content/docs/guides/neon-authorize-descope.md
  content/docs/guides/neon-authorize-firebase-gcp.md
  content/docs/guides/neon-authorize-google-identity.md
  content/docs/guides/neon-authorize-keycloak.md
  content/docs/guides/neon-authorize-propelauth.md
  content/docs/guides/neon-authorize-stack-auth.md
  content/docs/guides/neon-authorize-stytch.md
  content/docs/guides/neon-authorize-supertokens.md
  content/docs/guides/neon-authorize-workos.md
  content/docs/manage/orgs-cli.md
  content/docs/reference/cli-install.md
  content/docs/reference/neon-cli.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/connect/choose-connection.md
  content/docs/guides/neon-authorize-auth0.md
  content/docs/guides/neon-authorize-aws-cognito.md
  content/docs/guides/neon-authorize-azure-ad.md
  content/docs/guides/neon-authorize-clerk.md
  content/docs/guides/neon-authorize-descope.md
  content/docs/guides/neon-authorize-firebase-gcp.md
  content/docs/guides/neon-authorize-google-identity.md
  content/docs/guides/neon-authorize-keycloak.md
  content/docs/guides/neon-authorize-propelauth.md
  content/docs/guides/neon-authorize-stack-auth.md
  content/docs/guides/neon-authorize-stytch.md
  content/docs/guides/neon-authorize-supertokens.md
  content/docs/guides/neon-authorize-workos.md
  content/docs/manage/orgs-cli.md
  content/docs/reference/cli-install.md
  content/docs/reference/neon-cli.md
Due: node src/scripts/update-frontmatter.js

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
