Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: revisions
  content/docs/introduction/monitor-usage.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

Update plans.json
  src/components/pages/pricing/hero/data/plans.json
Due: none

Update plans.json
  src/components/pages/pricing/plans/data/plans.json
Due: none

Update page.jsx
  src/app/pricing/page.jsx
Due: prettier --write, eslint --cache --fix

feat: added api for hubspot post
  .eslintrc.js
  src/app/api/hubspot/route.js
  src/components/pages/contact-sales/hero/contact-form/contact-form.jsx
  src/utils/forms.js
Due: prettier --write, eslint --cache --fix

docs: minor updates
  content/docs/neon-auth/quick-start/nextjs.md
  content/docs/neon-auth/sdk/nextjs/overview.md
  content/guides/neon-auth-nextjs.md
Due: node src/scripts/update-frontmatter.js

fix: tech cards dark theme images
  src/components/pages/doc/tech-cards/tech-cards.jsx
Due: prettier --write, eslint --cache --fix

docs: steps adjustment
  content/guides/neon-auth-nextjs.md
Due: node src/scripts/update-frontmatter.js

docs: address PR review feedback
  content/changelog/2025-08-15.md
Due: node src/scripts/update-frontmatter.js

docs: revisions
  content/docs/introduction/plans.md
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js

docs: missing image
  content/docs/manage/backups.md
  public/docs/manage/history_retention.png
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/manage/backups.md
Due: node src/scripts/update-frontmatter.js

docs: update email configuration
  content/docs/neon-auth/email-configuration.md
  public/docs/neon-auth/custom-smtp-configuration.png
  public/docs/neon-auth/send-test-email.png
Due: node src/scripts/update-frontmatter.js

docs: minor updates
  content/guides/neon-auth-nextjs.md
Due: node src/scripts/update-frontmatter.js

feat: added usage email illustrations
  public/emails/100.png
  public/emails/80.png
Due: none

feat: added usage email illustrations (#3795)
  public/emails/100.png
  public/emails/80.png
Due: none

feat: add feature flag and cypress test
  cypress/e2e/startups-contact-form.cy.js
  src/components/pages/startups/hero/contact-form/contact-form.jsx
Due: prettier --write, eslint --cache --fix

docs: revisions
  content/docs/guides/protected-branches.md
  content/docs/introduction/monitoring-page.md
  content/docs/introduction/plans.md
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js

Update postgresql-where.md
  content/postgresql/postgresql-tutorial/postgresql-where.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

feat(regions): update nat gateway ips
  content/docs/introduction/regions.md
Due: node src/scripts/update-frontmatter.js

docs: revisions
  content/docs/introduction/about-billing.md
  content/docs/introduction/monitor-usage.md
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

Update content/guides/neon-auth-nextjs.md
  content/guides/neon-auth-nextjs.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/reference/glossary.md
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/introduction/plans.md
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

fix: update naming and edits
  src/components/pages/pricing/hero/data/plans.json
  src/components/pages/pricing/hero/features/features.jsx
  src/components/pages/pricing/plans/data/plans.json
Due: prettier --write, eslint --cache --fix

fix: header
  src/components/pages/pricing/hero/data/plans.json
Due: none

fix: add bg black
  src/components/pages/pricing/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
