Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

docs: refine changelog wording
  content/changelog/2026-07-24.md
Due: node src/scripts/update-frontmatter.js

docs: drop "your" from inspect db heading
  content/changelog/2026-07-24.md
Due: node src/scripts/update-frontmatter.js

docs: minor edits
  content/guides/llm-proxy-neon-functions.md
Due: node src/scripts/update-frontmatter.js

docs: remove websocket part in guide
  content/guides/discord-bot-on-neon-functions.md
Due: node src/scripts/update-frontmatter.js

Create clip-image-search.md
  content/guides/clip-image-search.md
Due: node src/scripts/update-frontmatter.js

Add files via upload
  public/docs/guides/clip-search-captions.png
  public/docs/guides/clip-search-keyword.png
  public/docs/guides/clip-search-near-duplicates.png
  public/docs/guides/clip-search-semantic.png
Due: none

Potential fix for pull request finding
  content/postgresql/string-functions/rtrim.md
Due: node src/scripts/update-frontmatter.js

chore: sync hosted agent skills with upstream main
  public/.well-known/agent-skills/index.json
  public/.well-known/skills/index.json
  public/docs/.well-known/agent-skills/index.json
  public/docs/.well-known/skills/index.json
  public/docs/ai/skills/claimable-postgres/SKILL.md
  public/docs/ai/skills/neon-ai-gateway/SKILL.md
  public/docs/ai/skills/neon-functions/SKILL.md
  public/docs/ai/skills/neon-functions/references/mastra-studio.md
  public/docs/ai/skills/neon-functions/references/sentry.md
  public/docs/ai/skills/neon-object-storage/SKILL.md
  public/docs/ai/skills/neon-postgres-branches/SKILL.md
  public/docs/ai/skills/neon-postgres-egress-optimizer/SKILL.md
  public/docs/ai/skills/neon-postgres/SKILL.md
  public/docs/ai/skills/neon-postgres/references/neon-sdk.md
  public/docs/ai/skills/neon/SKILL.md
  scripts/test-markdown-urls.js
  src/app/.well-known/ai-catalog.json/catalog.json
  src/middleware.test.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: sync hosted agent skills with upstream main (#5360)
  public/.well-known/agent-skills/index.json
  public/.well-known/skills/index.json
  public/docs/.well-known/agent-skills/index.json
  public/docs/.well-known/skills/index.json
  public/docs/ai/skills/claimable-postgres/SKILL.md
  public/docs/ai/skills/neon-ai-gateway/SKILL.md
  public/docs/ai/skills/neon-functions/SKILL.md
  public/docs/ai/skills/neon-functions/references/mastra-studio.md
  public/docs/ai/skills/neon-functions/references/sentry.md
  public/docs/ai/skills/neon-object-storage/SKILL.md
  public/docs/ai/skills/neon-postgres-branches/SKILL.md
  public/docs/ai/skills/neon-postgres-egress-optimizer/SKILL.md
  public/docs/ai/skills/neon-postgres/SKILL.md
  public/docs/ai/skills/neon-postgres/references/neon-sdk.md
  public/docs/ai/skills/neon/SKILL.md
  scripts/test-markdown-urls.js
  src/app/.well-known/ai-catalog.json/catalog.json
  src/middleware.test.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: Add DIRECT_URL in .env example and update drizzle kit configuration
  content/docs/guides/drizzle.md
Due: node src/scripts/update-frontmatter.js

docs: expand in depth code explanations
  content/guides/discord-bot-on-neon-functions.md
Due: node src/scripts/update-frontmatter.js

docs: refactor guide
  content/guides/llm-proxy-neon-functions.md
Due: node src/scripts/update-frontmatter.js

docs: add aigateway flag
  content/guides/discord-bot-on-neon-functions.md
Due: node src/scripts/update-frontmatter.js

docs: minor edit
  content/guides/llm-proxy-neon-functions.md
Due: node src/scripts/update-frontmatter.js

Update clip-image-search.md
  content/guides/clip-image-search.md
Due: node src/scripts/update-frontmatter.js

test: add Playwright critical flow monitoring
  .github/workflows/critical-user-flows.yml
  .gitignore
  package-lock.json
  package.json
  playwright.config.js
  src/components/pages/contact-sales/hero/contact-form/contact-form.jsx
  src/components/pages/home/hero-mts/hero-mts.jsx
  src/components/pages/home/hero/hero.jsx
  src/components/pages/pricing/hero/plans/plans.jsx
  src/components/pages/startups/hero/contact-form/contact-form.jsx
  src/components/shared/header/burger/burger.jsx
  src/components/shared/header/mobile-menu/mobile-menu.jsx
  src/components/shared/header/sidebar/sidebar.jsx
  src/components/shared/inkeep-trigger/inkeep-search/inkeep-search.jsx
  src/components/shared/program-form/program-form.jsx
  src/utils/blog-content-source.mjs
  tests/critical-flows/README.md
  tests/critical-flows/acquisition.spec.js
  tests/critical-flows/contracts.js
  tests/critical-flows/docs-onboarding.spec.js
  tests/critical-flows/helpers.js
  tests/critical-flows/lead-forms.spec.js
  tests/critical-flows/subscriptions.spec.js
  vitest.config.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs(cli): point binary downloads and the docs refresh at the neon release
  content/docs/cli/install.md
  scripts/docs-checks/neonctl/refresh.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs(cli): point binary downloads and the docs refresh at the neon release (#5364)
  content/docs/cli/install.md
  scripts/docs-checks/neonctl/refresh.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

fix(components): add missing observability category to MCP config generator
  .github/workflows/mcp-categories-sync.yml
  package.json
  scripts/check-mcp-categories-sync.mjs
  scripts/check-mcp-categories-sync.test.js
  src/components/pages/doc/mcp-setup-configurator/mcp-setup-configurator.jsx
Due: prettier --write, eslint --cache --fix

docs: rename Spending limit to Spending Notifications
  content/docs/introduction/roadmap.md
  content/docs/introduction/spending-limit.md
  content/docs/introduction/spending-notifications.md
  content/docs/navigation.yaml
  content/faqs/affordable-managed-postgres-options-startups.md
  content/faqs/cheapest-ways-run-postgres-database-low-traffic.md
  content/faqs/managed-postgres-databases-free-tier.md
  content/faqs/managed-postgres-services-auto-resize-compute.md
  content/faqs/postgres-providers-multiple-apps-separate-databases-under-10.md
  content/faqs/postgres-services-capping-monthly-spend-autoscaling.md
  content/faqs/postgres-services-free-to-production.md
Due: node src/scripts/update-frontmatter.js

docs(ai-gateway): correct TPM error text and gateway env var count (#5323)
  content/docs/ai-gateway/authentication.md
  content/docs/ai-gateway/models.md
  content/docs/ai-gateway/troubleshooting.md
Due: node src/scripts/update-frontmatter.js

docs: move API section to bottom of spending notifications page
  content/docs/introduction/spending-notifications.md
Due: node src/scripts/update-frontmatter.js

fix(components): add missing observability category to MCP config generator (#5366)
  .github/workflows/mcp-categories-sync.yml
  package.json
  scripts/check-mcp-categories-sync.mjs
  scripts/check-mcp-categories-sync.test.js
  src/components/pages/doc/mcp-setup-configurator/mcp-setup-configurator.jsx
Due: prettier --write, eslint --cache --fix

docs: lead CLI install page with npm i -g, collapse other options
  content/docs/cli/install.md
Due: node src/scripts/update-frontmatter.js

docs: drop Homebrew from the CLI CI/CD install tabs
  content/docs/cli/install.md
Due: node src/scripts/update-frontmatter.js

docs: remove orphaned legacy auth SDK shared content
  content/docs/shared-content/index.js
  content/docs/shared-content/neon-auth-sdk-shared/get-started.md
  content/docs/shared-content/neon-auth-sdk-shared/hooks/use-stack-app.md
  content/docs/shared-content/neon-auth-sdk-shared/hooks/use-user.md
  content/docs/shared-content/neon-auth-sdk-shared/objects/stack-app.md
  content/docs/shared-content/neon-auth-sdk-shared/types/api-key.md
  content/docs/shared-content/neon-auth-sdk-shared/types/contact-channel.md
  content/docs/shared-content/neon-auth-sdk-shared/types/project.md
  content/docs/shared-content/neon-auth-sdk-shared/types/team-permission.md
  content/docs/shared-content/neon-auth-sdk-shared/types/team-profile.md
  content/docs/shared-content/neon-auth-sdk-shared/types/team-user.md
  content/docs/shared-content/neon-auth-sdk-shared/types/team.md
  content/docs/shared-content/neon-auth-sdk-shared/types/user.md
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: keep shared auth components still referenced
  content/docs/shared-content/index.js
  content/docs/shared-content/neon-auth-sdk-shared/get-started.md
  content/docs/shared-content/neon-auth-sdk-shared/hooks/use-user.md
  content/docs/shared-content/neon-auth-sdk-shared/types/project.md
  content/docs/shared-content/neon-auth-sdk-shared/types/user.md
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs(cli): document [anon] branch status label
  content/docs/cli/branches.md
Due: node src/scripts/update-frontmatter.js

docs(auth): document organization invitation webhook events
  content/docs/auth/guides/webhooks.md
Due: node src/scripts/update-frontmatter.js

docs(auth): clarify redundant user/event_data fields on invitation webhooks
  content/docs/auth/guides/webhooks.md
Due: node src/scripts/update-frontmatter.js

Feature neon-inspect-db in place of neon-sdk
  content/blog/posts/neon-inspect-db.md
  content/blog/posts/neon-sdk.md
Due: node src/scripts/update-frontmatter.js

fix(utils): prevent EMFILE errors when reading local blog posts
  src/utils/api-blog.js
  src/utils/blog-content-source.mjs
Due: prettier --write, eslint --cache --fix

fix(utils): prevent EMFILE errors on blog listing/category pages (#5374)
  src/utils/api-blog.js
  src/utils/blog-content-source.mjs
Due: prettier --write, eslint --cache --fix

docs: lead CLI install page with npm, collapse the other options (#5370)
  content/docs/cli/install.md
Due: node src/scripts/update-frontmatter.js

docs: lower md redirect cache
  src/middleware.test.js
  src/proxy.js
Due: prettier --write, eslint --cache --fix

docs: lower md redirect cache (#5377)
  src/middleware.test.js
  src/proxy.js
Due: prettier --write, eslint --cache --fix
