Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

chore: replace testimonial section above
  src/app/ai/page.jsx
Due: prettier --write, eslint --cache --fix

feat: add report adaptive
  src/app/report/page.jsx
  src/components/pages/report/hero/hero.jsx
  src/components/pages/report/key-insights/key-insights.jsx
  src/components/pages/report/recovery-solution/recovery-solution.jsx
  src/components/pages/report/recovery-stories/recovery-stories.jsx
  src/components/pages/report/recovery-time/recovery-time.jsx
Due: prettier --write, eslint --cache --fix

docs: add pg_documentdb
  src/components/shared/request-form/data.js
Due: prettier --write, eslint --cache --fix

Update azure-service-connector.md
  content/guides/azure-service-connector.md
Due: node src/scripts/update-frontmatter.js

feat: upd content and add decorations
  public/report/Database_Recovery_Developer_Survey_2025_Neon.numbers
  src/components/pages/report/hero/hero.jsx
  src/components/pages/report/key-insights/key-insights.jsx
  src/components/pages/report/recovery-solution/recovery-solution.jsx
  src/components/pages/report/recovery-stories/recovery-stories.jsx
  src/components/pages/report/recovery-time/recovery-time.jsx
  src/icons/report/arrow-down.inline.svg
  src/icons/report/quote.svg
Due: prettier --write, eslint --cache --fix

docs: requests from slack review
  content/docs/manage/slack-app.md
Due: node src/scripts/update-frontmatter.js

fix: add crossOrigin anonymous to blog post video to fix cors issue
  src/utils/get-react-content-with-lazy-blocks.jsx
Due: prettier --write, eslint --cache --fix

Update backups-aws-s3-backup-part-2.md
  content/docs/manage/backups-aws-s3-backup-part-2.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/guides/pgcopydb.md
Due: node src/scripts/update-frontmatter.js

Content changes from 2nd round slack review (#3289)
  content/docs/manage/slack-app.md
Due: node src/scripts/update-frontmatter.js

Update plans.json
  src/components/pages/pricing/plans/data/plans.json
Due: none

fix: fixes and final touch
  public/images/social-previews/report.jpg
  public/report/Database_Recovery_Developer_Survey_2025_Neon.csv
  public/report/Database_Recovery_Developer_Survey_2025_Neon.numbers
  src/app/restores-survey/page.jsx
  src/app/security/page.jsx
  src/components/pages/report/hero/hero.jsx
  src/components/pages/report/key-insights/key-insights.jsx
  src/components/pages/report/recovery-solution/recovery-solution.jsx
  src/components/pages/report/recovery-stories/recovery-stories.jsx
  src/components/pages/report/recovery-time/recovery-time.jsx
  src/components/pages/security/hero/hero.jsx
  src/components/pages/security/hero/index.js
  src/constants/links.js
  src/constants/seo-data.js
Due: prettier --write, eslint --cache --fix

fix: video subtitles (#3290)
  src/utils/get-react-content-with-lazy-blocks.jsx
Due: prettier --write, eslint --cache --fix

Update backups-aws-s3-backup-part-2.md (#3291)
  content/docs/manage/backups-aws-s3-backup-part-2.md
Due: node src/scripts/update-frontmatter.js

docs: remove lr content and minor edits
  content/docs/guides/pgcopydb.md
Due: node src/scripts/update-frontmatter.js

docs: add authors picture
  content/guides/authors/data.json
  content/guides/azure-ai-agent-service.md
  public/guides/authors/boburmirzo.jpg
Due: node src/scripts/update-frontmatter.js

fix: small UI fixes after review
  src/components/pages/report/key-insights/key-insights.jsx
  src/components/pages/report/recovery-stories/recovery-stories.jsx
Due: prettier --write, eslint --cache --fix

docs: add neon remote mcp server
  content/docs/ai/neon-mcp-server.md
Due: node src/scripts/update-frontmatter.js

docs: add neon remote mcp server
  content/docs/ai/connect-mcp-clients-to-neon.md
Due: node src/scripts/update-frontmatter.js

fix: run format-markdown action only on main branch
  .github/workflows/format-markdown.yml
Due: none

docs: minor edits
  content/docs/ai/connect-mcp-clients-to-neon.md
Due: node src/scripts/update-frontmatter.js

docs: remove wal logging volume
  content/docs/guides/logical-replication-concepts.md
  llms/guides-logical-replication-concepts.txt
  public/llms/guides-logical-replication-concepts.txt
Due: node src/scripts/update-frontmatter.js

chore: update h1 text
  src/components/pages/ai/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

Update neon-private-networking.md
  content/docs/guides/neon-private-networking.md
Due: node src/scripts/update-frontmatter.js

docs: add remote mcp server in cursor
  content/docs/ai/neon-mcp-server.md
  content/guides/cursor-mcp-neon.md
  public/docs/guides/cursor-with-neon-mcp-tools.png
Due: node src/scripts/update-frontmatter.js

docs: reorg azure resources
  content/docs/manage/azure.md
Due: node src/scripts/update-frontmatter.js

docs: fix errors
  content/guides/cursor-mcp-neon.md
  content/guides/migrate-faunadb-to-neon.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/guides/migrate-faunadb-to-neon.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/guides/azure-service-connector.md
  content/guides/migrate-faunadb-to-neon.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/guides/azure-service-connector.md
Due: node src/scripts/update-frontmatter.js

docs: fix errors
  content/docs/extensions/uuid-ossp.md
  content/guides/azure-service-connector.md
  content/guides/cursor-mcp-neon.md
  content/guides/migrate-faunadb-to-neon.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/ai/ai-agents-tools.md
  content/docs/ai/ai-rules-neon-auth.md
  content/docs/ai/ai-rules-neon-drizzle.md
  content/docs/ai/ai-rules-neon-serverless.md
  content/docs/ai/connect-mcp-clients-to-neon.md
  content/docs/extensions/pg-extensions.md
  content/docs/extensions/pg_mooncake.md
  content/docs/extensions/pgcrypto.md
  content/docs/extensions/unaccent.md
  content/docs/extensions/uuid-ossp.md
  content/docs/get-started-with-neon/query-with-neon-sql-editor.md
  content/docs/guides/autoscaling-guide.md
  content/docs/guides/neon-private-networking.md
  content/docs/guides/time-travel-assist.md
  content/docs/introduction/billing-azure-marketplace.md
  content/docs/introduction/branching.md
  content/docs/introduction/usage-metrics.md
  content/docs/manage/azure.md
  content/docs/manage/organizations.md
  content/docs/manage/slack-app.md
  content/docs/reference/compatibility.md
  content/docs/security/hipaa.md
  content/docs/serverless/serverless-driver.md
  content/docs/shared-content/ai-rule-usage.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/shared-content/ai-rule-usage.md
Due: node src/scripts/update-frontmatter.js

docs: add remote mcp server in cursor
  content/guides/cursor-mcp-neon.md
  public/docs/guides/cursor-local-mcp-server-json.png
  public/docs/guides/cursor-remote-mcp-server-json.png
Due: node src/scripts/update-frontmatter.js

docs: add remote mcp server in windsurf
  content/guides/cursor-mcp-neon.md
  content/guides/windsurf-mcp-neon.md
  public/docs/guides/windsurf-cascade-add-mcp-tool.gif
  public/docs/guides/windsurf-configure-mcp.png
  public/docs/guides/windsurf-mcp-server-available.png
Due: node src/scripts/update-frontmatter.js

docs: add remote mcp server in claude
  content/guides/cursor-mcp-neon.md
  content/guides/neon-mcp-server.md
  public/guides/images/claude_mcp/claude_available_tools.png
  public/guides/images/claude_mcp/claude_developer_config.png
  public/guides/images/claude_mcp/claude_list_available_tools.png
  public/guides/images/claude_mcp/claude_settings.png
Due: node src/scripts/update-frontmatter.js
