Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: edits
  content/docs/guides/vercel-overview.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/guides/vercel-overview.md
Due: node src/scripts/update-frontmatter.js

docs: async fastapi guide
  content/guides/authors/data.json
  content/guides/fastapi-async.md
  public/guides/authors/sam-harri.jpg
Due: node src/scripts/update-frontmatter.js

docs: async-fast small typo fix
  content/guides/fastapi-async.md
Due: node src/scripts/update-frontmatter.js

feat: implement logo context menu
  src/components/shared/header/header.jsx
  src/components/shared/header/images/download.inline.svg
  src/components/shared/header/images/file.inline.svg
  src/components/shared/header/images/neon.inline.svg
  src/components/shared/header/logo-link/index.js
  src/components/shared/header/logo-link/logo-link.jsx
  src/hooks/use-context-menu.js
Due: prettier --write, eslint --cache --fix

docs: add file
  content/docs/guides/vercel-postgres-transition-guide.md
Due: node src/scripts/update-frontmatter.js

docs: misc doc updates
  content/docs/get-started-with-neon/production-readiness.md
  content/docs/get-started-with-neon/why-neon.md
  content/docs/introduction/roadmap.md
Due: node src/scripts/update-frontmatter.js

feat: implement context menu in docs
  src/components/pages/doc/sidebar/sidebar.jsx
  src/components/shared/header/logo-link/logo-link.jsx
  src/components/shared/logo/images/download.inline.svg
  src/components/shared/logo/images/file.inline.svg
  src/components/shared/logo/images/neon.inline.svg
  src/components/shared/logo/logo.jsx
Due: prettier --write, eslint --cache --fix

chore: update frontmatter date (auto-update)
  content/docs/get-started-with-neon/production-readiness.md
  content/docs/get-started-with-neon/why-neon.md
  content/docs/introduction/roadmap.md
Due: node src/scripts/update-frontmatter.js

fix: logo links
  src/components/shared/header/header.jsx
  src/components/shared/header/logo-link/index.js
  src/components/shared/header/logo-link/logo-link.jsx
  src/components/shared/logo/logo.jsx
Due: prettier --write, eslint --cache --fix

docs: adding stub pages for authorize
  content/docs/guides/neon-authorize-quickstart.md
  content/docs/guides/neon-authorize.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

docs: update manage billing docs
  content/docs/introduction/manage-billing.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/introduction/manage-billing.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/introduction/manage-billing.md
Due: node src/scripts/update-frontmatter.js

docs: revisions
  content/docs/guides/vercel-postgres-transition-guide.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/reference/terraform.md
Due: node src/scripts/update-frontmatter.js

fix: add toast, address view comments
  package-lock.json
  package.json
  src/components/pages/doc/sidebar/sidebar.jsx
  src/components/shared/logo/images/check.inline.svg
  src/components/shared/logo/logo.jsx
  src/hooks/use-context-menu.js
Due: prettier --write, eslint --cache --fix

fix: unable context menu in footer
  src/components/pages/doc/sidebar/sidebar.jsx
  src/components/shared/footer/footer.jsx
  src/components/shared/header/header.jsx
  src/components/shared/logo/logo.jsx
Due: prettier --write, eslint --cache --fix

fix: docs sidebar scrolling issue
  src/components/pages/doc/menu/menu.jsx
  src/components/pages/doc/sidebar/sidebar.jsx
Due: prettier --write, eslint --cache --fix

chore: update frontmatter date (auto-update)
  content/docs/introduction/manage-billing.md
  content/docs/reference/terraform.md
Due: node src/scripts/update-frontmatter.js

fix: docs sidebar scrolling issue (#2294)
  src/components/pages/doc/menu/menu.jsx
  src/components/pages/doc/sidebar/sidebar.jsx
Due: prettier --write, eslint --cache --fix

chore: update pricing plans tooltips
  src/components/pages/pricing/hero/hero.jsx
  src/components/pages/pricing/plans/data/plans.json
Due: prettier --write, eslint --cache --fix

Deploy: Minor bug fixes (#2286)
  src/app/tickets/[handle]/edit/page.jsx
  src/app/tickets/[handle]/page.jsx
  src/pages/api/og.jsx
Due: prettier --write, eslint --cache --fix

chore: update pricing plans tooltips (#2295)
  src/components/pages/pricing/hero/hero.jsx
  src/components/pages/pricing/plans/data/plans.json
Due: prettier --write, eslint --cache --fix

docs: add platform page
  content/docs/README.md
  content/docs/manage/platform.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/manage/platform.md
Due: node src/scripts/update-frontmatter.js

docs: add card for connections topic
  content/docs/connect/connect-from-any-app.md
  public/docs/connect/code_connection_examples.png
  public/docs/connect/connection_details.png
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/connect/connect-from-any-app.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/connect/connect-from-any-app.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/README.md
  content/docs/manage/platform.md
Due: node src/scripts/update-frontmatter.js

added workflow Report Workflow Stats
  .github/workflows/report-workflow-stats.yml
Due: none

feat: develop AI agents page
  content/use-cases/ai-agents.md
  src/components/pages/use-case/subscription-form/images/blue-glow.svg
  src/components/pages/use-case/subscription-form/images/green-glow.svg
  src/components/pages/use-case/subscription-form/images/send.inline.svg
  src/components/pages/use-case/subscription-form/index.js
  src/components/pages/use-case/subscription-form/subscription-form.jsx
  src/components/shared/content/content.jsx
  src/components/shared/cta-block/cta-block.jsx
  src/constants/forms.js
  src/constants/menus.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

feat: implement logo context menu (#2291)
  package-lock.json
  package.json
  src/components/pages/doc/sidebar/sidebar.jsx
  src/components/shared/footer/footer.jsx
  src/components/shared/header/header.jsx
  src/components/shared/logo/images/check.inline.svg
  src/components/shared/logo/images/download.inline.svg
  src/components/shared/logo/images/file.inline.svg
  src/components/shared/logo/images/neon.inline.svg
  src/components/shared/logo/logo.jsx
  src/hooks/use-context-menu.js
Due: prettier --write, eslint --cache --fix

docs: revision
  content/changelog/2024-10-11.md
Due: node src/scripts/update-frontmatter.js

feat: add header menu icon
  src/constants/menus.js
  src/icons/header/ai-agents-dark.svg
  src/icons/header/ai-agents.svg
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
