Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

Switch PostgreSQL Joins tutorial to teams/players (#4536)
  content/postgresql/postgresql-tutorial/postgresql-joins.md
Due: node src/scripts/update-frontmatter.js

fix: move tooltip
  src/components/pages/pricing/features/features.jsx
  src/components/pages/pricing/hero/plans/plans.jsx
  src/components/pages/pricing/hero/plans/resource-size-select/resource-size-select.jsx
Due: prettier --write, eslint --cache --fix

chore: format content markdown files with Prettier
  content/postgresql/postgresql-tutorial/postgresql-joins.md
Due: node src/scripts/update-frontmatter.js

docs: host neon-postgres skill as static markdown
  public/docs/ai/skills/neon-postgres/SKILL.md
  public/docs/ai/skills/neon-postgres/references/branching.md
  public/docs/ai/skills/neon-postgres/references/connection-methods.md
  public/docs/ai/skills/neon-postgres/references/devtools.md
  public/docs/ai/skills/neon-postgres/references/getting-started.md
  public/docs/ai/skills/neon-postgres/references/neon-auth.md
  public/docs/ai/skills/neon-postgres/references/neon-cli.md
  public/docs/ai/skills/neon-postgres/references/neon-drizzle.md
  public/docs/ai/skills/neon-postgres/references/neon-js.md
  public/docs/ai/skills/neon-postgres/references/neon-python-sdk.md
  public/docs/ai/skills/neon-postgres/references/neon-rest-api.md
  public/docs/ai/skills/neon-postgres/references/neon-serverless.md
  public/docs/ai/skills/neon-postgres/references/neon-typescript-sdk.md
  public/docs/ai/skills/neon-postgres/references/what-is-neon.md
Due: node src/scripts/update-frontmatter.js

docs: host neon-postgres skill as static markdown (#4547)
  public/docs/ai/skills/neon-postgres/SKILL.md
  public/docs/ai/skills/neon-postgres/references/branching.md
  public/docs/ai/skills/neon-postgres/references/connection-methods.md
  public/docs/ai/skills/neon-postgres/references/devtools.md
  public/docs/ai/skills/neon-postgres/references/getting-started.md
  public/docs/ai/skills/neon-postgres/references/neon-auth.md
  public/docs/ai/skills/neon-postgres/references/neon-cli.md
  public/docs/ai/skills/neon-postgres/references/neon-drizzle.md
  public/docs/ai/skills/neon-postgres/references/neon-js.md
  public/docs/ai/skills/neon-postgres/references/neon-python-sdk.md
  public/docs/ai/skills/neon-postgres/references/neon-rest-api.md
  public/docs/ai/skills/neon-postgres/references/neon-serverless.md
  public/docs/ai/skills/neon-postgres/references/neon-typescript-sdk.md
  public/docs/ai/skills/neon-postgres/references/what-is-neon.md
Due: node src/scripts/update-frontmatter.js

docs: testing llms.txt improvements
  src/scripts/generate-llms-index.js
  src/scripts/llms-index-config.js
Due: prettier --write, eslint --cache --fix

docs: more llms.txt fun, more llms.txt files
  .gitignore
  next.config.js
  src/scripts/generate-llms-index.js
  src/scripts/llms-index-config.js
Due: prettier --write, eslint --cache --fix

docs: config-driven llms.txt with tiered sub-indexes (#4538)
  .gitignore
  next.config.js
  src/scripts/generate-llms-index.js
  src/scripts/llms-index-config.js
Due: prettier --write, eslint --cache --fix

docs: update data api advisors naming and update screenshots
  content/docs/data-api/database-advisor.md
  content/docs/navigation.yaml
  public/docs/data-api/data-api-database-advisor-monitor.png
  public/docs/data-api/data-api-database-advisor-resolve.png
Due: node src/scripts/update-frontmatter.js

docs: add Data API Advisors documentation (#4496)
  content/docs/data-api/database-advisor.md
  content/docs/navigation.yaml
  public/docs/data-api/data-api-database-advisor-monitor.png
  public/docs/data-api/data-api-database-advisor-resolve.png
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/data-api/database-advisor.md
Due: node src/scripts/update-frontmatter.js

docs: add clarifications
  content/docs/auth/guides/plugins/organization.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/auth/guides/plugins/organization.md
Due: node src/scripts/update-frontmatter.js

docs: additions
  content/changelog/2026-02-27.md
Due: node src/scripts/update-frontmatter.js

docs: clarification
  content/docs/auth/guides/plugins/organization.md
Due: node src/scripts/update-frontmatter.js

docs: fix 167 eslint warnings in src/scripts/
  .eslintrc.js
  package-lock.json
  package.json
  src/scripts/process-md-for-llms.js
Due: prettier --write, eslint --cache --fix

docs: use absolute urls for skill reference links
  public/docs/ai/skills/neon-postgres/SKILL.md
  public/docs/ai/skills/neon-postgres/references/branching.md
Due: node src/scripts/update-frontmatter.js

docs: use absolute urls for skill reference links
  public/docs/ai/skills/neon-postgres/references/connection-methods.md
  public/docs/ai/skills/neon-postgres/references/getting-started.md
  public/docs/ai/skills/neon-postgres/references/neon-drizzle.md
  public/docs/ai/skills/neon-postgres/references/neon-js.md
  public/docs/ai/skills/neon-postgres/references/neon-python-sdk.md
  public/docs/ai/skills/neon-postgres/references/neon-rest-api.md
  public/docs/ai/skills/neon-postgres/references/neon-serverless.md
  public/docs/ai/skills/neon-postgres/references/neon-typescript-sdk.md
Due: node src/scripts/update-frontmatter.js

docs: fix 167 eslint warnings in src/scripts/ (#4548)
  .eslintrc.js
  package-lock.json
  package.json
  src/scripts/process-md-for-llms.js
Due: prettier --write, eslint --cache --fix

docs: add request deep link
  content/docs/introduction/cost-optimization.md
Due: node src/scripts/update-frontmatter.js

docs: use absolute urls for skill reference links (#4549)
  public/docs/ai/skills/neon-postgres/SKILL.md
  public/docs/ai/skills/neon-postgres/references/branching.md
  public/docs/ai/skills/neon-postgres/references/connection-methods.md
  public/docs/ai/skills/neon-postgres/references/getting-started.md
  public/docs/ai/skills/neon-postgres/references/neon-drizzle.md
  public/docs/ai/skills/neon-postgres/references/neon-js.md
  public/docs/ai/skills/neon-postgres/references/neon-python-sdk.md
  public/docs/ai/skills/neon-postgres/references/neon-rest-api.md
  public/docs/ai/skills/neon-postgres/references/neon-serverless.md
  public/docs/ai/skills/neon-postgres/references/neon-typescript-sdk.md
Due: node src/scripts/update-frontmatter.js

docs: add pgfence migration safety guide
  content/docs/guides/integrations.md
  content/docs/guides/pgfence.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

fix: pin pgfence version, remove hidden unicode characters
  content/docs/guides/pgfence.md
Due: node src/scripts/update-frontmatter.js

docs: add neon api docs for data api management
  content/docs/data-api/get-started.md
  content/docs/data-api/manage.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/data-api/manage.md
Due: node src/scripts/update-frontmatter.js

docs: add neon auth api management guide
  content/docs/auth/guides/manage-auth-api.md
  content/docs/auth/overview.md
  content/docs/navigation.yaml
  content/docs/shared-content/neon-auth-sdk-shared/get-started.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/auth/guides/manage-auth-api.md
Due: node src/scripts/update-frontmatter.js

chore: remove letter spacing for lastUpdatedOn
  src/components/shared/doc-footer/last-updated-date/last-updated-date.jsx
Due: prettier --write, eslint --cache --fix

fix: address review comments
  src/components/pages/case-studies/cards/cards.jsx
  src/components/pages/case-studies/hero/hero.jsx
  src/components/pages/case-studies/testimonials/testimonials.jsx
Due: prettier --write, eslint --cache --fix

chore: minor fix
  src/components/pages/case-studies/cards/cards.jsx
Due: prettier --write, eslint --cache --fix

docs: add google jules and neon mcp guide
  content/docs/guides/branching-circleci.md
  content/guides/google-jules-neon-mcp.md
  public/docs/guides/jules-execution-logs.png
  public/docs/guides/jules-feature-prompt.png
  public/docs/guides/jules-mcp-integrations.png
  public/docs/guides/jules-opened-pr.png
  public/docs/guides/jules-vercel-preview.png
Due: node src/scripts/update-frontmatter.js

docs: add unique titles and subtitles for CLI docs
  content/docs/reference/cli-auth.md
  content/docs/reference/cli-branches.md
  content/docs/reference/cli-completion.md
  content/docs/reference/cli-connection-string.md
  content/docs/reference/cli-databases.md
  content/docs/reference/cli-init.md
  content/docs/reference/cli-install.md
  content/docs/reference/cli-ip-allow.md
  content/docs/reference/cli-me.md
  content/docs/reference/cli-operations.md
  content/docs/reference/cli-orgs.md
  content/docs/reference/cli-projects.md
  content/docs/reference/cli-quickstart.md
  content/docs/reference/cli-roles.md
  content/docs/reference/cli-set-context.md
  content/docs/reference/cli-vpc.md
  content/docs/reference/neon-cli.md
Due: node src/scripts/update-frontmatter.js

docs: add unique titles and subtitles for CLI docs (#4557)
  content/docs/reference/cli-auth.md
  content/docs/reference/cli-branches.md
  content/docs/reference/cli-completion.md
  content/docs/reference/cli-connection-string.md
  content/docs/reference/cli-databases.md
  content/docs/reference/cli-init.md
  content/docs/reference/cli-install.md
  content/docs/reference/cli-ip-allow.md
  content/docs/reference/cli-me.md
  content/docs/reference/cli-operations.md
  content/docs/reference/cli-orgs.md
  content/docs/reference/cli-projects.md
  content/docs/reference/cli-quickstart.md
  content/docs/reference/cli-roles.md
  content/docs/reference/cli-set-context.md
  content/docs/reference/cli-vpc.md
  content/docs/reference/neon-cli.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/reference/cli-auth.md
  content/docs/reference/cli-branches.md
  content/docs/reference/cli-completion.md
  content/docs/reference/cli-connection-string.md
  content/docs/reference/cli-databases.md
  content/docs/reference/cli-init.md
  content/docs/reference/cli-install.md
  content/docs/reference/cli-ip-allow.md
  content/docs/reference/cli-me.md
  content/docs/reference/cli-operations.md
  content/docs/reference/cli-orgs.md
  content/docs/reference/cli-projects.md
  content/docs/reference/cli-quickstart.md
  content/docs/reference/cli-roles.md
  content/docs/reference/cli-set-context.md
  content/docs/reference/cli-vpc.md
  content/docs/reference/neon-cli.md
Due: node src/scripts/update-frontmatter.js

feat: upd blog adaptive styles
  .cursor/blog-adaptive-context.md
  .gitignore
  next.config.js
  package-lock.json
  src/app/blog/(index)/category/[slug]/page.jsx
  src/app/blog/(index)/layout.jsx
  src/app/blog/(index)/page.jsx
  src/components/pages/blog/blog-header/blog-header.jsx
  src/components/pages/blog/blog-nav-link/blog-nav-link.jsx
  src/components/pages/blog/blog-post-card/blog-post-card.jsx
  src/components/pages/blog/sidebar/sidebar.jsx
  src/styles/search.css
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

fix: remove unused imports and variables for ESLint compliance
  src/app/blog/(index)/layout.jsx
  src/app/blog/(index)/page.jsx
Due: prettier --write, eslint --cache --fix

chore: update frontmatter date (auto-update)
  content/docs/guides/branching-circleci.md
Due: node src/scripts/update-frontmatter.js

docs: revisions
  config/monitored-repos.json
  content/changelog/2026-02-27.md
  content/docs/ai/ai-database-versioning.md
  content/docs/auth/overview.md
  content/docs/extensions/pg-extensions.md
  content/docs/guides/ai-agent-integration.md
  content/docs/guides/backup-restore.md
  content/docs/introduction/plans.md
  content/docs/workflows/data-anonymization.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/extensions/pg-extensions.md
  content/docs/guides/ai-agent-integration.md
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

docs: add sdk section, and clarify pooled/direct values
  content/docs/reference/claimable-postgres.md
Due: node src/scripts/update-frontmatter.js

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
