Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

Update content/docs/ai/ai-database-versioning.md
  content/docs/ai/ai-database-versioning.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/connect/connection-pooling.md
Due: node src/scripts/update-frontmatter.js

docs: add beta tag and links
  content/docs/data-api/sql-to-rest.md
Due: node src/scripts/update-frontmatter.js

docs: increase free hours to 100
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

docs: update neon auth admin api
  content/docs/neon-auth/api.md
Due: node src/scripts/update-frontmatter.js

docs: add typescript sdk
  content/docs/ai/ai-rules-neon-typescript-sdk.md
  content/docs/ai/ai-rules.md
Due: node src/scripts/update-frontmatter.js

docs: changelog 2025-09-19
  content/changelog/2025-09-19.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/ai/ai-app-build.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/ai/ai-app-build.md
Due: node src/scripts/update-frontmatter.js

docs: database versioning content
  content/docs/ai/ai-agents-tools.md
  content/docs/ai/ai-database-versioning.md
  content/docs/guides/platform-integration-intro.md
  content/docs/reference/glossary.md
  public/docs/guides/active_branch_pattern.jpg
  public/docs/guides/polling_operations_flow.jpg
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/ai/ai-app-build.md
  content/docs/ai/ai-database-versioning.md
  content/docs/guides/platform-integration-intro.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/ai/ai-database-versioning.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/ai/ai-database-versioning.md
Due: node src/scripts/update-frontmatter.js

docs: adjust sidebar
  content/docs/navigation.yaml
Due: none

Update plans.json
  src/components/pages/pricing/hero/data/plans.json
Due: none

Update free CU-hours from 50 to 100
  src/components/pages/pricing/plans/data/plans.json
Due: none

chore: update frontmatter date (auto-update)
  content/docs/neon-auth/api.md
Due: node src/scripts/update-frontmatter.js

docs: minor changes
  content/docs/ai/ai-agents-tools.md
  content/docs/ai/ai-rules-neon-typescript-sdk.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

docs: fix note
  content/docs/ai/ai-database-versioning.md
Due: node src/scripts/update-frontmatter.js

docs: update title
  content/docs/ai/ai-database-versioning.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/ai/ai-database-versioning.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/ai/ai-agents-tools.md
  content/docs/ai/ai-database-versioning.md
  content/docs/guides/platform-integration-intro.md
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js

docs: update hipaa docs
  content/docs/security/hipaa.md
Due: node src/scripts/update-frontmatter.js

Update plans.json (#3945)
  src/components/pages/pricing/hero/data/plans.json
  src/components/pages/pricing/plans/data/plans.json
Due: none

docs: updates
  content/docs/security/hipaa.md
  public/docs/security/enable_hipaa.png
Due: node src/scripts/update-frontmatter.js

docs: add entries
  content/changelog/2025-09-19.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/changelog/2025-09-19.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/security/hipaa.md
Due: node src/scripts/update-frontmatter.js

docs: add link
  content/changelog/2025-09-19.md
Due: node src/scripts/update-frontmatter.js

chore: remove customer.io feature flag
  src/components/pages/startups/hero/contact-form/contact-form.jsx
Due: prettier --write, eslint --cache --fix

docs: update monitoring section
  content/docs/introduction/monitor-external-tools.md
  content/docs/introduction/monitor-pgadmin.md
  content/docs/introduction/monitor-pghero.md
  content/docs/introduction/monitoring.md
  content/docs/navigation.yaml
  next.config.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

Update content/docs/introduction/monitoring.md
  content/docs/introduction/monitoring.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/navigation.yaml
  content/docs/navigation.yaml
Due: none

docs: reorg content
  content/docs/introduction/monitoring.md
  content/docs/manage/platform.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

docs: add link
  content/docs/guides/platform-integration-intro.md
Due: node src/scripts/update-frontmatter.js
