Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

feat: add anonymize icon to docs sidebar
  content/docs/sidebar.yaml
  src/components/pages/doc/menu/icon/icon.jsx
  src/icons/docs/sidebar/anonymize.inline.svg
Due: prettier --write, eslint --cache --fix

fix: icons color update to currentColor
  src/icons/docs/sidebar/anonymize.inline.svg
  src/icons/docs/sidebar/container.inline.svg
Due: none

feat: add anonymize icon to docs sidebar (#3454)
  content/docs/sidebar.yaml
  src/components/pages/doc/menu/icon/icon.jsx
  src/icons/docs/sidebar/anonymize.inline.svg
  src/icons/docs/sidebar/container.inline.svg
Due: prettier --write, eslint --cache --fix

docs: saving changes so far
  content/docs/introduction/manage-billing.md
  content/docs/manage/account-recovery.md
  content/docs/manage/accounts.md
  content/docs/manage/email-signup.md
  content/docs/manage/organizations.md
  content/docs/manage/orgs-api.md
  content/docs/manage/orgs-manage.md
  content/docs/manage/orgs-project-transfer.md
  content/docs/manage/projects.md
  content/docs/manage/user-permissions.md
  content/docs/sidebar.yaml
  public/docs/manage/org_projects.png
  public/docs/manage/orgs_create_button.png
  public/docs/manage/orgs_create_with_billing.png
  public/docs/manage/orgs_id.png
  public/docs/manage/orgs_members_kebab.png
  public/docs/manage/orgs_people.png
  public/docs/manage/personal_api_key.png
  public/docs/manage/personal_profile.png
  public/docs/manage/profile_dropdown.png
  public/docs/manage/transfer_multiple.png
  public/docs/manage/transfer_project.png
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/manage/accounts.md
  content/docs/manage/orgs-manage.md
  content/docs/manage/orgs-project-transfer.md
  content/docs/manage/user-permissions.md
Due: node src/scripts/update-frontmatter.js

docs: remove org item
  content/changelog/2025-05-09.md
Due: node src/scripts/update-frontmatter.js

docs: edit title
  content/changelog/2025-05-09.md
Due: node src/scripts/update-frontmatter.js

docs: clarify Neon Auth as provider, split guides
  content/docs/guides/neon-auth-claim-project.md
  content/docs/guides/neon-auth-create-users.md
  content/docs/guides/neon-auth-how-it-works.md
  content/docs/guides/neon-auth-permissions-roles.md
  content/docs/guides/neon-auth.md
  content/docs/sidebar.yaml
  public/docs/guides/identity_users.png
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/guides/neon-auth-claim-project.md
  content/docs/guides/neon-auth-how-it-works.md
  content/docs/guides/neon-auth-permissions-roles.md
Due: node src/scripts/update-frontmatter.js

docs: update MCP Server guide with new tools
  content/guides/neon-mcp-server.md
Due: node src/scripts/update-frontmatter.js

docs: update list_projects description with more concise wording
  content/guides/neon-mcp-server.md
Due: node src/scripts/update-frontmatter.js

docs: align MCP Server tool descriptions with official readme
  content/guides/neon-mcp-server.md
Due: node src/scripts/update-frontmatter.js

docs: roadmap update
  content/docs/introduction/roadmap.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/introduction/roadmap.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/guides/neon-rls.md
  content/docs/guides/neon-rls.md
Due: node src/scripts/update-frontmatter.js

docs: fix extra period in Auth0 footnote
  content/docs/guides/neon-rls.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/guides/neon-rls.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/introduction/roadmap.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/security/hipaa.md
  content/docs/security/hipaa.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/get-started-with-neon/frameworks.md
  content/docs/guides/micronaut-kotlin.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/guides/micronaut-kotlin.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/neon-rls.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/micronaut-kotlin.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/security/hipaa.md
Due: node src/scripts/update-frontmatter.js

docs: add rate limiting guide
  content/guides/rate-limiting.md
Due: node src/scripts/update-frontmatter.js

Update hero.jsx
  src/components/pages/migration/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

Update task.jsx
  src/components/pages/migration/task/task.jsx
Due: prettier --write, eslint --cache --fix

Update tasks-steps.jsx
  src/components/pages/migration/tasks-steps/tasks-steps.jsx
Due: prettier --write, eslint --cache --fix

chore: update author to Neon Guide with Neon logo
  content/guides/authors/data.json
  content/guides/using-explain-analyze-postgresql.md
  public/guides/authors/neon-guide.jpg
Due: node src/scripts/update-frontmatter.js

docs: add Neon-specific EXPLAIN options and vacuum/analyze sections
  content/guides/using-explain-analyze-postgresql.md
Due: node src/scripts/update-frontmatter.js

chore: update Neon Guide avatar with official brand logo
  public/guides/authors/neon-guide.jpg
Due: none

chore: format content markdown files with Prettier
  content/guides/using-explain-analyze-postgresql.md
Due: node src/scripts/update-frontmatter.js

chore: change author from 'Neon Guide' to 'Neon'
  content/guides/authors/data.json
  content/guides/using-explain-analyze-postgresql.md
  public/guides/authors/neon.jpg
Due: node src/scripts/update-frontmatter.js

chore: remove old neon-guide.jpg file
  public/guides/authors/neon-guide.jpg
Due: none

docs: add detailed explanation of Neon's Local File Cache (LFC)
  content/guides/using-explain-analyze-postgresql.md
Due: node src/scripts/update-frontmatter.js

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
