Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

feat: update content
  src/components/pages/pricing/hero/hero.jsx
  src/components/pages/pricing/plans/data/plans.json
  src/components/pages/pricing/plans/plans.jsx
Due: prettier --write, eslint --cache --fix

Updated images w/breadcrumb
  public/docs/manage/branch_details.png
  public/docs/manage/connection_details.png
  public/docs/manage/create_branch.png
  public/docs/manage/ip_allow.png
  public/docs/manage/ip_allow.snagx
  public/docs/manage/reset_from_parent.png
  public/docs/manage/reset_from_parent.snagx
  public/docs/manage/settings_page.png
Due: none

fixing experimental restore icon
  content/docs/manage/projects.md
  public/docs/manage/branch_details.png
  public/docs/manage/connection_details.png
  public/docs/manage/create_branch.png
  public/docs/manage/history_retention.png
  public/docs/manage/ip_allow.png
  public/docs/manage/reset_from_parent.png
  public/docs/manage/settings_page.png
Due: node src/scripts/update-frontmatter.js

Update plans.md
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

updates
  content/docs/introduction/plans.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

feat: pricing text
  src/components/pages/pricing/hero/hero.jsx
  src/components/pages/pricing/plans/data/plans.json
Due: prettier --write, eslint --cache --fix

feat: plans update
  src/components/pages/pricing/plans/data/plans.json
Due: none

feat: add tooltip
  src/components/pages/pricing/plans/data/plans.json
  src/components/pages/pricing/plans/table/table.jsx
Due: prettier --write, eslint --cache --fix

docs(pages): initial draft (midway)
  content/docs/guides/cloudflare-hyperdrive.md
Due: node src/scripts/update-frontmatter.js

minor edits
  content/docs/guides/cloudflare-workers.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/cloudflare-workers.md
Due: node src/scripts/update-frontmatter.js

feat: trim text in hero
  src/components/pages/pricing/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

feat: update case studies
  src/components/pages/pricing/case-studies/case-studies.jsx
Due: prettier --write, eslint --cache --fix

feat: priority support
  src/components/pages/pricing/hero/hero.jsx
  src/components/pages/pricing/plans/data/plans.json
Due: prettier --write, eslint --cache --fix

feat: fix to 750
  src/components/pages/pricing/hero/hero.jsx
  src/components/pages/pricing/plans/data/plans.json
Due: prettier --write, eslint --cache --fix

feat: hero tooltips
  src/components/pages/pricing/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

feat: add back case studies link
  src/components/pages/pricing/case-studies/case-studies.jsx
Due: prettier --write, eslint --cache --fix

feat: fix info tooltip on small screens
  src/components/pages/pricing/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

feat: tweak free language
  src/components/pages/pricing/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

feat: correct pricing table
  src/components/pages/pricing/plans/data/plans.json
Due: none

new connection details png
  public/docs/connect/connection_details.png
  public/docs/manage/connection_details.png
Due: none

update manage billing page
  content/docs/introduction/manage-billing.md
Due: node src/scripts/update-frontmatter.js

Update branch-restore.md
  content/docs/guides/branch-restore.md
Due: node src/scripts/update-frontmatter.js

feat: recovery/restore
  src/components/pages/pricing/plans/data/plans.json
Due: none

feat: s/sales/pricing
  src/components/pages/home/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

Switch Homepage Hero buttons (#1437)
  src/components/pages/home/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

chore: update frontmatter date (auto-update)
  content/docs/guides/branch-restore.md
Due: node src/scripts/update-frontmatter.js

Update billing-sample.md
  content/docs/introduction/billing-sample.md
Due: node src/scripts/update-frontmatter.js

Update api-keys.md to reference 'Profile' instead of 'Account'
  content/docs/manage/api-keys.md
Due: node src/scripts/update-frontmatter.js

updates
  content/docs/introduction/billing.md
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/manage/api-keys.md
Due: node src/scripts/update-frontmatter.js

revisions
  content/docs/introduction/about-billing.md
  content/docs/introduction/billing-overview.md
  content/docs/introduction/manage-billing.md
Due: node src/scripts/update-frontmatter.js

move plans under billing
  content/docs/introduction/plans.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

Update billing.md
  content/docs/introduction/billing.md
Due: node src/scripts/update-frontmatter.js

feat: unique quotes
  src/app/pricing/page.jsx
Due: prettier --write, eslint --cache --fix

feat: add hubspot form hook
  package-lock.json
  package.json
  src/components/pages/enterprise/apply/apply.jsx
  src/hooks/use-hubspot-form.js
  src/styles/hubspot-form.css
  src/utils/inject-script.js
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
