Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: snapshot billing update
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

Fix navigation in CASE and Composite Types tutorials
  content/postgresql/tutorial/case.md
  content/postgresql/tutorial/composite-types.md
Due: node src/scripts/update-frontmatter.js

docs: edit
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

WAIT FOR LSN: fix syntax (WITH options), add MODE table, document return shape
  content/postgresql/postgresql-19/monitoring-operations.md
Due: node src/scripts/update-frontmatter.js

Address jkatz review on PR #4821
  content/postgresql/postgresql-19/breaking-changes.md
  content/postgresql/postgresql-19/json-copy-to.md
  content/postgresql/postgresql-19/logical-replication-improvements.md
  content/postgresql/postgresql-19/monitoring-operations.md
Due: node src/scripts/update-frontmatter.js

Rename content/docs/get-started/query-with-neon-sql-editor.md to content/docs/get-started-query-with-neon-sql-editor.md
  content/docs/get-started-query-with-neon-sql-editor.md
Due: node src/scripts/update-frontmatter.js

docs: rewrite pricing.md for agents; sync checker gates build
  .gitignore
  content/docs/introduction/plans.md
  package.json
  public/pricing.md
  src/middleware.test.js
  src/scripts/check-pricing-sync.js
  src/utils/ai-agent-detection.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: remove legacy /llms/*.txt redirect and migration scaffolding
  docs/internal/llms-directory-guide.md
  scripts/test-markdown-urls.js
  src/proxy.js
  src/scripts/LLMS_PROCESSOR_GUIDE.md
  src/scripts/compare-md-conversion.js
  src/scripts/generate-legacy-llms-output.js
  src/scripts/llms-index-config.js
  src/scripts/process-md-for-llms.js
  src/utils/llms-redirect-map.json
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: add snapshot_storage_bytes_month
  content/docs/introduction/usage-calculations.md
Due: node src/scripts/update-frontmatter.js

docs: run prettier on markdown files at commit time
  .lintstagedrc
Due: none

Changing the environment variable - Renaming DIRECT_URL to DATABASE_URL_UNPOOLED
  content/docs/guides/prisma-migrations.md
  content/docs/guides/prisma.md
  public/prompts/prisma-prompt.md
Due: node src/scripts/update-frontmatter.js

added another pre-requisite command for build
  content/docs/guides/neon-managed-vercel-integration.md
Due: node src/scripts/update-frontmatter.js

Apply suggestion from @ruf-io
  content/postgresql/postgresql-19/breaking-changes.md
Due: node src/scripts/update-frontmatter.js

Create guide for Postgres RLS in multi-tenant apps
  content/guides/rls-multi-tenant-apps.md
Due: node src/scripts/update-frontmatter.js

Update rls-multi-tenant-apps.md
  content/guides/rls-multi-tenant-apps.md
Due: node src/scripts/update-frontmatter.js

docs: add hosted MCP config generator to Neon docs
  content/docs/ai/neon-mcp-server.md
  src/components/pages/doc/mcp-setup-configurator/index.js
  src/components/pages/doc/mcp-setup-configurator/mcp-setup-configurator.jsx
  src/components/shared/content/content.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

fix: show API key in plaintext MCP instructions
  src/components/pages/doc/mcp-setup-configurator/mcp-setup-configurator.jsx
Due: prettier --write, eslint --cache --fix

fix: normalize MCP API URL to list-tools endpoint
  src/components/pages/doc/mcp-setup-configurator/mcp-setup-configurator.jsx
Due: prettier --write, eslint --cache --fix

fix: simplify MCP list-tools URL configuration
  src/components/pages/doc/mcp-setup-configurator/mcp-setup-configurator.jsx
Due: prettier --write, eslint --cache --fix

refactor: merge performance tools into querying scope
  content/docs/shared-content/mcp-tools.md
  src/components/pages/doc/mcp-setup-configurator/mcp-setup-configurator.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: clarify project-scoped excluded MCP tools
  content/docs/shared-content/mcp-tools.md
  src/components/pages/doc/mcp-setup-configurator/mcp-setup-configurator.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

fix: default MCP configurator to streamable HTTP
  src/components/pages/doc/mcp-setup-configurator/mcp-setup-configurator.jsx
  src/components/shared/code-block-wrapper/code-block-wrapper.jsx
Due: prettier --write, eslint --cache --fix

feat(components): switch MCP configurator to query-param config and polish UI
  src/components/pages/doc/mcp-setup-configurator/index.js
  src/components/pages/doc/mcp-setup-configurator/mcp-setup-configurator.jsx
Due: prettier --write, eslint --cache --fix

refactor(mcp-configurator): trim header and remove redundant sections
  src/components/pages/doc/mcp-setup-configurator/mcp-setup-configurator.jsx
Due: prettier --write, eslint --cache --fix

chore: refresh PR #4599 screenshots after UI cleanup
  pr-screenshots/01-oauth-default.png
  pr-screenshots/02-apikey-mode.png
  pr-screenshots/03-restricted.png
  pr-screenshots/04-dark-mode.png
Due: none

docs: improve agent readiness with MCP/skill discovery, MD parity, changelog 404 fix
  next.config.js
  public/.well-known/agent-skills/index.json
  scripts/check-agent-endpoints.js
  src/app/(docs)/docs/[...slug]/page.jsx
  src/app/(docs)/docs/mcp/route.js
  src/app/(docs)/layout.jsx
  src/app/mcp/route.js
  src/scripts/process-md-for-llms.js
  src/utils/ai-agent-detection.js
Due: prettier --write, eslint --cache --fix

docs: expand skill detection
  next.config.js
  public/docs/.well-known/agent-skills/index.json
  scripts/check-agent-endpoints.js
  src/utils/ai-agent-detection.js
Due: prettier --write, eslint --cache --fix

Add guide for Google Docs style version history with Neon
  content/guides/google-docs-style-version-history-neon-branching.md
Due: node src/scripts/update-frontmatter.js

Add files via upload
  public/guides/images/diff.png
  public/guides/images/versions.png
Due: none

Rename public/guides/images/diff.png to public/guides/images/google-docs-style-version-history-neon-branching/diff.png
  public/guides/images/google-docs-style-version-history-neon-branching/diff.png
Due: none

Rename public/guides/images/versions.png to public/guides/images/google-docs-style-version-history-neon-branching/versions.png
  public/guides/images/google-docs-style-version-history-neon-branching/versions.png
Due: none

docs: remove links to deprecated example repos
  content/docs/guides/astro.md
  content/docs/guides/bun.md
  content/docs/guides/cloudflare-pages.md
  content/docs/guides/cloudflare-workers.md
  content/docs/guides/deno.md
  content/docs/guides/dotnet-entity-framework.md
  content/docs/guides/dotnet-npgsql.md
  content/docs/guides/drizzle.md
  content/docs/guides/elixir.md
  content/docs/guides/express.md
  content/docs/guides/go.md
  content/docs/guides/heroku.md
  content/docs/guides/hono.md
  content/docs/guides/java.md
  content/docs/guides/javascript.md
  content/docs/guides/knex.md
  content/docs/guides/micronaut-kotlin.md
  content/docs/guides/nestjs.md
  content/docs/guides/netlify-functions.md
  content/docs/guides/nextjs.md
  content/docs/guides/node.md
  content/docs/guides/nuxt.md
  content/docs/guides/phoenix.md
  content/docs/guides/python.md
  content/docs/guides/railway.md
  content/docs/guides/react-router.md
  content/docs/guides/redwoodsdk.md
  content/docs/guides/reflex.md
  content/docs/guides/remix.md
  content/docs/guides/render.md
  content/docs/guides/rust.md
  content/docs/guides/solid-start.md
  content/docs/guides/sveltekit.md
  src/components/pages/demos/demo-list/demo-list.jsx
  src/utils/data/templates.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

Fix grammar in drop-column tutorial
  content/postgresql/tutorial/drop-column.md
Due: node src/scripts/update-frontmatter.js

docs: snapshot pricing
  content/changelog/2025-10-31.md
  content/changelog/2026-03-27.md
  content/docs/ai/ai-database-versioning.md
  content/docs/guides/ai-agent-integration.md
  content/docs/guides/backup-restore.md
  content/docs/introduction/plans.md
  public/pricing.md
  src/components/pages/pricing/plans/data/plans.js
  src/scripts/check-pricing-sync.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: changelog update
  content/docs/introduction/roadmap.md
Due: node src/scripts/update-frontmatter.js

docs: improve agent readiness with MCP/skill discovery, MD parity, 404 fix (#4844)
  next.config.js
  public/.well-known/agent-skills/index.json
  public/docs/.well-known/agent-skills/index.json
  scripts/check-agent-endpoints.js
  src/app/(docs)/docs/[...slug]/page.jsx
  src/app/(docs)/docs/mcp/route.js
  src/app/(docs)/layout.jsx
  src/app/mcp/route.js
  src/scripts/process-md-for-llms.js
  src/utils/ai-agent-detection.js
Due: prettier --write, eslint --cache --fix

docs: add unauthenticated docs MCP proxy at /docs/mcp
  scripts/check-agent-endpoints.js
  src/app/(docs)/docs/mcp/route.js
  src/app/(docs)/docs/mcp/route.test.js
  src/utils/ai-agent-detection.js
Due: prettier --write, eslint --cache --fix

Correct employee output by including Liam Clark
  content/postgresql/tutorial/any.md
Due: node src/scripts/update-frontmatter.js

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
