Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: serve markdown 404 with doc links for AI agent requests
  src/utils/ai-agent-detection.js
Due: prettier --write, eslint --cache --fix

docs: correct salaries schema and INSTEAD OF trigger function logic
  content/postgresql/postgresql-triggers/postgresql-instead-of-triggers.md
Due: node src/scripts/update-frontmatter.js

chore: package-lock
  package-lock.json
Due: none

docs: resolve /docs/changelog/*.md to correct markdown files instead of html
  next.config.js
  src/constants/content.js
  src/scripts/process-md-for-llms.js
  src/utils/ai-agent-detection.test.js
Due: prettier --write, eslint --cache --fix

docs: merge agent skill references into canonical docs and update SKILL.md
  content/docs/auth/troubleshooting.md
  content/docs/guides/drizzle.md
  content/docs/guides/vercel-connection-methods.md
  content/docs/introduction/architecture-overview.md
  content/docs/navigation.yaml
  content/docs/reference/api-reference.md
  content/docs/reference/javascript-sdk.md
  content/docs/reference/python-sdk.md
  public/docs/ai/skills/neon-postgres/SKILL.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/reference/javascript-sdk.md
Due: node src/scripts/update-frontmatter.js

chore: adjustments
  src/components/pages/about/connections/connections.jsx
  src/components/shared/button/button.jsx
  src/components/shared/doc-footer/feedback/feedback.jsx
  src/components/shared/field/field.jsx
  src/components/shared/info-icon/info-icon.jsx
  src/components/shared/tooltip/tooltip.jsx
  src/styles/main.css
  src/styles/tooltip.css
Due: prettier --write, eslint --cache --fix

docs: update for the official neon claude plugin
  content/docs/ai/ai-claude-code-plugin.md
Due: node src/scripts/update-frontmatter.js

feat: add docs versioning support
  content/docs-v2/introduction.md
  next.config.js
  src/app/(docs)/docs/[...slug]/page.jsx
  src/app/(docs)/layout.jsx
  src/components/pages/doc/docs-navigation/item/item.jsx
  src/components/pages/doc/mobile-nav/mobile-nav.jsx
  src/components/pages/doc/post/post.jsx
  src/components/pages/doc/sidebar/sidebar.jsx
  src/components/pages/doc/version-context/index.js
  src/components/pages/doc/version-context/version-context.jsx
  src/components/pages/doc/version-fallback-notice/index.js
  src/components/pages/doc/version-fallback-notice/version-fallback-notice.jsx
  src/components/pages/doc/version-switcher/index.js
  src/components/pages/doc/version-switcher/version-switcher.jsx
  src/constants/docs-versions.js
  src/icons/archive-drawer.svg
  src/icons/check-arrow.inline.svg
  src/icons/docs/sidebar/chevrons-up-down.svg
  src/icons/docs/sidebar/info-warning-icon.inline.svg
  src/icons/file-copies.svg
  src/middleware.js
  src/scripts/generate-llms-index.js
  src/utils/ai-agent-detection.js
  src/utils/docs-versioning.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

refactor: reorganize imports and destructure version resolution in documentation components
  src/app/(docs)/docs/[...slug]/page.jsx
  src/components/pages/doc/mobile-nav/mobile-nav.jsx
Due: prettier --write, eslint --cache --fix

docs(pages): refresh Startup Program eligibility copy
  src/components/pages/startups/info/info.jsx
Due: prettier --write, eslint --cache --fix

feat: add dark theme
  src/components/pages/doc/sidebar/sidebar.jsx
  src/components/pages/doc/version-fallback-notice/version-fallback-notice.jsx
  src/components/pages/doc/version-switcher/version-switcher.jsx
Due: prettier --write, eslint --cache --fix

feat: implement versioned navigation support
  content/docs-v2/navigation.yaml
  src/app/(docs)/layout.jsx
  src/components/pages/doc/mobile-nav/mobile-nav.jsx
  src/components/pages/doc/sidebar/sidebar.jsx
  src/components/pages/doc/version-switcher/version-switcher.jsx
  src/icons/archive-drawer.svg
  src/icons/docs/sidebar/archive-drawer.inline.svg
  src/icons/docs/sidebar/chevrons-up-down.inline.svg
  src/icons/docs/sidebar/file-copies.inline.svg
  src/icons/file-copies.svg
  src/utils/api-docs.js
Due: prettier --write, eslint --cache --fix

chore: minor fixes
  src/components/pages/doc/version-switcher/version-switcher.jsx
Due: prettier --write, eslint --cache --fix

feat: upd logic to support async versioning
  content/docs-v2/auth/overview.md
  content/docs-v2/introduction.md
  content/docs/auth/legacy/overview.md
  content/docs/auth/overview.md
  src/app/(docs)/docs/[...slug]/page.jsx
  src/components/pages/doc/docs-navigation/item/item.jsx
  src/components/pages/doc/menu/item/item.jsx
  src/components/pages/doc/mobile-nav/mobile-nav.jsx
  src/components/pages/doc/sidebar/sidebar.jsx
  src/components/pages/doc/version-fallback-notice/version-fallback-notice.jsx
  src/constants/docs-versioned-slugs.js
  src/scripts/generate-llms-index.js
  src/utils/api-docs.js
  src/utils/docs-versioning.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

refactor: reorganize imports and simplify version index function
  src/scripts/generate-llms-index.js
Due: prettier --write, eslint --cache --fix

feat: add cross-domain login state sync with console
  src/app/api/identify/route.js
  src/components/pages/doc/docs-header/docs-header.jsx
  src/components/shared/header/header.jsx
  src/components/shared/header/mobile-menu/mobile-menu.jsx
  src/components/shared/header/sidebar/sidebar.jsx
Due: prettier --write, eslint --cache --fix

fix: docs header
  src/components/pages/doc/docs-header/docs-header.jsx
Due: prettier --write, eslint --cache --fix

docs: update title
  content/docs/introduction/performance-troubleshooting.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

docs: add performance troubleshooting guide
  content/docs/introduction/performance-troubleshooting.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/introduction/performance-troubleshooting.md
Due: node src/scripts/update-frontmatter.js

docs: add performance troubleshooting guide
  content/docs/introduction/performance-troubleshooting.md
Due: node src/scripts/update-frontmatter.js

fix: doc auth layout and steps
  src/components/pages/doc/post/post.jsx
  src/components/pages/doc/two-column-layout/two-column-layout.jsx
Due: prettier --write, eslint --cache --fix

fix: visual adjust
  src/app/(docs)/docs/[...slug]/page.jsx
  src/components/pages/doc/sidebar/sidebar.jsx
  src/components/pages/doc/version-switcher/version-switcher.jsx
Due: prettier --write, eslint --cache --fix

refactor: enhance document source resolution logic and improve version handling
  src/app/(docs)/docs/[...slug]/page.jsx
  src/components/pages/doc/version-switcher/version-switcher.jsx
  src/utils/docs-versioning.js
Due: prettier --write, eslint --cache --fix

feat: update quick-prompt files for all frameworks and add new prompts
  public/prompts/astro-serverless-prompt.md
  public/prompts/bun-prompt.md
  public/prompts/django-prompt.md
  public/prompts/dotnet-ef-prompt.md
  public/prompts/dotnet-prompt.md
  public/prompts/drizzle-prompt.md
  public/prompts/elixir-ecto-prompt.md
  public/prompts/elixir-prompt.md
  public/prompts/express-prompt.md
  public/prompts/golang-prompt.md
  public/prompts/hono-prompt.md
  public/prompts/java-prompt.md
  public/prompts/javascript-prompt.md
  public/prompts/knex-prompt.md
  public/prompts/kysely-prompt.md
  public/prompts/laravel-prompt.md
  public/prompts/micronaut-kotlin-prompt.md
  public/prompts/nestjs-prompt.md
  public/prompts/nextjs-prompt.md
  public/prompts/node-prompt.md
  public/prompts/nuxt-neon-prompt.md
  public/prompts/phoenix-prompt.md
  public/prompts/prisma-prompt.md
  public/prompts/python-prompt.md
  public/prompts/quarkus-jdbc-prompt.md
  public/prompts/quarkus-reactive-prompt.md
  public/prompts/react-router-prompt.md
  public/prompts/redwood-sdk-prompt.md
  public/prompts/reflex-prompt.md
  public/prompts/remix-prompt.md
  public/prompts/ruby-on-rails-prompt.md
  public/prompts/rust-prompt.md
  public/prompts/serverless-driver-prompt.md
  public/prompts/solidstart-prompt.md
  public/prompts/sqlalchemy-prompt.md
  public/prompts/sveltekit-prompt.md
  public/prompts/symfony-prompt.md
  public/prompts/tanstack-start-prompt.md
  public/prompts/typeorm-prompt.md
Due: node src/scripts/update-frontmatter.js

feat: add Neon vs Supabase and Neon vs RDS/Aurora comparison pages
  content/docs/get-started/neon-vs-rds-aurora.md
  content/docs/get-started/neon-vs-supabase.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

feat: add agent instructions and Neon Auth to LLM index/full outputs
  src/scripts/generate-llms-full.js
  src/scripts/generate-llms-index.js
  src/scripts/llms-index-config.js
  src/scripts/process-md-for-llms.js
Due: prettier --write, eslint --cache --fix

feat: update framework and ORM guides with quick-prompt links
  content/docs/guides/astro.md
  content/docs/guides/bun.md
  content/docs/guides/django.md
  content/docs/guides/dotnet-entity-framework.md
  content/docs/guides/dotnet-npgsql.md
  content/docs/guides/drizzle.md
  content/docs/guides/elixir-ecto.md
  content/docs/guides/elixir.md
  content/docs/guides/express.md
  content/docs/guides/go.md
  content/docs/guides/hono.md
  content/docs/guides/integrations.md
  content/docs/guides/java.md
  content/docs/guides/javascript.md
  content/docs/guides/knex.md
  content/docs/guides/kysely.md
  content/docs/guides/laravel.md
  content/docs/guides/micronaut-kotlin.md
  content/docs/guides/nestjs.md
  content/docs/guides/nextjs.md
  content/docs/guides/node.md
  content/docs/guides/nuxt.md
  content/docs/guides/phoenix.md
  content/docs/guides/prisma.md
  content/docs/guides/python.md
  content/docs/guides/quarkus-jdbc.md
  content/docs/guides/quarkus-reactive.md
  content/docs/guides/react-router.md
  content/docs/guides/redwoodsdk.md
  content/docs/guides/reflex.md
  content/docs/guides/remix.md
  content/docs/guides/ruby-on-rails.md
  content/docs/guides/rust.md
  content/docs/guides/solid-start.md
  content/docs/guides/sqlalchemy.md
  content/docs/guides/sveltekit.md
  content/docs/guides/symfony.md
  content/docs/guides/tanstack-start.md
  content/docs/guides/typeorm.md
Due: node src/scripts/update-frontmatter.js

feat: promote neon init and Neon Auth across core docs
  content/docs/ai/ai-intro.md
  content/docs/connect/connect-from-any-app.md
  content/docs/connect/connect-intro.md
  content/docs/get-started/connect-neon.md
  content/docs/get-started/frameworks.md
  content/docs/get-started/signing-up.md
  content/docs/import/migrate-from-supabase.md
  content/docs/introduction.md
  content/docs/serverless/serverless-driver.md
  public/docs/ai/skills/neon-postgres/references/getting-started.md
Due: node src/scripts/update-frontmatter.js

fix: improve table of contents, tabs, and markdown copy reliability
  src/components/pages/doc/actions/actions.jsx
  src/components/pages/doc/tabs/tabs.jsx
  src/components/shared/table-of-contents/item/item.jsx
  src/components/shared/table-of-contents/table-of-contents.jsx
  src/utils/get-table-of-contents.js
Due: prettier --write, eslint --cache --fix

fix: use supported auth icon in TechCards for Neon Auth entry
  content/docs/guides/integrations.md
Due: node src/scripts/update-frontmatter.js

chore: lint fix
  src/components/pages/doc/docs-navigation/item/item.jsx
  src/components/pages/doc/menu/item/item.jsx
  src/components/pages/doc/mobile-nav/mobile-nav.jsx
  src/components/pages/doc/sidebar/sidebar.jsx
Due: prettier --write, eslint --cache --fix

feat: add unversioned slugs handling and redirect logic
  src/app/(docs)/docs/[...slug]/page.jsx
  src/constants/docs-versioned-slugs.js
Due: prettier --write, eslint --cache --fix

chore: address review comments
  src/components/pages/doc/callout/index.js
  src/components/pages/doc/docs-header/docs-header.jsx
Due: prettier --write, eslint --cache --fix

chore: remove test md
  content/docs/get-started/test.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

chore: upd nav
  content/docs/navigation.yaml
Due: none

fix: 404 page for docs
  src/app/(docs)/not-found.jsx
Due: prettier --write, eslint --cache --fix

refactor: enhance 404 page layout
  src/app/(docs)/not-found.jsx
Due: prettier --write, eslint --cache --fix

refactor: remove unused constant
  src/constants/docs-versions.js
  src/utils/docs-versioning.js
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
