Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

docs: update GH workflow code
  content/docs/guides/neon-github-integration.md
Due: node src/scripts/update-frontmatter.js

docs: updates
  content/changelog/2024-07-19.md
  content/docs/connect/connection-errors.md
  content/docs/get-started-with-neon/query-with-neon-sql-editor.md
  content/docs/guides/branch-promote.md
  content/docs/guides/protected-branches.md
  content/docs/guides/read-replica-guide.md
  content/docs/manage/branches.md
  public/docs/relnotes/compute_configurations.png
  public/docs/relnotes/larger_compute_sizes.png
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/changelog/2024-07-19.md
  content/docs/connect/connection-errors.md
  content/docs/guides/neon-github-integration.md
  content/docs/guides/protected-branches.md
  content/docs/guides/read-replica-guide.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/changelog/2024-07-19.md
Due: node src/scripts/update-frontmatter.js

docs: revisions, add banner
  content/changelog/2024-07-19.md
  public/docs/relnotes/ai_banner.png
Due: node src/scripts/update-frontmatter.js

feat: testimonials for variable page
  public/images/pages/variable/blockquote.svg
  public/images/social-previews/variable.jpg
  src/components/pages/variable/efficiency/efficiency.jsx
  src/components/pages/variable/review/index.js
  src/components/pages/variable/review/review.jsx
  src/components/pages/variable/testimonial/index.js
  src/components/pages/variable/testimonial/testimonial.jsx
  src/components/pages/variable/unique/unique.jsx
  src/components/shared/container/container.jsx
  src/constants/seo-data.js
  src/images/pages/variable/testimonials/andrea-levinge.jpg
  src/images/pages/variable/testimonials/pieralberto-colonbo.jpg
Due: prettier --write, eslint --cache --fix

fix: get-started section for variable page
  src/app/variable/page.jsx
  src/components/shared/get-started/get-started.jsx
Due: prettier --write, eslint --cache --fix

docs: revisions, edits
  content/changelog/2024-07-19.md
  content/docs/guides/read-replica-data-analysis.md
  content/docs/guides/read-replica-guide.md
  content/docs/guides/read-replica-prisma.md
Due: node src/scripts/update-frontmatter.js

feat: add cta section and bg-decor for variable page
  public/images/pages/variable/bg-noise.png
  public/images/pages/variable/bg-pattern.png
  src/components/pages/variable/budget/budget.jsx
  src/components/pages/variable/efficiency/efficiency.jsx
  src/components/pages/variable/load/load.jsx
  src/components/pages/variable/shared/bg-decor/bg-decor.jsx
  src/components/pages/variable/shared/bg-decor/index.js
  src/components/pages/variable/shared/cta/cta.jsx
  src/components/pages/variable/shared/cta/images/blue-glow.png
  src/components/pages/variable/shared/cta/images/green-glow.png
  src/components/pages/variable/shared/cta/index.js
  src/components/pages/variable/shared/list/index.js
  src/components/pages/variable/shared/list/list.jsx
  src/components/pages/variable/shared/testimonial/index.js
  src/components/pages/variable/shared/testimonial/testimonial.jsx
  src/components/pages/variable/unique/unique.jsx
Due: prettier --write, eslint --cache --fix

chore: format content markdown files with Prettier
  content/docs/guides/read-replica-data-analysis.md
  content/docs/guides/read-replica-prisma.md
Due: node src/scripts/update-frontmatter.js

fix: get-started section paddings
  src/app/(home-page)/all-things-open-2023/page.jsx
  src/app/(home-page)/cfe/page.jsx
  src/app/(home-page)/devs/page.jsx
  src/app/(home-page)/education/page.jsx
  src/app/(home-page)/fireship/page.jsx
  src/app/(home-page)/github/page.jsx
  src/app/(home-page)/home/page.jsx
  src/app/(home-page)/last-week-in-aws/page.jsx
  src/app/(home-page)/page.jsx
  src/app/(home-page)/pgt/page.jsx
  src/app/(home-page)/stackoverflow/page.jsx
  src/app/(home-page)/youtube/page.jsx
  src/components/shared/get-started/get-started.jsx
Due: prettier --write, eslint --cache --fix

docs: add cards for example gh workflow apps
  content/docs/guides/branching-github-actions.md
  content/docs/guides/neon-github-integration.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/branching-github-actions.md
  content/docs/guides/neon-github-integration.md
Due: node src/scripts/update-frontmatter.js

docs: rr revisions
  content/changelog/2024-07-19.md
  content/docs/guides/read-replica-data-analysis.md
  content/docs/guides/read-replica-guide.md
  content/docs/guides/read-replica-prisma.md
Due: node src/scripts/update-frontmatter.js

docs: revise
  content/docs/guides/branching-github-actions.md
  content/docs/guides/neon-github-integration.md
Due: node src/scripts/update-frontmatter.js

Revert "docs: add cards for example gh workflow apps"
  content/docs/guides/branching-github-actions.md
  content/docs/guides/neon-github-integration.md
Due: node src/scripts/update-frontmatter.js

feat: add cta section responsive
  src/components/pages/variable/shared/cta/cta.jsx
  src/components/pages/variable/shared/cta/images/blue-glow-mobile.png
  src/components/pages/variable/shared/cta/images/green-glow-mobile.png
Due: prettier --write, eslint --cache --fix

fix: get started section sizes support
  src/app/(home-page)/all-things-open-2023/page.jsx
  src/app/(home-page)/cfe/page.jsx
  src/app/(home-page)/devs/page.jsx
  src/app/(home-page)/education/page.jsx
  src/app/(home-page)/fireship/page.jsx
  src/app/(home-page)/github/page.jsx
  src/app/(home-page)/last-week-in-aws/page.jsx
  src/app/(home-page)/page.jsx
  src/app/(home-page)/pgt/page.jsx
  src/app/(home-page)/stackoverflow/page.jsx
  src/app/(home-page)/youtube/page.jsx
  src/app/variable/page.jsx
  src/components/shared/get-started/get-started.jsx
Due: prettier --write, eslint --cache --fix

chore: mv cta to shared
  src/app/(home-page)/all-things-open-2023/page.jsx
  src/app/(home-page)/cfe/page.jsx
  src/app/(home-page)/devs/page.jsx
  src/app/(home-page)/education/page.jsx
  src/app/(home-page)/fireship/page.jsx
  src/app/(home-page)/github/page.jsx
  src/app/(home-page)/home/page.jsx
  src/app/(home-page)/last-week-in-aws/page.jsx
  src/app/(home-page)/page.jsx
  src/app/(home-page)/pgt/page.jsx
  src/app/(home-page)/stackoverflow/page.jsx
  src/app/(home-page)/youtube/page.jsx
  src/app/provider.jsx
  src/components/pages/home/get-started/get-started.jsx
  src/components/pages/home/get-started/index.js
  src/components/shared/cta/cta.jsx
  src/components/shared/cta/index.js
Due: prettier --write, eslint --cache --fix

chore: rm old about us page components
  src/app/about-us/page.jsx
  src/components/pages/about/cta/cta.jsx
  src/components/pages/about/cta/index.js
  src/components/pages/about/team/images/github.inline.svg
  src/components/pages/about/team/images/linkedin.inline.svg
  src/components/pages/about/team/images/x.inline.svg
  src/components/pages/about/team/index.js
  src/components/pages/about/team/team.jsx
Due: prettier --write, eslint --cache --fix

feat: add hero section
  src/app/about-us/page.jsx
  src/components/pages/about/hero/hero.jsx
  src/components/pages/about/hero/index.js
Due: prettier --write, eslint --cache --fix

feat: add timeline section
  src/app/about-us/page.jsx
  src/components/pages/about/timeline/index.js
  src/components/pages/about/timeline/timeline.jsx
  src/images/pages/about/timeline/line-mobile.svg
  src/images/pages/about/timeline/line-tablet.svg
  src/images/pages/about/timeline/line.svg
  src/images/pages/about/timeline/pointer-line-lg.svg
Due: prettier --write, eslint --cache --fix

feat: add for developers section
  src/app/about-us/page.jsx
  src/components/pages/about/for-developers/for-developers.jsx
  src/components/pages/about/for-developers/index.js
  src/images/pages/about/for-developers/check.svg
  src/images/pages/about/for-developers/dollar.svg
  src/images/pages/about/for-developers/reliable.svg
  src/images/pages/about/for-developers/storage.svg
Due: prettier --write, eslint --cache --fix

feat: add open source section
  src/app/about-us/page.jsx
  src/components/pages/about/open-source/index.js
  src/components/pages/about/open-source/open-source.jsx
Due: prettier --write, eslint --cache --fix

feat: add leadership section
  src/app/about-us/page.jsx
  src/components/pages/about/leadership/index.js
  src/components/pages/about/leadership/leadership.jsx
  src/images/pages/about/leadership/anna-stepanyan.jpg
  src/images/pages/about/leadership/atli-cervantes.jpg
  src/images/pages/about/leadership/heikki-linnakangas.jpg
  src/images/pages/about/leadership/joe-drumgoole.jpg
  src/images/pages/about/leadership/mahmoud-abdelwahab.jpg
  src/images/pages/about/leadership/nikita-shamgunov.jpg
  src/images/pages/about/leadership/stas-kelvich.jpg
Due: prettier --write, eslint --cache --fix

feat: add investors section
  src/app/about-us/page.jsx
  src/components/pages/about/investors/index.js
  src/components/pages/about/investors/investors.jsx
  src/images/pages/about/investors/ajeet-singh.jpg
  src/images/pages/about/investors/databricks.svg
  src/images/pages/about/investors/elad-gil.jpg
  src/images/pages/about/investors/founders-fund.svg
  src/images/pages/about/investors/general-catalyst.svg
  src/images/pages/about/investors/guillermo-rauch.jpg
  src/images/pages/about/investors/khosla-ventures.svg
  src/images/pages/about/investors/menlo-ventures.svg
  src/images/pages/about/investors/mike-ovitz.jpg
  src/images/pages/about/investors/nat-friedman.jpg
  src/images/pages/about/investors/notable.svg
  src/images/pages/about/investors/snowflake.svg
  src/images/pages/about/investors/soren-brammer-schmidt.jpg
  src/images/pages/about/investors/wes-mckinney.jpg
Due: prettier --write, eslint --cache --fix

docs: add note
  content/docs/guides/neon-github-integration.md
Due: node src/scripts/update-frontmatter.js

chore: add links, priority for hero images
  src/app/about-us/page.jsx
  src/components/pages/about/hero/hero.jsx
  src/components/pages/about/timeline/timeline.jsx
Due: prettier --write, eslint --cache --fix

docs: adjust note
  content/docs/guides/neon-github-integration.md
Due: node src/scripts/update-frontmatter.js

chore: sticky
  src/components/pages/about/open-source/open-source.jsx
Due: prettier --write, eslint --cache --fix

docs: revisions
  content/docs/introduction/usage-metrics.md
Due: node src/scripts/update-frontmatter.js

docs: minor revision
  content/docs/guides/branching-github-actions.md
  content/docs/guides/neon-github-integration.md
Due: node src/scripts/update-frontmatter.js

docs: revision
  content/docs/guides/neon-github-integration.md
Due: node src/scripts/update-frontmatter.js

feat: add proxy redirect for twin-thing
  next.config.js
Due: prettier --write, eslint --cache --fix

docs: reduce image size a little
  public/docs/relnotes/compute_configurations.png
Due: none

Update content/changelog/2024-07-19.md
  content/changelog/2024-07-19.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/guides/protected-branches.md
  content/docs/guides/protected-branches.md
Due: node src/scripts/update-frontmatter.js

docs: revise entry
  content/changelog/2024-07-19.md
Due: node src/scripts/update-frontmatter.js
