Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

edits
  content/docs/guides/polyscale-integration.md
  content/release-notes/2023-12-04-console.md
Due: node src/scripts/update-frontmatter.js

add redirects
  content/docs/guides/guides-intro.md
  content/docs/security/security-overview.md
Due: node src/scripts/update-frontmatter.js

modify duplicate meta description
  content/docs/guides/flyway-multiple-environments.md
Due: node src/scripts/update-frontmatter.js

add redirect
  content/release-notes/2023-10-09-storage-and-compute.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/security/soc2-compliance.md
Due: node src/scripts/update-frontmatter.js

chore: remove unused page
  content/docs/get-started-with-neon/setting-up-a-project.md
Due: node src/scripts/update-frontmatter.js

Update 2023-12-05-docs.md
  content/release-notes/2023-12-05-docs.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/flyway-multiple-environments.md
  content/docs/guides/guides-intro.md
  content/docs/security/security-overview.md
Due: node src/scripts/update-frontmatter.js

Update banner Soc2 Type 2
  src/components/shared/topbar/topbar.jsx
Due: prettier --write, eslint --cache --fix

Update src/components/shared/topbar/topbar.jsx
  src/components/shared/topbar/topbar.jsx
Due: prettier --write, eslint --cache --fix

Update content/docs/guides/branching-github-actions.md
  content/docs/guides/branching-github-actions.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/reference/cli-set-context.md
  content/docs/reference/cli-set-context.md
Due: node src/scripts/update-frontmatter.js

update date
  content/release-notes/2023-12-01-console.md
Due: node src/scripts/update-frontmatter.js

add card
  content/release-notes/2023-12-04-console.md
  public/docs/relnotes/neon_polyscale.jpg
Due: node src/scripts/update-frontmatter.js

Update sidebar.yaml
  content/docs/sidebar.yaml
Due: none

Update cli-set-context.md
  content/docs/reference/cli-set-context.md
Due: node src/scripts/update-frontmatter.js

Logical data size updates
  content/docs/guides/partner-billing.md
  content/docs/introduction/plans.md
  content/docs/introduction/pro-plan.md
  content/docs/reference/glossary.md
  content/release-notes/2023-03-15-plans.md
Due: node src/scripts/update-frontmatter.js

edits
  content/docs/guides/polyscale-integration.md
  public/docs/guides/polyscale_int_authorize.png
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/guides-intro.md
  content/docs/guides/polyscale-integration.md
  content/docs/guides/polyscale.md
  content/docs/introduction.md
Due: node src/scripts/update-frontmatter.js

Update 2023-12-04-console.md
  content/release-notes/2023-12-04-console.md
Due: node src/scripts/update-frontmatter.js

add soc2 image
  content/release-notes/2023-12-05-docs.md
  public/docs/relnotes/neon-soc2.jpg
Due: node src/scripts/update-frontmatter.js

chore: update banner styles to match the design
  src/components/shared/topbar/topbar.jsx
Due: prettier --write, eslint --cache --fix

feat: integrate admonition with wp
  .env.example
  src/app/blog/[slug]/page.jsx
  src/app/blog/wp-draft-post-preview-page/page.jsx
  src/app/docs/(postgres)/postgres/[slug]/page.jsx
  src/components/shared/admonition/admonition.jsx
  src/components/shared/admonition/index.js
  src/components/shared/content/content.jsx
Due: prettier --write, eslint --cache --fix

chore: update project storage price
  src/components/pages/pricing/calculator/calculator.jsx
Due: prettier --write, eslint --cache --fix

add initial content
  content/docs/manage/projects.md
  content/docs/security/security-overview.md
Due: node src/scripts/update-frontmatter.js

feat: create calculator page
  src/app/calculator/page.jsx
  src/app/pricing/page.jsx
  src/components/pages/pricing/calculator/calculator.jsx
  src/constants/links.js
  src/constants/seo-data.js
Due: prettier --write, eslint --cache --fix

stub for billing about page
  content/docs/introduction/about-billing.md
  public/docs/introduction/compute-metrics.png
  public/docs/introduction/compute_metrics.tldr
Due: node src/scripts/update-frontmatter.js

Update about-billing.md
  content/docs/introduction/about-billing.md
Due: node src/scripts/update-frontmatter.js

fix: replace link to pricing calculator
  content/docs/connect/connection-latency.md
  content/docs/introduction/billing.md
  content/docs/introduction/pro-plan.md
Due: node src/scripts/update-frontmatter.js

transparent image
  content/docs/introduction/about-billing.md
  public/docs/introduction/compute-metrics-transparent.png
Due: node src/scripts/update-frontmatter.js

remove transparent
  content/docs/introduction/about-billing.md
Due: node src/scripts/update-frontmatter.js

more content for IP allowlist
  content/docs/manage/projects.md
  content/docs/reference/glossary.md
  content/docs/security/security-overview.md
Due: node src/scripts/update-frontmatter.js
