Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/import/import-from-azure-postgres.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/import/import-from-digital-ocean.md
  content/docs/import/import-from-supabase.md
  content/docs/import/import-intro.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/import/import-from-azure-postgres.md
  content/docs/import/migrate-mssql.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/introduction.md
Due: node src/scripts/update-frontmatter.js

docs: minor edits
  content/docs/import/import-from-render.md
  content/docs/import/import-intro.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/import/import-from-render.md
Due: node src/scripts/update-frontmatter.js

docs: minor revisions
  content/docs/import/import-from-render.md
Due: node src/scripts/update-frontmatter.js

docs: fix link
  content/docs/sidebar.yaml
Due: none

chore: update frontmatter date (auto-update)
  content/docs/import/import-from-render.md
  content/docs/import/import-intro.md
Due: node src/scripts/update-frontmatter.js

docs: minor revisions
  content/docs/import/import-from-firebase.md
  content/docs/import/import-intro.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/import/import-from-firebase.md
Due: node src/scripts/update-frontmatter.js

docs: edit
  content/docs/introduction/high-availability.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/import/import-intro.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/import/import-from-firebase.md
  content/docs/import/import-intro.md
Due: node src/scripts/update-frontmatter.js

docs: add full text search guide
  content/guides/authors/data.json
  content/guides/full-text-search.md
Due: node src/scripts/update-frontmatter.js

docs: add extensions to sidebar, new tags
  content/docs/import/import-from-azure-postgres.md
  content/docs/import/import-from-digital-ocean.md
  content/docs/import/import-from-firebase.md
  content/docs/import/import-from-render.md
  content/docs/import/import-from-supabase.md
  content/docs/import/migrate-mssql.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/import/import-from-azure-postgres.md
  content/docs/import/import-from-digital-ocean.md
  content/docs/import/import-from-firebase.md
  content/docs/import/import-from-render.md
  content/docs/import/import-from-supabase.md
  content/docs/import/migrate-mssql.md
Due: node src/scripts/update-frontmatter.js

feat: add og image
  public/images/social-previews/no-name-ticket.jpg
  src/app/tickets/[handle]/page.jsx
  src/components/pages/stage/stage/stage.jsx
  src/constants/og-images.js
  src/constants/seo-data.js
  src/pages/api/og.jsx
Due: prettier --write, eslint --cache --fix

fix: optimize images
  src/components/pages/deploy/subscription-form/subscription-form.jsx
  src/constants/og-images.js
Due: prettier --write, eslint --cache --fix

chore: update ticket on mobile
  src/components/pages/deploy/dynamic-ticket/dynamic-ticket.jsx
  src/utils/get-short-name.js
Due: prettier --write, eslint --cache --fix

chore: change font weight in input
  src/components/pages/deploy/subscription-form/subscription-form.jsx
Due: prettier --write, eslint --cache --fix

chore: minor fix
  src/components/pages/tickets/social-share/social-share.jsx
Due: prettier --write, eslint --cache --fix

docs: change import to migrate, fix broken links
  .env.example
  content/README.md
  content/changelog/2023-05-30.md
  content/changelog/2023-09-18.md
  content/docs/ai/langchain.md
  content/docs/connect/connection-latency.md
  content/docs/extensions/pgvector.md
  content/docs/guides/hasura.md
  content/docs/guides/heroku.md
  content/docs/guides/vercel.md
  content/docs/import/import-intro.md
  content/docs/import/import-sample-data.md
  content/docs/import/migrate-from-azure-postgres.md
  content/docs/import/migrate-from-digital-ocean.md
  content/docs/import/migrate-from-firebase.md
  content/docs/import/migrate-from-heroku.md
  content/docs/import/migrate-from-neon.md
  content/docs/import/migrate-from-postgres-pg-import.md
  content/docs/import/migrate-from-postgres.md
  content/docs/import/migrate-from-render.md
  content/docs/import/migrate-from-supabase.md
  content/docs/import/migrate-intro.md
  content/docs/import/migrate-mssql.md
  content/docs/import/migrate-mysql.md
  content/docs/import/migrate-schema-only.md
  content/docs/introduction/monitor-external-tools.md
  content/docs/introduction/monitoring-page.md
  content/docs/introduction/regions.md
  content/docs/introduction/usage-metrics.md
  content/docs/manage/backups.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

docs: fix typo
  content/docs/sidebar.yaml
Due: none

chore: format content markdown files with Prettier
  content/docs/introduction/high-availability.md
Due: node src/scripts/update-frontmatter.js

docs: initial commit
  content/changelog/2024-09-20.md
Due: node src/scripts/update-frontmatter.js

docs: first draft
  content/docs/guides/auto-suspend-guide.md
  content/docs/introduction/usage-metrics.md
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/introduction/usage-metrics.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/get-started-with-neon/query-with-neon-sql-editor.md
  content/docs/manage/accounts.md
  content/docs/manage/orgs-manage.md
Due: node src/scripts/update-frontmatter.js

docs: update links and headings
  content/docs/introduction/usage-metrics.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/introduction/usage-metrics.md
  content/docs/introduction/usage-metrics.md
Due: node src/scripts/update-frontmatter.js

Update content/guides/full-text-search.md
  content/guides/full-text-search.md
Due: node src/scripts/update-frontmatter.js

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
