Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

feat: logos responsive
  src/components/pages/home/logos/logos.jsx
Due: prettier --write, eslint --cache --fix

revisions
  content/docs/postgres/data-types-intro.md
  content/docs/postgres/functions-intro.md
  content/docs/postgres/postgres-intro.md
  content/docs/postgres/query-performance.md
  content/docs/sidebar.yaml
  src/constants/menus.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

Update postgres-intro.md
  content/docs/postgres/postgres-intro.md
Due: node src/scripts/update-frontmatter.js

Add query reference draft
  content/docs/postgres/data-types-intro.md
  content/docs/postgres/postgres-intro.md
  content/docs/postgres/query-performance.md
  content/docs/postgres/query-reference.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

fix link
  content/docs/postgres/postgres-intro.md
Due: node src/scripts/update-frontmatter.js

edits
  content/docs/postgres/query-reference.md
Due: node src/scripts/update-frontmatter.js

Update query-reference.md
  content/docs/postgres/query-reference.md
Due: node src/scripts/update-frontmatter.js

style: adaptive get-started
  src/components/pages/home/get-started/get-started.jsx
  src/components/shared/button/button.jsx
Due: prettier --write, eslint --cache --fix

chore: adaptive trusted finalizing
  src/components/pages/home/trusted/trusted.jsx
Due: prettier --write, eslint --cache --fix

style: adaptive industry
  src/components/pages/home/industry/industry.jsx
Due: prettier --write, eslint --cache --fix

chore: adaptive trusted
  src/components/pages/home/trusted/trusted.jsx
Due: prettier --write, eslint --cache --fix

refactor: adaptive
  src/components/pages/home/get-started/get-started.jsx
  src/components/pages/home/industry/industry.jsx
  src/components/pages/home/trusted/trusted.jsx
  src/components/shared/button/button.jsx
  src/images/pages/home/industry/vercel.svg
Due: prettier --write, eslint --cache --fix

edits
  content/docs/postgres/data-types-intro.md
  content/docs/postgres/functions-intro.md
  content/docs/postgres/query-performance.md
Due: node src/scripts/update-frontmatter.js

Update query-performance.md
  content/docs/postgres/query-performance.md
Due: node src/scripts/update-frontmatter.js

Add links, edits
  content/docs/postgres/query-reference.md
Due: node src/scripts/update-frontmatter.js

update Discord links
  content/changelog/2023-02-24-console.md
  content/docs/community/community-intro.md
  content/docs/community/contribution-guide.md
  content/docs/extensions/pg-extensions.md
  content/docs/introduction/plans.md
  content/docs/introduction/support.md
  content/docs/reference/compatibility.md
  content/docs/shared-content/need-help.md
Due: node src/scripts/update-frontmatter.js

Move Hyperdrive doc
  content/docs/sidebar.yaml
Due: none

Update vercel.md
  content/docs/guides/vercel.md
Due: node src/scripts/update-frontmatter.js

style: new color for blog category
  src/constants/blog.js
Due: prettier --write, eslint --cache --fix

chore: remove deprecated constant
  src/constants/blog.js
Due: prettier --write, eslint --cache --fix

Update 2024-03-22-console.md
  content/changelog/2024-03-22-console.md
Due: node src/scripts/update-frontmatter.js

chore: updates after review
  src/components/pages/home/industry/industry.jsx
  src/components/pages/home/industry/testimonial/index.js
  src/components/pages/home/industry/testimonial/testimonial.jsx
  src/components/pages/home/trusted/trusted.jsx
  src/images/pages/home/industry/lines.png
Due: prettier --write, eslint --cache --fix

revisions
  content/docs/postgres/query-reference.md
Due: node src/scripts/update-frontmatter.js

edits
  content/docs/postgres/postgres-intro.md
Due: node src/scripts/update-frontmatter.js

Change "Neon console" to "Neon Console" for consistency
  content/changelog/2024-03-22-console.md
  content/docs/get-started-with-neon/query-with-neon-sql-editor.md
  content/docs/get-started-with-neon/signing-up.md
  content/docs/guides/auto-suspend-guide.md
  content/docs/guides/autoscaling-guide.md
  content/docs/guides/cloudflare-hyperdrive.md
  content/docs/guides/cloudflare-pages.md
  content/docs/guides/cloudflare-workers.md
  content/docs/guides/drizzle-migrations.md
  content/docs/guides/flyway-multiple-environments.md
  content/docs/guides/flyway.md
  content/docs/guides/heroku.md
  content/docs/guides/liquibase-workflow.md
  content/docs/guides/liquibase.md
  content/docs/guides/logical-replication-airbyte.md
  content/docs/guides/logical-replication-concepts.md
  content/docs/guides/logical-replication-fivetran.md
  content/docs/guides/logical-replication-neon.md
  content/docs/guides/logical-replication-postgres.md
  content/docs/guides/netlify-functions.md
  content/docs/guides/prisma-migrations.md
  content/docs/guides/railway.md
  content/docs/guides/render.md
  content/docs/guides/ruby-on-rails.md
  content/docs/guides/sequelize.md
  content/docs/guides/vercel.md
  content/docs/guides/wundergraph.md
  content/docs/import/import-from-postgres.md
  content/docs/introduction/monitoring.md
  content/docs/manage/branches.md
  content/docs/manage/database-access.md
  content/docs/manage/databases.md
  content/docs/manage/endpoints.md
  content/docs/manage/projects.md
  content/docs/manage/roles.md
  content/docs/reference/cli-projects.md
  content/docs/reference/compatibility.md
  content/docs/unused/integrations-deprecated
  content/docs/unused/prisma-guide.md
  public/docs/guides/vercel_neon_app_update.png
Due: node src/scripts/update-frontmatter.js

update Integrations page
  content/changelog/2024-03-22-console.md
  content/docs/manage/integrations.md
Due: node src/scripts/update-frontmatter.js

Update hero.jsx
  src/components/pages/pricing/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

Update plans.json
  src/components/pages/pricing/plans/data/plans.json
Due: none

Update faq.jsx
  src/components/pages/pricing/faq/faq.jsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
