Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

fix: sizes
  public/favicon/favicon-144x144.png
  public/favicon/favicon-16x16.png
  public/favicon/favicon-192x192.png
  public/favicon/favicon-256x256.png
  public/favicon/favicon-32x32.png
  public/favicon/favicon-384x384.png
  public/favicon/favicon-48x48.png
  public/favicon/favicon-512x512.png
  public/favicon/favicon-72x72.png
  public/favicon/favicon-96x96.png
  public/favicon/favicon.png
Due: none

feat: update Contact Sales layout page
  src/components/pages/contact-sales/hero/case-studies/case-studies.jsx
  src/components/pages/contact-sales/hero/case-studies/index.js
  src/components/pages/contact-sales/hero/case-studies/style.css
  src/components/pages/contact-sales/hero/contact-form/contact-form.jsx
  src/components/pages/contact-sales/hero/hero.jsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

feat: update hero section paddings
  src/components/pages/contact-sales/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

fix: mobile styles
  src/components/pages/contact-sales/hero/case-studies/style.css
  src/components/pages/contact-sales/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

fix: doc cta justify-between
  src/components/shared/doc-cta/doc-cta.jsx
Due: prettier --write, eslint --cache --fix

fix: proper color on favicons (#2699)
  public/favicon.ico
  public/favicon/apple-touch-icon.png
  public/favicon/favicon-144x144.png
  public/favicon/favicon-16x16.png
  public/favicon/favicon-192x192.png
  public/favicon/favicon-256x256.png
  public/favicon/favicon-32x32.png
  public/favicon/favicon-384x384.png
  public/favicon/favicon-48x48.png
  public/favicon/favicon-512x512.png
  public/favicon/favicon-72x72.png
  public/favicon/favicon-96x96.png
  public/favicon/favicon.png
Due: none

Update postgres-for-saas.md
  content/use-cases/postgres-for-saas.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/use-cases/postgres-for-saas.md
Due: node src/scripts/update-frontmatter.js

refactor: updates after review
  src/components/pages/contact-sales/hero/case-studies/case-studies.jsx
  src/components/pages/contact-sales/hero/case-studies/slider.css
  src/components/pages/contact-sales/hero/contact-form/contact-form.jsx
Due: prettier --write, eslint --cache --fix

Update content/guides/directus-cms.md
  content/guides/directus-cms.md
Due: node src/scripts/update-frontmatter.js

feat: update Contact Sales page layout (#2701)
  src/components/pages/contact-sales/hero/case-studies/case-studies.jsx
  src/components/pages/contact-sales/hero/case-studies/index.js
  src/components/pages/contact-sales/hero/case-studies/slider.css
  src/components/pages/contact-sales/hero/contact-form/contact-form.jsx
  src/components/pages/contact-sales/hero/hero.jsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

feat: add video to database-per-tenant use case (#2654)
  content/use-cases/database-per-tenant.md
  public/videos/pages/doc/db-per-user.mp4
  public/videos/pages/doc/db-per-user.webm
  src/components/pages/cli/try/try.jsx
  src/components/pages/doc/video/index.js
  src/components/pages/doc/video/video.jsx
  src/components/pages/use-case/use-case-context/use-case-context.jsx
  src/components/shared/content/content.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

feat: add Inngest to the Logical Replication documentation guides
  content/docs/guides/integrations.md
  content/docs/guides/logical-replication-guide.md
  content/docs/guides/logical-replication-inngest.md
  content/docs/sidebar.yaml
  public/images/technology-logos/inngest.svg
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/integrations.md
  content/docs/guides/logical-replication-guide.md
  content/docs/guides/logical-replication-inngest.md
Due: node src/scripts/update-frontmatter.js

Update database-per-tenant.md
  content/use-cases/database-per-tenant.md
Due: node src/scripts/update-frontmatter.js

Update dev-test.md
  content/use-cases/dev-test.md
Due: node src/scripts/update-frontmatter.js

Update postgresql-natural-join.md
  content/postgresql/postgresql-tutorial/postgresql-natural-join.md
Due: node src/scripts/update-frontmatter.js

docs: add item
  content/changelog/2024-12-27.md
Due: node src/scripts/update-frontmatter.js

Update topbar.jsx
  src/components/shared/topbar/topbar.jsx
Due: prettier --write, eslint --cache --fix

Update plans.json
  src/components/pages/pricing/hero/data/plans.json
Due: none

Update auth-auth0.md to Reflect pg Configuration
  content/docs/guides/auth-auth0.md
Due: node src/scripts/update-frontmatter.js

Update postgresql-views-with-check-option.md
  content/postgresql/postgresql-views/postgresql-views-with-check-option.md
Due: node src/scripts/update-frontmatter.js

Update postgresql-list-views.md
  content/postgresql/postgresql-views/postgresql-list-views.md
Due: node src/scripts/update-frontmatter.js

docs: addition
  content/changelog/2024-12-27.md
Due: node src/scripts/update-frontmatter.js

docs: rename file
  content/changelog/2025-01-03.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/auth-auth0.md
Due: node src/scripts/update-frontmatter.js

docs: vercel transition guide updates
  content/docs/guides/vercel-postgres-transition-guide.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/guides/vercel-postgres-transition-guide.md
Due: node src/scripts/update-frontmatter.js
