Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

Update hero.jsx
  src/components/pages/pricing/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

docs: minor edits
  content/docs/import/migrate-mssql.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/import/migrate-mssql.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/import/migrate-mssql.md
Due: node src/scripts/update-frontmatter.js

Update plans.json
  src/components/pages/pricing/plans/data/plans.json
Due: none

test: optimize code tabs and dots animation on home page
  package-lock.json
  package.json
  src/components/pages/home/instant-provisioning/active-tab-context/active-tab-context.jsx
  src/components/pages/home/instant-provisioning/code-tabs/code-tabs.jsx
  src/components/pages/home/instant-provisioning/dots-animation/dots-animation.jsx
Due: prettier --write, eslint --cache --fix

fix: fix changes after review
  src/components/pages/contact-sales/hero/contact-form/contact-form.jsx
  src/components/pages/landing/form/form.jsx
  src/components/pages/scalable-architecture/contact-us/contact-us-form/contact-us-form.jsx
  src/components/pages/scalable-architecture/contact-us/contact-us.jsx
Due: prettier --write, eslint --cache --fix

feat: update highlighted plan on pricing page
  src/components/pages/pricing/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

fix: remove safari ipad and safari check for lighting section
  src/components/pages/home/lightning/lightning.jsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

Revert "test: optimize code tabs and dots animation on home page"
  package-lock.json
  package.json
  src/components/pages/home/instant-provisioning/active-tab-context/active-tab-context.jsx
  src/components/pages/home/instant-provisioning/code-tabs/code-tabs.jsx
  src/components/pages/home/instant-provisioning/dots-animation/dots-animation.jsx
Due: prettier --write, eslint --cache --fix

fix: disable dots animation restart for mobile devices
  src/components/pages/home/instant-provisioning/dots-animation/dots-animation.jsx
Due: prettier --write, eslint --cache --fix

docs: edits
  content/docs/connect/connect-postgres-gui.md
Due: node src/scripts/update-frontmatter.js

docs: add sqlalchemy error info
  content/docs/guides/sqlalchemy.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/sqlalchemy.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/connect/connect-postgres-gui.md
Due: node src/scripts/update-frontmatter.js

feat: add stage page
  public/images/social-previews/deploy.jpg
  src/app/stage/page.jsx
  src/components/pages/stage/stage/index.js
  src/components/pages/stage/stage/stage.jsx
  src/components/shared/twitter-share-button/index.js
  src/components/shared/twitter-share-button/tiwtter-share-button.jsx
  src/constants/links.js
  src/constants/seo-data.js
  src/middleware.js
Due: prettier --write, eslint --cache --fix

docs(pages): save
  content/docs/import/import-from-azure-postgres.md
  content/docs/import/migrate-mssql.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/import/import-from-azure-postgres.md
  content/docs/import/migrate-mssql.md
Due: node src/scripts/update-frontmatter.js

docs(pages): save
  content/docs/import/import-from-azure-postgres.md
Due: node src/scripts/update-frontmatter.js

feat: update docs home intro cta
  content/docs/introduction.md
  src/components/shared/doc-cta/doc-cta.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

refactor: docs home intro cta attributes
  content/docs/introduction.md
  src/components/shared/doc-cta/doc-cta.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: add note about FOR ALL TABLES
  content/docs/guides/logical-replication-alloydb.md
  content/docs/guides/logical-replication-aurora-to-neon.md
  content/docs/guides/logical-replication-cloud-sql.md
  content/docs/guides/logical-replication-neon-to-neon.md
  content/docs/guides/logical-replication-postgres-to-neon.md
  content/docs/guides/logical-replication-postgres.md
  content/docs/guides/logical-replication-rds-to-neon.md
  content/docs/guides/logical-replication-tips.md
  content/docs/guides/sequin.md
  content/docs/import/import-from-azure-postgres.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/guides/logical-replication-tips.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/logical-replication-alloydb.md
  content/docs/guides/logical-replication-aurora-to-neon.md
  content/docs/guides/logical-replication-cloud-sql.md
  content/docs/guides/logical-replication-neon-to-neon.md
  content/docs/guides/logical-replication-postgres-to-neon.md
  content/docs/guides/logical-replication-postgres.md
  content/docs/guides/logical-replication-rds-to-neon.md
  content/docs/guides/logical-replication-tips.md
  content/docs/guides/sequin.md
  content/docs/import/import-from-azure-postgres.md
Due: node src/scripts/update-frontmatter.js

fix: update database
  prisma/migrations/20240917153528_dev/migration.sql
  prisma/schema.prisma
  src/components/pages/tickets/social-share/hero-not-found/hero-not-found.jsx
Due: prettier --write, eslint --cache --fix

docs: minor revisions
  content/docs/import/import-from-supabase.md
Due: node src/scripts/update-frontmatter.js

docs: minor edits
  content/docs/import/import-from-digital-ocean.md
  content/docs/import/import-from-supabase.md
  content/docs/import/import-intro.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/import/import-from-digital-ocean.md
  content/docs/import/import-from-supabase.md
Due: node src/scripts/update-frontmatter.js
