Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

fix: revert GitHub repository links to use -authorize suffix
  content/docs/guides/neon-rls-auth0.md
  content/docs/guides/neon-rls-aws-cognito.md
  content/docs/guides/neon-rls-azure-ad.md
  content/docs/guides/neon-rls-clerk.md
  content/docs/guides/neon-rls-descope.md
  content/docs/guides/neon-rls-drizzle.md
  content/docs/guides/neon-rls-propelauth.md
  content/docs/guides/neon-rls-stack-auth.md
  content/docs/guides/neon-rls-stytch.md
  content/docs/guides/neon-rls-supertokens.md
  content/docs/guides/neon-rls-workos.md
Due: node src/scripts/update-frontmatter.js

refactor: blog & guides layout styles
  src/app/blog/(index)/category/[slug]/page.jsx
  src/app/blog/(index)/layout.jsx
  src/app/blog/(index)/page.jsx
  src/app/guides/(index)/layout.jsx
  src/app/guides/(index)/page.jsx
  src/components/shared/algolia-search/algolia-search.jsx
  src/components/shared/algolia-search/search-input/search-input.jsx
  src/components/shared/algolia-search/search-results/search-results.jsx
Due: prettier --write, eslint --cache --fix

fix: search input styles
  src/app/guides/(index)/page.jsx
  src/components/shared/algolia-search/search-input/search-input.jsx
Due: prettier --write, eslint --cache --fix

feat: search input placeholder
  src/components/shared/algolia-search/algolia-search.jsx
  src/components/shared/algolia-search/search-input/search-input.jsx
Due: prettier --write, eslint --cache --fix

refactor: rename asPlaceholder search input prop
  src/components/shared/algolia-search/algolia-search.jsx
  src/components/shared/algolia-search/search-input/search-input.jsx
Due: prettier --write, eslint --cache --fix

refactor: optimize blog loading (#3086)
  src/app/blog/(index)/category/[slug]/page.jsx
  src/app/blog/(index)/layout.jsx
  src/app/blog/(index)/page.jsx
  src/app/guides/(index)/layout.jsx
  src/app/guides/(index)/page.jsx
  src/components/pages/blog/blog-header/blog-header.jsx
  src/components/shared/algolia-search/algolia-search.jsx
  src/components/shared/algolia-search/search-input/search-input.jsx
  src/components/shared/algolia-search/search-results/search-results.jsx
Due: prettier --write, eslint --cache --fix

feat: add ltree extension guide and update references
  content/docs/extensions/extensions-intro.md
  content/docs/extensions/ltree.md
  content/docs/extensions/pg-extensions.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/extensions/ltree.md
  content/docs/extensions/pg-extensions.md
Due: node src/scripts/update-frontmatter.js

fix: blog categories mobile z-index
  src/components/pages/blog/sidebar/sidebar.jsx
Due: prettier --write, eslint --cache --fix

fix: blog categories mobile z-index (#3088)
  src/components/pages/blog/sidebar/sidebar.jsx
Due: prettier --write, eslint --cache --fix

chore: update frontmatter date (auto-update)
  content/docs/extensions/pg-extensions.md
  content/docs/guides/auth-clerk.md
  content/docs/guides/neon-rls-auth0.md
  content/docs/guides/neon-rls-aws-cognito.md
  content/docs/guides/neon-rls-azure-ad.md
  content/docs/guides/neon-rls-clerk.md
  content/docs/guides/neon-rls-custom-jwt.md
  content/docs/guides/neon-rls-descope.md
  content/docs/guides/neon-rls-drizzle.md
  content/docs/guides/neon-rls-firebase-gcp.md
  content/docs/guides/neon-rls-future.md
  content/docs/guides/neon-rls-google-identity.md
  content/docs/guides/neon-rls-keycloak.md
  content/docs/guides/neon-rls-propelauth.md
  content/docs/guides/neon-rls-stack-auth.md
  content/docs/guides/neon-rls-stytch.md
  content/docs/guides/neon-rls-supertokens.md
  content/docs/guides/neon-rls-troubleshooting.md
  content/docs/guides/neon-rls-tutorial.md
  content/docs/guides/neon-rls-workos.md
  content/docs/guides/neon-rls.md
  content/docs/introduction/roadmap.md
Due: node src/scripts/update-frontmatter.js

docs: add documentation for PREFETCH option in EXPLAIN command
  content/docs/extensions/neon.md
Due: node src/scripts/update-frontmatter.js

docs: maintenance and oauth doc updates
  content/docs/guides/oauth-integration.md
  content/docs/manage/platform-maintenance.md
  public/docs/manage/maintenance_indicator.png
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/guides/oauth-integration.md
Due: node src/scripts/update-frontmatter.js

docs: fix INSERT statement in netlify-functions.md
  content/docs/guides/netlify-functions.md
Due: node src/scripts/update-frontmatter.js

fix: one guide author meta
  content/guides/azure-ai-search.md
Due: node src/scripts/update-frontmatter.js

refactor: add all posts to search on blog category page
  src/app/blog/(index)/category/[slug]/page.jsx
Due: prettier --write, eslint --cache --fix

refactor: fix categories search urls
  src/components/shared/algolia-search/algolia-search.jsx
Due: prettier --write, eslint --cache --fix

refactor: fix empty search results case
  src/components/shared/algolia-search/search-results/search-results.jsx
Due: prettier --write, eslint --cache --fix

chore: update frontmatter date (auto-update)
  content/docs/guides/oauth-integration.md
  content/docs/manage/platform-maintenance.md
Due: node src/scripts/update-frontmatter.js

docs: rename 'Neon Migration Assistant' to 'Import Data Assistant'
  content/changelog/2024-11-22.md
  content/docs/import/import-data-assistant.md
  content/docs/import/migrate-intro.md
  content/docs/introduction/roadmap.md
  content/docs/shared-content/import-data-assistant.md
  content/docs/shared-content/index.js
  content/docs/shared-content/migration-assistant.md
  content/docs/sidebar.yaml
  next.config.js
  src/constants/links.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/netlify-functions.md
Due: node src/scripts/update-frontmatter.js

docs: add item
  content/changelog/2025-03-07.md
Due: node src/scripts/update-frontmatter.js

Update topbar.jsx
  src/components/shared/topbar/topbar.jsx
Due: prettier --write, eslint --cache --fix

docs: revert changes to shared content directory
  content/docs/shared-content/import-data-assistant.md
  content/docs/shared-content/index.js
  content/docs/shared-content/migration-assistant.md
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: add mcp server guides
  content/docs/ai/connect-mcp-clients-to-neon.md
  content/docs/ai/neon-mcp-server.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/import/import-data-assistant.md
  content/docs/import/migrate-intro.md
  content/docs/introduction/roadmap.md
Due: node src/scripts/update-frontmatter.js

docs: add Neon Note about superuser privileges
  content/postgresql/postgresql-administration/create-superuser-postgresql.md
Due: node src/scripts/update-frontmatter.js

Update neon.md
  content/docs/extensions/neon.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/extensions/neon.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/extensions/neon.md
Due: node src/scripts/update-frontmatter.js

Update auth-clerk.md
  content/docs/guides/auth-clerk.md
Due: node src/scripts/update-frontmatter.js

fix: correct import path for currentUser in Clerk
  content/docs/guides/auth-clerk.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/changelog/2025-03-07.md
  public/docs/relnotes/get_started_widget.png
  public/docs/relnotes/new_query_button.png
  public/docs/relnotes/pg_duckdb.png
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/changelog/2025-03-07.md
Due: node src/scripts/update-frontmatter.js

Update account termination grace period
  content/docs/manage/accounts.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/changelog/2025-03-07.md
  content/guides/cline-mcp-neon.md
  content/guides/cursor-mcp-neon.md
  content/guides/windsurf-mcp-neon.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/auth-clerk.md
Due: node src/scripts/update-frontmatter.js
