Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

fix: tooltip for smaller screens
  src/components/pages/partners/collaboration/collaboration.jsx
  src/components/pages/pricing/hero/hero.jsx
  src/components/pages/pricing/plans/table/table.jsx
  src/components/shared/hint-text/hint-text.jsx
  src/components/shared/tooltip/tooltip.jsx
  src/icons/cross.inline.svg
Due: prettier --write, eslint --cache --fix

Update serverless-driver.md
  content/docs/serverless/serverless-driver.md
Due: node src/scripts/update-frontmatter.js

chore: menu upd
  src/components/shared/header/header-new/header-new.jsx
  src/components/shared/header/header.jsx
  src/constants/menus.js
  src/icons/header/ai.svg
  src/icons/header/arrow-right.svg
  src/icons/header/autoscaling.svg
  src/icons/header/branching.svg
  src/icons/header/cli.svg
  src/icons/header/old/about-us.svg
  src/icons/header/old/ai.svg
  src/icons/header/old/autoscaling.svg
  src/icons/header/old/branching.svg
  src/icons/header/old/careers.svg
  src/icons/header/old/case-studies.svg
  src/icons/header/old/cli.svg
  src/icons/header/old/enterprise.svg
  src/icons/header/old/partners.svg
  src/icons/header/old/storage.svg
  src/icons/header/storage.svg
Due: prettier --write, eslint --cache --fix

chore: new GA events
  src/components/pages/pricing/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

chore: add luanch storage pricing
  src/components/pages/pricing/plans/data/plans.json
Due: none

chore: add zero
  src/components/pages/pricing/plans/data/plans.json
Due: none

Update performance.md
  content/docs/manage/performance.md
Due: node src/scripts/update-frontmatter.js

chore: new content and no HintText inside cards
  src/components/pages/pricing/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

chore: no HintText inside pricing table
  src/components/pages/pricing/plans/data/plans.json
  src/components/pages/pricing/plans/table/table.jsx
Due: prettier --write, eslint --cache --fix

chore: new FAQ content
  src/components/pages/pricing/faq/faq.jsx
  src/components/pages/pricing/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

chore: minors
  src/components/pages/pricing/hero/hero.jsx
  src/components/pages/pricing/plans/table/table.jsx
Due: prettier --write, eslint --cache --fix

chore: copy changes
  src/components/pages/pricing/faq/faq.jsx
  src/components/pages/pricing/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

Update plans.json
  src/components/pages/pricing/plans/data/plans.json
Due: none

Update faq.jsx
  src/components/pages/pricing/faq/faq.jsx
Due: prettier --write, eslint --cache --fix

chore: fix json formatting
  src/components/pages/pricing/plans/data/plans.json
Due: none

chore: copy tweaks
  src/components/pages/pricing/hero/hero.jsx
  src/components/pages/pricing/plans/data/plans.json
Due: prettier --write, eslint --cache --fix

feat: flow markdown page
  .env.example
  content/flow/git-ops-for-databases.md
  public/flow/automation.png
  public/flow/use-case-1.png
  public/flow/use-case-2.png
  public/flow/use-case-3.png
  public/flow/use-case-4.png
  public/flow/workflow_animation.riv
  src/app/flow/layout.jsx
  src/app/flow/page.jsx
  src/app/provider.jsx
  src/constants/links.js
  src/constants/menus.js
  src/utils/api-docs.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

fix: add start column for text container
  src/components/pages/doc/post/post.jsx
Due: prettier --write, eslint --cache --fix

fix: typo
  src/components/pages/pricing/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

chore: remove banner button text on small screens
  src/components/shared/topbar/topbar.jsx
Due: prettier --write, eslint --cache --fix

fix: missing space
  content/flow/git-ops-for-databases.md
Due: node src/scripts/update-frontmatter.js

chore: unify topbar
  src/app/(new-design)/layout.jsx
  src/components/shared/layout/layout.jsx
  src/components/shared/topbar/topbar.jsx
  src/utils/get-metadata.js
Due: prettier --write, eslint --cache --fix

Update content/docs/serverless/serverless-driver.md
  content/docs/serverless/serverless-driver.md
Due: node src/scripts/update-frontmatter.js

fix: list view with roman marker
  content/flow/git-ops-for-databases.md
Due: node src/scripts/update-frontmatter.js

chore: new metadata title
  src/app/flow/page.jsx
Due: prettier --write, eslint --cache --fix

Update branch-restore.md
  content/docs/guides/branch-restore.md
Due: node src/scripts/update-frontmatter.js

feat: add mobile menu
  src/components/shared/button/button.jsx
  src/components/shared/header/burger/burger.jsx
  src/components/shared/header/header-new/header-new.jsx
  src/components/shared/header/header.jsx
  src/components/shared/mobile-menu/mobile-menu-new/index.js
  src/components/shared/mobile-menu/mobile-menu-new/mobile-menu-new.jsx
  src/components/shared/topbar/topbar.jsx
  src/hooks/use-mobile-menu.js
Due: prettier --write, eslint --cache --fix

feat: enable react cache
  src/utils/api-posts.js
Due: prettier --write, eslint --cache --fix

rename file
  content/docs/manage/performance.md
  content/docs/manage/query-performance.md
Due: node src/scripts/update-frontmatter.js

feat: bento responsive
  src/components/pages/home/bento/bento.jsx
Due: prettier --write, eslint --cache --fix

feat: ai index responsive
  src/components/pages/home/ai-index/ai-index.jsx
Due: prettier --write, eslint --cache --fix

chore: multitenancy responsive
  src/components/pages/home/multitenancy/multitenancy.jsx
Due: prettier --write, eslint --cache --fix

chore: lightning section responsive
  src/components/pages/home/bento/bento.jsx
  src/components/pages/home/lightning/lightning.jsx
  src/images/pages/home/lightning/phone.png
Due: prettier --write, eslint --cache --fix
