Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

chore: update frontmatter date (auto-update)
  content/docs/security/hipaa.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/guides/backup-restore.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/guides/backup-restore.md
Due: node src/scripts/update-frontmatter.js

Update vercel-previews-integration.md
  content/docs/guides/vercel-previews-integration.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/vercel-previews-integration.md
Due: node src/scripts/update-frontmatter.js

docs: minor edits
  content/docs/guides/imagekit.md
Due: node src/scripts/update-frontmatter.js

docs: add cloudinary
  content/docs/guides/cloudinary.md
  content/docs/guides/file-storage.md
  content/docs/guides/imagekit.md
  content/docs/sidebar.yaml
  public/docs/guides/cloudinary-api-key.png
  public/images/technology-logos/cloudinary.svg
  public/images/technology-logos/imagekit.svg
Due: node src/scripts/update-frontmatter.js

docs: minor edits
  content/docs/guides/aws-s3.md
  content/docs/guides/cloudflare-r2.md
  content/docs/guides/cloudinary.md
  public/docs/guides/cloudinary-api-key.png
  public/docs/guides/imagekit-api-keys.png
Due: node src/scripts/update-frontmatter.js

docs: remove extra logo
  public/images/technology-logos/aws.svg
Due: none

docs: minor edits
  content/docs/guides/cloudinary.md
  content/docs/guides/uploadcare.md
Due: node src/scripts/update-frontmatter.js

Fix documentation for ANY operator behavior with empty subquery in postgresql-any.md
  content/postgresql/postgresql-tutorial/postgresql-any.md
Due: node src/scripts/update-frontmatter.js

refactor: change nav location and add container icon
  content/docs/sidebar.yaml
  src/components/pages/doc/menu/icon/icon.jsx
  src/icons/docs/sidebar/container.inline.svg
Due: prettier --write, eslint --cache --fix

docs: change subtitle
  content/docs/local/neon-local.md
Due: node src/scripts/update-frontmatter.js

chore: add algolia env variable information to README
  README.md
Due: node src/scripts/update-frontmatter.js

Remove Pool from codeblock
  content/docs/guides/prisma.md
Due: node src/scripts/update-frontmatter.js

chore: update header menu use cases
  src/constants/menus.js
  src/icons/header/ai-agent-gradient.inline.svg
  src/icons/header/gear-gradient.inline.svg
  src/icons/header/migration-gradient.inline.svg
  src/icons/header/saas-gradient.inline.svg
  src/icons/header/serverless-gradient.inline.svg
Due: prettier --write, eslint --cache --fix

docs: removing API config
  content/docs/guides/datadog.md
Due: node src/scripts/update-frontmatter.js

docs: edit
  content/docs/guides/datadog.md
Due: node src/scripts/update-frontmatter.js

fix: new header sidebar on docs
  src/components/shared/header/header.jsx
  src/components/shared/header/sidebar/sidebar.jsx
Due: prettier --write, eslint --cache --fix

chore: update header menu use cases (#3390)
  src/constants/menus.js
  src/icons/header/ai-agent-gradient.inline.svg
  src/icons/header/gear-gradient.inline.svg
  src/icons/header/migration-gradient.inline.svg
  src/icons/header/saas-gradient.inline.svg
  src/icons/header/serverless-gradient.inline.svg
Due: prettier --write, eslint --cache --fix

feat: add fallback for missing algolia env variables
  src/components/shared/algolia-search/algolia-search.jsx
Due: prettier --write, eslint --cache --fix

chore: add algolia env variable information to README (#3388)
  README.md
Due: node src/scripts/update-frontmatter.js

feat: add analytics to header navigation
  src/components/shared/header/mobile-menu/mobile-menu.jsx
  src/components/shared/header/navigation/navigation.jsx
  src/components/shared/link/link.jsx
Due: prettier --write, eslint --cache --fix

chore: update frontmatter date (auto-update)
  content/docs/guides/datadog.md
  content/docs/reference/compatibility.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/guides/datadog.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/datadog.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/extensions/pg-extensions.md
  content/docs/extensions/pg_search.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/extensions/pg_search.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/extensions/pg-extensions.md
  content/docs/extensions/pg-extensions.md
Due: node src/scripts/update-frontmatter.js
