Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: add java
  content/guides/building-resilient-applications-with-postgres.md
Due: node src/scripts/update-frontmatter.js

docs: add resources
  content/guides/building-resilient-applications-with-postgres.md
Due: node src/scripts/update-frontmatter.js

fix: sitemap generation and indexing issues (#4111)
  next-sitemap-postgres.config.js
  next-sitemap.config.js
  src/app/postgresql-sitemap.xml/route.js
  src/app/programs/[slug]/page.jsx
  src/app/use-cases/[slug]/page.jsx
Due: prettier --write, eslint --cache --fix

docs: add notes
  content/docs/connect/connect-from-any-app.md
  content/docs/get-started/connect-neon.md
  content/docs/manage/accounts.md
  content/docs/manage/api-keys.md
Due: node src/scripts/update-frontmatter.js

docs: update pages to add retries
  content/docs/connect/connection-latency.md
  content/docs/connect/connection-pooling.md
  content/docs/manage/platform-maintenance.md
  content/docs/manage/updates.md
  content/docs/serverless/serverless-driver.md
Due: node src/scripts/update-frontmatter.js

fix: code fixes after review
  src/components/pages/home-new/speed-scale/features/manage-fleet/animation.jsx
  src/components/pages/home-new/speed-scale/features/manage-fleet/use-animation-timeline.js
Due: prettier --write, eslint --cache --fix

chore: switch to protected github runners
  .github/workflows/e2e-tests.yml
  .github/workflows/format-markdown.yml
  .github/workflows/linkinator.yml
  .github/workflows/unit-tests.yml
  .github/workflows/update-frontmatter.yml
Due: none

docs: add ai prompt
  content/guides/building-resilient-applications-with-postgres.md
  public/prompts/connection-issues-prompt.md
Due: node src/scripts/update-frontmatter.js

docs: add initial content
  content/changelog/2025-11-21.md
  content/docs/ai/connect-mcp-clients-to-neon.md
  content/docs/extensions/pg-extensions.md
  content/docs/introduction/support.md
  public/docs/introduction/get_help.png
  public/docs/introduction/support_get_help.png
Due: node src/scripts/update-frontmatter.js

docs: 2025 11 21 changelog
  content/changelog/2025-11-21.md
Due: node src/scripts/update-frontmatter.js

feat: default heading component width
  src/components/pages/home-new/heading/heading.jsx
Due: prettier --write, eslint --cache --fix

feat: default heading flex gaps
  src/components/pages/home-new/heading/heading.jsx
Due: prettier --write, eslint --cache --fix

feat: heading icon adaptives
  src/components/pages/home-new/heading/heading.jsx
Due: prettier --write, eslint --cache --fix

feat: autobing prop for rive animation
  src/components/shared/rive-animation/rive-animation.jsx
Due: prettier --write, eslint --cache --fix

chore: update @rive-app/react-canvas to latest versions
  package-lock.json
  package.json
Due: none

refactor: remove legacy custom heading class
  src/components/pages/home-new/features/features.jsx
Due: prettier --write, eslint --cache --fix

refactor: remove legacy custom heading class
  src/components/pages/home-new/autoscaling/autoscaling.jsx
Due: prettier --write, eslint --cache --fix

docs: revisions
  content/changelog/2025-11-21.md
  content/docs/introduction/status.md
  public/docs/introduction/neon_status_page.png
  public/docs/introduction/status_subscribe.png
Due: node src/scripts/update-frontmatter.js

feat: toc paddings
  src/components/pages/home-new/toc-wrapper/toc/toc.jsx
Due: prettier --write, eslint --cache --fix

docs: edits
  content/changelog/2025-11-21.md
Due: node src/scripts/update-frontmatter.js

fix: toc top positioning
  src/components/pages/home-new/toc-wrapper/toc/toc.jsx
Due: prettier --write, eslint --cache --fix

docs: edit
  content/changelog/2025-11-21.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/changelog/2025-11-21.md
  content/docs/workflows/data-anonymization.md
Due: node src/scripts/update-frontmatter.js

Update content/changelog/2025-11-21.md
  content/changelog/2025-11-21.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/changelog/2025-11-21.md
  content/docs/introduction/status.md
  public/docs/changelog/free_plan_projects_50.png
  public/docs/introduction/neon_status_subscribe.png
Due: node src/scripts/update-frontmatter.js

docs: update feeds
  content/docs/reference/feeds.md
Due: node src/scripts/update-frontmatter.js

Update content/postgresql/postgresql-indexes.md
  content/postgresql/postgresql-indexes.md
Due: node src/scripts/update-frontmatter.js

docs: update GCP regions (#4163)
  src/components/shared/request-form/data.js
Due: prettier --write, eslint --cache --fix

Update content/pages/programs/creators.md
  content/pages/programs/creators.md
Due: node src/scripts/update-frontmatter.js

Add redirects for creators and blog join page
  next.config.js
Due: prettier --write, eslint --cache --fix

Revise content for Neon Creator Program page
  content/pages/programs/creators.md
Due: node src/scripts/update-frontmatter.js

Create creators.jpg
  public/images/social-previews/programs/creators.jpg
Due: none

add creators.jpg
  public/images/social-previews/programs/creators.jpg
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
