Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/connect/connection-latency.md
Due: node src/scripts/update-frontmatter.js

docs: updates
  content/docs/ai/ai-app-build.md
Due: node src/scripts/update-frontmatter.js

chore: roll back test steps section
  content/docs/ai/ai-intro.md
Due: node src/scripts/update-frontmatter.js

fix: duplicate steps and anchor headings in docs (#3502)
  src/components/shared/anchor-heading/anchor-heading.jsx
  src/utils/get-table-of-contents.js
Due: prettier --write, eslint --cache --fix

feat(components): add branching-demo-toastcomponent
  src/components/pages/multi-tb/branching/branching-demo/branching-demo-toast/branching-demo-toast.jsx
  src/components/pages/multi-tb/branching/branching-demo/branching-demo-toast/index.js
Due: prettier --write, eslint --cache --fix

feat: prepare template page and add storage page
  content/pages/storage.md
  public/pages/storage/schema.jpg
  src/app/(template)/layout.jsx
  src/app/(template)/storage/page.jsx
  src/app/use-cases/[slug]/page.jsx
  src/components/pages/doc/aside/aside.jsx
  src/components/pages/doc/post/post.jsx
  src/components/shared/content/content.jsx
  src/components/shared/header/menu-banner/menu-banner.jsx
  src/components/shared/table-of-contents/item/item.jsx
  src/components/shared/table-of-contents/table-of-contents.jsx
  src/constants/content.js
  src/constants/seo-data.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: fix 404 issues
  content/docs/ai/inngest.md
  content/docs/ai/llamaindex.md
  content/docs/azure/azure-deploy.md
  content/docs/azure/azure-develop.md
  content/docs/extensions/dblink.md
  content/docs/extensions/pgvector.md
  content/docs/extensions/postgresql-anonymizer.md
  content/docs/guides/benchmarking-latency.md
  content/docs/guides/read-replica-guide.md
  content/docs/import/migrate-from-postgres.md
  content/docs/introduction/branching.md
  content/docs/introduction/status.md
  content/docs/local/neon-local.md
Due: node src/scripts/update-frontmatter.js

docs: fix 404 issues (#3548)
  content/docs/ai/inngest.md
  content/docs/ai/llamaindex.md
  content/docs/azure/azure-deploy.md
  content/docs/azure/azure-develop.md
  content/docs/extensions/dblink.md
  content/docs/extensions/pgvector.md
  content/docs/extensions/postgresql-anonymizer.md
  content/docs/guides/benchmarking-latency.md
  content/docs/guides/read-replica-guide.md
  content/docs/import/migrate-from-postgres.md
  content/docs/introduction/branching.md
  content/docs/introduction/status.md
  content/docs/local/neon-local.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/ai/inngest.md
  content/docs/ai/llamaindex.md
  content/docs/azure/azure-deploy.md
  content/docs/azure/azure-develop.md
  content/docs/extensions/dblink.md
  content/docs/extensions/pgvector.md
  content/docs/extensions/postgresql-anonymizer.md
  content/docs/guides/benchmarking-latency.md
  content/docs/guides/read-replica-guide.md
  content/docs/import/migrate-from-postgres.md
  content/docs/introduction/branching.md
  content/docs/introduction/status.md
  content/docs/local/neon-local.md
Due: node src/scripts/update-frontmatter.js

feat: prepare platforms page
  content/pages/platforms.md
  public/images/pages/platforms/architecture-illustration.png
  public/images/pages/platforms/partners-illustration.png
  src/app/platforms/layout.jsx
  src/app/platforms/page.jsx
  src/constants/content.js
  src/constants/links.js
  src/constants/menus.js
  src/constants/seo-data.js
  src/icons/header/pattern-gradient.inline.svg
  src/icons/header/pattern.inline.svg
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/pages/platforms.md
Due: node src/scripts/update-frontmatter.js

Add redirect for Launchpad
  next.config.js
Due: prettier --write, eslint --cache --fix

Update tasks-steps.jsx
  src/components/pages/migration/tasks-steps/tasks-steps.jsx
Due: prettier --write, eslint --cache --fix

Update tasks-steps.jsx (#3551)
  src/components/pages/migration/tasks-steps/tasks-steps.jsx
Due: prettier --write, eslint --cache --fix

docs: add prelim app.build docs (#3546)
  content/docs/ai/ai-app-build.md
  content/docs/ai/ai-intro.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/ai/ai-app-build.md
  content/docs/ai/ai-intro.md
Due: node src/scripts/update-frontmatter.js

Add redirect for Launchpad (#3550)
  next.config.js
Due: prettier --write, eslint --cache --fix

fix: update broken email-signup links to point to accounts page
  content/docs/manage/account-recovery.md
  content/docs/manage/platform.md
  llms.txt
  llms/manage-email-signup.txt
  public/llms.txt
  public/llms/manage-email-signup.txt
Due: node src/scripts/update-frontmatter.js

feat(utils): add @upstash/qstash and unique-username-generator dependencies
  package-lock.json
  package.json
Due: none

refactor: update .env.example
  .env.example
Due: none

Update neon-launchpad.md
  content/docs/reference/neon-launchpad.md
Due: node src/scripts/update-frontmatter.js

docs: update sidebar
  content/docs/sidebar.yaml
Due: none

chore: update frontmatter date (auto-update)
  content/docs/reference/neon-launchpad.md
Due: node src/scripts/update-frontmatter.js

refactor: combine wp and template pages routing
  src/app/(template)/layout.jsx
  src/app/(template)/storage/page.jsx
  src/app/[slug]/page.jsx
  src/app/[slug]/template-page.jsx
  src/app/[slug]/wp-draft-post-preview-page/page.jsx
  src/app/[slug]/wp-page.jsx
  src/app/use-cases/[slug]/page.jsx
  src/constants/seo-data.js
Due: prettier --write, eslint --cache --fix

feat(utils): add branching api endpoints for branching-demo
  src/app/api/branching/branch/create/route.js
  src/app/api/branching/data/route.js
  src/app/api/branching/restore/route.js
  src/app/api/branching/rows/add/route.js
  src/app/api/branching/rows/delete/route.js
  src/app/api/branching/utils.js
Due: prettier --write, eslint --cache --fix

refactor: move single page views to the separate folder
  src/app/[slug]/page.jsx
  src/app/[slug]/pages/template-page.jsx
  src/app/[slug]/pages/wp-page.jsx
Due: prettier --write, eslint --cache --fix

refactor(components, hooks): add use-toast hook, update checkbox and toast
  src/components/pages/multi-tb/branching/branching-demo/branching-demo-toast/branching-demo-toast.jsx
  src/components/pages/multi-tb/branching/branching-demo/checkbox/checkbox.jsx
  src/components/pages/multi-tb/branching/branching-demo/use-toast.js
Due: prettier --write, eslint --cache --fix

feat(hooks): add use-branching-demo hook
  src/hooks/use-branching-demo.js
  src/hooks/use-toast.js
Due: prettier --write, eslint --cache --fix

refactor(components): update branching-demo-content and branching-demo-table components
  src/components/pages/multi-tb/branching/branching-demo/branchim-demo-table/branching-demo-table.jsx
  src/components/pages/multi-tb/branching/branching-demo/branching-demo-content/branching-demo-content.jsx
  src/components/pages/multi-tb/branching/branching-demo/branching-demo-content/index.js
  src/components/pages/multi-tb/branching/branching-demo/branching-demo-table/branching-demo-table.jsx
  src/components/pages/multi-tb/branching/branching-demo/branching-demo-table/index.js
Due: prettier --write, eslint --cache --fix

refactor(components): update branching-demo main component
  src/components/pages/multi-tb/branching/branching-demo/branching-demo.jsx
Due: prettier --write, eslint --cache --fix

docs: add sections
  content/changelog/2025-06-06.md
Due: node src/scripts/update-frontmatter.js

refactor(components): update description field for branching-demo-content
  src/components/pages/multi-tb/branching/branching-demo/branching-demo-content/branching-demo-content.jsx
Due: prettier --write, eslint --cache --fix

refactor(components): add branch size executionTime in steo description
  src/app/api/branching/branch/create/route.js
  src/app/api/branching/data/route.js
  src/app/api/branching/restore/route.js
  src/app/api/branching/rows/add/route.js
  src/app/api/branching/rows/delete/route.js
  src/app/api/branching/size/route.js
  src/components/pages/multi-tb/branching/branching-demo/branching-demo-content/branching-demo-content.jsx
  src/components/pages/multi-tb/branching/branching-demo/branching-demo.jsx
  src/hooks/use-branching-demo.js
Due: prettier --write, eslint --cache --fix

docs: add github copilot
  content/docs/ai/connect-mcp-clients-to-neon.md
Due: node src/scripts/update-frontmatter.js

feat: add collapsible sections support
  src/components/pages/doc/menu/menu.jsx
Due: prettier --write, eslint --cache --fix

chore: add collapsible props for some sections to test
  content/docs/sidebar.yaml
Due: none

docs: fix a couple of links
  content/docs/import/import-sample-data.md
  content/docs/import/migrate-from-postgres.md
Due: node src/scripts/update-frontmatter.js

docs: fix a couple of links (#3557)
  content/docs/import/import-sample-data.md
  content/docs/import/migrate-from-postgres.md
Due: node src/scripts/update-frontmatter.js

docs: added launchpad and app.build entries
  content/changelog/2025-06-06.md
Due: node src/scripts/update-frontmatter.js

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
