Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: draft
  content/changelog/2025-11-14.md
  content/docs/ai/neon-mcp-server.md
  public/docs/changelog/ttl_default.png
Due: node src/scripts/update-frontmatter.js

docs: update branch auto deletion entry
  content/changelog/2025-11-14.md
Due: node src/scripts/update-frontmatter.js

docs: minor update
  content/docs/guides/medusa-neon.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/changelog/2025-11-14.md
Due: node src/scripts/update-frontmatter.js

docs: edit
  content/changelog/2025-11-14.md
Due: node src/scripts/update-frontmatter.js

docs: add title
  content/changelog/2025-11-14.md
Due: node src/scripts/update-frontmatter.js

Update content/changelog/2025-11-14.md
  content/changelog/2025-11-14.md
Due: node src/scripts/update-frontmatter.js

feat: animation config, step 1 completed
  src/components/pages/home-new/speed-scale/features/manage-animation/data.js
  src/components/pages/home-new/speed-scale/features/manage-animation/manage-animation.jsx
  src/components/pages/home-new/speed-scale/features/manage-animation/shuffle-code.jsx
  src/components/pages/home-new/speed-scale/features/manage-animation/step.jsx
  src/components/pages/home-new/speed-scale/features/manage-animation/use-animation-timeline.js
Due: prettier --write, eslint --cache --fix

chore: update frontmatter date (auto-update)
  content/docs/ai/neon-mcp-server.md
Due: node src/scripts/update-frontmatter.js

docs: add guide on connection issues
  content/guides/building-resilient-applications-with-postgres.md
Due: node src/scripts/update-frontmatter.js

docs: add new syntax for trigger replacement
  content/postgresql/postgresql-triggers/postgresql-alter-trigger.md
Due: node src/scripts/update-frontmatter.js

feat: finish animation
  src/components/pages/home-new/speed-scale/features/manage-animation/data.js
  src/components/pages/home-new/speed-scale/features/manage-animation/manage-animation.jsx
  src/components/pages/home-new/speed-scale/features/manage-animation/shuffle-code.jsx
  src/components/pages/home-new/speed-scale/features/manage-animation/step.jsx
  src/components/pages/home-new/speed-scale/features/manage-animation/typewriter-code.jsx
Due: prettier --write, eslint --cache --fix

feat: highlight sql code with shiki
  src/components/pages/home-new/speed-scale/features/features.jsx
  src/components/pages/home-new/speed-scale/features/manage-animation/index.js
  src/components/pages/home-new/speed-scale/features/manage-animation/typewriter-code.jsx
  src/components/pages/home-new/speed-scale/features/manage-fleet/animation.jsx
  src/components/pages/home-new/speed-scale/features/manage-fleet/components/shuffle-code-animation.jsx
  src/components/pages/home-new/speed-scale/features/manage-fleet/components/step.jsx
  src/components/pages/home-new/speed-scale/features/manage-fleet/components/typewriter-code-animation.jsx
  src/components/pages/home-new/speed-scale/features/manage-fleet/data.js
  src/components/pages/home-new/speed-scale/features/manage-fleet/index.js
  src/components/pages/home-new/speed-scale/features/manage-fleet/manage-fleet.jsx
  src/components/pages/home-new/speed-scale/features/manage-fleet/use-animation-timeline.js
Due: prettier --write, eslint --cache --fix

feat: update code highlight colors and speed
  src/components/pages/home-new/speed-scale/features/manage-fleet/animation.jsx
  src/components/pages/home-new/speed-scale/features/manage-fleet/components/shuffle-code-animation.jsx
  src/components/pages/home-new/speed-scale/features/manage-fleet/components/typewriter-code-animation.jsx
  src/components/pages/home-new/speed-scale/features/manage-fleet/data.js
  src/components/pages/home-new/speed-scale/features/manage-fleet/manage-fleet.jsx
Due: prettier --write, eslint --cache --fix

chore: update animation config
  src/components/pages/home-new/speed-scale/features/manage-fleet/data.js
Due: prettier --write, eslint --cache --fix

chore: update pricing page to show 50 free projects
  src/components/pages/pricing/hero/data/plans.json
Due: none

chore: update animation duration
  src/components/pages/home-new/speed-scale/features/manage-fleet/data.js
Due: prettier --write, eslint --cache --fix

docs: branch naming requirements
  content/docs/manage/branches.md
  content/docs/reference/cli-branches.md
  content/docs/reference/python-sdk.md
  content/docs/reference/terraform.md
  content/docs/reference/typescript-sdk.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/reference/cli-branches.md
Due: node src/scripts/update-frontmatter.js

fix: revert broken class name
  src/components/pages/home-new/speed-scale/status-line/status-line.jsx
Due: prettier --write, eslint --cache --fix

chore: update frontmatter date (auto-update)
  content/docs/manage/branches.md
  content/docs/reference/cli-branches.md
  content/docs/reference/python-sdk.md
  content/docs/reference/terraform.md
  content/docs/reference/typescript-sdk.md
Due: node src/scripts/update-frontmatter.js

docs: update free tier to 50 projects
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

chore(pages): adds entries and navigation on instagres
  next.config.js
  public/llms.txt
  public/llms/reference-neon-instagres.txt
  src/constants/links.js
  src/constants/menus.js
Due: prettier --write, eslint --cache --fix

docs(pages): rename `Neon Launchpad` -> `Instagres`
  content/docs/introduction/roadmap.md
  content/docs/navigation.yaml
  content/docs/reference/instagres.md
  content/docs/workflows/claimable-database-integration.md
Due: node src/scripts/update-frontmatter.js

docs: update claim constant to PUBLIC_INSTAGRES_CLAIM_URL
  content/docs/reference/instagres.md
  public/llms/reference-neon-instagres.txt
Due: node src/scripts/update-frontmatter.js

docs: neon launchpad is now instagres
  content/changelog/2025-06-06.md
  content/changelog/2025-06-27.md
  content/changelog/2025-07-04.md
  content/changelog/2025-10-03.md
  content/changelog/2025-10-17.md
  content/changelog/2025-10-24.md
Due: node src/scripts/update-frontmatter.js

docs(pages): rename `Neon Launchpad` -> `Instagres` (#4120)
  content/changelog/2025-06-06.md
  content/changelog/2025-06-27.md
  content/changelog/2025-07-04.md
  content/changelog/2025-10-03.md
  content/changelog/2025-10-17.md
  content/changelog/2025-10-24.md
  content/docs/introduction/roadmap.md
  content/docs/navigation.yaml
  content/docs/reference/instagres.md
  content/docs/workflows/claimable-database-integration.md
  next.config.js
  public/llms.txt
  public/llms/reference-neon-instagres.txt
  src/constants/links.js
  src/constants/menus.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/introduction/roadmap.md
  content/docs/reference/instagres.md
  content/docs/workflows/claimable-database-integration.md
Due: node src/scripts/update-frontmatter.js

feat: add creator program page
  content/pages/programs/creators.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/pages/programs/creators.md
Due: node src/scripts/update-frontmatter.js

docs: update free tier to 50 projects (#4153)
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

docs: add medusajs to frameworks
  content/docs/get-started/frameworks.md
  content/docs/guides/medusajs.md
  content/docs/navigation.yaml
  public/images/technology-logos/medusajs-dark.svg
  public/images/technology-logos/medusajs.svg
  src/config/docs-icons-config.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: update architecture images
  content/docs/introduction/read-replicas.md
  content/docs/introduction/serverless.md
  public/docs/introduction/read_replicas.png
Due: node src/scripts/update-frontmatter.js

docs: update ha diagram
  content/docs/introduction/high-availability.md
Due: node src/scripts/update-frontmatter.js

feat: add SDK table of contents with sectioned navigation
  .gitignore
  content/docs/javascript-sdk-nav.yaml
  src/components/pages/doc/sidebar/sidebar.jsx
  src/components/shared/sdk-table-of-contents/index.js
  src/components/shared/sdk-table-of-contents/sdk-table-of-contents.jsx
  src/scripts/copy-md-content.js
Due: prettier --write, eslint --cache --fix

feat: add split-layout and improve code block styling
  src/components/pages/doc/post/post.jsx
  src/styles/doc-content.css
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
