Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

fix: hovers for contact-sales case studies cards
  src/components/pages/contact-sales/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

docs: update image
  public/docs/relnotes/org_api_keys.png
Due: none

Update src/components/pages/pricing/hero/data/plans.json
  src/components/pages/pricing/hero/data/plans.json
Due: none

Update src/components/pages/pricing/plans/data/plans.json
  src/components/pages/pricing/plans/data/plans.json
Due: none

feat: add new contact sales page adaptives
  src/components/pages/contact-sales/hero/contact-form/contact-form.jsx
  src/components/pages/contact-sales/hero/hero.jsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

docs: add stytch guide in neon authorize
  content/docs/guides/neon-authorize-stytch.md
  content/docs/sidebar.yaml
  public/docs/guides/stytch_jwks_url_in_neon.png
Due: node src/scripts/update-frontmatter.js

fix: contact-sales page styles
  src/components/pages/contact-sales/hero/contact-form/contact-form.jsx
  src/components/pages/contact-sales/hero/hero.jsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

chore: update frontmatter date (auto-update)
  content/docs/get-started-with-neon/production-checklist.md
  content/docs/guides/bemi.md
  content/docs/guides/datadog.md
  content/docs/guides/protected-branches.md
  content/docs/introduction/roadmap.md
  content/docs/manage/projects.md
  content/docs/reference/glossary.md
  content/docs/security/security-overview.md
Due: node src/scripts/update-frontmatter.js

refactor: contact-sales page
  src/components/pages/contact-sales/hero/contact-form/contact-form.jsx
  src/components/pages/contact-sales/hero/hero.jsx
  src/components/shared/field/field.jsx
Due: prettier --write, eslint --cache --fix

update security docs with azure
  content/docs/security/security-overview.md
Due: node src/scripts/update-frontmatter.js

feat: add IP-allow and Datadog metrics to the Scale plan
  src/components/pages/pricing/hero/data/plans.json
  src/components/pages/pricing/plans/data/plans.json
Due: none

docs: add missing /api prefix to stack-auth jwks example route
  content/docs/guides/neon-authorize-stack-auth.md
Due: node src/scripts/update-frontmatter.js

fix: contact-sales page her case studies images priority
  src/components/pages/contact-sales/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

docs: remove postgres upgrade item
  content/changelog/2024-11-22.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/changelog/2024-11-22.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/manage/orgs-api.md
  content/docs/manage/orgs-api.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/changelog/2024-11-22.md
Due: node src/scripts/update-frontmatter.js

Update content/changelog/2024-11-22.md
  content/changelog/2024-11-22.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/neon-authorize-stack-auth.md
Due: node src/scripts/update-frontmatter.js

docs: updates
  content/changelog/2024-11-22.md
Due: node src/scripts/update-frontmatter.js

fix: text cutoff
  src/components/pages/pricing/hero/features/features.jsx
Due: prettier --write, eslint --cache --fix

chore: update meeting link on contact sales page
  src/components/pages/contact-sales/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

docs: update branch protection on launch
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/security/security-overview.md
Due: node src/scripts/update-frontmatter.js

docs: reorder items
  content/changelog/2024-11-22.md
Due: node src/scripts/update-frontmatter.js

Update plans.json
  src/components/pages/pricing/hero/data/plans.json
Due: none

docs: add new features
  content/changelog/2024-11-22.md
  public/docs/relnotes/migration_assistant.png
Due: node src/scripts/update-frontmatter.js

docs: change ea to beta tag
  content/docs/import/migration-assistant.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/time-travel-assist.md
  content/docs/import/migration-assistant.md
Due: node src/scripts/update-frontmatter.js

Update hero.jsx
  src/components/pages/variable/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

Update budget.jsx
  src/components/pages/variable/budget/budget.jsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
