Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

docs: add datadog integrations cards
  content/docs/guides/integrations.md
Due: node src/scripts/update-frontmatter.js

chore: minor fix
  content/use-cases/ai-agents.md
Due: node src/scripts/update-frontmatter.js

chore: text update
  content/use-cases/ai-agents.md
Due: node src/scripts/update-frontmatter.js

chore: adjust form width
  src/components/pages/use-case/subscription-form/subscription-form.jsx
Due: prettier --write, eslint --cache --fix

chore: update frontmatter date (auto-update)
  content/docs/guides/integrations.md
Due: node src/scripts/update-frontmatter.js

docs: 10 project update for free
  src/components/pages/pricing/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

feat: add error state for form
  src/components/pages/use-case/subscription-form/subscription-form.jsx
  src/icons/error.inline.svg
Due: prettier --write, eslint --cache --fix

docs: edit
  src/components/pages/pricing/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

copy: update pricing hero
  src/components/pages/pricing/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

chore: update details table
  src/components/pages/pricing/plans/data/plans.json
Due: none

docs: free plan limit updates
  content/docs/guides/project-collaboration-guide.md
  content/docs/introduction/plans.md
  content/docs/manage/projects.md
  src/components/pages/pricing/hero/hero.jsx
  src/components/pages/pricing/plans/data/plans.json
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/project-collaboration-guide.md
  content/docs/introduction/plans.md
  content/docs/manage/projects.md
Due: node src/scripts/update-frontmatter.js

docs: fix link
  content/docs/serverless/serverless-driver.md
Due: node src/scripts/update-frontmatter.js

Update security-overview.md
  content/docs/security/security-overview.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/security/security-overview.md
Due: node src/scripts/update-frontmatter.js

docs: revisions
  content/changelog/2024-10-11.md
  content/docs/guides/neon-github-integration.md
  public/docs/relnotes/drag-to-zoom.png
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/changelog/2024-10-11.md
Due: node src/scripts/update-frontmatter.js

docs: some additions
  content/docs/guides/datadog.md
  public/docs/guides/datadog_select_endpoint.png
  public/docs/guides/neon-dashboard-datadog.png
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/guides/datadog.md
Due: node src/scripts/update-frontmatter.js

docs: additions
  content/changelog/2024-10-11.md
  content/docs/extensions/pg-extensions.md
Due: node src/scripts/update-frontmatter.js

Update content/guides/fastapi-async.md
  content/guides/fastapi-async.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/guides/fastapi-async.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/guides/fastapi-async.md
Due: node src/scripts/update-frontmatter.js

docs: revisions
  content/changelog/2024-10-11.md
  public/docs/relnotes/ten_projects.png
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/changelog/2024-10-11.md
Due: node src/scripts/update-frontmatter.js

chore: use cases tl;dr blocks update
  content/use-cases/ai-agents.md
  content/use-cases/dev-test.md
Due: node src/scripts/update-frontmatter.js
