Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

Add files via upload
  public/docs/guides/hybrid-rag-postgres-agent/hybrid-rag-baseline.svg
  public/docs/guides/hybrid-rag-postgres-agent/hybrid-rag-chunking.svg
  public/docs/guides/hybrid-rag-postgres-agent/hybrid-rag-ingest.svg
  public/docs/guides/hybrid-rag-postgres-agent/hybrid-rag-keyword-vs-vector.svg
  public/docs/guides/hybrid-rag-postgres-agent/hybrid-rag-layers.svg
  public/docs/guides/hybrid-rag-postgres-agent/hybrid-rag-request-flow.svg
  public/docs/guides/hybrid-rag-postgres-agent/hybrid-rag-rrf.svg
  public/docs/guides/hybrid-rag-postgres-agent/hybrid-rag-schema.svg
  public/docs/guides/hybrid-rag-postgres-agent/hybrid-rag-session.svg
  public/docs/guides/hybrid-rag-postgres-agent/hybrid-rag-vector-limits.svg
Due: none

Update hybrid-rag-postgres-agent.md
  content/guides/hybrid-rag-postgres-agent.md
Due: node src/scripts/update-frontmatter.js

move to public/guides/images
  content/guides/hybrid-rag-postgres-agent.md
  public/guides/images/hybrid-rag-postgres-agent/hybrid-rag-baseline.svg
  public/guides/images/hybrid-rag-postgres-agent/hybrid-rag-chunking.svg
  public/guides/images/hybrid-rag-postgres-agent/hybrid-rag-eval.svg
  public/guides/images/hybrid-rag-postgres-agent/hybrid-rag-ingest.svg
  public/guides/images/hybrid-rag-postgres-agent/hybrid-rag-keyword-vs-vector.svg
  public/guides/images/hybrid-rag-postgres-agent/hybrid-rag-layers.svg
  public/guides/images/hybrid-rag-postgres-agent/hybrid-rag-request-flow.svg
  public/guides/images/hybrid-rag-postgres-agent/hybrid-rag-rrf.svg
  public/guides/images/hybrid-rag-postgres-agent/hybrid-rag-schema.svg
  public/guides/images/hybrid-rag-postgres-agent/hybrid-rag-session.svg
  public/guides/images/hybrid-rag-postgres-agent/hybrid-rag-vector-limits.svg
Due: node src/scripts/update-frontmatter.js

docs: add initial contemt
  content/docs/ai/lakebase-search-get-started.md
  content/docs/ai/lakebase-search.md
  content/docs/extensions/lakebase-text.md
  content/docs/extensions/lakebase-vector.md
  content/docs/extensions/pg-extensions.md
  content/docs/extensions/pg_search.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

fix: remove em dashes from prose, correct operator syntax and PG version support
  content/docs/ai/lakebase-search-get-started.md
  content/docs/ai/lakebase-search.md
  content/docs/extensions/lakebase-text.md
  content/docs/extensions/lakebase-vector.md
Due: node src/scripts/update-frontmatter.js

fix: reframe Why sections to lead with lakebase_ann strengths
  content/docs/ai/lakebase-search.md
  content/docs/extensions/lakebase-vector.md
Due: node src/scripts/update-frontmatter.js

docs: setup development context
  content/guides/development-context.md
Due: node src/scripts/update-frontmatter.js

fix: remove pg_search comparison from lakebase_text page
  content/docs/extensions/lakebase-text.md
Due: node src/scripts/update-frontmatter.js

fix: update index build speed to 50-100x faster than HNSW
  content/docs/ai/lakebase-search.md
  content/docs/extensions/lakebase-vector.md
Due: node src/scripts/update-frontmatter.js

prod-aws-us-east-1-cell9: update website documentation
  content/docs/guides/neon-private-networking.md
  content/docs/introduction/regions.md
Due: node src/scripts/update-frontmatter.js

Fix interval tutorial examples and terminology (#5026)
  content/postgresql/tutorial/interval.md
Due: node src/scripts/update-frontmatter.js

Fix record variable name in the PL/pgSQL Record Types docs (#5028)
  content/postgresql/plpgsql/plpgsql-record-types.md
Due: node src/scripts/update-frontmatter.js

Fix a few mistakes in the "PL/pgSQL Function Parameter Modes: IN, OUT, INOUT" docs (#5025)
  content/postgresql/plpgsql/plpgsql-function-parameters.md
Due: node src/scripts/update-frontmatter.js

Fix a few minor mistakes in the PL/pgSQL Exit Statement docs (#5021)
  content/postgresql/plpgsql/plpgsql-exit.md
Due: node src/scripts/update-frontmatter.js

docs: revisions
  content/docs/ai/lakebase-search.md
Due: node src/scripts/update-frontmatter.js

docs: rewrite Lakebase Search get-started guide as step-by-step tutorial
  content/docs/ai/lakebase-search-get-started.md
  content/docs/ai/lakebase-search.md
Due: node src/scripts/update-frontmatter.js

docs: fix lakebase_ann.probes default and clarify Step 4 of get-started
  content/docs/ai/lakebase-search-get-started.md
  content/docs/extensions/lakebase-vector.md
Due: node src/scripts/update-frontmatter.js

docs: fix operator typo, add BM25 rebuild warning, clarify extension deps
  content/docs/ai/lakebase-search-get-started.md
  content/docs/extensions/lakebase-text.md
  content/docs/extensions/lakebase-vector.md
Due: node src/scripts/update-frontmatter.js

docs: reframe lakebase_ann positioning around compute/storage separation
  content/docs/ai/lakebase-search.md
Due: node src/scripts/update-frontmatter.js

feat: add docs-fact-conflicts workflow
  .claude/workflows/docs-fact-conflicts.js
Due: prettier --write, eslint --cache --fix

fix: redirect /cookie-policy to Databricks cookie notice
  next.config.js
Due: prettier --write, eslint --cache --fix

fix: redirect /cookie-policy to Databricks cookie notice (#5034)
  next.config.js
Due: prettier --write, eslint --cache --fix

feat: batched search + opt-in local semantic search for docs-fact-conflicts
  .claude/workflows/docs-fact-conflicts.js
  .claude/workflows/lib/.gitignore
  .claude/workflows/lib/build-index.mjs
  .claude/workflows/lib/package.json
  .claude/workflows/lib/query-index.mjs
Due: prettier --write, eslint --cache --fix

docs: add Lakebase Search access request form
  content/docs/ai/lakebase-search.md
  src/components/shared/request-form/data.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: update Lakebase Search form description to be more direct about enablement
  src/components/shared/request-form/data.js
Due: prettier --write, eslint --cache --fix

docs: update Lakebase Search admonition and add access request notes to extension pages
  content/docs/ai/lakebase-search.md
  content/docs/extensions/lakebase-text.md
  content/docs/extensions/lakebase-vector.md
Due: node src/scripts/update-frontmatter.js

fix: make oss form wording clearer
  src/components/shared/program-form/data.js
Due: prettier --write, eslint --cache --fix

chore: upgrade to latest
  package-lock.json
  package.json
Due: none

fix: change label to match new wording
  src/components/shared/program-form/program-form.jsx
Due: prettier --write, eslint --cache --fix

docs: cli update for latest version
  content/docs/navigation.yaml
  content/docs/reference/cli-neon-auth.md
  content/docs/reference/cli-psql.md
Due: node src/scripts/update-frontmatter.js

docs: various cli updates
  content/docs/reference/cli-auth.md
  content/docs/reference/cli-branches.md
  content/docs/reference/cli-checkout.md
  content/docs/reference/cli-connection-string.md
  content/docs/reference/cli-ip-allow.md
  content/docs/reference/cli-projects.md
  content/docs/reference/cli-psql.md
  content/docs/reference/cli-vpc.md
Due: node src/scripts/update-frontmatter.js

docs: remove em dashes from CLI reference prose
  content/docs/reference/cli-branches.md
  content/docs/reference/cli-checkout.md
  content/docs/reference/cli-connection-string.md
  content/docs/reference/cli-projects.md
  content/docs/reference/cli-psql.md
Due: node src/scripts/update-frontmatter.js

docs: note psql embedded implementation feature parity
  content/docs/reference/cli-psql.md
Due: node src/scripts/update-frontmatter.js

feat: re-enable docs corner overlay for video promotion
  src/components/pages/doc/modal/data.js
  src/components/pages/doc/modal/modal.jsx
Due: prettier --write, eslint --cache --fix

docs: align video overlay copy with branching page framing
  src/components/pages/doc/modal/data.js
Due: prettier --write, eslint --cache --fix

refactor: improve link styling and update size in modal component
  src/components/pages/doc/modal/modal.jsx
Due: prettier --write, eslint --cache --fix

feat: enhance modal functionality and introduce selection logic
  src/components/pages/doc/modal/data.js
  src/components/pages/doc/modal/modal.jsx
  src/components/pages/doc/modal/select-modal.js
  src/components/pages/doc/post/post.jsx
  src/icons/expand-icon.inline.svg
Due: prettier --write, eslint --cache --fix
