Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

fix: match API body accordion structure
  src/components/pages/doc/api-operation/__tests__/doc-body.test.jsx
  src/components/pages/doc/api-operation/doc-body.jsx
Due: prettier --write, eslint --cache --fix

fix: polish API reference UI details
  src/components/pages/doc/api-operation/api-code-block.jsx
  src/components/pages/doc/api-operation/doc-quick-start.jsx
  src/components/pages/doc/api-resource-grid/api-resource-grid.jsx
  src/components/pages/doc/code-tabs/code-tabs.jsx
  src/components/pages/doc/dropdown-menu/dropdown-menu.jsx
Due: prettier --write, eslint --cache --fix

fix: add API markdown link tooltips
  src/components/pages/doc/api-ai-context-link/__tests__/api-ai-context-link.test.jsx
  src/components/pages/doc/api-ai-context-link/api-ai-context-link.jsx
  src/components/pages/doc/api-ai-context-link/index.js
  src/components/pages/doc/api-operation/api-operation.jsx
  src/components/pages/doc/api-tag-page/api-tag-page.jsx
  src/components/pages/doc/endpoint-index/endpoint-index.jsx
Due: prettier --write, eslint --cache --fix

style: tune API operation typography
  src/components/pages/doc/api-operation/api-operation.jsx
  src/components/pages/doc/api-operation/operation-response.jsx
Due: prettier --write, eslint --cache --fix

fix: align API request body accordions with design
  src/components/pages/doc/api-operation/__tests__/doc-body.test.jsx
  src/components/pages/doc/api-operation/doc-body.jsx
Due: prettier --write, eslint --cache --fix

fix: align deep API body nesting
  src/components/pages/doc/api-operation/__tests__/doc-body.test.jsx
  src/components/pages/doc/api-operation/doc-body.jsx
Due: prettier --write, eslint --cache --fix

fix: space nested API body guides
  src/components/pages/doc/api-operation/__tests__/doc-body.test.jsx
  src/components/pages/doc/api-operation/doc-body.jsx
Due: prettier --write, eslint --cache --fix

fix: support nested API body fields
  src/components/pages/doc/api-operation/__tests__/doc-body.test.jsx
  src/components/pages/doc/api-operation/doc-body.jsx
Due: prettier --write, eslint --cache --fix

test: cover deep API body nesting
  src/components/pages/doc/api-operation/__tests__/doc-body.test.jsx
Due: prettier --write, eslint --cache --fix

docs(pages): correct commit-latency fsync claim (DOC-26588)
  content/docs/introduction/architecture-overview.md
Due: node src/scripts/update-frontmatter.js

docs: revisions
  src/data/README.md
  src/data/ai-gateway-models.yaml
Due: node src/scripts/update-frontmatter.js

docs: add better-drizzle
  content/guides/better-drizzle.md
Due: node src/scripts/update-frontmatter.js

docs: update
  src/data/ai-gateway-models.yaml
Due: none

docs: add file
  content/changelog/2026-07-10.md
Due: node src/scripts/update-frontmatter.js

docs: structural preview of new top-level IA (Products/Platform/Reference/Tutorials)
  content/docs/navigation.yaml
  content/docs/platform/branch-your-backend.md
  content/docs/tutorials/community-tutorials.md
Due: node src/scripts/update-frontmatter.js

test: update llms breadcrumb fixtures for the new nav shape
  src/scripts/process-md-for-llms.test.js
Due: prettier --write, eslint --cache --fix

docs: minor edits
  content/guides/better-drizzle.md
Due: node src/scripts/update-frontmatter.js

docs: add item
  content/changelog/2026-07-10.md
Due: node src/scripts/update-frontmatter.js

docs: rename Tutorials/Learn nav to Tutorials, drop community-tutorials stub
  content/docs/navigation.yaml
  content/docs/tutorials/community-tutorials.md
Due: node src/scripts/update-frontmatter.js

docs: function logs
  content/docs/compute/functions/logs.md
  content/docs/compute/functions/overview.md
  content/docs/compute/functions/preview-access.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

docs: add common log entries to function logs page
  content/docs/compute/functions/logs.md
Due: node src/scripts/update-frontmatter.js

docs: narrow Reference to lookup-only items, add Integrations pillar, move branching into Platform
  content/docs/navigation.yaml
  src/components/pages/doc/docs-navigation/item/item.jsx
Due: prettier --write, eslint --cache --fix

chore(ai-gateway): sync /models.json with models.dev neon provider
  src/app/models.json/data.json
Due: none

docs: rename CLI config-command subgroup to avoid label clash with Reference "Config as code"
  content/docs/navigation.yaml
Due: none

fix: move Tutorials nav item after Resources, not before
  content/docs/navigation.yaml
Due: none

docs: restructure Branch your backend nav to surface real branching content
  content/docs/navigation.yaml
Due: none

chore(ai-gateway): sync /models.json with models.dev neon provider (#5232)
  src/app/models.json/data.json
Due: none

docs: consolidate Integrations into Reference, fold Branch your backend into Postgres branching
  content/docs/navigation.yaml
  content/docs/platform/branch-your-backend.md
Due: node src/scripts/update-frontmatter.js

docs: replace api-client SDK reference with @neon/sdk
  content/docs/guides/ai-agent-integration.md
  content/docs/navigation.yaml
  content/docs/reference/sdk.md
  content/docs/reference/typescript-sdk.md
Due: node src/scripts/update-frontmatter.js

docs: add Neon MCP Server create_branch expiresAt to 2026-07-10 changelog
  content/changelog/2026-07-10.md
Due: node src/scripts/update-frontmatter.js

docs: add @neon/sdk 1.0.0 entry to 2026-07-10 changelog
  content/changelog/2026-07-10.md
Due: node src/scripts/update-frontmatter.js

docs: repoint broken archive-storage anchor to glossary (neon-docs-drift)
  content/docs/guides/branch-archiving.md
Due: node src/scripts/update-frontmatter.js

docs: add @neon/sdk reference and api-client migration guide
  content/docs/navigation.yaml
  content/docs/reference/migrate-api-client-to-sdk.md
  content/docs/reference/sdk.md
  content/docs/reference/typescript-sdk.md
Due: node src/scripts/update-frontmatter.js

docs: update guides and roadmap for @neon/sdk
  content/docs/guides/multitenancy.md
  content/docs/introduction/roadmap.md
  content/guides/cloudflare-sandbox-neon-branching.md
  content/guides/vercel-eve-neon.md
Due: node src/scripts/update-frontmatter.js

fix: correct SDK navigation YAML indentation
  content/docs/navigation.yaml
Due: none

docs: link @neon/sdk changelog entry to new SDK docs
  content/changelog/2026-07-10.md
Due: node src/scripts/update-frontmatter.js

docs: remove deprecated @neondatabase/toolkit from roadmap
  content/docs/introduction/roadmap.md
Due: node src/scripts/update-frontmatter.js
