Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

fix: version replaced Atlas CDN assets
  content/blog/posts/building-a-private-searchable-photo-library-on-the-neon-backend.md
Due: node src/scripts/update-frontmatter.js

docs: update serverless driver framework tabs and fix fragments
  content/docs/serverless/serverless-driver.md
Due: node src/scripts/update-frontmatter.js

docs: link the serverless driver Prisma tab to the Prisma guide
  content/docs/serverless/serverless-driver.md
Due: node src/scripts/update-frontmatter.js

docs: pin Prisma ORM 7 in Prisma guides and fix Prisma 7 examples
  content/docs/get-started/connect-neon.md
  content/docs/guides/prisma-migrations.md
  content/docs/guides/prisma.md
  content/docs/guides/read-replica-prisma.md
Due: node src/scripts/update-frontmatter.js

docs: remove Prisma Pulse guide
  content/docs/guides/integrations.md
  content/docs/guides/logical-replication-guide.md
  content/docs/guides/logical-replication-prisma-pulse.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

docs: split serverless driver configuration into its own page (#6042)
  content/blog/posts/a-postgrest-compatible-data-api-now-on-neon.md
  content/changelog/2026-10-02.md
  content/docs/navigation.yaml
  content/docs/serverless/serverless-driver-configuration.md
  content/docs/serverless/serverless-driver.md
Due: node src/scripts/update-frontmatter.js

Modify blog post title to remove 'private'
  content/blog/posts/building-a-private-searchable-photo-library-on-the-neon-backend.md
Due: node src/scripts/update-frontmatter.js

Add cover image to top of post
  content/blog/posts/building-a-private-searchable-photo-library-on-the-neon-backend.md
Due: node src/scripts/update-frontmatter.js

blog: Building a private, searchable photo library on the Neon backend with TanStack (#5999)
  content/blog/posts/building-a-private-searchable-photo-library-on-the-neon-backend.md
Due: node src/scripts/update-frontmatter.js

docs: pin Prisma ORM 7 in Prisma guides and fix Prisma 7 examples (#6043)
  content/docs/get-started/connect-neon.md
  content/docs/guides/prisma-migrations.md
  content/docs/guides/prisma.md
  content/docs/guides/read-replica-prisma.md
Due: node src/scripts/update-frontmatter.js

docs: remove Prisma Pulse guide (#6044)
  content/docs/guides/integrations.md
  content/docs/guides/logical-replication-guide.md
  content/docs/guides/logical-replication-prisma-pulse.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

docs: refresh Postgres landing page
  content/docs/postgres/overview.md
  public/docs/postgres/hero-postgres.svg
  public/prompts/postgres-landing.md
  src/constants/static-md-manifest.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: refresh Object Storage landing page
  content/docs/storage/overview.md
  public/docs/storage/hero-object-storage.svg
  public/prompts/object-storage-landing.md
  src/constants/static-md-manifest.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: refresh AI Gateway landing page
  content/docs/ai-gateway/overview.md
  public/docs/ai-gateway/hero-ai-gateway.svg
  public/prompts/ai-gateway-landing.md
  src/constants/static-md-manifest.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: refresh Functions landing page
  content/docs/compute/functions/overview.md
  public/docs/compute/functions/hero-functions.svg
  public/prompts/functions-landing.md
  src/constants/static-md-manifest.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: refresh Better Auth landing page
  content/docs/auth/overview.md
  public/docs/auth/hero-auth.svg
  public/prompts/auth-landing.md
  src/constants/static-md-manifest.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: sync agent skills from upstream
  public/.well-known/agent-skills/index.json
  public/docs/.well-known/agent-skills/index.json
  public/docs/ai/skills/neon/SKILL.md
Due: node src/scripts/update-frontmatter.js

chore: sync agent skills from upstream (#6045)
  public/.well-known/agent-skills/index.json
  public/docs/.well-known/agent-skills/index.json
  public/docs/ai/skills/neon/SKILL.md
Due: node src/scripts/update-frontmatter.js

fix: update Atlas architecture diagram
  content/blog/posts/building-a-private-searchable-photo-library-on-the-neon-backend.md
Due: node src/scripts/update-frontmatter.js

Publish photo library post (remove draft flag)
  content/blog/posts/building-a-private-searchable-photo-library-on-the-neon-backend.md
Due: node src/scripts/update-frontmatter.js

Publish photo library blog post (remove draft flag) (#6047)
  content/blog/posts/building-a-private-searchable-photo-library-on-the-neon-backend.md
Due: node src/scripts/update-frontmatter.js

Release Claude Opus 5.5 in the AI Gateway catalog
  src/app/models.json/data.json
Due: none

Skip released: false models in the models.dev mirror check
  scripts/lib/models-catalog.mjs
  scripts/lib/models-catalog.test.js
  src/scripts/check-models-sync.mjs
Due: prettier --write, eslint --cache --fix

fix: update Atlas architecture diagram (#6046)
  content/blog/posts/building-a-private-searchable-photo-library-on-the-neon-backend.md
Due: node src/scripts/update-frontmatter.js

Mark Claude Opus 5.5 as released in the AI Gateway catalog (#6048)
  src/app/models.json/data.json
Due: none

Skip unreleased models in the models.dev sync check (#6049)
  scripts/lib/models-catalog.mjs
  scripts/lib/models-catalog.test.js
  src/scripts/check-models-sync.mjs
Due: prettier --write, eslint --cache --fix

docs: split Auth landing page from new About Managed Better Auth page
  content/docs/auth/about.md
  content/docs/auth/guides/manage-auth-api.md
  content/docs/auth/guides/plugins/organization.md
  content/docs/auth/overview.md
  content/docs/auth/quick-start/nextjs-api-only.md
  content/docs/auth/quick-start/react.md
  content/docs/auth/quick-start/tanstack-router.md
  content/docs/auth/roadmap.md
  content/docs/navigation.yaml
  content/docs/shared-content/auth-ai-setup-tip.md
  content/docs/unused/neon-auth-quick-start-nextjs-ui-components.md
  content/docs/unused/neon-auth-quick-start-react-ui-components.md
  content/guides/nextauth-neon-auth-better-auth-postgres.md
  src/constants/auth-page-content.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: refresh the CLI reference for Neon CLI 8.0.8
  content/docs/cli/orgs.md
  content/docs/manage/orgs-cli.md
  scripts/docs-checks/neonctl/schema.json
Due: node src/scripts/update-frontmatter.js

chore: add Next.js agent rules block to AGENTS.md
  AGENTS.md
Due: node src/scripts/update-frontmatter.js

docs: refresh the CLI reference for Neon CLI 8.0.8 (#6055)
  content/docs/cli/orgs.md
  content/docs/manage/orgs-cli.md
  scripts/docs-checks/neonctl/schema.json
Due: node src/scripts/update-frontmatter.js

docs: add n8n assistant guide
  content/guides/n8n-assistant-neon-ai-gateway.md
  public/docs/connect/connection_details_parameters_only.png
  public/docs/guides/n8n-ai-gateway/chat-with-pdfs.json
  public/docs/guides/n8n-ai-gateway/index-pdfs-from-neon-storage.json
  public/docs/guides/n8n-ai-gateway/n8n-ai-gateway-assistant-built-workflows.png
  public/docs/guides/n8n-ai-gateway/n8n-ai-gateway-assistant-connect-model.png
  public/docs/guides/n8n-ai-gateway/n8n-ai-gateway-assistant-doc-access.png
  public/docs/guides/n8n-ai-gateway/n8n-ai-gateway-assistant-prompt.png
  public/docs/guides/n8n-ai-gateway/n8n-ai-gateway-assistant-setup-summary.png
  public/docs/guides/n8n-ai-gateway/n8n-ai-gateway-assistant-welcome.png
  public/docs/guides/n8n-ai-gateway/n8n-ai-gateway-live-test-results.png
  public/docs/guides/n8n-ai-gateway/n8n-ai-gateway-neon-credential.png
  public/docs/guides/n8n-ai-gateway/n8n-ai-gateway-openai-credential.png
  public/docs/guides/n8n-ai-gateway/n8n-ai-gateway-pending-steps.png
  public/docs/guides/n8n-ai-gateway/n8n-ai-gateway-postgres-credential.png
  public/docs/guides/n8n-ai-gateway/n8n-ai-gateway-run-indexing-approval.png
  public/docs/guides/n8n-ai-gateway/n8n-ai-gateway-s3-credential.png
  public/docs/guides/n8n-ai-gateway/n8n-ai-gateway-setup-download-pdf.png
  public/docs/guides/n8n-ai-gateway/n8n-ai-gateway-setup-embeddings.png
  public/docs/guides/n8n-ai-gateway/n8n-ai-gateway-setup-list-pdfs.png
Due: node src/scripts/update-frontmatter.js

chore: remove deprecated JSR serverless driver blog post (#6023)
  content/blog/posts/neon-serverless-driver-on-jsr.md
  next.config.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: add AI Gateway data retention page
  content/docs/ai-gateway/data-retention.md
  content/docs/ai-gateway/models.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

docs: rename Databricks data retention heading
  content/docs/ai-gateway/data-retention.md
Due: node src/scripts/update-frontmatter.js

docs: add AI Gateway data retention page (#5977)
  content/docs/ai-gateway/data-retention.md
  content/docs/ai-gateway/models.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

Functions hero: show functions reaching more of the backend (storage, AI Gateway), not just Postgres
  content/docs/compute/functions/overview.md
  public/docs/compute/functions/hero-functions.svg
Due: node src/scripts/update-frontmatter.js

AI Gateway hero: add OpenAI/Google/Anthropic provider logos + '+ more' to model-providers box
  public/docs/ai-gateway/hero-ai-gateway.svg
Due: none

Functions hero: label backend cell 'Object Storage' (not 'storage')
  content/docs/compute/functions/overview.md
  public/docs/compute/functions/hero-functions.svg
Due: node src/scripts/update-frontmatter.js

AI Gateway: sharpen 'Before you start' note (name plans Launch/Scale, $5 min credits, call out the plan/credits/region stop)
  content/docs/ai-gateway/overview.md
Due: node src/scripts/update-frontmatter.js

AI Gateway: trim 'Before you start' to plan + credits (region is a project-creation step, kept in body)
  content/docs/ai-gateway/overview.md
Due: node src/scripts/update-frontmatter.js
