Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

Update content/guides/graph-db.md
  content/guides/graph-db.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/guides/graph-db.md
Due: node src/scripts/update-frontmatter.js

docs: address review comments
  content/docs/extensions/pg-extensions.md
  content/docs/extensions/pg_search.md
Due: node src/scripts/update-frontmatter.js

Update glossary.md
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js

docs: address review comments
  content/docs/extensions/pg_duckdb.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js

Update neon-rls-authorize-drizzle.md
  content/docs/guides/neon-rls-authorize-drizzle.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/neon-rls-authorize-drizzle.md
Due: node src/scripts/update-frontmatter.js

docs: edit
  content/docs/introduction/monitor-usage.md
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js

docs: glossary links
  content/docs/introduction/monitor-usage.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/introduction/monitor-usage.md
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js

docs: add azure devops ef core migrations
  content/guides/azure-devops-entity-migrations.md
Due: node src/scripts/update-frontmatter.js

docs: add azure ai search
  content/guides/azure-ai-search.md
Due: node src/scripts/update-frontmatter.js

docs: add azure logic apps
  content/guides/azure-logic-apps.md
Due: node src/scripts/update-frontmatter.js

docs: add golang and gorm guide
  content/guides/golang-gorm-postgres.md
Due: node src/scripts/update-frontmatter.js

docs: add golang and database migrations guide
  content/guides/golang-db-migrations-postgres.md
Due: node src/scripts/update-frontmatter.js

Update plans.json
  src/components/pages/pricing/hero/data/plans.json
Due: none

refactor: update search url
  src/components/shared/algolia-search/algolia-search.jsx
Due: prettier --write, eslint --cache --fix

feat: replace GitHub link with Discord link in mobile menu and sidebar
  src/components/shared/header/mobile-menu/mobile-menu.jsx
  src/components/shared/header/sidebar/sidebar.jsx
Due: prettier --write, eslint --cache --fix

chore: update text and links
  src/app/use-cases/serverless-apps/page.jsx
  src/components/pages/serverless-apps/autoscaling/autoscaling.jsx
  src/components/pages/serverless-apps/hero/hero.jsx
  src/constants/links.js
Due: prettier --write, eslint --cache --fix

feat: replace blog DocSearch with InstantSearch (#2840)
  package-lock.json
  package.json
  public/images/icons/search-dark.svg
  public/images/icons/search-light.svg
  public/images/search-black.svg
  public/images/search-dark.svg
  public/images/search-light.svg
  public/images/search-white.svg
  src/app/(docs)/ai-chat/page.jsx
  src/app/(docs)/docs/layout.jsx
  src/app/blog/(index)/category/[slug]/page.jsx
  src/app/blog/(index)/layout.jsx
  src/app/blog/(index)/page.jsx
  src/app/blog/layout.jsx
  src/app/guides/(index)/authors/[slug]/page.jsx
  src/app/guides/(index)/layout.jsx
  src/app/guides/(index)/page.jsx
  src/app/guides/authors/[slug]/page.jsx
  src/app/postgresql/layout.jsx
  src/components/pages/blog/blog-header/blog-header.jsx
  src/components/pages/blog/blog-search-hit/blog-search-hit.jsx
  src/components/pages/blog/blog-search-hit/index.js
  src/components/pages/blog/sidebar/sidebar.jsx
  src/components/pages/demos/demo-list/demo-list.jsx
  src/components/pages/guides/guide-card/guide-card.jsx
  src/components/pages/guides/sidebar/sidebar.jsx
  src/components/shared/algolia-search/algolia-search.jsx
  src/components/shared/algolia-search/search-input/index.js
  src/components/shared/algolia-search/search-input/search-input.jsx
  src/components/shared/algolia-search/search-results/index.js
  src/components/shared/algolia-search/search-results/search-results.jsx
  src/components/shared/header/header.jsx
  src/components/shared/header/mobile-menu/mobile-menu.jsx
  src/components/shared/layout/layout.jsx
  src/components/shared/topbar/topbar.jsx
  src/styles/search.css
  src/utils/debounce.js
Due: prettier --write, eslint --cache --fix

chore: remove default "and more" from the changelog rss
  content/changelog/2025-02-21.md
  src/app/(docs)/docs/changelog/rss.xml/route.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  package-lock.json
  package.json
Due: none

docs: change image url for missing image
  content/guides/gihub-actions-self-hosted-runners.md
Due: node src/scripts/update-frontmatter.js

docs: add self-hosted runners guide (#3060)
  content/docs/guides/neon-twin-full-pg-dump-restore.md
  content/docs/guides/neon-twin-partial-pg-dump-restore.md
  content/guides/gihub-actions-self-hosted-runners.md
  package-lock.json
  package.json
  public/guides/images/gihub-actions-self-hosted-runners/gihub-actions-self-hosted-runners-auth-method.jpg
  public/guides/images/gihub-actions-self-hosted-runners/gihub-actions-self-hosted-runners-create-droplet.jpg
  public/guides/images/gihub-actions-self-hosted-runners/gihub-actions-self-hosted-runners-droplet-config-1.jpg
  public/guides/images/gihub-actions-self-hosted-runners/gihub-actions-self-hosted-runners-droplet-config-2.jpg
  public/guides/images/gihub-actions-self-hosted-runners/gihub-actions-self-hosted-runners-droplet-ip.jpg
  public/guides/images/gihub-actions-self-hosted-runners/gihub-actions-self-hosted-runners-droplet-name.jpg
  public/guides/images/gihub-actions-self-hosted-runners/gihub-actions-self-hosted-runners-github-runner-idle.jpg
  public/guides/images/gihub-actions-self-hosted-runners/gihub-actions-self-hosted-runners-github-runner-instructions.jpg
  public/guides/images/gihub-actions-self-hosted-runners/gihub-actions-self-hosted-runners-github-runner-offline.jpg
  public/guides/images/gihub-actions-self-hosted-runners/gihub-actions-self-hosted-runners-github-screts.jpg
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/neon-twin-full-pg-dump-restore.md
  content/docs/guides/neon-twin-partial-pg-dump-restore.md
Due: node src/scripts/update-frontmatter.js

feat: replace default rss description with getExcerpt
  src/app/(docs)/docs/changelog/rss.xml/route.js
Due: prettier --write, eslint --cache --fix

feat: add period to headings ending with a letter in getExcerpt
  src/utils/get-excerpt.js
Due: prettier --write, eslint --cache --fix

refactor: roll back occasional packages update
  package-lock.json
  package.json
Due: none

docs: platform maintenance docs
  content/docs/manage/platform-maintenance.md
  content/docs/manage/platform.md
  content/docs/manage/updates.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/manage/platform-maintenance.md
  content/docs/manage/platform.md
  content/docs/manage/updates.md
  package-lock.json
  package.json
Due: node src/scripts/update-frontmatter.js

docs: edit
  content/docs/manage/platform-maintenance.md
Due: node src/scripts/update-frontmatter.js

docs: edit
  content/docs/manage/updates.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/manage/updates.md
Due: node src/scripts/update-frontmatter.js

docs: edit
  content/docs/manage/platform-maintenance.md
  content/docs/manage/updates.md
Due: node src/scripts/update-frontmatter.js

docs: fix title
  content/docs/manage/updates.md
Due: node src/scripts/update-frontmatter.js

refactor: merge request forms to one component, email required
  content/docs/extensions/pg-extensions.md
  content/docs/introduction/regions.md
  src/components/shared/content/content.jsx
  src/components/shared/extension-request/extension-request.jsx
  src/components/shared/extension-request/index.js
  src/components/shared/region-request/index.js
  src/components/shared/request-form/index.js
  src/components/shared/request-form/request-form.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: singular form for the form type
  content/docs/extensions/pg-extensions.md
  content/docs/introduction/regions.md
  src/components/shared/request-form/request-form.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js
