Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

docs: protected branches update
  content/docs/guides/branch-archiving.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/guides/branch-archiving.md
Due: node src/scripts/update-frontmatter.js

docs: azure regions beta
  content/docs/introduction/regions.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/introduction/regions.md
Due: node src/scripts/update-frontmatter.js

feat: add icons and previews for glossary links
  content/docs/introduction.md
  src/components/pages/doc/edit-on-github/edit-on-github.jsx
  src/components/pages/doc/link-preview/link-preview.jsx
  src/components/pages/doc/menu/item/item.jsx
  src/components/shared/content/content.jsx
  src/components/shared/link/link.jsx
  src/icons/external.inline.svg
  src/icons/glossary.inline.svg
  src/utils/get-glossary-item.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/branch-archiving.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/ai/ai-scale-with-neon.md
  content/docs/extensions/pgvector.md
  content/docs/get-started-with-neon/dev-experience.md
  content/docs/guides/autoscaling-algorithm.md
  content/docs/guides/partner-consumption-limits.md
  content/docs/guides/vercel-postgres-transition-guide.md
  content/docs/introduction/billing-sample.md
  content/docs/introduction/extra-usage.md
  content/docs/introduction/manage-billing.md
  content/docs/introduction/monitor-usage.md
  content/docs/introduction/monitoring-page.md
  content/docs/introduction/plans.md
  content/docs/introduction/pricing-estimation-guide.md
  content/docs/introduction/roadmap.md
  content/docs/introduction/usage-metrics.md
  content/docs/manage/endpoints.md
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js

Update snowflake-60-million-postgres.md
  content/guides/snowflake-60-million-postgres.md
Due: node src/scripts/update-frontmatter.js

chore: remove hero image from careers page (#2561)
  src/components/pages/careers/hero/hero.jsx
  src/components/pages/careers/jobs-list/jobs-list.jsx
Due: prettier --write, eslint --cache --fix

chore: update get-glossary-items comments
  src/utils/get-glossary-item.js
Due: prettier --write, eslint --cache --fix

docs: add doc tabs for project creation
  content/docs/manage/azure.md
Due: node src/scripts/update-frontmatter.js

docs: add azure functions link
  content/docs/manage/azure.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

docs: add resources
  content/docs/guides/integrations.md
  content/docs/import/migrate-intro.md
  content/docs/manage/azure.md
Due: node src/scripts/update-frontmatter.js

fix: handle current domain at external and glossary links
  src/components/pages/doc/link-preview/link-preview.jsx
  src/components/shared/content/content.jsx
Due: prettier --write, eslint --cache --fix

chore: change previews text size from 64 to 160 chars
  src/utils/get-glossary-item.js
Due: prettier --write, eslint --cache --fix

docs: add more references
  content/docs/manage/azure.md
Due: node src/scripts/update-frontmatter.js

docs: revisions
  content/docs/manage/azure.md
Due: node src/scripts/update-frontmatter.js

docs: remove line
  content/docs/manage/azure.md
Due: node src/scripts/update-frontmatter.js

chore: add temporary redirect for changelog
  next.config.js
Due: prettier --write, eslint --cache --fix

feat: add interface for error pages (#2559)
  src/app/error.jsx
  src/app/not-found.jsx
  src/components/pages/404/hero/images/illustration.jpg
  src/components/pages/error/hero/hero.jsx
  src/components/pages/error/hero/images/illustration.png
  src/components/pages/error/hero/index.js
  src/components/shared/header/header.jsx
  src/components/shared/layout/layout.jsx
  src/constants/seo-data.js
Due: prettier --write, eslint --cache --fix

docs: edits
  content/docs/guides/neon-authorize-drizzle.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/guides/neon-authorize-drizzle.md
Due: node src/scripts/update-frontmatter.js

chore: add temporary redirect for changelog (#2581)
  next.config.js
Due: prettier --write, eslint --cache --fix

chore: update frontmatter date (auto-update)
  content/docs/introduction/regions.md
Due: node src/scripts/update-frontmatter.js

docs: revisions and add images
  content/docs/introduction/billing-azure-marketplace.md
  public/docs/introduction/azure_create_project.png
  public/docs/introduction/azure_create_resource_group.png
  public/docs/introduction/azure_get_started.png
  public/docs/introduction/azure_go_to_resource.png
  public/docs/introduction/azure_review_and_create.png
  public/docs/introduction/azure_search_neon.png
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/introduction/billing-azure-marketplace.md
Due: node src/scripts/update-frontmatter.js

Revert "feat: add interface for error pages (#2559)"
  src/app/error.jsx
  src/app/not-found.jsx
  src/components/pages/404/hero/hero.jsx
  src/components/pages/404/hero/images/illustration.jpg
  src/components/pages/404/hero/images/illustration.png
  src/components/pages/404/hero/index.js
  src/components/shared/header/header.jsx
  src/components/shared/layout/layout.jsx
  src/constants/seo-data.js
Due: prettier --write, eslint --cache --fix

Revert "feat: add interface for error pages" (#2582)
  src/app/error.jsx
  src/app/not-found.jsx
  src/components/pages/404/hero/hero.jsx
  src/components/pages/404/hero/images/illustration.jpg
  src/components/pages/404/hero/images/illustration.png
  src/components/pages/404/hero/index.js
  src/components/shared/header/header.jsx
  src/components/shared/layout/layout.jsx
  src/constants/seo-data.js
Due: prettier --write, eslint --cache --fix

docs: prevent archiving
  content/docs/guides/branch-archiving.md
Due: node src/scripts/update-frontmatter.js

docs: remove azure beta notice
  content/docs/introduction/regions.md
Due: node src/scripts/update-frontmatter.js

chore: use static redirect for `/home` -> `/` redirect
  next.config.js
  src/app/(home-page)/home/page.jsx
Due: prettier --write, eslint --cache --fix

fix: middleware logic
  src/middleware.js
Due: prettier --write, eslint --cache --fix

chore: use static redirect for `/` -> console or `/home` redirect
  next.config.js
  src/app/(home-page)/page.jsx
  src/app/actions.js
Due: prettier --write, eslint --cache --fix

docs: update image
  public/docs/introduction/project_creation_regions.png
Due: none

Re-adds GCP Identity and Firebase Auth to Authorize, with JWT Audience docs
  content/docs/guides/neon-authorize-future.md
  content/docs/guides/neon-authorize.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/guides/neon-authorize.md
Due: node src/scripts/update-frontmatter.js

docs: branch archiving and protection updates
  content/docs/guides/branch-archiving.md
  content/docs/guides/protected-branches.md
  content/docs/manage/branches.md
  content/docs/security/security-overview.md
Due: node src/scripts/update-frontmatter.js

docs: glossary update
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js
