Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

Update ai-use-in-neon.md
  content/docs/security/ai-use-in-neon.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/manage/platform-maintenance.md
  content/docs/manage/updates.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/security/ai-use-in-neon.md
Due: node src/scripts/update-frontmatter.js

Revert "test: move algolia search to the separate page"
  src/app/blog/(index)/category/[slug]/page.jsx
  src/app/blog/(index)/page.jsx
  src/app/blog/(index)/search/page.jsx
  src/components/pages/blog/blog-header/blog-header.jsx
  src/components/shared/algolia-search/algolia-search.jsx
  src/components/shared/algolia-search/search-input/search-input.jsx
Due: prettier --write, eslint --cache --fix

fix: category page heading and sidebar height
  src/app/blog/(index)/category/[slug]/page.jsx
  src/components/pages/blog/blog-header/blog-header.jsx
  src/components/pages/blog/sidebar/sidebar.jsx
Due: prettier --write, eslint --cache --fix

chore: update GCP regions names
  src/components/shared/request-form/data.js
Due: prettier --write, eslint --cache --fix

docs: improve neon auth about page
  content/docs/guides/neon-auth.md
Due: node src/scripts/update-frontmatter.js

fix: empty search query by default
  src/components/shared/algolia-search/search-results/search-results.jsx
Due: prettier --write, eslint --cache --fix

refactor: remove featured categories posts
  src/utils/api-wp.js
Due: prettier --write, eslint --cache --fix

docs: edits
  content/docs/manage/platform-maintenance.md
Due: node src/scripts/update-frontmatter.js

fix: new blog layout adaptives
  src/app/blog/(index)/category/[slug]/page.jsx
  src/app/blog/(index)/page.jsx
  src/components/pages/blog/sidebar/sidebar.jsx
Due: prettier --write, eslint --cache --fix

feat: update new layout for guides
  src/app/guides/(index)/layout.jsx
  src/app/guides/(index)/page.jsx
  src/components/pages/blog/blog-header/blog-header.jsx
  src/components/pages/guides/sidebar/index.js
  src/components/pages/guides/sidebar/sidebar.jsx
  src/constants/seo-data.js
Due: prettier --write, eslint --cache --fix

docs: add overview topic
  content/docs/introduction/status.md
  content/docs/manage/maintenance-updates-overview.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/manage/maintenance-updates-overview.md
Due: node src/scripts/update-frontmatter.js

refactor: optimize blog pages (#3075)
  src/app/blog/(index)/category/[slug]/page.jsx
  src/app/blog/(index)/layout.jsx
  src/app/blog/(index)/page.jsx
  src/app/guides/(index)/layout.jsx
  src/app/guides/(index)/page.jsx
  src/components/pages/blog/blog-grid-item/blog-grid-item.jsx
  src/components/pages/blog/blog-header/blog-header.jsx
  src/components/pages/blog/sidebar/sidebar.jsx
  src/components/pages/changelog/changelog-list/changelog-list.jsx
  src/components/pages/changelog/changelog-list/index.js
  src/components/pages/doc/post/post.jsx
  src/components/pages/guides/sidebar/index.js
  src/components/pages/guides/sidebar/sidebar.jsx
  src/components/shared/algolia-search/search-results/search-results.jsx
  src/components/shared/scroll-loader/scroll-loader.jsx
  src/constants/seo-data.js
  src/utils/api-wp.js
Due: prettier --write, eslint --cache --fix

docs: schema-only-note
  content/docs/guides/branching-schema-only.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/branching-schema-only.md
Due: node src/scripts/update-frontmatter.js

feat: replace GitHub link with Discord link in mobile menu and sidebar (#3067)
  src/components/shared/header/mobile-menu/mobile-menu.jsx
  src/components/shared/header/sidebar/sidebar.jsx
Due: prettier --write, eslint --cache --fix

docs: revisions
  content/docs/manage/maintenance-updates-overview.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/manage/maintenance-updates-overview.md
Due: node src/scripts/update-frontmatter.js

docs: edit
  content/docs/manage/maintenance-updates-overview.md
  content/docs/manage/platform-maintenance.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/manage/maintenance-updates-overview.md
  content/docs/manage/platform.md
  content/docs/manage/updates.md
Due: node src/scripts/update-frontmatter.js

docs: remove new tags
  content/docs/extensions/dblink.md
  content/docs/extensions/pg_cron.md
  content/docs/extensions/pg_repack.md
  content/docs/extensions/postgres_fdw.md
  content/docs/functions/json.md
  content/docs/functions/json_exists.md
  content/docs/functions/json_query.md
  content/docs/functions/json_scalar.md
  content/docs/functions/json_serialize.md
  content/docs/functions/json_value.md
  content/docs/guides/datadog.md
  content/docs/guides/logical-replication-aurora-to-neon.md
  content/docs/guides/logical-replication-supabase-to-neon.md
  content/docs/guides/nuxt.md
  content/docs/guides/sveltekit.md
  content/docs/introduction/billing-azure-marketplace.md
  content/docs/introduction/monitor-active-queries.md
  content/docs/introduction/monitor-query-history.md
  content/docs/manage/azure.md
  content/docs/manage/platform-maintenance.md
  content/docs/manage/platform.md
  content/docs/sidebar.yaml
  content/postgresql/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/extensions/dblink.md
  content/docs/extensions/pg_cron.md
  content/docs/extensions/pg_repack.md
  content/docs/extensions/postgres_fdw.md
  content/docs/functions/json.md
  content/docs/functions/json_exists.md
  content/docs/functions/json_query.md
  content/docs/functions/json_scalar.md
  content/docs/functions/json_serialize.md
  content/docs/functions/json_value.md
  content/docs/guides/datadog.md
  content/docs/guides/logical-replication-aurora-to-neon.md
  content/docs/guides/logical-replication-supabase-to-neon.md
  content/docs/guides/nuxt.md
  content/docs/guides/sveltekit.md
  content/docs/introduction/billing-azure-marketplace.md
  content/docs/introduction/monitor-active-queries.md
  content/docs/introduction/monitor-query-history.md
  content/docs/introduction/status.md
  content/docs/manage/azure.md
  content/docs/manage/maintenance-updates-overview.md
  content/docs/manage/platform-maintenance.md
  content/docs/manage/platform.md
  content/docs/manage/updates.md
Due: node src/scripts/update-frontmatter.js

docs: updates name sidebar
  content/docs/sidebar.yaml
Due: none

test: blog loading
  src/app/blog/(index)/category/[slug]/page.jsx
  src/app/blog/(index)/page.jsx
  src/app/guides/(index)/page.jsx
  src/components/pages/blog/blog-header/blog-header.jsx
  src/components/shared/algolia-search/algolia-search.jsx
Due: prettier --write, eslint --cache --fix

docs: rename Neon RLS Authorize to Neon RLS in documentation
  content/changelog/2025-02-07.md
  content/docs/extensions/pg-extensions.md
  content/docs/guides/auth-clerk.md
  content/docs/guides/neon-rls-auth0.md
  content/docs/guides/neon-rls-authorize-future.md
  content/docs/guides/neon-rls-authorize-workos.md
  content/docs/guides/neon-rls-aws-cognito.md
  content/docs/guides/neon-rls-azure-ad.md
  content/docs/guides/neon-rls-clerk.md
  content/docs/guides/neon-rls-custom-jwt.md
  content/docs/guides/neon-rls-descope.md
  content/docs/guides/neon-rls-drizzle.md
  content/docs/guides/neon-rls-firebase-gcp.md
  content/docs/guides/neon-rls-future.md
  content/docs/guides/neon-rls-google-identity.md
  content/docs/guides/neon-rls-keycloak.md
  content/docs/guides/neon-rls-propelauth.md
  content/docs/guides/neon-rls-stack-auth.md
  content/docs/guides/neon-rls-stytch.md
  content/docs/guides/neon-rls-supertokens.md
  content/docs/guides/neon-rls-troubleshooting.md
  content/docs/guides/neon-rls-tutorial.md
  content/docs/guides/neon-rls-workos.md
  content/docs/guides/neon-rls.md
  content/docs/introduction/roadmap.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/extensions/pg-extensions.md
Due: node src/scripts/update-frontmatter.js

docs: compute endpoint naming
  content/docs/connect/connection-pooling.md
  content/docs/get-started-with-neon/signing-up.md
  content/docs/guides/branching-neon-cli.md
  content/docs/manage/endpoints.md
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js

docs: revisions
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/connect/connection-pooling.md
  content/docs/get-started-with-neon/signing-up.md
  content/docs/guides/branching-neon-cli.md
  content/docs/manage/endpoints.md
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js

docs: mention aws region requirement
  content/docs/extensions/pg_search.md
Due: node src/scripts/update-frontmatter.js

docs: fix spelling mistakes in documentation
  content/docs/guides/netlify-functions.md
  content/docs/guides/vercel-native-integration-previews.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/netlify-functions.md
  content/docs/guides/vercel-native-integration-previews.md
Due: node src/scripts/update-frontmatter.js

docs: fix broken links in documentation
  MANUAL_FIX_LINKS.md
  content/docs/guides/neon-rls-authorize-drizzle.md
  content/docs/guides/read-replica-prisma.md
  content/docs/guides/vercel-previews-integration.md
  content/docs/introduction/roadmap.md
  content/docs/unused/getting-started.md
  content/docs/use-cases/saas-apps.md
Due: node src/scripts/update-frontmatter.js
