Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

Update content/changelog/2025-10-03.md
  content/changelog/2025-10-03.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/introduction/plans.md
  content/docs/introduction/support.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/extensions/pg-extensions.md
Due: node src/scripts/update-frontmatter.js

docs: add initial content
  content/changelog/2025-10-10.md
  content/docs/extensions/pg-extensions.md
Due: node src/scripts/update-frontmatter.js

Fix formatting in support plan details
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

feat: add new form linked to customer.io
  src/components/pages/partners/apply/apply.jsx
  src/components/pages/partners/apply/partner-form.jsx
Due: prettier --write, eslint --cache --fix

Update plans.json
  src/components/pages/pricing/plans/data/plans.json
Due: none

refactor: use shared components
  src/components/pages/partners/apply/partner-form.jsx
Due: prettier --write, eslint --cache --fix

docs: docs aa cleanup
  content/changelog/2024-01-19.md
  content/changelog/2025-02-14.md
  content/docs/get-started/why-neon.md
  content/docs/guides/database-per-user.md
  content/docs/guides/integrations.md
  content/docs/guides/logical-replication-aurora-to-neon.md
  content/docs/guides/logical-replication-guide.md
  content/docs/guides/multitenancy.md
  content/docs/import/migrate-intro.md
  content/docs/introduction/logical-replication.md
  content/docs/introduction/roadmap.md
  content/docs/navigation.yaml
  content/faster/index.md
  content/pages/use-cases/dev-test.md
  llms.txt
  public/llms.txt
  public/llms/get-started-why-neon.txt
  public/llms/guides-database-per-user.txt
  public/llms/guides-integrations.txt
  public/llms/guides-logical-replication-aurora-to-neon.txt
  public/llms/guides-logical-replication-guide.txt
  public/llms/guides-multitenancy.txt
  public/llms/import-migrate-intro.txt
  public/llms/introduction-logical-replication.txt
  public/llms/introduction-roadmap.txt
Due: node src/scripts/update-frontmatter.js

docs: add redirect
  content/docs/guides/logical-replication-guide.md
Due: node src/scripts/update-frontmatter.js

fix: content
  content/pages/use-cases/dev-test.md
  src/app/enterprise/page.jsx
  src/app/variable-load/page.jsx
  src/components/pages/variable/efficiency/efficiency.jsx
  src/components/pages/variable/unique/unique.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

Update src/components/pages/variable/unique/unique.jsx
  src/components/pages/variable/unique/unique.jsx
Due: prettier --write, eslint --cache --fix

fix: content updates (#4024)
  content/pages/use-cases/dev-test.md
  src/app/enterprise/page.jsx
  src/app/variable-load/page.jsx
  src/components/pages/variable/efficiency/efficiency.jsx
  src/components/pages/variable/unique/unique.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

Fix typo in ORDER BY section of PostgreSQL tutorial
  content/postgresql/postgresql-tutorial/postgresql-order-by.md
Due: node src/scripts/update-frontmatter.js

fix: remove unused logic
  src/components/pages/partners/apply/apply.jsx
  src/components/pages/partners/apply/partner-form.jsx
Due: prettier --write, eslint --cache --fix

chore: remove unused styling
  src/components/pages/partners/apply/apply.jsx
Due: prettier --write, eslint --cache --fix

docs: fix ruby guide
  content/docs/guides/ruby-on-rails.md
  public/prompts/ruby-on-rails.md
Due: node src/scripts/update-frontmatter.js

feat: generate id at DefinitionList
  src/components/pages/doc/definition-list/definition-list.jsx
Due: prettier --write, eslint --cache --fix

docs: add django prompt
  content/docs/guides/django.md
  public/prompts/django-prompt.md
Due: node src/scripts/update-frontmatter.js

docs: update versions
  content/docs/extensions/pg-extensions.md
Due: node src/scripts/update-frontmatter.js

docs: fix typo in postgres multicolumn indexes
  content/postgresql/postgresql-indexes/postgresql-multicolumn-indexes.md
Due: node src/scripts/update-frontmatter.js

Update command to load schema using psql
  content/docs/import/migrate-schema-only.md
Due: node src/scripts/update-frontmatter.js

Update postgresql-having.md
  content/postgresql/postgresql-tutorial/postgresql-having.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/import/migrate-schema-only.md
Due: node src/scripts/update-frontmatter.js

docs: fix navigation order for GROUPING SETS, CUBE, ROLLUP, and Subquery documents
  content/postgresql/postgresql-tutorial/postgresql-cube.md
  content/postgresql/postgresql-tutorial/postgresql-grouping-sets.md
  content/postgresql/postgresql-tutorial/postgresql-rollup.md
  content/postgresql/postgresql-tutorial/postgresql-subquery.md
Due: node src/scripts/update-frontmatter.js

docs: autoscaling default update
  public/llms/guides-autoscaling-guide.txt
Due: none

feat: add AnchorHeading to DefinitionList
  src/components/pages/doc/definition-list/definition-list.jsx
Due: prettier --write, eslint --cache --fix

fix: rm group at DefinitionList
  src/components/pages/doc/definition-list/definition-list.jsx
Due: prettier --write, eslint --cache --fix

fix: upd anchor span at DefinitionList
  src/components/pages/doc/definition-list/definition-list.jsx
Due: prettier --write, eslint --cache --fix

chore: update frontmatter date (auto-update)
  content/docs/guides/ruby-on-rails.md
Due: node src/scripts/update-frontmatter.js

feat: generate id at DefinitionList (#4027)
  src/components/pages/doc/definition-list/definition-list.jsx
Due: prettier --write, eslint --cache --fix

feat: upd pricing scale link style
  src/components/pages/pricing/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

fix: upd pricing scale link style
  src/components/pages/pricing/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

feat: update pricing Contact us link style (#4030)
  src/components/pages/pricing/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
