Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

Update page.jsx
  src/app/(home-page)/home/page.jsx
Due: prettier --write, eslint --cache --fix

Update page.jsx
  src/app/(home-page)/last-week-in-aws/page.jsx
Due: prettier --write, eslint --cache --fix

Update page.jsx
  src/app/(home-page)/pgt/page.jsx
Due: prettier --write, eslint --cache --fix

Update page.jsx
  src/app/(home-page)/radio/page.jsx
Due: prettier --write, eslint --cache --fix

Update page.jsx
  src/app/(home-page)/stackoverflow/page.jsx
Due: prettier --write, eslint --cache --fix

Update page.jsx
  src/app/(home-page)/youtube/page.jsx
Due: prettier --write, eslint --cache --fix

docs: revisions
  content/docs/use-cases/ai-agents.md
  content/docs/use-cases/dev-test.md
  content/docs/use-cases/platforms.md
  content/docs/use-cases/saas-apps.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/use-cases/platforms.md
  content/docs/use-cases/saas-apps.md
Due: node src/scripts/update-frontmatter.js

Delete src/app/(home-page)/home/page.jsx
  src/app/(home-page)/home/page.jsx
Due: prettier --write, eslint --cache --fix

chore: update frontmatter date (auto-update)
  content/docs/ai/ai-intro.md
  content/docs/use-cases/ai-agents.md
  content/docs/use-cases/database-per-user.md
  content/docs/use-cases/dev-test.md
  content/docs/use-cases/platforms.md
  content/docs/use-cases/saas-apps.md
  content/docs/use-cases/use-cases-overview.md
  content/docs/use-cases/variable-traffic.md
Due: node src/scripts/update-frontmatter.js

Update next.config.js
  next.config.js
Due: prettier --write, eslint --cache --fix

docs: website compute size updates
  content/docs/use-cases/saas-apps.md
  content/use-cases/postgres-for-saas.md
  src/components/pages/pricing/hero/data/plans.json
  src/components/pages/pricing/plans/data/plans.json
Due: node src/scripts/update-frontmatter.js

Update plans.json
  src/components/pages/pricing/hero/data/plans.json
Due: none

chore: update frontmatter date (auto-update)
  content/docs/use-cases/saas-apps.md
Due: node src/scripts/update-frontmatter.js

docs: roadmap update
  content/docs/introduction/roadmap.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/introduction/roadmap.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/introduction/roadmap.md
Due: node src/scripts/update-frontmatter.js

docs: read replica delay issue
  content/docs/guides/read-replica-guide.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/guides/read-replica-guide.md
Due: node src/scripts/update-frontmatter.js

chore: update scale to zero feature description
  src/components/pages/pricing/plans/data/plans.json
Due: none

docs: edit
  content/docs/guides/read-replica-guide.md
Due: node src/scripts/update-frontmatter.js

Create page.jsx
  src/app/(home-page)/home/page.jsx
Due: prettier --write, eslint --cache --fix

Update layout.jsx
  src/app/(home-page)/layout.jsx
Due: prettier --write, eslint --cache --fix

Update middleware.js
  src/middleware.js
Due: prettier --write, eslint --cache --fix

docs: query wait timeout error
  content/docs/connect/connection-errors.md
Due: node src/scripts/update-frontmatter.js

docs: convert to aws billing
  content/docs/introduction/billing-aws-marketplace.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/introduction/billing-aws-marketplace.md
Due: node src/scripts/update-frontmatter.js

docs: add another error
  content/docs/connect/connection-errors.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/introduction/billing-aws-marketplace.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/read-replica-guide.md
Due: node src/scripts/update-frontmatter.js

docs: remove scale to zero config from pricing
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

docs: partial draft
  content/changelog/2024-12-13.md
  public/docs/relnotes/psql_sh.png
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/changelog/2024-12-13.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/changelog/2024-12-13.md
Due: node src/scripts/update-frontmatter.js

Update content/changelog/2024-12-13.md
  content/changelog/2024-12-13.md
Due: node src/scripts/update-frontmatter.js

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
