Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: edits
  content/docs/manage/api-keys.md
Due: node src/scripts/update-frontmatter.js

docs: adjust nav
  content/docs/functions/introduction.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

docs: minor adjustments
  content/docs/functions/window-lead.md
Due: node src/scripts/update-frontmatter.js

docs: minor items, adjust nav
  content/docs/functions/introduction.md
  content/docs/functions/window-lag.md
Due: node src/scripts/update-frontmatter.js

fix: case studies cards mobile layout
  src/components/pages/case-studies/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

docs: minor
  content/docs/functions/window-lag.md
  content/docs/functions/window-lead.md
Due: node src/scripts/update-frontmatter.js

docs: sidebar
  content/docs/sidebar.yaml
Due: none

docs: minor edits
  content/docs/functions/concat.md
Due: node src/scripts/update-frontmatter.js

feat: update cli page hero section, add os target support
  src/components/pages/cli/hero/code-tabs/code-tabs-navigation.jsx
  src/components/pages/cli/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

chore: update cli page hero texts
  src/components/pages/cli/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

docs: intro
  content/docs/functions/introduction.md
Due: node src/scripts/update-frontmatter.js

docs: minor edits
  content/docs/functions/substring.md
Due: node src/scripts/update-frontmatter.js

docs: minor edits
  content/docs/functions/introduction.md
Due: node src/scripts/update-frontmatter.js

Update llamaindex-postgres-search-images.md
  content/guides/llamaindex-postgres-search-images.md
Due: node src/scripts/update-frontmatter.js

fix: docs og image background increase quality
  public/images/og-image/docs-background.jpg
Due: none

docs: add example apps section
  content/docs/sidebar.yaml
Due: none

docs: replace old pg_embedding link
  src/app/ai/page.jsx
Due: prettier --write, eslint --cache --fix

docs: update sidebar
  content/docs/sidebar.yaml
Due: none

fix: landing metadata twitterImage check
  src/app/[slug]/page.jsx
Due: prettier --write, eslint --cache --fix

Update cloudflare-pages.md
  content/docs/guides/cloudflare-pages.md
Due: node src/scripts/update-frontmatter.js

Update chatbot-astro-postgres-llamaindex.md
  content/guides/chatbot-astro-postgres-llamaindex.md
Due: node src/scripts/update-frontmatter.js

docs: table page for drizzle studio usability features
  content/docs/manage/tables.md
  content/docs/sidebar.yaml
  public/docs/manage/add_record_drizzle.png
  public/docs/manage/delete_record_drizzle.png
  public/docs/manage/edit_record_drizzle.png
  public/docs/manage/export_drizzle.png
  public/docs/manage/filter_drizzle.gif
  public/docs/manage/toggle_columns_drizzle.gif
  public/docs/manage/view_data_drizzle.gif
  public/docs/manage/view_filters_drizzle.gif
Due: node src/scripts/update-frontmatter.js

docs: remove defunct gif
  content/docs/manage/tables.md
  public/docs/manage/view_data_drizzle.gif
Due: node src/scripts/update-frontmatter.js

Update topbar.jsx
  src/components/shared/topbar/topbar.jsx
Due: prettier --write, eslint --cache --fix

docs: added link to table on playing with neon page
  content/docs/get-started-with-neon/signing-up.md
Due: node src/scripts/update-frontmatter.js

fix: cli page hero section paddings
  src/components/pages/cli/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

feat: add cli page animation
  public/videos/pages/cli/code.mp4
  public/videos/pages/cli/code.webm
  src/components/pages/cli/try/images/animation.png
  src/components/pages/cli/try/try.jsx
Due: prettier --write, eslint --cache --fix

Update content/docs/manage/tables.md
  content/docs/manage/tables.md
Due: node src/scripts/update-frontmatter.js

fix: lost header sticky property
  src/components/shared/header/header.jsx
Due: prettier --write, eslint --cache --fix

docs: content updates
  content/docs/ai/ai-intro.md
  content/docs/ai/amazon-bedrock.md
  content/docs/ai/amazon-titan.md
  content/docs/ai/claude.md
  content/docs/ai/cohere.md
  content/docs/ai/fireworks-ai.md
  content/docs/ai/hugging-face.md
  content/docs/ai/jurassic.md
  content/docs/ai/langchain.md
  content/docs/ai/llamaindex.md
  content/docs/ai/memgpt.md
  content/docs/ai/mistral.md
  content/docs/ai/openai.md
  content/docs/ai/portkey-ai.md
  content/docs/ai/stable-diffusion.md
  content/docs/ai/vertex-ai.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
