Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/introduction/manage-billing.md
  content/docs/introduction/monitor-usage.md
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/connect/connection-latency.md
  content/docs/guides/benchmarking-latency.md
Due: node src/scripts/update-frontmatter.js

fix: add userId to customerio identify event
  src/components/pages/startups/hero/contact-form/contact-form.jsx
Due: prettier --write, eslint --cache --fix

docs: project limit increase
  content/docs/introduction/legacy-plans.md
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

chore: reorder Prettier workflow steps and clean up markdown files
  .github/workflows/format-markdown.yml
  content/docs/connect/connection-latency.md
  content/docs/guides/benchmarking-latency.md
Due: node src/scripts/update-frontmatter.js

chore: add git stash commands to Prettier workflow for better formatting management
  .github/workflows/format-markdown.yml
Due: none

chore: remove git stash commands from Prettier workflow to simplify formatting process
  .github/workflows/format-markdown.yml
Due: none

chore: update markdown file to test workflow
  content/docs/neon-auth/concepts/user-onboarding.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  package-lock.json
Due: none

fix: format markdown workflow (#3862)
  .github/workflows/format-markdown.yml
  content/docs/connect/connection-latency.md
  content/docs/guides/benchmarking-latency.md
  content/docs/neon-auth/concepts/user-onboarding.md
  package-lock.json
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/connect/connection-latency.md
  content/docs/guides/benchmarking-latency.md
  content/docs/neon-auth/concepts/user-onboarding.md
Due: node src/scripts/update-frontmatter.js

docs: changelog-2025-08-29
  .cursor/neon-changelog.rules
  content/changelog/2025-08-29.md
Due: node src/scripts/update-frontmatter.js

docs: add project limit increase
  content/changelog/2025-08-29.md
Due: node src/scripts/update-frontmatter.js

docs: add neon local entry
  content/changelog/2025-08-29.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/changelog/2025-08-29.md
Due: node src/scripts/update-frontmatter.js

fix: return promise for gtag events
  src/components/pages/startups/hero/contact-form/contact-form.jsx
  src/utils/send-gtag-event.js
Due: prettier --write, eslint --cache --fix

feat: agent plan page update
  content/pages/use-cases/ai-agents.md
  src/components/pages/pricing/hero/hero.jsx
  src/components/shared/content/content.jsx
  src/components/shared/program-form/data.js
  src/components/shared/program-form/index.js
  src/components/shared/program-form/program-form.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

fix: description typo
  content/pages/use-cases/ai-agents.md
Due: node src/scripts/update-frontmatter.js

fix: correct link
  src/components/pages/pricing/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

Update postgresql-schema.md
  content/postgresql/postgresql-administration/postgresql-schema.md
Due: node src/scripts/update-frontmatter.js

docs: update data api
  content/docs/data-api/get-started.md
Due: node src/scripts/update-frontmatter.js

docs: add drizzle usersSync helper
  content/docs/neon-auth/quick-start/drizzle.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

Update scale to zero timing for Scale plan
  content/docs/guides/scale-to-zero-guide.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/guides/scale-to-zero-guide.md
Due: node src/scripts/update-frontmatter.js

Update scale to zero configuration details
  content/docs/guides/scale-to-zero-guide.md
Due: node src/scripts/update-frontmatter.js

docs: update rls drizzle
  content/docs/guides/rls-drizzle.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/scale-to-zero-guide.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/introduction/legacy-plans.md
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

docs: mention pg_repack update
  content/changelog/2025-08-29.md
Due: node src/scripts/update-frontmatter.js

fix: form and text
  content/pages/use-cases/ai-agents.md
  src/components/pages/pricing/hero/hero.jsx
  src/components/shared/program-form/program-form.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

fix: clarify pricing
  content/pages/use-cases/ai-agents.md
Due: node src/scripts/update-frontmatter.js

feat: docs navigation subnav sections
  content/docs/navigation.yaml
  src/components/pages/doc/docs-navigation/item/item.jsx
  src/components/pages/doc/menu/menu.jsx
  src/components/pages/doc/mobile-nav/mobile-nav.jsx
  src/components/pages/doc/sidebar/sidebar.jsx
Due: prettier --write, eslint --cache --fix

chore: update integration icons
  src/icons/docs/sidebar/github.inline.svg
  src/icons/docs/sidebar/vercel.inline.svg
Due: none

refactor: remove legacy console logs
  src/components/pages/doc/sidebar/sidebar.jsx
Due: prettier --write, eslint --cache --fix

fix: sidebar paddings
  src/components/pages/doc/menu/item/item.jsx
  src/components/pages/doc/menu/menu.jsx
Due: prettier --write, eslint --cache --fix

docs: add rls database views
  content/docs/guides/rls-drizzle.md
Due: node src/scripts/update-frontmatter.js

fix: small style tweaks
  src/components/pages/doc/docs-navigation/item/item.jsx
  src/components/pages/doc/menu/menu.jsx
Due: prettier --write, eslint --cache --fix

feat: add claude code support
  content/changelog/2025-08-27.md
  content/docs/ai/ai-agents-tools.md
  content/docs/ai/neon-mcp-server.md
  content/docs/introduction/roadmap.md
  content/docs/sidebar.yaml
  content/guides/authors/data.json
  content/guides/claude-code-mcp-neon.md
  public/guides/authors/pedro-figueiredo.jpg
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/changelog/2025-08-27.md
  content/guides/claude-code-mcp-neon.md
Due: node src/scripts/update-frontmatter.js

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
