Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: backend updates
  content/docs/ai-gateway/chat-completions.md
  content/docs/storage/troubleshooting.md
Due: node src/scripts/update-frontmatter.js

docs: clarify input vs output token rate limits in AI Gateway models
  content/docs/ai-gateway/models.md
Due: node src/scripts/update-frontmatter.js

docs: link account quota 429 to rate limits in AI Gateway troubleshooting
  content/docs/ai-gateway/troubleshooting.md
Due: node src/scripts/update-frontmatter.js

docs: expand neon.ts docs and examples
  content/docs/reference/neon-ts.md
Due: node src/scripts/update-frontmatter.js

docs: expand neon.ts docs and examples (#5097)
  content/docs/reference/neon-ts.md
Due: node src/scripts/update-frontmatter.js

docs: update supported models
  content/docs/ai-gateway/models.md
  content/docs/ai-gateway/overview.md
Due: node src/scripts/update-frontmatter.js

feat: update docs index
  content/changelog/2026-01-23.md
  content/docs/introduction.md
  public/images/technology-logos/claude-code-dark.svg
  public/images/technology-logos/claude-code.svg
  public/images/technology-logos/codex-dark.svg
  public/images/technology-logos/codex.svg
  public/images/technology-logos/copilot-dark.svg
  public/images/technology-logos/copilot.svg
  public/images/technology-logos/cursor-dark.svg
  public/images/technology-logos/cursor.svg
  src/components/pages/doc/community-banner/community-banner.jsx
  src/components/pages/doc/compact-cards/compact-cards.jsx
  src/components/pages/doc/compact-cards/index.js
  src/components/pages/doc/detail-icon-cards/detail-icon-cards.jsx
  src/components/pages/doc/post/post.jsx
  src/components/pages/doc/prompt-cards/index.js
  src/components/pages/doc/tag/tag.jsx
  src/components/pages/doc/twin-paths/twin-paths.jsx
  src/components/shared/content/content.jsx
  src/components/shared/doc-cta/doc-cta.jsx
  src/components/shared/request-form/request-form.jsx
  src/config/docs-icons-config.js
  src/images/pages/docs/request-form/backend-form-dark-bg.png
  src/images/pages/docs/request-form/backend-form-light-bg.png
  src/scripts/LLMS_PROCESSOR_GUIDE.md
  src/scripts/__snapshots__/process-md-for-llms.test.js.snap
  src/scripts/fixtures/mdx-conversion-test.md
  src/scripts/process-md-for-llms.js
  src/scripts/process-md-for-llms.test.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: design qa adjustments
  src/components/pages/doc/compact-cards/compact-cards.jsx
  src/components/pages/doc/post/post.jsx
  src/components/pages/doc/twin-paths/twin-paths.jsx
  src/components/shared/request-form/request-form.jsx
Due: prettier --write, eslint --cache --fix

docs: remove the legacy Early Access Program
  content/docs/cli/projects.md
  content/docs/guides/auth-clerk.md
  content/docs/guides/branching-neon-api.md
  content/docs/introduction/early-access.md
  content/docs/introduction/roadmap.md
  content/docs/manage/organizations.md
  content/docs/manage/projects.md
  content/docs/manage/user-permissions.md
  content/docs/navigation.yaml
  content/docs/shared-content/coming-soon.md
  content/docs/shared-content/early-access-props.md
  content/docs/shared-content/early-access.md
  next.config.js
  src/scripts/__snapshots__/process-md-for-llms.test.js.snap
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

Fix code example description in MAKE_INTERVAL Function docs
  content/postgresql/date-functions/make_interval.md
Due: node src/scripts/update-frontmatter.js

Fix mistakes in MAKE_TIME Function docs
  content/postgresql/date-functions/make_time.md
Due: node src/scripts/update-frontmatter.js

docs: add changelog for 2026-06-20
  content/changelog/2026-06-20.md
  content/docs/guides/neon-managed-vercel-integration.md
Due: node src/scripts/update-frontmatter.js

docs: remove deprecated /consumption_history/account references and DeepSeek models
  content/docs/guides/ai-agent-integration.md
  content/docs/guides/consumption-limits.md
  content/docs/guides/consumption-metrics-legacy.md
  content/docs/introduction/usage-calculations.md
  content/docs/manage/orgs-api-consumption.md
  content/docs/reference/typescript-sdk.md
  content/docs/shared-content/consumption-account-api-deprecation.md
Due: node src/scripts/update-frontmatter.js

docs: answer recurring FAQ questions in the canonical docs
  content/docs/connect/connect-from-any-app.md
  content/docs/connect/connection-errors.md
  content/docs/connect/connection-pooling.md
  content/docs/extensions/pgvector.md
  content/docs/get-started/query-with-neon-sql-editor.md
  content/docs/import/import-from-csv.md
  content/docs/import/migrate-from-postgres.md
  content/docs/import/migrate-neon-to-another-region.md
  content/docs/import/region-migration.md
  content/docs/introduction/plans.md
  content/docs/introduction/regions.md
  content/docs/manage/api-keys.md
  content/docs/manage/backup-pg-dump.md
  content/docs/manage/databases.md
  content/docs/manage/projects.md
  content/docs/manage/roles.md
  content/docs/postgresql/postgres-version-policy.md
  content/docs/security/security-overview.md
Due: node src/scripts/update-frontmatter.js

docs: remove unused ComingSoon and EarlyAccess shared components
  content/docs/community/component-specialized.md
  content/docs/shared-content/coming-soon.md
  content/docs/shared-content/early-access.md
  content/docs/shared-content/index.js
  src/scripts/LLMS_PROCESSOR_GUIDE.md
  src/scripts/__snapshots__/process-md-for-llms.test.js.snap
  src/scripts/fixtures/mdx-conversion-test.md
  src/scripts/process-md-for-llms.js
  src/scripts/process-md-for-llms.test.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: misc fixes
  content/docs/auth/authentication-flow.md
  content/docs/connect/connection-errors.md
  content/docs/data-api/get-started.md
  content/docs/introduction/plans.md
  content/docs/reference/javascript-sdk.md
  content/docs/serverless/serverless-driver.md
Due: node src/scripts/update-frontmatter.js

docs: misc fixes (#5110)
  content/docs/auth/authentication-flow.md
  content/docs/connect/connection-errors.md
  content/docs/data-api/get-started.md
  content/docs/introduction/plans.md
  content/docs/reference/javascript-sdk.md
  content/docs/serverless/serverless-driver.md
Due: node src/scripts/update-frontmatter.js

Fix a few mistakes in the MAKE_TIME Function docs (#5108)
  content/postgresql/date-functions/make_time.md
Due: node src/scripts/update-frontmatter.js

Fix code example description in the PostgreSQL MAKE_INTERVAL() Function docs (#5107)
  content/postgresql/date-functions/make_interval.md
Due: node src/scripts/update-frontmatter.js

Fix mistakes in the PostgreSQL BOOL_AND() Function docs (#5086)
  content/postgresql/aggregate-functions/bool_and.md
Due: node src/scripts/update-frontmatter.js

fix: guard generate-skills-index main() behind require.main check
  src/scripts/__snapshots__/process-md-for-llms.test.js.snap
  src/scripts/generate-skills-index.js
  src/scripts/process-md-for-llms.test.js
Due: prettier --write, eslint --cache --fix

docs: add static IP addresses for hosted MCP server
  content/docs/ai/neon-mcp-server.md
  content/docs/introduction/ip-allow.md
Due: node src/scripts/update-frontmatter.js

docs: add static IP addresses for hosted MCP server (#5018)
  content/docs/ai/neon-mcp-server.md
  content/docs/introduction/ip-allow.md
Due: node src/scripts/update-frontmatter.js

fix: skip updatedOn stamp for files staged by a merge, not by this branch
  src/scripts/update-frontmatter.js
Due: prettier --write, eslint --cache --fix

fix: guard generate-skills-index main() behind require.main check (#5111)
  src/scripts/__snapshots__/process-md-for-llms.test.js.snap
  src/scripts/generate-skills-index.js
  src/scripts/process-md-for-llms.test.js
Due: prettier --write, eslint --cache --fix

docs: serve markdown indexes for site dirs
  next.config.js
  scripts/test-markdown-urls.js
  src/app/(docs)/docs/[...slug]/page.jsx
  src/app/postgresql/[...slug]/page.jsx
  src/constants/content.js
  src/middleware.test.js
  src/proxy.js
  src/scripts/compare-md-conversion.js
  src/scripts/generate-llms-full.js
  src/scripts/generate-llms-index.js
  src/scripts/process-md-for-llms.js
  src/scripts/process-md-for-llms.test.js
  src/utils/ai-agent-detection.js
  src/utils/ai-agent-detection.test.js
Due: prettier --write, eslint --cache --fix

fix: destructure processFile return in CLI component tests
  src/scripts/process-md-for-llms.test.js
Due: prettier --write, eslint --cache --fix

docs: add clarifying comments on /docs alias and route index coupling
  src/proxy.js
  src/scripts/process-md-for-llms.js
  src/utils/ai-agent-detection.js
Due: prettier --write, eslint --cache --fix

docs: a little bit of reordering
  src/scripts/generate-llms-index.js
  src/scripts/llms-index-config.js
Due: prettier --write, eslint --cache --fix

Add missing code example to NOW Function docs
  content/postgresql/date-functions/now.md
Due: node src/scripts/update-frontmatter.js

Add missing code example to TIMEOFDAY Function docs
  content/postgresql/date-functions/timeofday.md
Due: node src/scripts/update-frontmatter.js

chore: update videos, add link
  public/videos/pages/home/hero/ai-gateway.mp4
  public/videos/pages/home/hero/ai-gateway.webm
  public/videos/pages/home/hero/authentication.jpg
  public/videos/pages/home/hero/authentication.mp4
  public/videos/pages/home/hero/authentication.webm
  public/videos/pages/home/hero/compute.mp4
  public/videos/pages/home/hero/compute.webm
  public/videos/pages/home/hero/postgres-database.mp4
  public/videos/pages/home/hero/postgres-database.webm
  src/components/pages/home/hero/hero-services.jsx
  src/components/pages/home/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

docs: revisions
  content/changelog/2026-06-20.md
Due: node src/scripts/update-frontmatter.js

docs: fix lakebase_text BM25 operator from <&> to <@> in search guide
  content/guides/lakebase-vector-bm25-search.md
Due: node src/scripts/update-frontmatter.js

docs: rename changelog to correct date 2026-06-19
  content/changelog/2026-06-19.md
Due: node src/scripts/update-frontmatter.js

docs: remove duplicate lakebase search entry from changelog
  content/changelog/2026-06-19.md
Due: node src/scripts/update-frontmatter.js

docs: nav updates
  content/docs/compute/functions/overview.md
  content/docs/introduction.md
  content/docs/introduction/architecture-overview.md
  content/docs/navigation.yaml
  content/docs/postgresql/introduction.md
  src/components/pages/doc/post/post.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: add referral program pilot to changelog
  content/changelog/2026-06-19.md
Due: node src/scripts/update-frontmatter.js

Update next.config.js
  next.config.js
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
