Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

docs: revisions
  content/changelog/2026-02-13.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/oauth-integration.md
  content/docs/guides/platform-integration-overview.md
Due: node src/scripts/update-frontmatter.js

docs: add otel entry
  content/changelog/2026-02-13.md
  content/docs/guides/opentelemetry.md
  public/docs/changelog/otel_custom_header.png
Due: node src/scripts/update-frontmatter.js

fix: minor rework typography for branching page
  src/app/branching/[slug]/page.jsx
  src/components/pages/branching/breadcrumbs/breadcrumbs.jsx
  src/components/shared/navigation-links/navigation-links.jsx
  src/icons/arrow-back.inline.svg
  src/styles/doc-content.css
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

fix: homepage hero copy
  src/components/pages/home/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

fix: homepage hero copy (#4482)
  src/components/pages/home/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

feat(regions): new cell info
  content/docs/guides/neon-private-networking.md
  content/docs/introduction/regions.md
Due: node src/scripts/update-frontmatter.js

docs: update images
  public/docs/changelog/jules_mcp.png
  public/docs/changelog/otel_custom_header.png
Due: none

docs: move item up
  content/changelog/2026-02-13.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/community/ai-tools.md
  content/docs/guides/opentelemetry.md
Due: node src/scripts/update-frontmatter.js

docs: changelog-02-20-2026
  content/changelog/2026-02-20.md
Due: node src/scripts/update-frontmatter.js

docs: update timescaledb doc
  content/docs/extensions/pg-extensions.md
  content/docs/extensions/timescaledb.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/extensions/pg-extensions.md
  content/docs/extensions/timescaledb.md
Due: node src/scripts/update-frontmatter.js

docs: update Claude plugin install commands for Neon marketplace
  content/docs/ai/ai-claude-code-plugin.md
Due: node src/scripts/update-frontmatter.js

docs: align Claude plugin commands with renamed neon marketplace
  content/changelog/2025-10-24.md
  content/changelog/2026-01-30.md
Due: node src/scripts/update-frontmatter.js

Revert "docs: align Claude plugin commands with renamed neon marketplace"
  content/changelog/2025-10-24.md
  content/changelog/2026-01-30.md
Due: node src/scripts/update-frontmatter.js

chore: remove demos playground route rewrites
  next.config.js
Due: prettier --write, eslint --cache --fix

chore: update frontmatter date (auto-update)
  content/docs/ai/ai-claude-code-plugin.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/changelog/2025-06-13.md
  content/docs/ai/ai-claude-code-plugin.md
  content/docs/azure/azure-manage.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/auth/guides/plugins/organization.md
  content/docs/auth/reference/ui-components.md
  content/docs/community/ai-tools.md
  content/docs/guides/consumption-limits.md
  content/docs/guides/consumption-metrics.md
  content/docs/introduction/plans.md
  content/docs/reference/cli-branches.md
  content/docs/reference/cli-projects.md
  content/docs/security/hipaa.md
  content/docs/workflows/data-anonymization-github-actions.md
Due: node src/scripts/update-frontmatter.js

docs: edit
  content/guides/reliable-testing-dataset-with-pg-dump-and-pg-restore.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/guides/neon-twin-full-pg-dump-restore.md
  content/docs/guides/neon-twin-partial-pg-dump-restore.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

docs: add neon usage dashboard guide
  content/guides/usage-dashboard-consumption-api.md
  public/docs/guides/neon-usage-dashboard-consumption-api.png
Due: node src/scripts/update-frontmatter.js

docs: minor edits
  content/guides/usage-dashboard-consumption-api.md
Due: node src/scripts/update-frontmatter.js

fix: adjust dots pattern position
  src/components/pages/use-cases/use-case-cards/use-case-cards.jsx
Due: prettier --write, eslint --cache --fix

docs: add circleci draft
  content/docs/guides/branching-circleci.md
  content/docs/navigation.yaml
  public/docs/guides/circleci-env-vars.png
Due: node src/scripts/update-frontmatter.js

docs: minor updates
  content/docs/guides/branching-circleci.md
Due: node src/scripts/update-frontmatter.js

docs: update consumption metrics docs
  content/docs/guides/consumption-limits.md
  content/docs/guides/consumption-metrics-legacy.md
  content/docs/guides/consumption-metrics.md
  content/docs/guides/embedded-postgres.md
  content/docs/navigation.yaml
  content/docs/reference/api-reference.md
  content/docs/unused/platform-integration-get-started.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/guides/consumption-limits.md
  content/docs/guides/consumption-metrics-legacy.md
  content/docs/guides/consumption-metrics.md
Due: node src/scripts/update-frontmatter.js

docs: update neon auth npm install
  content/docs/auth/migrate/from-legacy-auth.md
  content/docs/auth/migrate/from-supabase.md
  content/docs/auth/quick-start/nextjs-api-only.md
  content/docs/auth/quick-start/nextjs.md
  content/docs/auth/quick-start/react-router-components.md
  content/docs/auth/quick-start/react.md
  content/docs/auth/quick-start/tanstack-router.md
  content/docs/auth/reference/nextjs-server.md
  content/docs/auth/reference/ui-components.md
  content/guides/admin-dashboard-neon-auth.md
  content/guides/neon-auth-nextjs.md
  content/guides/react-neon-auth-data-api.md
  content/guides/react-neon-auth-hono.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/auth/migrate/from-legacy-auth.md
  content/docs/auth/migrate/from-supabase.md
  content/docs/auth/quick-start/nextjs-api-only.md
  content/docs/auth/quick-start/nextjs.md
  content/docs/auth/quick-start/react-router-components.md
  content/docs/auth/quick-start/react.md
  content/docs/auth/quick-start/tanstack-router.md
  content/docs/auth/reference/nextjs-server.md
  content/docs/auth/reference/ui-components.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/consumption-limits.md
  content/docs/guides/consumption-metrics-legacy.md
  content/docs/guides/consumption-metrics.md
  content/docs/guides/embedded-postgres.md
  content/docs/reference/api-reference.md
  content/docs/unused/platform-integration-get-started.md
Due: node src/scripts/update-frontmatter.js

feat: add hero section for guides/authors page + add link from guide to author (#4480)
  src/app/(docs)/guides/(index)/authors/[slug]/page.jsx
  src/app/blog/(index)/page.jsx
  src/components/pages/blog/blog-header/blog-header.jsx
  src/components/pages/doc/aside/aside.jsx
  src/components/pages/doc/post/post.jsx
  src/components/shared/rss-button/rss-button.jsx
  src/utils/api-guides.js
Due: prettier --write, eslint --cache --fix

docs: add Logical Replication guide — Replicate data to Databricks with Airbyte
  content/docs/guides/logical-replication-databricks.md
  content/docs/guides/logical-replication-guide.md
  content/docs/navigation.yaml
  public/docs/guides/airbyte_databricks_destination.png
  public/docs/guides/airbyte_neon_databricks_connection_setup.png
  public/docs/guides/airbyte_neon_databricks_sync_settings.png
  public/docs/guides/databricks_sql_editor_replicated_data.png
  public/images/technology-logos/databricks.svg
Due: node src/scripts/update-frontmatter.js
