Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: bump neon ext to 1.14
  content/docs/extensions/pg-extensions.md
Due: node src/scripts/update-frontmatter.js

docs: migrate to ESLint 9 flat config, drop eslint-config-airbnb
  .eslintrc.js
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix

docs: fix ordering
  eslint.config.mjs
Due: none

docs: add snapshot entry to changelog
  content/changelog/2026-03-27.md
Due: node src/scripts/update-frontmatter.js

docs: update mcp related redirect
  content/docs/ai/connect-mcp-clients-to-neon.md
  content/docs/introduction.md
Due: node src/scripts/update-frontmatter.js

docs: fix 404 output for .md URLs via browser
  src/middleware.test.js
  src/proxy.js
Due: prettier --write, eslint --cache --fix

docs: remove extra lines
  src/proxy.js
Due: prettier --write, eslint --cache --fix

docs: add common queries to llms.txt
  src/scripts/generate-llms-index.js
  src/scripts/llms-index-config.js
Due: prettier --write, eslint --cache --fix

docs: add pricing page comparison script
  package.json
  src/scripts/check-pricing-sync.js
Due: prettier --write, eslint --cache --fix

docs: add --generate and make public/pricing.md available
  .gitignore
  package.json
  src/proxy.js
  src/scripts/check-pricing-sync.js
  src/utils/ai-agent-detection.js
Due: prettier --write, eslint --cache --fix

feat: serve /pricing.md as alias to docs/introduction/plans
  next.config.js
  src/proxy.js
  src/utils/ai-agent-detection.js
  src/utils/ai-agent-detection.test.js
Due: prettier --write, eslint --cache --fix

docs: add AI-assisted setup notes to Rust guide
  content/docs/guides/rust.md
Due: node src/scripts/update-frontmatter.js

docs: add additional pricing related info
  src/scripts/check-pricing-sync.js
Due: prettier --write, eslint --cache --fix

docs: add transaction example and AI-assisted setup notes to Elixir guide
  content/docs/guides/elixir.md
Due: node src/scripts/update-frontmatter.js

docs: add transaction example and AI-assisted setup notes to .NET Npgsql guide
  content/docs/guides/dotnet-npgsql.md
Due: node src/scripts/update-frontmatter.js

docs: pricing.md tweaks
  src/scripts/check-pricing-sync.js
Due: prettier --write, eslint --cache --fix

docs: add 'All plans include' line, and reference OSS program
  src/scripts/check-pricing-sync.js
Due: prettier --write, eslint --cache --fix

docs: minor fixes
  src/components/shared/autoscaling-chart/autoscaling-chart.jsx
  src/components/shared/content/content.jsx
Due: prettier --write, eslint --cache --fix

docs: update pricing markdown link
  src/scripts/llms-index-config.js
Due: prettier --write, eslint --cache --fix

docs: and and
  src/scripts/llms-index-config.js
Due: prettier --write, eslint --cache --fix

docs: clarify .NET guide uses appsettings.json, not .env (harness finding)
  content/docs/guides/dotnet-npgsql.md
Due: node src/scripts/update-frontmatter.js

docs: move .env clarification to agent notes section
  content/docs/guides/dotnet-npgsql.md
Due: node src/scripts/update-frontmatter.js

docs: add usage and cost calculations guide
  content/docs/guides/consumption-metrics-legacy.md
  content/docs/guides/consumption-metrics.md
  content/docs/introduction/about-billing.md
  content/docs/introduction/monitor-usage.md
  content/docs/introduction/usage-calculations.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

docs: clarify the granularity lookback limit
  content/docs/introduction/usage-calculations.md
Due: node src/scripts/update-frontmatter.js

docs: a fix to serve static docs/ai/ markdown files instead of 404
  src/middleware.test.js
  src/utils/ai-agent-detection.js
Due: prettier --write, eslint --cache --fix

refactor: update logic for supporting legacy versions, add test pages
  content/docs-v1/auth/database-integration.md
  content/docs-v2/navigation.yaml
  src/app/(docs)/docs/[...slug]/page.jsx
  src/app/(docs)/layout.jsx
  src/components/pages/doc/mobile-nav/mobile-nav.jsx
  src/components/pages/doc/sidebar/sidebar.jsx
  src/constants/docs-versioned-slugs.js
  src/scripts/generate-legacy-llms-output.js
  src/scripts/generate-llms-index.js
  src/scripts/process-md-for-llms.js
  src/scripts/process-md-for-llms.test.js
  src/utils/api-docs.js
  src/utils/docs-versioning.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

fix: llms generating
  src/scripts/generate-llms-index.js
Due: prettier --write, eslint --cache --fix

Update connect-postgres-gui.md
  content/docs/connect/connect-postgres-gui.md
Due: node src/scripts/update-frontmatter.js

docs: improvements based on feedback and testing
  content/docs/introduction/usage-calculations.md
Due: node src/scripts/update-frontmatter.js

Update result set description for INTERSECT example
  content/postgresql/postgresql-tutorial/postgresql-intersect.md
Due: node src/scripts/update-frontmatter.js

Fix grammatical error in EXCEPT tutorial summary
  content/postgresql/postgresql-tutorial/postgresql-except.md
Due: node src/scripts/update-frontmatter.js

Fix grammatical error in CTE example section
  content/postgresql/postgresql-tutorial/postgresql-cte.md
Due: node src/scripts/update-frontmatter.js

fix: submenu overline on hover state
  src/components/pages/doc/docs-header/docs-header.jsx
  src/components/pages/doc/sidebar/sidebar.jsx
  src/components/shared/header/header-wrapper/header-wrapper.jsx
  src/components/shared/header/header.jsx
Due: prettier --write, eslint --cache --fix

chore: cta background
  src/components/shared/doc-cta/doc-cta.jsx
Due: prettier --write, eslint --cache --fix

fix(components): correct Tailwind dark mode variant order for pseudo-elements
  src/components/pages/doc/docs-header/docs-header.jsx
  src/components/pages/doc/docs-navigation/item/item.jsx
  src/components/shared/header/header-wrapper/header-wrapper.jsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
