Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

chore: format content markdown files with Prettier
  content/changelog/2025-05-16.md
Due: node src/scripts/update-frontmatter.js

Update content/changelog/2025-05-16.md
  content/changelog/2025-05-16.md
Due: node src/scripts/update-frontmatter.js

docs: fix image
  content/changelog/2025-05-16.md
  public/docs/relnotes/data-api-enabled.png
Due: node src/scripts/update-frontmatter.js

docs: update link
  content/changelog/2025-05-16.md
Due: node src/scripts/update-frontmatter.js

docs: improvements
  content/docs/reference/neon-launchpad.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/reference/neon-launchpad.md
Due: node src/scripts/update-frontmatter.js

docs: odd markup fix
  content/docs/reference/neon-launchpad.md
Due: node src/scripts/update-frontmatter.js

docs: moved use cases to bottom
  content/docs/reference/neon-launchpad.md
Due: node src/scripts/update-frontmatter.js

docs: update credits links
  content/changelog/2025-05-16.md
Due: node src/scripts/update-frontmatter.js

docs: update early access
  content/changelog/2025-05-16.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/data-api/get-started.md
  content/docs/shared-content/private-preview-enquire.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/changelog/2025-05-16.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/data-api/get-started.md
  content/docs/data-api/get-started.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/data-api/get-started.md
  content/docs/shared-content/private-preview-enquire.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/shared-content/private-preview-enquire.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/neon-auth-api.md
  content/docs/guides/neon-auth-best-practices.md
  content/docs/guides/neon-auth-claim-project.md
  content/docs/guides/neon-auth-create-users.md
  content/docs/guides/neon-auth-demo.md
  content/docs/guides/neon-auth-how-it-works.md
  content/docs/guides/neon-auth-permissions-roles.md
  content/docs/guides/neon-auth-tutorial.md
  content/docs/guides/neon-auth.md
Due: node src/scripts/update-frontmatter.js

Update postgres-for-saas.md
  content/use-cases/postgres-for-saas.md
Due: node src/scripts/update-frontmatter.js

Update get-started.md
  content/docs/data-api/get-started.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/data-api/get-started.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/reference/neon-launchpad.md
Due: node src/scripts/update-frontmatter.js

fix: fix env var name
  .env.example
  .github/workflows/e2e-tests.yml
Due: none

docs: adding component ref
  content/docs/neon-auth/LICENSE
  content/docs/neon-auth/account-settings.md
  content/docs/neon-auth/components.md
  content/docs/neon-auth/credential-sign-in.md
  content/docs/neon-auth/credential-sign-up.md
  content/docs/neon-auth/oauth-button-group.md
  content/docs/neon-auth/oauth-button.md
  content/docs/neon-auth/selected-team-switcher.md
  content/docs/neon-auth/sign-in.md
  content/docs/neon-auth/sign-up.md
  content/docs/neon-auth/stack-handler.md
  content/docs/neon-auth/stack-provider.md
  content/docs/neon-auth/stack-theme.md
  content/docs/neon-auth/user-button.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

docs: removing H1s
  content/docs/neon-auth/credential-sign-in.md
  content/docs/neon-auth/credential-sign-up.md
  content/docs/neon-auth/oauth-button-group.md
  content/docs/neon-auth/oauth-button.md
  content/docs/neon-auth/selected-team-switcher.md
  content/docs/neon-auth/sign-up.md
  content/docs/neon-auth/stack-handler.md
  content/docs/neon-auth/stack-provider.md
  content/docs/neon-auth/stack-theme.md
  content/docs/neon-auth/user-button.md
Due: node src/scripts/update-frontmatter.js

docs: add postgres extension guides
  content/docs/extensions/cube.md
  content/docs/extensions/earthdistance.md
  content/docs/extensions/extensions-intro.md
  content/docs/extensions/fuzzystrmatch.md
  content/docs/extensions/intarray.md
  content/docs/extensions/pg-extensions.md
  content/docs/extensions/pg_uuidv7.md
  content/docs/extensions/pgrowlocks.md
  content/docs/extensions/pgstattuple.md
  content/docs/extensions/tablefunc.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

chore: remove unused dependency @splinetool/react-spline from package.json
  package.json
Due: none

fix: update z-index value for header component
  src/components/shared/header/header-wrapper/header-wrapper.jsx
Due: prettier --write, eslint --cache --fix

chore: update package-lock.json
  package-lock.json
Due: none

fix: normalize file path separators in getPostSlugs function for cross-platform compatibility
  src/utils/api-docs.js
  src/utils/api-guides.js
  src/utils/api-postgresql.js
  src/utils/postgresql-pages.js
Due: prettier --write, eslint --cache --fix

docs: add connection snippet component
  content/docs/guides/node.md
  src/components/shared/code-block/NeonConnectionSnippet.jsx
  src/components/shared/code-block/NeonConnectionSnippet.module.css
  src/components/shared/content/content.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: add btree_gin and btree_gist
  content/docs/extensions/btree_gin.md
  content/docs/extensions/btree_gist.md
  content/docs/extensions/extensions-intro.md
  content/docs/extensions/pg-extensions.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

docs: make folder
  src/components/shared/content/content.jsx
  src/components/shared/neon-connection-snippet/NeonConnectionSnippet.jsx
  src/components/shared/neon-connection-snippet/NeonConnectionSnippet.module.css
Due: prettier --write, eslint --cache --fix

docs: add xml2
  content/docs/extensions/extensions-intro.md
  content/docs/extensions/pg-extensions.md
  content/docs/extensions/xml2.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/get-started-with-neon/frameworks.md
  content/docs/guides/redwoodsdk.md
  content/docs/guides/vue.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/guides/honc.md
Due: node src/scripts/update-frontmatter.js

feat: wip
  content/docs/guides/go.md
  src/app/(docs)/docs/layout.jsx
  src/app/(docs)/docs/user-data-provider.jsx
  src/components/pages/doc/user-data-example/index.js
  src/components/pages/doc/user-data-example/user-data-example.jsx
  src/components/shared/content/content.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js
