Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: add cover image and alt to backend logs blog post
  content/blog/posts/query-neon-backend-logs.md
Due: node src/scripts/update-frontmatter.js

docs: add cover image and alt to backend logs blog post (#5581)
  content/blog/posts/query-neon-backend-logs.md
Due: node src/scripts/update-frontmatter.js

docs: apply Neon Functions naming convention
  content/changelog/2026-05-29.md
  content/changelog/2026-06-05.md
  content/changelog/2026-06-12.md
  content/changelog/2026-07-17.md
  content/changelog/2026-07-24.md
  content/docs/compute/functions/get-started.md
  content/docs/compute/functions/overview.md
  content/docs/introduction.md
  content/docs/manage/platform.md
  content/guides/neon-functions-github-actions.md
Due: node src/scripts/update-frontmatter.js

docs: surface 'serverless functions' in Neon Functions (#5582)
  content/changelog/2026-05-29.md
  content/changelog/2026-06-05.md
  content/changelog/2026-06-12.md
  content/changelog/2026-07-17.md
  content/changelog/2026-07-24.md
  content/docs/compute/functions/get-started.md
  content/docs/compute/functions/overview.md
  content/docs/introduction.md
  content/docs/manage/platform.md
  content/guides/neon-functions-github-actions.md
Due: node src/scripts/update-frontmatter.js

docs: sync from upstream skills
  public/.well-known/agent-skills/index.json
  public/docs/.well-known/agent-skills/index.json
  public/docs/ai/skills/neon-functions/SKILL.md
  public/docs/ai/skills/neon-functions/references/ai-sdk.md
  public/docs/ai/skills/neon-functions/references/mcp.md
  public/docs/ai/skills/neon-functions/references/sentry.md
  public/docs/ai/skills/neon-functions/references/sse.md
Due: node src/scripts/update-frontmatter.js

Add blog: Query Neon backend logs (#5580)
  content/blog/posts/query-neon-backend-logs.md
Due: node src/scripts/update-frontmatter.js

docs: sync from upstream skills (#5583)
  public/.well-known/agent-skills/index.json
  public/docs/.well-known/agent-skills/index.json
  public/docs/ai/skills/neon-functions/SKILL.md
  public/docs/ai/skills/neon-functions/references/ai-sdk.md
  public/docs/ai/skills/neon-functions/references/mcp.md
  public/docs/ai/skills/neon-functions/references/sentry.md
  public/docs/ai/skills/neon-functions/references/sse.md
Due: node src/scripts/update-frontmatter.js

docs: adopt attachDatabasePool in Neon Functions examples
  content/docs/compute/functions/agents.md
  content/docs/compute/functions/authentication.md
  content/docs/compute/functions/get-started.md
  content/docs/compute/functions/logs.md
  content/docs/compute/functions/reference/runtime-limits.md
  content/docs/compute/functions/websockets.md
  content/docs/get-started/full-backend-quickstart.md
Due: node src/scripts/update-frontmatter.js

docs: adopt attachDatabasePool in Neon Functions examples (#5584)
  content/docs/compute/functions/agents.md
  content/docs/compute/functions/authentication.md
  content/docs/compute/functions/get-started.md
  content/docs/compute/functions/logs.md
  content/docs/compute/functions/reference/runtime-limits.md
  content/docs/compute/functions/websockets.md
  content/docs/get-started/full-backend-quickstart.md
Due: node src/scripts/update-frontmatter.js

docs: document the branch-log read API and fill CLI reference gaps
  content/docs/cli/logs.md
  content/docs/cli/neon-auth.md
  content/docs/reference/neon-ts.md
Due: node src/scripts/update-frontmatter.js

docs: document the branch-log read API and fill CLI reference gaps (#5586)
  content/docs/cli/logs.md
  content/docs/cli/neon-auth.md
  content/docs/reference/neon-ts.md
Due: node src/scripts/update-frontmatter.js

fix: render the Vapi.ai quote and secondary buttons render
  content/pages/use-cases/branching-workflows.md
  content/pages/use-cases/full-stack-apps.md
  src/components/shared/quote-block/quote-block.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

feat: upd the Solutions dropdown menu tab
  src/components/pages/use-cases/hero/hero.jsx
  src/components/shared/header/menu-feature-cards/menu-feature-cards.jsx
  src/components/shared/header/mobile-menu/mobile-menu.jsx
  src/components/shared/header/submenu/submenu.jsx
  src/constants/menus.js
Due: prettier --write, eslint --cache --fix

Add blog post on open-weight model performance on Neon AI Gateway
  content/blog/posts/open-weight-models-are-fast-on-neon-ai-gateway.md
Due: node src/scripts/update-frontmatter.js

Improve clarity and structure of open-weight models blog
  content/blog/posts/open-weight-models-are-fast-on-neon-ai-gateway.md
Due: node src/scripts/update-frontmatter.js

fix: template rounding and navigation handler per feature card
  content/docs/README.md
  content/pages/use-cases/full-stack-apps.md
  public/use-cases/full-stack-apps/neon-init.jpg
  src/components/pages/use-cases/use-case-cards/card-icons/branching.inline.svg
  src/components/pages/use-cases/use-case-cards/card-icons/database.inline.svg
  src/components/pages/use-cases/use-case-cards/card-icons/elastic-scaling.inline.svg
  src/components/pages/use-cases/use-case-cards/card-icons/multi-tenancy.inline.svg
  src/components/pages/use-cases/use-case-cards/card-icons/sparkle.inline.svg
  src/components/pages/use-cases/use-case-cards/card-icons/window-code.inline.svg
  src/components/pages/use-cases/use-case-cards/use-case-cards.jsx
  src/components/shared/content/content.jsx
  src/components/shared/header/navigation/navigation.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

Add blog cover and prompt caching diagram
  content/blog/posts/open-weight-models-are-fast-on-neon-ai-gateway.md
Due: node src/scripts/update-frontmatter.js

docs: simplify lakebase search enable flow for default preload (#5585)
  content/docs/ai/lakebase-search-get-started.md
  content/docs/ai/lakebase-search.md
  content/docs/extensions/lakebase-text.md
  content/docs/extensions/lakebase-vector.md
  content/docs/extensions/pg-extensions.md
Due: node src/scripts/update-frontmatter.js

Add cover and diagram to open-weight models post (#5589)
  content/blog/posts/open-weight-models-are-fast-on-neon-ai-gateway.md
Due: node src/scripts/update-frontmatter.js

docs: update Lakebase Search extension versions to 1.0.1 and 0.1.1
  content/docs/extensions/pg-extensions.md
Due: node src/scripts/update-frontmatter.js

docs: update Postgres compatibility table to latest minor versions
  content/docs/reference/compatibility.md
Due: node src/scripts/update-frontmatter.js

docs: update Postgres compatibility table to latest minor versions (#5591)
  content/docs/reference/compatibility.md
Due: node src/scripts/update-frontmatter.js

feat: drop the variable-load and fast-dev-workflows use-case pages
  content/pages/use-cases/fast-dev-workflows.md
  content/pages/use-cases/variable-load.md
  next.config.js
  public/images/pages/platforms/databases-deployed.svg
  public/use-cases/fast-dev-workflows/agent-database-lifecycle-workflow.png
  public/use-cases/fast-dev-workflows/autoscaling-based-on-demand.png
  public/use-cases/fast-dev-workflows/instant-recovery-with-branches-and-snapshots.png
  public/use-cases/fast-dev-workflows/neon-branching-workflow-overview.png
  public/use-cases/fast-dev-workflows/per-developer-and-pr-database-branches.png
  public/use-cases/fast-dev-workflows/safe-promotion-workflow-dev-to-prod.png
  public/use-cases/fast-dev-workflows/staging-resync-from-production-api.png
  public/use-cases/variable-load/neon-autoscaling-compute-allocation.png
  public/use-cases/variable-load/overprovisioned-compute-pattern.png
  public/use-cases/variable-load/recommended-capacity-vs-true-usage.png
  public/use-cases/variable-load/typical-daily-load-pattern.png
  public/use-cases/variable-load/typical-weekly-load-pattern.png
  public/use-cases/variable-load/underprovisioned-compute-pattern.png
  src/constants/menus.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: update Lakebase Search extension versions to 1.0.1 and 0.1.1 (#5590)
  content/docs/extensions/pg-extensions.md
Due: node src/scripts/update-frontmatter.js

docs: add Pi as an agent-skills install channel
  content/docs/ai/agent-skills.md
Due: node src/scripts/update-frontmatter.js

docs: route unexpected Functions pool errors to Sentry via onUnexpectedError
  content/docs/compute/functions/logs.md
Due: node src/scripts/update-frontmatter.js

docs: note neon init installs the neon and neon-postgres skills
  content/docs/cli/init.md
Due: node src/scripts/update-frontmatter.js

docs: document neon inspect db multi-database behavior
  content/docs/cli/inspect.md
Due: node src/scripts/update-frontmatter.js

fix: solutions tab adaptive style
  src/components/shared/header/menu-feature-cards/menu-feature-cards.jsx
  src/components/shared/header/mobile-menu/mobile-menu.jsx
  src/components/shared/header/submenu/submenu.jsx
Due: prettier --write, eslint --cache --fix

Add blog: Open-weight models are fast on Neon AI Gateway (#5588)
  content/blog/posts/open-weight-models-are-fast-on-neon-ai-gateway.md
Due: node src/scripts/update-frontmatter.js

Update hybrid-rag-postgres-agent.md
  content/guides/hybrid-rag-postgres-agent.md
Due: node src/scripts/update-frontmatter.js

docs: refine images
  public/guides/images/hybrid-rag-postgres-agent/hybrid-rag-baseline.svg
  public/guides/images/hybrid-rag-postgres-agent/hybrid-rag-chunking.svg
  public/guides/images/hybrid-rag-postgres-agent/hybrid-rag-eval.svg
  public/guides/images/hybrid-rag-postgres-agent/hybrid-rag-ingest.svg
  public/guides/images/hybrid-rag-postgres-agent/hybrid-rag-keyword-vs-vector.svg
  public/guides/images/hybrid-rag-postgres-agent/hybrid-rag-layers.svg
  public/guides/images/hybrid-rag-postgres-agent/hybrid-rag-request-flow.svg
  public/guides/images/hybrid-rag-postgres-agent/hybrid-rag-rrf.svg
  public/guides/images/hybrid-rag-postgres-agent/hybrid-rag-schema.svg
  public/guides/images/hybrid-rag-postgres-agent/hybrid-rag-session.svg
  public/guides/images/hybrid-rag-postgres-agent/hybrid-rag-vector-limits.svg
Due: none

fix: apply menu ARIA roles, add a priority flag and upd tests
  content/docs/README.md
  content/pages/platforms.md
  content/pages/use-cases/branching-workflows.md
  content/pages/use-cases/bursty-workloads.md
  content/pages/use-cases/full-stack-apps.md
  content/pages/use-cases/large-databases.md
  scripts/invert-image-lightness.mjs
  src/components/pages/use-cases/use-case-cards/use-case-cards.jsx
  src/components/shared/content/content.jsx
  src/components/shared/header/menu-feature-cards/images/noise.svg
  src/components/shared/header/menu-feature-cards/menu-feature-cards.jsx
  src/components/shared/header/mobile-menu/mobile-menu.jsx
  src/components/shared/header/submenu/submenu.jsx
  src/components/shared/quote-block/quote-block.jsx
  src/middleware.test.js
  src/scripts/process-md-for-llms.js
  src/scripts/process-md-for-llms.test.js
  src/utils/ai-agent-detection.test.js
  src/utils/api-local-data.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

fix: stabilize architecture animation interactions
  src/components/pages/home/architecture/animation.jsx
  src/components/pages/home/architecture/architecture.jsx
  src/components/shared/rive-animation/rive-animation.jsx
  src/hooks/use-rive-animation.js
Due: prettier --write, eslint --cache --fix

fix: match the menu card noise to the Figma export
  src/components/shared/header/menu-feature-cards/images/noise.svg
  src/components/shared/header/menu-feature-cards/menu-feature-cards.jsx
  src/components/shared/header/submenu/submenu.jsx
Due: prettier --write, eslint --cache --fix

docs: clarify WebSocket package usage for Node.js vs browser environments
  content/guides/local-development-with-neon.md
Due: node src/scripts/update-frontmatter.js

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
