Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

feat: add Skydive blog assets and case study logo
  content/blog/posts/inside-skydive-building-virtual-coworkers-powered-by-neon.md
  content/data/case-studies.yaml
  public/images/case-studies/skydive.svg
Due: node src/scripts/update-frontmatter.js

feat: add Skydive blog assets and case study logo (#5978)
  content/blog/posts/inside-skydive-building-virtual-coworkers-powered-by-neon.md
  content/data/case-studies.yaml
  public/images/case-studies/skydive.svg
Due: node src/scripts/update-frontmatter.js

Show cover image at top of Skydive case study post
  content/blog/posts/inside-skydive-building-virtual-coworkers-powered-by-neon.md
Due: node src/scripts/update-frontmatter.js

Caption the Skydive stats table
  content/blog/posts/inside-skydive-building-virtual-coworkers-powered-by-neon.md
Due: node src/scripts/update-frontmatter.js

Feature the Skydive case study post
  content/blog/posts/inside-skydive-building-virtual-coworkers-powered-by-neon.md
Due: node src/scripts/update-frontmatter.js

Add case study: Inside Skydive, building virtual coworkers powered by Neon (#5974)
  content/blog/posts/inside-skydive-building-virtual-coworkers-powered-by-neon.md
  content/data/case-studies.yaml
  public/images/case-studies/skydive.svg
Due: node src/scripts/update-frontmatter.js

chore: update topbar to promote Skydive case study post
  content/config/topbar.yaml
Due: none

docs: refresh Neon CLI schema to 6.3.0
  scripts/docs-checks/neonctl/schema.json
Due: none

docs: refresh Neon CLI schema to 6.3.0 (#5980)
  scripts/docs-checks/neonctl/schema.json
Due: none

chore: update topbar to promote Skydive case study post (#5979)
  content/config/topbar.yaml
Due: none

docs: refresh Neon CLI docs to 7.0.0 and cross-link neon config add
  content/docs/ai-gateway/get-started.md
  content/docs/auth/overview.md
  content/docs/cli/config.md
  content/docs/cli/snapshots.md
  content/docs/compute/functions/get-started.md
  content/docs/data-api/get-started.md
  content/docs/reference/neon-ts.md
  content/docs/storage/get-started.md
  scripts/docs-checks/neonctl/schema.json
Due: node src/scripts/update-frontmatter.js

docs: refresh Neon CLI docs to 7.0.0 and cross-link neon config add (#5982)
  content/docs/ai-gateway/get-started.md
  content/docs/auth/overview.md
  content/docs/cli/config.md
  content/docs/cli/snapshots.md
  content/docs/compute/functions/get-started.md
  content/docs/data-api/get-started.md
  content/docs/reference/neon-ts.md
  content/docs/storage/get-started.md
  scripts/docs-checks/neonctl/schema.json
Due: node src/scripts/update-frontmatter.js

docs: document AI Gateway embeddings on the vector and RAG pages
  content/docs/ai/ai-concepts.md
  content/docs/ai/langchain.md
  content/docs/ai/llamaindex.md
  content/guides/ai-embeddings-postgres-search.md
  content/guides/vector-search.md
Due: node src/scripts/update-frontmatter.js

docs: document AI Gateway embeddings on the vector and RAG pages (#5983)
  content/docs/ai/ai-concepts.md
  content/docs/ai/langchain.md
  content/docs/ai/llamaindex.md
  content/guides/ai-embeddings-postgres-search.md
  content/guides/vector-search.md
Due: node src/scripts/update-frontmatter.js

docs: refresh supported extension versions
  content/docs/extensions/pg-extensions.md
Due: node src/scripts/update-frontmatter.js

docs: refresh supported extension versions (#5984)
  content/docs/extensions/pg-extensions.md
Due: node src/scripts/update-frontmatter.js

docs: update neon-ts guide with full backend
  content/guides/neon-ts-demo.md
Due: node src/scripts/update-frontmatter.js

docs: minor edits
  content/guides/neon-ts-demo.md
Due: node src/scripts/update-frontmatter.js

Add blog post: How we systematically improved our reliability
  content/blog/authors/data.json
  content/blog/posts/how-we-systematically-improved-our-reliability.md
Due: node src/scripts/update-frontmatter.js

Enhance reliability post with images and detailed sections
  content/blog/posts/how-we-systematically-improved-our-reliability.md
Due: node src/scripts/update-frontmatter.js

Update blog post metadata for reliability improvements
  content/blog/posts/how-we-systematically-improved-our-reliability.md
Due: node src/scripts/update-frontmatter.js

fix: add temporary PG US conference raffle redirect
  next.config.js
Due: prettier --write, eslint --cache --fix

feat: add Lakebase Search retrieval agents post
  content/blog/posts/lakebase-search-retrieval-agents.md
Due: node src/scripts/update-frontmatter.js

Revise Lakebase Search blog post for clarity and updates
  content/blog/posts/lakebase-search-retrieval-agents.md
Due: node src/scripts/update-frontmatter.js

fix: add temporary PG US conference raffle redirect (#5988)
  next.config.js
Due: prettier --write, eslint --cache --fix

feat: add Lakebase Search architecture clips
  content/blog/posts/lakebase-search-retrieval-agents.md
Due: node src/scripts/update-frontmatter.js

docs: add "Extensions & guides" nav section and note update restarts
  content/docs/extensions/pg-extensions.md
  content/docs/navigation.yaml
  src/scripts/process-md-for-llms.test.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: add diagrams and cover image to reliability post
  content/blog/posts/how-we-systematically-improved-our-reliability.md
Due: node src/scripts/update-frontmatter.js

docs: add "Extensions & guides" nav section and note update restarts (#5991)
  content/docs/extensions/pg-extensions.md
  content/docs/navigation.yaml
  src/scripts/process-md-for-llms.test.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: add avatar and correct name for Andrei Stolbovskii
  content/blog/authors/data.json
  content/blog/posts/how-we-systematically-improved-our-reliability.md
Due: node src/scripts/update-frontmatter.js

docs: add avatar for Dmitrii Mokhnatkin
  content/blog/authors/data.json
Due: none

feat: add PGConf US raffle page with Apps Script submissions
  .env.example
  next.config.js
  src/app/api/pg-us-conf-raffle/README.md
  src/app/api/pg-us-conf-raffle/route.js
  src/app/api/pg-us-conf-raffle/route.test.js
  src/app/pg-us-conf-raffle/page.jsx
  src/components/pages/pg-us-conf-raffle/hero.jsx
  src/components/pages/pg-us-conf-raffle/raffle-form.jsx
  src/components/pages/pg-us-conf-raffle/raffle-form.test.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

fix: restore desktop raffle sponsor divider
  src/components/pages/pg-us-conf-raffle/hero.jsx
Due: prettier --write, eslint --cache --fix

docs: de-emphasize Data API on front page and add security notes
  content/docs/data-api/custom-authentication-providers.md
  content/docs/data-api/database-advisor.md
  content/docs/data-api/demo.md
  content/docs/data-api/get-started.md
  content/docs/data-api/manage.md
  content/docs/data-api/overview.md
  content/docs/data-api/troubleshooting.md
  content/docs/introduction.md
Due: node src/scripts/update-frontmatter.js

docs: move Lakebase Search to the last card in the Products grid
  content/docs/introduction.md
Due: node src/scripts/update-frontmatter.js

feat: add PGConf US raffle page with Apps Script submissions (#5993)
  .env.example
  next.config.js
  src/app/api/pg-us-conf-raffle/README.md
  src/app/api/pg-us-conf-raffle/route.js
  src/app/api/pg-us-conf-raffle/route.test.js
  src/app/pg-us-conf-raffle/page.jsx
  src/components/pages/pg-us-conf-raffle/hero.jsx
  src/components/pages/pg-us-conf-raffle/raffle-form.jsx
  src/components/pages/pg-us-conf-raffle/raffle-form.test.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js
