Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

Update content/guides/full-text-search.md
  content/guides/full-text-search.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/reference/glossary.md
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js

docs: additions
  content/changelog/2024-09-20.md
  content/docs/introduction/roadmap.md
  src/components/pages/blog/changelog-list/changelog-list.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

Update topbar.jsx
  src/components/shared/topbar/topbar.jsx
Due: prettier --write, eslint --cache --fix

refactor: azure page link
  src/components/shared/topbar/topbar.jsx
  src/constants/links.js
Due: prettier --write, eslint --cache --fix

docs: update object hierarchy image
  content/docs/guides/project-sharing-guide.md
  content/docs/manage/organizations.md
  content/docs/manage/orgs-manage.md
  content/docs/manage/overview.md
  public/docs/guides/shared_with_me.png
  public/docs/guides/shared_with_you.png
  public/docs/guides/sharing_grant_access.png
  public/docs/guides/sharing_people_with_access.png
  public/docs/manage/neon_object_hierarchy.jpg
Due: node src/scripts/update-frontmatter.js

docs: revision
  content/docs/manage/overview.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/manage/overview.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/manage/overview.md
Due: node src/scripts/update-frontmatter.js

docs: object hierarchy doc updates
  content/docs/manage/overview.md
Due: node src/scripts/update-frontmatter.js

docs: update account deletion in the billing docs
  content/docs/introduction/manage-billing.md
Due: node src/scripts/update-frontmatter.js

docs: edit
  content/docs/introduction/manage-billing.md
Due: node src/scripts/update-frontmatter.js

docs: add project sharing to features section
  content/docs/sidebar.yaml
Due: none

docs: add organizations to features section
  content/docs/sidebar.yaml
Due: none

Update topbar.jsx (#2180)
  src/components/shared/topbar/topbar.jsx
  src/constants/links.js
Due: prettier --write, eslint --cache --fix

docs: add beta notice for orgs
  content/docs/manage/organizations.md
  content/docs/shared-content/feature-beta.md
  content/docs/shared-content/index.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: revisions
  content/docs/manage/orgs-api.md
  content/docs/manage/orgs-cli.md
  content/docs/manage/orgs-manage.md
  content/docs/manage/orgs-project-transfer.md
  content/docs/manage/overview.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/project-sharing-guide.md
  content/docs/introduction/manage-billing.md
  content/docs/manage/organizations.md
  content/docs/manage/orgs-api.md
  content/docs/manage/orgs-cli.md
  content/docs/manage/orgs-manage.md
  content/docs/manage/orgs-project-transfer.md
  content/docs/manage/overview.md
  content/docs/shared-content/feature-beta.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/guides/full-text-search.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/changelog/2024-09-20.md
Due: node src/scripts/update-frontmatter.js

docs: revisions
  content/changelog/2024-09-20.md
Due: node src/scripts/update-frontmatter.js

docs: rmeove ea content from orgs
  content/docs/manage/organizations.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/manage/organizations.md
Due: node src/scripts/update-frontmatter.js

docs: revisions
  content/changelog/2024-09-13.md
  content/changelog/2024-09-20.md
Due: node src/scripts/update-frontmatter.js

docs: remove duplicate links
  content/docs/sidebar.yaml
Due: none

feat: develop branding page
  public/neon-logo.zip
  src/app/branding/page.jsx
  src/components/pages/branding/hero/hero.jsx
  src/components/pages/branding/hero/images/download.inline.svg
  src/components/pages/branding/hero/images/logo-1.svg
  src/components/pages/branding/hero/images/logo-2.svg
  src/components/pages/branding/hero/images/logo-3.svg
  src/components/pages/branding/hero/images/logo-4.svg
  src/components/pages/branding/hero/images/logo-sm-1.svg
  src/components/pages/branding/hero/images/logo-sm-2.svg
  src/components/pages/branding/hero/images/logo-sm-3.svg
  src/components/pages/branding/hero/images/logo-sm-4.svg
  src/components/pages/branding/hero/images/logo-spacing-sm.svg
  src/components/pages/branding/hero/images/logo-spacing.svg
  src/components/pages/branding/hero/index.js
  src/components/shared/container/container.jsx
  src/constants/links.js
  src/constants/menus.js
Due: prettier --write, eslint --cache --fix

docs: additions
  content/changelog/2024-09-20.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/changelog/2024-09-20.md
Due: node src/scripts/update-frontmatter.js

chore: missing dot
  src/components/pages/branding/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

docs: remove ea access mention
  content/docs/manage/organizations.md
Due: node src/scripts/update-frontmatter.js

feat: update assets
  public/neon-brand-assets.zip
  public/neon-logo.zip
  src/components/pages/branding/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

docs: fix typo
  content/docs/introduction/extra-usage.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/changelog/2024-08-23.md
  content/changelog/2024-09-20.md
Due: node src/scripts/update-frontmatter.js

docs: remove access notice
  content/docs/manage/accounts.md
Due: node src/scripts/update-frontmatter.js

feat: adaptive styles
  src/components/pages/branding/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

docs: edits
  content/changelog/2024-09-20.md
  public/docs/relnotes/protect_button.png
  public/docs/relnotes/sql_editor_ai.mp4
Due: node src/scripts/update-frontmatter.js

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
