Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: add timer animation
  public/animations/pages/home/clock.riv
  src/components/pages/home/bento/bento.jsx
  src/components/pages/home/bento/clock-animation/clock-animation.jsx
  src/components/pages/home/bento/clock-animation/index.js
  src/components/pages/home/get-started/get-started.jsx
  src/images/pages/home/bento/timer.jpg
Due: prettier --write, eslint --cache --fix

style: mobile text size for h3 for blog article
  src/styles/blog-content.css
Due: prettier --write

docs: check toc
  .neon
  content/docs/guides/schema-diff.md
  content/docs/sidebar.yaml
  public/docs/guides/schema_diff_result.png
Due: node src/scripts/update-frontmatter.js

docs: update tutorial
  content/docs/guides/schema-diff-tutorial.md
  public/docs/guides/schema_diff_result.png
Due: node src/scripts/update-frontmatter.js

docs(pages): add doc for neon branching
  content/docs/guides/branching-prisma-vercel-github.md
Due: node src/scripts/update-frontmatter.js

chore: add ai loop video
  public/videos/pages/home/ai-loop-crf-32.mp4
  public/videos/pages/home/ai-loop-crf-40.webm
  src/components/pages/home/ai-index/ai-index.jsx
  src/components/pages/home/ai-index/video/index.js
  src/components/pages/home/ai-index/video/video.jsx
  src/components/pages/home/multitenancy/multitenancy.jsx
  src/images/pages/home/ai-index/sphere.png
Due: prettier --write, eslint --cache --fix

chore: pointer
  src/components/pages/home/get-started/get-started.jsx
Due: prettier --write, eslint --cache --fix

edits
  content/docs/postgres/data-types-intro.md
  content/docs/postgres/query-performance.md
  content/docs/postgres/query-reference.md
  content/docs/reference/compatibility.md
Due: node src/scripts/update-frontmatter.js

Update query-performance.md
  content/docs/postgres/query-performance.md
Due: node src/scripts/update-frontmatter.js

docs(pages): add doc for migrations w entity frmwrk
  content/docs/guides/entity-migrations.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

docs(pages): save
  content/docs/guides/entity-migrations.md
Due: node src/scripts/update-frontmatter.js

edits
  content/docs/postgres/query-performance.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

Update query-reference.md
  content/docs/postgres/query-reference.md
Due: node src/scripts/update-frontmatter.js

edits, add source code card
  content/docs/guides/sqlalchemy-migrations.md
Due: node src/scripts/update-frontmatter.js

fix paths
  content/docs/sidebar.yaml
Due: none

docs(pages): add doc for migrations w neon + laravel
  content/docs/guides/laravel-migrations.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

add source repo cards for drizzle, prisma migrations
  content/docs/guides/drizzle-migrations.md
  content/docs/guides/prisma-migrations.md
Due: node src/scripts/update-frontmatter.js

docs(pages): nit
  content/docs/guides/django-migrations.md
Due: node src/scripts/update-frontmatter.js

docs(pages): nit
  content/docs/guides/rails-migrations.md
Due: node src/scripts/update-frontmatter.js

source card text revisions
  content/docs/guides/drizzle-migrations.md
  content/docs/guides/prisma-migrations.md
  content/docs/guides/sqlalchemy-migrations.md
Due: node src/scripts/update-frontmatter.js

fix source code sections
  content/docs/guides/drizzle-migrations.md
  content/docs/guides/prisma-migrations.md
Due: node src/scripts/update-frontmatter.js

revise source code text
  content/docs/guides/drizzle-migrations.md
  content/docs/guides/prisma-migrations.md
  content/docs/guides/sequelize.md
Due: node src/scripts/update-frontmatter.js

revisions
  content/docs/guides/hasura.md
Due: node src/scripts/update-frontmatter.js

Update hasura.md
  content/docs/guides/hasura.md
Due: node src/scripts/update-frontmatter.js

Update rails-migrations.md
  content/docs/guides/rails-migrations.md
Due: node src/scripts/update-frontmatter.js

Add note about serverless driver support with PolyScale.
  content/docs/guides/polyscale-integration.md
  content/docs/guides/polyscale.md
Due: node src/scripts/update-frontmatter.js

Update polyscale.md
  content/docs/guides/polyscale.md
Due: node src/scripts/update-frontmatter.js

Update polyscale-integration.md
  content/docs/guides/polyscale-integration.md
Due: node src/scripts/update-frontmatter.js

categorize
  content/docs/postgres/query-performance.md
Due: node src/scripts/update-frontmatter.js

docs: draft of all changes
  content/docs/guides/branch-restore.md
  content/docs/guides/branching-intro.md
  content/docs/guides/reset-from-parent.md
  content/docs/guides/schema-diff-tutorial.md
  content/docs/guides/schema-diff.md
  content/docs/manage/branches.md
  content/docs/shared-content/coming-soon.md
  content/docs/shared-content/index.js
  public/docs/guides/schema_diff_compare_parent.png
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: scrub schema diff from branch restore page
  content/docs/guides/branch-restore.md
Due: node src/scripts/update-frontmatter.js

chore: update featured demos covers
  src/components/pages/demos/hero/hero.jsx
  src/components/pages/demos/hero/images/chatbot.jpg
  src/components/pages/demos/hero/images/playground.jpg
Due: prettier --write, eslint --cache --fix

minor edits
  content/docs/guides/rails-migrations.md
Due: node src/scripts/update-frontmatter.js

minor revisions
  content/docs/guides/django-migrations.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/guides/polyscale-integration.md
  content/docs/guides/polyscale-integration.md
Due: node src/scripts/update-frontmatter.js

removal of REPLICATION reverted. Never made it to prod.
  content/docs/manage/roles.md
Due: node src/scripts/update-frontmatter.js

chore: replace custom bot with inkeep
  package-lock.json
  package.json
  src/app/docs/(neon)/layout.jsx
  src/components/pages/doc/inkeep-trigger/images/example.inline.svg
  src/components/pages/doc/inkeep-trigger/images/sparks.inline.svg
  src/components/pages/doc/inkeep-trigger/index.js
  src/components/pages/doc/inkeep-trigger/inkeep-trigger.jsx
  src/components/pages/doc/mobile-nav/mobile-nav.jsx
  src/components/pages/doc/sidebar/sidebar.jsx
Due: prettier --write, eslint --cache --fix

chore: add base styles
  public/css/inkeep-chat.css
Due: prettier --write

chore: upd env
  .env.example
  next.config.js
  src/components/pages/doc/inkeep-trigger/inkeep-trigger.jsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
