Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: add vs code item
  content/changelog/2026-01-23.md
Due: node src/scripts/update-frontmatter.js

docs: update title
  content/changelog/2026-01-23.md
Due: node src/scripts/update-frontmatter.js

docs: add link
  content/changelog/2026-01-23.md
Due: node src/scripts/update-frontmatter.js

Docs changelog 2026 01 23 (#4384)
  content/changelog/2026-01-23.md
  content/docs/guides/consumption-metrics.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/consumption-metrics.md
Due: node src/scripts/update-frontmatter.js

fix: startups link
  src/components/pages/pricing/hero/programs/programs.jsx
Due: prettier --write, eslint --cache --fix

fix: startup link
  src/components/pages/pricing/hero/programs/programs.jsx
Due: prettier --write, eslint --cache --fix

fix: startups link (#4386)
  src/components/pages/pricing/hero/programs/programs.jsx
Due: prettier --write, eslint --cache --fix

docs: general revisions
  content/docs/connect/connect-intro.md
  content/docs/connect/connection-pooling.md
  content/docs/get-started/connect-neon.md
  content/docs/get-started/dev-experience.md
  content/docs/get-started/signing-up.md
  content/docs/get-started/workflow-primer.md
  content/docs/guides/ai-agent-integration.md
  content/docs/guides/embedded-postgres.md
  content/docs/introduction/branch-restore.md
  content/docs/introduction/branching.md
  src/components/pages/doc/actions/actions.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/connect/connection-pooling.md
  content/docs/guides/ai-agent-integration.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/connect/connect-intro.md
  content/docs/connect/connection-pooling.md
  content/docs/get-started/connect-neon.md
  content/docs/get-started/dev-experience.md
  content/docs/get-started/signing-up.md
  content/docs/get-started/workflow-primer.md
  content/docs/guides/ai-agent-integration.md
  content/docs/guides/embedded-postgres.md
  content/docs/introduction/branch-restore.md
  content/docs/introduction/branching.md
Due: node src/scripts/update-frontmatter.js

docs: document Next.js session caching configuration
  content/docs/auth/quick-start/nextjs-api-only.md
  content/docs/auth/quick-start/nextjs.md
Due: node src/scripts/update-frontmatter.js

chore: improve SDK doc sync rules based on session caching update
  .cursor/rules/neon-js-sdk-doc-sync.md
Due: node src/scripts/update-frontmatter.js

chore: move neon-changelog.rules to rules directory
  .cursor/rules/neon-changelog.rules
Due: none

chore: add MCP server documentation sync workflow rules
  .cursor/rules/mcp-server-doc-sync.md
Due: node src/scripts/update-frontmatter.js

docs: emphasize shared component pattern in MCP doc sync rules
  .cursor/rules/mcp-server-doc-sync.md
Due: node src/scripts/update-frontmatter.js

feat: add source repo README sync to MCP doc workflow
  .cursor/rules/mcp-server-doc-sync.md
Due: node src/scripts/update-frontmatter.js

docs: add cloudflare worker placement
  content/docs/guides/cloudflare-hyperdrive.md
Due: node src/scripts/update-frontmatter.js

docs: add metabase getting started guide
  content/guides/metabase-neon.md
  public/docs/guides/metabase-dashboard.png
  public/docs/guides/metabase-database-sync.png
  public/docs/guides/metabase-line-chart.png
  public/docs/guides/metabase-question-visualization.png
  public/docs/guides/metabase-setup-question.png
  public/docs/guides/metabase-top-products-setup.png
  public/docs/guides/metabase-view-sql.png
Due: node src/scripts/update-frontmatter.js

feat(regions.md): new cells IPs
  content/docs/introduction/regions.md
Due: node src/scripts/update-frontmatter.js

fix: format in table
  content/docs/introduction/regions.md
Due: node src/scripts/update-frontmatter.js

refacto: sort IPS
  content/docs/introduction/regions.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/introduction/regions.md
Due: node src/scripts/update-frontmatter.js

feat(neon-private-networking): add vpce ids
  content/docs/guides/neon-private-networking.md
Due: node src/scripts/update-frontmatter.js

fix: add correct ip
  content/docs/introduction/regions.md
Due: node src/scripts/update-frontmatter.js

fix: update number of entries
  content/docs/guides/neon-private-networking.md
Due: node src/scripts/update-frontmatter.js

fix: from code review
  src/components/shared/blog-search/blog-search.jsx
  src/components/shared/blog-search/search-results.jsx
Due: prettier --write, eslint --cache --fix

docs: sidebar tracking
  src/components/pages/doc/actions/actions.jsx
Due: prettier --write, eslint --cache --fix

docs: add docs CTA tracking
  src/components/shared/doc-cta/doc-cta.jsx
Due: prettier --write, eslint --cache --fix

docs: add comprehensive documentation tracking
  src/components/pages/doc/code-tabs/code-tabs.jsx
  src/components/pages/doc/community-banner/community-banner.jsx
  src/components/pages/doc/detail-icon-cards/detail-icon-cards.jsx
  src/components/pages/doc/docs-link/docs-link.jsx
  src/components/pages/doc/tabs/tabs.jsx
  src/components/pages/doc/tech-cards/tech-cards.jsx
  src/components/shared/link/link.jsx
  src/components/shared/navigation-links/navigation-links.jsx
  src/components/shared/table-of-contents/item/item.jsx
Due: prettier --write, eslint --cache --fix

Add DB Pro to connect-postgres-gui.md
  content/docs/connect/connect-postgres-gui.md
Due: node src/scripts/update-frontmatter.js

fix: leftover
  content/docs/reference/neondatabase-toolkit.md
  content/docs/reference/sdk.md
Due: node src/scripts/update-frontmatter.js

docs: copy neon init
  content/docs/introduction.md
  src/components/shared/code-block-wrapper/code-block-wrapper.jsx
  src/components/shared/code-block/code-block.jsx
  src/components/shared/doc-cta/doc-cta.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: fix tracking implementation
  src/components/pages/doc/docs-link/docs-link.jsx
  src/components/shared/table-of-contents/item/item.jsx
Due: prettier --write, eslint --cache --fix

docs: tweak main docs page
  content/docs/introduction.md
  content/docs/manage/platform.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/introduction.md
  content/docs/manage/platform.md
Due: node src/scripts/update-frontmatter.js

docs: fixes
  src/components/pages/doc/detail-icon-cards/detail-icon-cards.jsx
  src/components/pages/doc/tech-cards/tech-cards.jsx
  src/components/shared/navigation-links/navigation-links.jsx
Due: prettier --write, eslint --cache --fix

Update introduction.md
  content/docs/introduction.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/reference/neondatabase-toolkit.md
  content/docs/reference/sdk.md
Due: node src/scripts/update-frontmatter.js

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
