Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

fix: autoscaling info line margin fix
  src/components/pages/home-new/autoscaling/autoscaling.jsx
Due: prettier --write, eslint --cache --fix

feat: update autoscaling rive
  public/animations/pages/home-new/autoscaling.riv
  src/components/pages/home-new/autoscaling/animation.jsx
  src/components/pages/home-new/autoscaling/autoscaling.jsx
Due: prettier --write, eslint --cache --fix

docs: minor updates
  content/guides/react-neon-auth-hono.md
Due: node src/scripts/update-frontmatter.js

feat: update footer copy
  src/components/shared/footer/footer.jsx
  src/components/shared/layout/layout.jsx
Due: prettier --write, eslint --cache --fix

docs: minor updates
  content/guides/admin-dashboard-neon-auth.md
Due: node src/scripts/update-frontmatter.js

feat: update cta video version
  src/components/pages/home-new/cta/cta.jsx
Due: prettier --write, eslint --cache --fix

feat: clean up legacy env, images, const, styles and seo data
  .env.example
  .github/workflows/e2e-tests.yml
  next.config.js
  package-lock.json
  public/images/deploy/deploy-0.jpg
  public/images/deploy/deploy-1.jpg
  public/images/deploy/deploy-2.jpg
  public/images/deploy/deploy-3.jpg
  public/images/deploy/deploy-4.jpg
  public/images/deploy/deploy-small-0.jpg
  public/images/deploy/deploy-small-1.jpg
  public/images/deploy/deploy-small-2.jpg
  public/images/deploy/deploy-small-3.jpg
  public/images/deploy/deploy-small-4.jpg
  public/images/deploy/ellipse.svg
  public/images/social-previews/aws-israel.jpg
  public/images/social-previews/deploy.jpg
  public/images/social-previews/developer-days-1.jpg
  src/components/shared/custom-modal/custom-modal.jsx
  src/components/shared/custom-modal/index.js
  src/constants/links.js
  src/constants/seo-data.js
  src/images/agenda/anna-stepanyan.png
  src/images/agenda/david-gomes.png
  src/images/agenda/em-sharnoff.png
  src/images/agenda/george-mackerron.png
  src/images/agenda/heikki-linnakangas.png
  src/images/agenda/mahmoud-abdelwahab.png
  src/images/agenda/nikita-shamgunov.jpg
  src/images/agenda/pattern.svg
  src/images/agenda/pranav-aurora.jpeg
  src/images/social-previews/developer-days-1.jpg
  src/images/social-previews/jobs.jpg
  src/styles/ticket.css
Due: prettier --write, eslint --cache --fix

fix: clean up ticket import css
  src/styles/globals.css
Due: prettier --write

feat: clean up the rest of the files
  .github/workflows/unit-tests.yml
  package-lock.json
  package.json
  public/videos/pages/deploy/deploy.mp4
  public/videos/pages/deploy/deploy.webm
  src/constants/forms.js
  src/images/pages/developer-days/straight-line.inline.svg
  src/utils/get-ticket-og-image.js
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

chore: update frontmatter date (auto-update)
  content/docs/guides/neon-managed-vercel-integration.md
  content/docs/guides/vercel-managed-integration.md
  content/docs/guides/vercel-overview.md
Due: node src/scripts/update-frontmatter.js

feat: clean up images and videos from public
  public/events/neon-developer-days-3.ics
  public/flow/branching-workflows.jpg
  public/flow/deployments.jpg
  public/images/pages/developer-days/background-lg.svg
  public/images/pages/developer-days/background-md.svg
  public/images/pages/developer-days/background-xl.svg
  public/images/pages/developer-days/background.svg
  public/images/pages/developer-days/straight-line.inline.svg
  public/images/social-previews/no-name-ticket.jpg
  public/videos/pages/developer-days/cactus.mp4
  public/videos/pages/developer-days/cactus.webm
  public/videos/pages/developer-days/dr-brown.mp4
  public/videos/pages/developer-days/dr-brown.webm
  public/videos/pages/developer-days/hands-mobile.mp4
  public/videos/pages/developer-days/hands-mobile.webm
  public/videos/pages/developer-days/hands.mp4
  public/videos/pages/developer-days/hands.webm
Due: none

feat: delete legacy deploy event file
  public/events/neon-deploy.ics
Due: none

chore: update frontmatter date (auto-update)
  content/docs/guides/logical-replication-concepts.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/get-started/frameworks.md
  content/docs/guides/solid-start.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/connect/connect-postgres-gui.md
  content/docs/guides/draxlr.md
Due: node src/scripts/update-frontmatter.js

docs: simplify concurrent active compute limit
  content/docs/connect/connection-errors.md
  content/docs/manage/branches.md
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/connect/connect-postgres-gui.md
  content/docs/guides/draxlr.md
Due: node src/scripts/update-frontmatter.js

docs: revisions
  content/docs/guides/draxlr.md
  content/docs/guides/integrations.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

docs: reorder integrations
  content/docs/guides/integrations.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

docs: move orphan docs to unused
  content/docs/ai/ai-intro.md
  content/docs/guides/platform-integration-overview.md
  content/docs/introduction/architecture-overview.md
  content/docs/navigation.yaml
  content/docs/unused/ai-app-build.md
  content/docs/unused/neon-features.md
  content/docs/unused/platform-integration-get-started.md
Due: node src/scripts/update-frontmatter.js

docs: reorder guides
  content/docs/guides/integrations.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

docs: remove a couple of guides
  content/docs/guides/integrations.md
  content/docs/guides/outerbase.md
  content/docs/guides/postgrest.md
  content/docs/guides/stepzen.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

docs: revisions
  content/docs/navigation.yaml
Due: none

docs: add noen auth note
  content/docs/guides/auth-auth0.md
  content/docs/guides/auth-authjs.md
  content/docs/guides/auth-clerk.md
  content/docs/guides/auth-okta.md
Due: node src/scripts/update-frontmatter.js

docs: minor edits to migrations overview
  content/docs/import/migrate-intro.md
Due: node src/scripts/update-frontmatter.js

docs: minor revisions
  content/docs/data-api/access-control.md
  content/docs/data-api/get-started.md
  content/docs/data-api/troubleshooting.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/get-started/production-readiness.md
  content/docs/get-started/production-readiness.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/auth-auth0.md
  content/docs/guides/auth-authjs.md
  content/docs/guides/auth-clerk.md
  content/docs/guides/auth-okta.md
  content/docs/guides/draxlr.md
  content/docs/guides/integrations.md
  content/docs/guides/outerbase.md
  content/docs/guides/postgrest.md
  content/docs/guides/stepzen.md
  content/docs/import/migrate-intro.md
Due: node src/scripts/update-frontmatter.js

docs: related updates
  content/docs/get-started/built-to-scale.md
  content/docs/get-started/why-neon.md
  content/docs/navigation.yaml
  public/llms.txt
  public/llms/get-started-built-to-scale.txt
  public/llms/get-started-production-readiness.txt
  public/llms/get-started-why-neon.txt
Due: node src/scripts/update-frontmatter.js

Update content/docs/get-started/dev-experience.md
  content/docs/get-started/dev-experience.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/guides/cloudflare-workers.md
  content/docs/guides/cloudflare-workers.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/get-started/why-neon.md
  content/docs/get-started/why-neon.md
Due: node src/scripts/update-frontmatter.js

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
