Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

Update 2024-05-10.md
  content/changelog/2024-05-10.md
Due: node src/scripts/update-frontmatter.js

feat: add guides structure
  .env.example
  content/guides/sample.md
  content/guides/shared-content/NewPricing.md
  content/guides/shared-content/coming-soon.md
  content/guides/shared-content/index.js
  content/guides/shared-content/lr-notice.md
  content/guides/shared-content/need-help.md
  content/guides/shared-content/sign-up.md
  content/guides/sidebar.yaml
  src/app/guides/[...slug]/page.jsx
  src/app/guides/layout.jsx
  src/app/guides/og/route.jsx
  src/app/guides/page.jsx
  src/components/pages/doc/post/post.jsx
  src/constants/guides.js
  src/constants/links.js
  src/utils/api-guides.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: use query guide
  content/guides/next-server-actions.md
  content/guides/sample.md
  package-lock.json
Due: node src/scripts/update-frontmatter.js

fix: update fetchStatus to handle new changes in NeonStatus API
  src/components/shared/footer/status-badge/status-badge.jsx
Due: prettier --write, eslint --cache --fix

Update next-server-actions.md
  content/guides/next-server-actions.md
Due: node src/scripts/update-frontmatter.js

Update about.md
  content/docs/introduction/about.md
Due: node src/scripts/update-frontmatter.js

chore: update partners integration illustrations
  src/components/pages/partners/integration/images/autoscaling-chart.png
  src/components/pages/partners/integration/images/autoscaling-chart.svg
  src/components/pages/partners/integration/images/database-table.png
  src/components/pages/partners/integration/images/database-table.svg
  src/components/pages/partners/integration/integration.jsx
Due: prettier --write, eslint --cache --fix

fix: overlay tabs
  src/components/pages/home/instant-provisioning/code-tabs/navigation/navigation.jsx
Due: prettier --write, eslint --cache --fix

Additions
  content/changelog/2024-05-10.md
Due: node src/scripts/update-frontmatter.js

feat: add connection string animation
  src/components/pages/home/instant-provisioning/connection-string/connection-string.jsx
  src/components/pages/home/instant-provisioning/connection-string/index.js
  src/components/pages/home/instant-provisioning/instant-provisioning.jsx
Due: prettier --write, eslint --cache --fix

monitoring page update
  content/changelog/2024-05-10.md
  content/docs/introduction/monitoring-page.md
  public/docs/relnotes/set_custom_monitoring_period.png
Due: node src/scripts/update-frontmatter.js

chore: string timing, dots animation upd
  public/animations/pages/home/dots-stack.riv
  src/components/pages/home/instant-provisioning/blur-wrapper/blur-wrapper.jsx
  src/components/pages/home/instant-provisioning/blur-wrapper/index.js
  src/components/pages/home/instant-provisioning/connection-string/connection-string.jsx
  src/components/pages/home/instant-provisioning/instant-provisioning.jsx
Due: prettier --write, eslint --cache --fix

feat: update first guide page content
  content/guides/next-server-actions.md
  content/guides/sample.md
Due: node src/scripts/update-frontmatter.js

fix: update next-server-actions guide
  content/guides/next-server-actions.md
Due: node src/scripts/update-frontmatter.js

chore(styles): animation, tabs
  src/components/pages/home/instant-provisioning/code-tabs/navigation/navigation.jsx
  src/components/pages/home/instant-provisioning/connection-string/connection-string.jsx
  src/components/pages/home/instant-provisioning/dots-animation/dots-animation.jsx
  src/components/pages/home/instant-provisioning/instant-provisioning.jsx
Due: prettier --write, eslint --cache --fix

feat: update ai-index animation
  src/components/pages/home/ai-index/animation/parallax-vocabulary/parallax-vocabulary.jsx
Due: prettier --write, eslint --cache --fix

fix: next-server-actions guide bug
  content/guides/next-server-actions.md
Due: node src/scripts/update-frontmatter.js

fix: minor changes
  src/components/pages/home/hero/video/use-video-playback.js
Due: prettier --write, eslint --cache --fix

feat: update guides structure
  .env.example
  content/guides/README.md
  content/guides/shared-content/NewPricing.md
  content/guides/shared-content/coming-soon.md
  content/guides/shared-content/lr-notice.md
  content/guides/shared-content/need-help.md
  content/guides/shared-content/sign-up.md
  src/app/guides/[...slug]/page.jsx
  src/app/guides/layout.jsx
  src/app/guides/page.jsx
  src/components/pages/blog/sidebar/sidebar.jsx
  src/components/pages/doc/post/post.jsx
  src/components/pages/guides/post/index.js
  src/components/pages/guides/post/post.jsx
  src/components/pages/guides/sidebar/index.js
  src/components/pages/guides/sidebar/sidebar.jsx
  src/components/shared/footer/footer.jsx
  src/components/shared/footer/status-badge/status-badge.jsx
  src/components/shared/header/header.jsx
  src/components/shared/layout/layout.jsx
  src/components/shared/socials/index.js
  src/components/shared/socials/socials.jsx
  src/constants/guides.js
  src/utils/api-guides.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: content upd
  content/flow/git-ops-for-databases.md
  content/flow/index.md
  public/flow/branching-workflows.jpg
  public/flow/deployments.jpg
  public/flow/git-ops-for-databases/branching-workflows.png
  public/flow/git-ops-for-databases/deployments.png
  public/images/social-previews/flow.jpg
  src/app/flow/layout.jsx
  src/app/flow/page.jsx
  src/constants/seo-data.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

Update index.md
  content/flow/index.md
Due: node src/scripts/update-frontmatter.js

chore: update the video id
  content/flow/index.md
Due: node src/scripts/update-frontmatter.js

chore: update date script
  src/scripts/update-frontmatter.js
Due: prettier --write, eslint --cache --fix

chore: update the date
  content/flow/index.md
Due: node src/scripts/update-frontmatter.js

feat: update guides and docs structure
  content/guides/README.md
  content/guides/sample.md
  content/guides/shared-content/NewPricing.md
  content/guides/shared-content/coming-soon.md
  content/guides/shared-content/lr-notice.md
  content/guides/shared-content/need-help.md
  content/guides/shared-content/sign-up.md
  content/guides/sidebar.yaml
  src/app/docs/(neon)/[...slug]/page.jsx
  src/app/docs/(postgres)/postgres/[slug]/page.jsx
  src/app/guides/(index)/layout.jsx
  src/app/guides/(index)/page.jsx
  src/app/guides/[...slug]/page.jsx
  src/app/guides/[slug]/page.jsx
  src/components/pages/doc/post/post.jsx
  src/components/pages/doc/previous-and-next-links/index.js
  src/components/pages/guides/post/post.jsx
  src/components/shared/navigation-links/images/arrow.inline.svg
  src/components/shared/navigation-links/index.js
  src/components/shared/navigation-links/navigation-links.jsx
  src/components/shared/table-of-contents/images/toc.inline.svg
  src/components/shared/table-of-contents/index.js
  src/components/shared/table-of-contents/item/index.js
  src/components/shared/table-of-contents/item/item.jsx
  src/components/shared/table-of-contents/table-of-contents.jsx
  src/utils/api-docs.js
  src/utils/api-guides.js
  src/utils/api-postgres.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: Update content
  content/flow/index.md
Due: node src/scripts/update-frontmatter.js

revisions
  content/docs/introduction/about.md
  public/docs/introduction/branching_workflow.jpg
Due: node src/scripts/update-frontmatter.js

edits
  content/docs/introduction/about.md
Due: node src/scripts/update-frontmatter.js

Update topbar.jsx
  src/components/shared/topbar/topbar.jsx
Due: prettier --write, eslint --cache --fix

Update topbar.jsx (#1676)
  src/components/shared/topbar/topbar.jsx
Due: prettier --write, eslint --cache --fix

chore: fix codeblock height
  src/components/pages/home/instant-provisioning/code-tabs/navigation/navigation.jsx
Due: prettier --write, eslint --cache --fix

feat: merge guides index page layout to one file
  src/app/guides/(index)/layout.jsx
  src/app/guides/(index)/page.jsx
Due: prettier --write, eslint --cache --fix

feat: move getTableOfContents api to shared file
  src/app/docs/(neon)/[...slug]/page.jsx
  src/app/guides/[slug]/page.jsx
  src/utils/api-docs.js
  src/utils/api-guides.js
  src/utils/get-table-of-contents.js
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
