Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

docs: add link
  content/docs/introduction.md
Due: node src/scripts/update-frontmatter.js

docs: align CLI naming and fix style nits
  content/docs/get-started/full-backend-quickstart.md
Due: node src/scripts/update-frontmatter.js

ci: recover @neon/sdk install when npm ci leaves it missing
  package.json
  scripts/ensure-neon-sdk-installed.mjs
Due: none

ci: retry @neon/sdk install on registry ECONNRESET
  scripts/ensure-neon-sdk-installed.mjs
Due: none

docs: fix stale AI Gateway access wording and Functions card label
  content/docs/ai-gateway/get-started.md
  content/docs/compute/functions/overview.md
Due: node src/scripts/update-frontmatter.js

fix: flatten TourCallout glow and correct homepage tour copy
  content/docs/introduction.md
  src/components/pages/doc/twin-paths/twin-paths.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: update backend quickstart (#5186)
  content/docs/get-started/full-backend-quickstart.md
Due: node src/scripts/update-frontmatter.js

ci: add lockfile tarball fallback for @neon/sdk install
  scripts/ensure-neon-sdk-installed.mjs
Due: none

docs: minor updates from be testing
  content/docs/ai-gateway/overview.md
  src/components/shared/request-form/data.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: modernize AI Gateway and Storage steps
  content/docs/get-started/full-backend-quickstart.md
Due: node src/scripts/update-frontmatter.js

Revert CI @neon/sdk install workarounds
  package.json
  scripts/ensure-neon-sdk-installed.mjs
Due: none

docs: add early access request form for additional AI Gateway foundation models
  content/docs/ai-gateway/overview.md
  src/components/shared/request-form/data.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: align foundation model access wording between AI Gateway overview and models pages
  content/docs/ai-gateway/models.md
  content/docs/ai-gateway/overview.md
Due: node src/scripts/update-frontmatter.js

docs: modernize AI Gateway and Storage steps in backend quickstart (#5294)
  content/docs/get-started/full-backend-quickstart.md
Due: node src/scripts/update-frontmatter.js

docs: revisions
  content/docs/ai-gateway/overview.md
Due: node src/scripts/update-frontmatter.js

docs: remove em dash from foundation model access section
  content/docs/ai-gateway/overview.md
Due: node src/scripts/update-frontmatter.js

docs: align platform.md product cards with current beta wording/tags
  content/docs/manage/platform.md
Due: node src/scripts/update-frontmatter.js

docs: consolidate foundation model access content at top of AI Gateway overview
  content/docs/ai-gateway/overview.md
Due: node src/scripts/update-frontmatter.js

docs: shorten guided path eta and rewrite backend card description
  content/docs/introduction.md
  src/components/pages/doc/twin-paths/twin-paths.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: add Overview heading above AI Gateway intro paragraph
  content/docs/ai-gateway/overview.md
Due: node src/scripts/update-frontmatter.js

ci: install only @neon/sdk for docs-api-consistency check
  .github/workflows/docs-api-consistency.yml
Due: none

docs: add Backend beta guide to Start with Neon nav section
  content/docs/navigation.yaml
Due: none

docs: link to Discord in backend beta guide feedback note
  content/docs/get-started/backend-beta.md
Due: node src/scripts/update-frontmatter.js

docs: update guided path backend description to list Auth, Object Storage, and AI Gateway
  content/docs/introduction.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/ai-gateway/models.md
  content/docs/ai-gateway/models.md
Due: node src/scripts/update-frontmatter.js

docs: add tour backend banner to docs homepage (#5291)
  content/docs/introduction.md
  content/docs/navigation.yaml
  src/components/pages/doc/twin-paths/index.js
  src/components/pages/doc/twin-paths/twin-paths.jsx
  src/components/shared/content/content.jsx
  src/icons/arrow-label-green.inline.svg
  src/scripts/process-md-for-llms.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: clarify manage/platform page scope now that 'Neon platform' means the full backend (#5288)
  content/docs/manage/platform.md
Due: node src/scripts/update-frontmatter.js

ci: install via Databricks JFrog npm mirror, not public registry
  .github/workflows/docs-api-consistency.yml
Due: none

docs: full backend revisions
  content/docs/get-started/full-backend-quickstart.md
Due: node src/scripts/update-frontmatter.js

docs: restructure backend quickstart around neon.ts and Neon Functions
  content/docs/get-started/full-backend-quickstart.md
Due: node src/scripts/update-frontmatter.js

docs: restructure full backend quickstart around neon.ts and Neon Functions (#5299)
  content/docs/get-started/full-backend-quickstart.md
Due: node src/scripts/update-frontmatter.js

ci: install docs-api-consistency deps via Databricks JFrog npm mirror (#5295)
  .github/workflows/docs-api-consistency.yml
Due: none

docs: fix AI Gateway code sample bugs found during live testing
  content/docs/ai-gateway/anthropic-messages.md
  content/docs/ai-gateway/chat-completions.md
Due: node src/scripts/update-frontmatter.js

docs: fix Gemini SDK auth in AI Gateway docs
  content/docs/ai-gateway/gemini.md
Due: node src/scripts/update-frontmatter.js

docs: fix more AI Gateway bugs found during live testing
  content/docs/ai-gateway/authentication.md
  content/docs/ai-gateway/chat-completions.md
  content/docs/ai-gateway/models.md
Due: node src/scripts/update-frontmatter.js

docs: fix Object Storage bugs found during live testing
  content/docs/storage/buckets.md
  content/docs/storage/get-started.md
Due: node src/scripts/update-frontmatter.js

docs: refocus backend beta guide on status and access
  content/docs/get-started/backend-beta.md
  content/docs/get-started/backend-overview.md
  content/docs/get-started/full-backend-quickstart.md
  public/docs/get-started/neon_app_backend.png
Due: node src/scripts/update-frontmatter.js

docs: fix presigned PUT and branching wording in Object Storage docs
  content/docs/storage/get-started.md
  content/docs/storage/objects.md
Due: node src/scripts/update-frontmatter.js

docs: warn that credential expires_at is not enforced during beta
  content/docs/ai-gateway/authentication.md
  content/docs/storage/authentication.md
Due: node src/scripts/update-frontmatter.js
