Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

refactor: move docs constants
  src/app/docs/(neon)/[...slug]/page.jsx
  src/app/docs/(neon)/release-notes/[...slug]/page.jsx
  src/app/docs/(postgres)/postgres/[...slug]/page.jsx
  src/constants/docs.js
Due: prettier --write, eslint --cache --fix

update note about JSON protocol
  content/docs/guides/prisma.md
Due: node src/scripts/update-frontmatter.js

Checking in latest draft
  content/docs/guides/partner-billing.md
  content/docs/guides/partner-intro.md
Due: node src/scripts/update-frontmatter.js

chore(docs): Update frontmatter date
  content/docs/guides/partner-billing.md
  content/docs/guides/partner-intro.md
Due: node src/scripts/update-frontmatter.js

Fixing unsupported character
  content/docs/guides/partner-billing.md
Due: node src/scripts/update-frontmatter.js

Update partner-billing.md
  content/docs/guides/partner-billing.md
Due: node src/scripts/update-frontmatter.js

fix: broken link on postgres compatibility page
  content/docs/reference/compatibility.md
Due: node src/scripts/update-frontmatter.js

chore: add Prisma to the Neon Serverless driver page
  content/docs/serverless/serverless-driver.md
Due: node src/scripts/update-frontmatter.js

feat: send gtag events
  src/components/pages/pricing/calculator/calculator.jsx
  src/components/pages/pricing/cta/cta.jsx
  src/components/pages/pricing/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

fix: update dynamic page name
  src/app/docs/(postgres)/postgres/[slug]/page.jsx
Due: prettier --write, eslint --cache --fix

chore: add new logo
  public/images/technology-logos/quarkus-logo.svg
Due: none

chore: remove unused script
  src/scripts/sidebar.js
Due: prettier --write, eslint --cache --fix

fix: headings anchors
  src/components/shared/content/content.jsx
Due: prettier --write, eslint --cache --fix

fix: canonical urls
  src/app/docs/(postgres)/postgres/[slug]/page.jsx
Due: prettier --write, eslint --cache --fix

Draft to test locall
  content/docs/guides/partner-billing.md
  content/docs/guides/partner-intro.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

fix: broken links in docs
  content/docs/connect/connect-intro.md
  content/docs/manage/roles.md
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js

chore(docs): Update frontmatter date
  content/docs/connect/connect-intro.md
  content/docs/manage/roles.md
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js

chore(docs): Update frontmatter date
  content/docs/guides/prisma.md
  content/docs/manage/roles.md
  content/docs/reference/glossary.md
  content/docs/serverless/serverless-driver.md
Due: node src/scripts/update-frontmatter.js

Update quarkus-jdbc.md
  content/docs/guides/quarkus-jdbc.md
Due: node src/scripts/update-frontmatter.js

chore(docs): Update frontmatter date
  content/docs/guides/quarkus-jdbc.md
Due: node src/scripts/update-frontmatter.js

feat: implement docsearch
  .env.example
  src/components/pages/doc/sidebar/sidebar.jsx
  src/components/shared/search/search.jsx
  src/constants/links.js
Due: prettier --write, eslint --cache --fix

Update quarkus-reactive.md
  content/docs/guides/quarkus-reactive.md
Due: node src/scripts/update-frontmatter.js

fix: prevent duplicated h1 in postgres docs
  src/app/docs/(postgres)/postgres/[slug]/page.jsx
Due: prettier --write, eslint --cache --fix

Updates for email login
  content/docs/get-started-with-neon/signing-up.md
  content/docs/guides/project-sharing-guide.md
  content/docs/introduction/pro-plan.md
  content/docs/manage/overview.md
  content/docs/manage/roles.md
  content/docs/reference/glossary.md
  content/docs/unused/concepts-deprecated
  public/docs/get-started-with-neon/neon_signin.png
Due: node src/scripts/update-frontmatter.js

chore(docs): Update frontmatter date
  content/docs/get-started-with-neon/signing-up.md
  content/docs/guides/project-sharing-guide.md
  content/docs/introduction/pro-plan.md
  content/docs/manage/overview.md
  content/docs/manage/roles.md
  content/docs/reference/glossary.md
Due: node src/scripts/update-frontmatter.js

chore: add missing file
  content/postgresql/amcheck.md
  content/postgresql/release-16.md
Due: node src/scripts/update-frontmatter.js

chore: add missing file
  content/postgresql/oldsnapshot.md
Due: node src/scripts/update-frontmatter.js

Update projects.md
  content/docs/manage/projects.md
Due: node src/scripts/update-frontmatter.js

fix: minor adjustment
  content/postgresql/oldsnapshot.md
Due: node src/scripts/update-frontmatter.js

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
