Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

Fix variable name
  content/postgresql/math-functions/exp.md
Due: node src/scripts/update-frontmatter.js

feat: update topbar w/autoscaling
  content/config/topbar.yaml
Due: none

docs: vercel support
  content/docs/guides/vercel-managed-integration.md
  content/docs/introduction/support.md
Due: node src/scripts/update-frontmatter.js

docs: address review comments on migration guide
  content/docs/extensions/migrate-pg-search-to-lakebase-text.md
Due: node src/scripts/update-frontmatter.js

chore: rename @neondatabase/* config libraries to @neon/* in docs
  content/changelog/2026-06-12.md
  content/changelog/2026-06-19.md
  content/docs/compute/functions/agents.md
  content/docs/compute/functions/deploy.md
  content/docs/compute/functions/environment-variables.md
  content/docs/compute/functions/get-started.md
  content/docs/compute/functions/reference/runtime-limits.md
  content/docs/get-started/platform-private-preview.md
  content/docs/reference/neon-ts.md
  content/docs/storage/get-started.md
  content/guides/neon-ts-demo.md
  public/docs/ai/skills/claimable-postgres/SKILL.md
  public/docs/ai/skills/neon-ai-gateway/SKILL.md
  public/docs/ai/skills/neon-functions/SKILL.md
  public/docs/ai/skills/neon-functions/references/ai-sdk.md
  public/docs/ai/skills/neon-functions/references/mastra-studio.md
  public/docs/ai/skills/neon-object-storage/SKILL.md
  public/docs/ai/skills/neon-postgres-branches/SKILL.md
  public/docs/ai/skills/neon-postgres-egress-optimizer/SKILL.md
  public/docs/ai/skills/neon-postgres/SKILL.md
  public/docs/ai/skills/neon/SKILL.md
  scripts/docs-checks/neonctl/overrides.json
  scripts/docs-checks/neonctl/schema.json
Due: node src/scripts/update-frontmatter.js

feat(components): add impression and dismiss tracking to docs video modal
  src/components/pages/doc/modal/modal.jsx
Due: prettier --write, eslint --cache --fix

chore: rename @neondatabase/* config libraries to @neon/* (#5182)
  content/changelog/2026-06-12.md
  content/changelog/2026-06-19.md
  content/docs/compute/functions/agents.md
  content/docs/compute/functions/deploy.md
  content/docs/compute/functions/environment-variables.md
  content/docs/compute/functions/get-started.md
  content/docs/compute/functions/reference/runtime-limits.md
  content/docs/get-started/platform-private-preview.md
  content/docs/reference/neon-ts.md
  content/docs/storage/get-started.md
  content/guides/neon-ts-demo.md
  public/docs/ai/skills/claimable-postgres/SKILL.md
  public/docs/ai/skills/neon-ai-gateway/SKILL.md
  public/docs/ai/skills/neon-functions/SKILL.md
  public/docs/ai/skills/neon-functions/references/ai-sdk.md
  public/docs/ai/skills/neon-functions/references/mastra-studio.md
  public/docs/ai/skills/neon-object-storage/SKILL.md
  public/docs/ai/skills/neon-postgres-branches/SKILL.md
  public/docs/ai/skills/neon-postgres-egress-optimizer/SKILL.md
  public/docs/ai/skills/neon-postgres/SKILL.md
  public/docs/ai/skills/neon/SKILL.md
  scripts/docs-checks/neonctl/overrides.json
  scripts/docs-checks/neonctl/schema.json
Due: node src/scripts/update-frontmatter.js

docs: add branch recovery docs
  content/docs/cli/branches.md
  content/docs/cli/projects.md
  content/docs/guides/backup-restore.md
  content/docs/guides/branch-expiration.md
  content/docs/introduction/branch-restore.md
  content/docs/manage/branches.md
  content/docs/manage/orgs-manage.md
  content/docs/manage/projects.md
Due: node src/scripts/update-frontmatter.js

docs: mention 7-day branch recovery period in Vercel cleanup docs
  content/docs/guides/vercel-branch-cleanup.md
Due: node src/scripts/update-frontmatter.js

docs: related updates
  content/docs/introduction/support.md
Due: node src/scripts/update-frontmatter.js

fix(docs): keep `brew install neonctl` (Homebrew `neon` is a different package)
  content/docs/get-started/signing-up.md
  content/faqs/postgres-create-database-cli-single-command.md
  content/guides/git-worktrees-neon-branching.md
  content/guides/isolated-subagents-neon-branching.md
  public/docs/ai/skills/neon-postgres/references/neon-cli.md
Due: node src/scripts/update-frontmatter.js

Fix code example description in MOD Function docs
  content/postgresql/math-functions/mod.md
Due: node src/scripts/update-frontmatter.js

docs: update backend quickstart
  content/docs/get-started/full-backend-quickstart.md
Due: node src/scripts/update-frontmatter.js

docs: minor update
  content/docs/get-started/full-backend-quickstart.md
Due: node src/scripts/update-frontmatter.js

feat: update cli page
  content/docs/cli.md
  content/docs/navigation.yaml
  src/components/pages/doc/cli-reference/cli-command-index/command-index-client.jsx
  src/components/pages/doc/detail-icon-cards/detail-icon-cards.jsx
  src/components/pages/doc/menu/item/item.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: point CLI docs pipeline at neon-pkgs and render `neon` binary
  scripts/docs-checks/neonctl/__tests__/generate-docs.test.js
  scripts/docs-checks/neonctl/generate-docs.js
  scripts/docs-checks/neonctl/generate-schema.js
  scripts/docs-checks/neonctl/overrides.json
  scripts/docs-checks/neonctl/refresh.js
  scripts/docs-checks/neonctl/schema.json
  src/components/pages/doc/cli-reference/cli-command-index/cli-command-index.jsx
  src/components/pages/doc/cli-reference/cli-command-index/command-index-client.jsx
  src/components/pages/doc/cli-reference/cli-command-index/meta.js
  src/components/pages/doc/cli-reference/cli-command-index/meta.test.js
  src/scripts/process-md-for-llms.test.js
Due: prettier --write, eslint --cache --fix

docs: point CLI docs pipeline at neon-pkgs and render `neon` binary (#5187)
  scripts/docs-checks/neonctl/__tests__/generate-docs.test.js
  scripts/docs-checks/neonctl/generate-docs.js
  scripts/docs-checks/neonctl/generate-schema.js
  scripts/docs-checks/neonctl/overrides.json
  scripts/docs-checks/neonctl/refresh.js
  scripts/docs-checks/neonctl/schema.json
  src/components/pages/doc/cli-reference/cli-command-index/cli-command-index.jsx
  src/components/pages/doc/cli-reference/cli-command-index/command-index-client.jsx
  src/components/pages/doc/cli-reference/cli-command-index/meta.js
  src/components/pages/doc/cli-reference/cli-command-index/meta.test.js
  src/scripts/process-md-for-llms.test.js
Due: prettier --write, eslint --cache --fix

chore: top level check
  src/components/pages/doc/menu/item/item.jsx
Due: prettier --write, eslint --cache --fix

docs: lower planned maintenance notice to 3 days + 2026-07-03 changelog
  content/changelog/2026-07-03.md
  content/docs/manage/updates.md
Due: node src/scripts/update-frontmatter.js

fix: add aliases
  src/components/pages/doc/cli-reference/cli-command-index/command-index-client.jsx
Due: prettier --write, eslint --cache --fix

Fix real bugs found in TS error audit (#5155) (#5176)
  src/app/templates/[slug]/page.jsx
  src/components/pages/contact-sales/hero/contact-form/contact-form.jsx
  src/components/pages/startups/hero/contact-form/contact-form.jsx
  src/components/pages/templates/templates-list/templates-list.jsx
  src/constants/links.js
  src/hooks/use-is-touch-device.js
Due: prettier --write, eslint --cache --fix

docs: bump neon cli node requirement to v22
  content/docs/cli/install.md
  content/docs/compute/functions/get-started.md
Due: node src/scripts/update-frontmatter.js

docs: revise Azure regions deprecation guide for Oct 5 timeline
  content/docs/import/azure-regions-deprecation.md
  content/docs/shared-content/azure-regions-deprecation.md
  src/scripts/__snapshots__/process-md-for-llms.test.js.snap
Due: node src/scripts/update-frontmatter.js

docs: add "why are these regions being deprecated?" FAQ
  content/docs/import/azure-regions-deprecation.md
Due: node src/scripts/update-frontmatter.js

docs: mention reset to parent blocked by soft branch delete
  content/docs/guides/reset-from-parent.md
Due: node src/scripts/update-frontmatter.js

docs: misc fixes
  content/guides/authors/data.json
  content/guides/neon-skill-coding-agents.md
Due: node src/scripts/update-frontmatter.js

Add guide: Get Better Code from Your AI Coding Agent with the Neon Skill (#4913)
  content/guides/authors/data.json
  content/guides/neon-skill-coding-agents.md
  public/guides/authors/anthony-giuliano.jpg
Due: node src/scripts/update-frontmatter.js

docs: refine Azure deprecation page (admonition, intro, FAQs, regions)
  content/docs/import/azure-regions-deprecation.md
Due: node src/scripts/update-frontmatter.js

fix: uneven white space in the what you will learn section
  src/components/pages/doc/docs-list/docs-list.jsx
Due: prettier --write, eslint --cache --fix

Create test-rls-on-neon-branches.md
  content/guides/test-rls-on-neon-branches.md
Due: node src/scripts/update-frontmatter.js

Add files via upload
  public/docs/guides/rls-callers-vs-localhost.svg
  public/docs/guides/rls-owner-bypass.svg
Due: none

chore: design adjustments
  content/docs/cli.md
  src/components/pages/doc/detail-icon-cards/detail-icon-cards.jsx
  src/components/pages/doc/detail-icon-cards/images/network.inline.svg
  src/components/pages/doc/detail-icon-cards/images/rocket.inline.svg
  src/styles/doc-content.css
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

feat: add toc-only markdown feature
  content/docs/cli.md
  src/components/pages/doc/cli-reference/cli-command-index/cli-command-index.jsx
  src/components/shared/anchor-heading/anchor-heading.jsx
  src/scripts/process-md-for-llms.js
  src/scripts/process-md-for-llms.test.js
  src/utils/get-markdown-table-of-contents.js
  src/utils/get-table-of-contents.js
  src/utils/get-table-of-contents.test.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: add branch recovery to 2026-07-03 changelog; demote maintenance notice
  content/changelog/2026-07-03.md
Due: node src/scripts/update-frontmatter.js

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
