Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

fix: update modal display logic to show Slack popup on introduction page
  src/components/pages/doc/post/post.jsx
Due: prettier --write, eslint --cache --fix

feat: add llms.txt and /llms/ directory following llms.txt standard
  llms.txt
  llms/frameworks-astro.txt
  llms/frameworks-entity-framework.txt
  llms/frameworks-nestjs.txt
  llms/frameworks-nextjs.txt
  llms/frameworks-node.txt
  llms/frameworks-nuxt.txt
  llms/frameworks-oauth.txt
  llms/frameworks-phoenix.txt
  llms/frameworks-quarkus-jdbc.txt
  llms/frameworks-quarkus-reactive.txt
  llms/frameworks-react.txt
  llms/frameworks-reflex.txt
  llms/frameworks-remix.txt
  llms/frameworks-solidstart.txt
  llms/frameworks-sveltekit.txt
  llms/frameworks-symfony.txt
  llms/languages-dotnet.txt
  llms/languages-elixir.txt
  llms/languages-go.txt
  llms/languages-java.txt
  llms/languages-javascript.txt
  llms/languages-python.txt
  llms/languages-rust.txt
Due: none

feat: add llms.txt and /llms/ directory following llms.txt standard
  llms/frameworks-astro.txt
  llms/frameworks-entity-framework.txt
  llms/frameworks-nestjs.txt
  llms/frameworks-nextjs.txt
  llms/frameworks-node.txt
  llms/frameworks-nuxt.txt
  llms/frameworks-phoenix.txt
  llms/frameworks-remix.txt
  llms/frameworks-solidstart.txt
  llms/frameworks-sveltekit.txt
  llms/languages-dotnet.txt
Due: none

feat: add llms.txt and /llms/ files to public directory for direct access
  public/llms.txt
  public/llms/frameworks-astro.txt
  public/llms/frameworks-entity-framework.txt
  public/llms/frameworks-nestjs.txt
  public/llms/frameworks-nextjs.txt
  public/llms/frameworks-node.txt
  public/llms/frameworks-nuxt.txt
  public/llms/frameworks-oauth.txt
  public/llms/frameworks-phoenix.txt
  public/llms/frameworks-quarkus-jdbc.txt
  public/llms/frameworks-quarkus-reactive.txt
  public/llms/frameworks-react.txt
  public/llms/frameworks-reflex.txt
  public/llms/frameworks-remix.txt
  public/llms/frameworks-solidstart.txt
  public/llms/frameworks-sveltekit.txt
  public/llms/frameworks-symfony.txt
  public/llms/languages-dotnet.txt
  public/llms/languages-elixir.txt
  public/llms/languages-go.txt
  public/llms/languages-java.txt
  public/llms/languages-javascript.txt
  public/llms/languages-python.txt
  public/llms/languages-rust.txt
Due: none

docs: add guide for adding files to llms directory
  docs/internal/llms-directory-guide.md
Due: node src/scripts/update-frontmatter.js

fix: add explicit handling for .txt files in next.config.js
  next.config.js
Due: prettier --write, eslint --cache --fix

docs: emphasize manual copying requirement in llms-directory-guide
  docs/internal/llms-directory-guide.md
Due: node src/scripts/update-frontmatter.js

fix: change Slack popup text and icon
  src/components/pages/doc/post/post.jsx
  src/icons/docs/slack.inline.svg
Due: prettier --write, eslint --cache --fix

fix: update Slack logo with official colors
  src/icons/docs/slack.inline.svg
Due: none

feat: add Slack popups to organization and usage pages
  src/components/pages/doc/post/post.jsx
Due: prettier --write, eslint --cache --fix

fix: update modal breadcrumb to match monitor-usage page title
  src/components/pages/doc/post/post.jsx
Due: prettier --write, eslint --cache --fix

feat: add overview guides to llms directory
  llms.txt
  llms/connect-overview.txt
  llms/extensions-overview.txt
  llms/guides-overview.txt
  llms/import-overview.txt
  llms/manage-overview.txt
  llms/serverless-overview.txt
  public/llms.txt
  public/llms/connect-overview.txt
  public/llms/extensions-overview.txt
  public/llms/guides-overview.txt
  public/llms/import-overview.txt
  public/llms/manage-overview.txt
  public/llms/serverless-overview.txt
Due: none

feat: add changelog for 2025-03-21
  content/changelog/2025-03-21.md
Due: node src/scripts/update-frontmatter.js

docs: update llms file
  llms.txt
  public/llms.txt
Due: none

feat: add chat options block for docs
  content/docs/introduction.md
  src/app/(docs)/docs/[...slug]/page.jsx
  src/components/pages/doc/chat-options/chat-options.jsx
  src/components/pages/doc/chat-options/index.js
  src/components/pages/doc/post/post.jsx
  src/components/shared/content/content.jsx
  src/constants/links.js
  src/icons/chat-options/anthropic.inline.svg
  src/icons/chat-options/discord.inline.svg
  src/icons/chat-options/gemini.inline.svg
  src/icons/chat-options/github.inline.svg
  src/icons/chat-options/neon.inline.svg
  src/icons/chat-options/vscode.inline.svg
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

fix: icon shrink style
  src/components/pages/doc/chat-options/chat-options.jsx
Due: prettier --write, eslint --cache --fix

docs: add `uuid-ossp` extension
  content/docs/extensions/extensions-intro.md
  content/docs/extensions/pg-extensions.md
  content/docs/extensions/uuid-ossp.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

refactor: fixes after review
  src/app/(docs)/docs/[...slug]/page.jsx
  src/components/pages/doc/chat-options/chat-options.jsx
  src/components/pages/doc/post/post.jsx
Due: prettier --write, eslint --cache --fix

refactor: fixes after review
  src/components/pages/doc/chat-options/chat-options.jsx
Due: prettier --write, eslint --cache --fix

refactor: support multiple breadcrumb values for modals and add Track usage to billing pages
  src/components/pages/doc/post/post.jsx
Due: prettier --write, eslint --cache --fix

fix: add Plans and Plans and billing to Track usage popup breadcrumbs
  src/components/pages/doc/post/post.jsx
Due: prettier --write, eslint --cache --fix

fix: exclude AWS Marketplace, Azure Marketplace, and Enterprise sales process from showing popups
  src/components/pages/doc/post/post.jsx
Due: prettier --write, eslint --cache --fix

chore: update heading title
  src/components/pages/doc/chat-options/chat-options.jsx
Due: prettier --write, eslint --cache --fix

feat: add chat options block for docs (#3170)
  content/docs/introduction.md
  src/app/(docs)/docs/[...slug]/page.jsx
  src/components/pages/doc/chat-options/chat-options.jsx
  src/components/pages/doc/chat-options/index.js
  src/components/pages/doc/post/post.jsx
  src/components/shared/content/content.jsx
  src/constants/links.js
  src/icons/chat-options/anthropic.inline.svg
  src/icons/chat-options/discord.inline.svg
  src/icons/chat-options/gemini.inline.svg
  src/icons/chat-options/github.inline.svg
  src/icons/chat-options/neon.inline.svg
  src/icons/chat-options/vscode.inline.svg
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/introduction.md
Due: node src/scripts/update-frontmatter.js

refactor: separate data file and icons folder
  src/components/pages/doc/modal/data.js
  src/components/pages/doc/modal/modal.jsx
  src/components/pages/doc/post/post.jsx
  src/icons/docs/modal/support.inline.svg
Due: prettier --write, eslint --cache --fix

refactor: rename breadcrumb prop to pageTitle
  src/components/pages/doc/modal/data.js
  src/components/pages/doc/post/post.jsx
Due: prettier --write, eslint --cache --fix

refactor: rename pageTitle prop to matchTitle
  src/components/pages/doc/modal/data.js
  src/components/pages/doc/post/post.jsx
Due: prettier --write, eslint --cache --fix

docs: add `pgcrypto` extension
  content/docs/extensions/pgcrypto.md
  content/docs/extensions/uuid-ossp.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/introduction/neon-enterprise.md
Due: node src/scripts/update-frontmatter.js

Update takeover.jsx
  src/components/pages/home/takeover/takeover.jsx
Due: prettier --write, eslint --cache --fix

docs: add `unaccent` extension
  content/docs/extensions/pgcrypto.md
  content/docs/extensions/unaccent.md
  content/docs/extensions/uuid-ossp.md
Due: node src/scripts/update-frontmatter.js

docs: add missed links
  content/docs/extensions/extensions-intro.md
Due: node src/scripts/update-frontmatter.js

docs: revisions
  content/docs/ai/connect-mcp-clients-to-neon.md
Due: node src/scripts/update-frontmatter.js
