Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

chore: change copy
  content/docs/README.md
  content/docs/ai/ai-agents-tools.md
  content/docs/ai/ai-rules-neon-toolkit.md
  content/docs/ai/ai-rules-neon-typescript-sdk.md
  content/docs/ai/ai-rules.md
  content/docs/auth/migrate/from-supabase.md
  content/docs/auth/reference/ui-components.md
  content/docs/data-api/demo.md
  content/docs/data-api/get-started.md
  content/docs/data-api/overview.md
  content/docs/navigation.yaml
  content/docs/reference/javascript-sdk.md
  content/docs/reference/neondatabase-toolkit.md
  content/docs/reference/sdk.md
  content/docs/reference/typescript-sdk.md
  content/docs/sdk-navigation.yaml
  content/guides/admin-dashboard-neon-auth.md
  content/guides/react-neon-auth-data-api.md
  content/guides/react-neon-auth-hono.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  package-lock.json
  package.json
Due: none

Update src/components/pages/pricing/hero/programs/programs.jsx
  src/components/pages/pricing/hero/programs/programs.jsx
Due: prettier --write, eslint --cache --fix

Brand logos update (#4373)
  public/brand/neon-brand-assets.zip
  public/brand/neon-logo-dark-color@2x.png
  public/brand/neon-logo-dark-mono@2x.png
  public/brand/neon-logo-light-color@2x.png
  public/brand/neon-logo-light-mono@2x.png
  public/brand/neon-logomark-dark-color.svg
  public/brand/neon-logomark-dark-color@2x.png
  public/brand/neon-logomark-dark-mono.svg
  public/brand/neon-logomark-dark-mono@2x.png
  public/brand/neon-logomark-light-color.svg
  public/brand/neon-logomark-light-color@2x.png
  public/brand/neon-logomark-light-mono.svg
  public/brand/neon-logomark-light-mono@2x.png
  src/components/pages/brand/logo/logo.jsx
  src/components/pages/brand/logomark/logomark.jsx
  src/components/pages/brand/utils.js
Due: prettier --write, eslint --cache --fix

fix: filter posts without cover (#4375)
  src/app/blog/[slug]/page.jsx
  src/components/pages/blog-post/aside/aside.jsx
  src/utils/api-wp.js
Due: prettier --write, eslint --cache --fix

fix: docs content overflow (#4376)
  src/components/shared/link/link.jsx
  src/styles/doc-content.css
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

Docs menu fix (#4379)
  src/components/pages/doc/mobile-nav/mobile-nav.jsx
  src/components/shared/cookie-consent/cookie-consent.jsx
  src/components/shared/layout/layout.jsx
Due: prettier --write, eslint --cache --fix

chore: update frontmatter date (auto-update)
  content/docs/README.md
  content/docs/ai/ai-agents-tools.md
  content/docs/ai/ai-rules-neon-toolkit.md
  content/docs/ai/ai-rules-neon-typescript-sdk.md
  content/docs/ai/ai-rules.md
  content/docs/auth/migrate/from-supabase.md
  content/docs/auth/reference/ui-components.md
  content/docs/data-api/demo.md
  content/docs/data-api/get-started.md
  content/docs/data-api/overview.md
  content/docs/reference/javascript-sdk.md
  content/docs/reference/neondatabase-toolkit.md
  content/docs/reference/sdk.md
  content/docs/reference/typescript-sdk.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/branching/advanced-branching-workflows.md
  content/branching/branching-for-agents.md
  content/branching/branching-workflows-for-development.md
  content/branching/ci-preview-workflows.md
  content/branching/foundational-concepts.md
  content/branching/introduction.md
  content/branching/production-staging-workflows.md
  content/branching/recovery-workflows.md
  content/branching/rethinking-the-database.md
  content/branching/tooling-and-automation.md
Due: node src/scripts/update-frontmatter.js

feat: preload rive wasm (#4380)
  next.config.js
  package-lock.json
  src/app/layout.jsx
  src/components/shared/rive-wasm/index.js
  src/components/shared/rive-wasm/rive-wasm.jsx
Due: prettier --write, eslint --cache --fix

docs: first draft changelog
  .claude/agents/extract-analyze-compute.md
  .claude/agents/extract-analyze-console.md
  .claude/agents/extract-analyze-storage.md
  .claude/commands/triage-changelog.md
  content/changelog/2026-01-23.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/changelog/2026-01-23.md
Due: node src/scripts/update-frontmatter.js

docs: resolve merge conflict markers
  content/docs/workflows/data-anonymization.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  package-lock.json
Due: none

docs: llms text update
  public/llms.txt
  public/llms/ai-ai-agents-tools.txt
  public/llms/ai-ai-rules-neon-auth.txt
  public/llms/ai-ai-rules-neon-toolkit.txt
  public/llms/ai-ai-rules-neon-typescript-sdk.txt
  public/llms/ai-ai-rules.txt
  public/llms/ai-neon-mcp-server.txt
  public/llms/auth-migrate-from-supabase.txt
  public/llms/auth-overview.txt
  public/llms/auth-quick-start-nextjs.txt
  public/llms/auth-reference-ui-components.txt
  public/llms/data-api-demo.txt
  public/llms/data-api-get-started.txt
  public/llms/data-api-overview.txt
  public/llms/get-started-built-to-scale.txt
  public/llms/get-started-signing-up.txt
  public/llms/guides-branching-schema-only.txt
  public/llms/guides-flyway-multiple-environments.txt
  public/llms/guides-liquibase-workflow.txt
  public/llms/guides-protected-branches.txt
  public/llms/guides-react.txt
  public/llms/guides-schema-diff-tutorial.txt
  public/llms/guides-tanstack-start.txt
  public/llms/introduction.txt
  public/llms/manage-branches.txt
  public/llms/manage-overview.txt
  public/llms/manage-projects.txt
  public/llms/reference-cli-init.txt
  public/llms/reference-glossary.txt
  public/llms/reference-javascript-sdk.txt
  public/llms/reference-metrics-logs.txt
  public/llms/reference-neondatabase-toolkit.txt
  public/llms/reference-sdk.txt
  public/llms/reference-typescript-sdk.txt
  public/llms/workflows-data-anonymization.txt
Due: none

chore: update frontmatter date (auto-update)
  content/docs/workflows/data-anonymization.md
Due: node src/scripts/update-frontmatter.js

docs: llms text update (#4383)
  public/llms.txt
  public/llms/ai-ai-agents-tools.txt
  public/llms/ai-ai-rules-neon-auth.txt
  public/llms/ai-ai-rules-neon-toolkit.txt
  public/llms/ai-ai-rules-neon-typescript-sdk.txt
  public/llms/ai-ai-rules.txt
  public/llms/ai-neon-mcp-server.txt
  public/llms/auth-migrate-from-supabase.txt
  public/llms/auth-overview.txt
  public/llms/auth-quick-start-nextjs.txt
  public/llms/auth-reference-ui-components.txt
  public/llms/data-api-demo.txt
  public/llms/data-api-get-started.txt
  public/llms/data-api-overview.txt
  public/llms/get-started-built-to-scale.txt
  public/llms/get-started-signing-up.txt
  public/llms/guides-branching-schema-only.txt
  public/llms/guides-flyway-multiple-environments.txt
  public/llms/guides-liquibase-workflow.txt
  public/llms/guides-protected-branches.txt
  public/llms/guides-react.txt
  public/llms/guides-schema-diff-tutorial.txt
  public/llms/guides-tanstack-start.txt
  public/llms/introduction.txt
  public/llms/manage-branches.txt
  public/llms/manage-overview.txt
  public/llms/manage-projects.txt
  public/llms/reference-cli-init.txt
  public/llms/reference-glossary.txt
  public/llms/reference-javascript-sdk.txt
  public/llms/reference-metrics-logs.txt
  public/llms/reference-neondatabase-toolkit.txt
  public/llms/reference-sdk.txt
  public/llms/reference-typescript-sdk.txt
  public/llms/workflows-data-anonymization.txt
Due: none

docs: changelog 2026 01 23
  content/changelog/2026-01-23.md
  content/docs/guides/consumption-metrics.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/changelog/2026-01-23.md
  content/docs/guides/consumption-metrics.md
Due: node src/scripts/update-frontmatter.js

update menu titles
  src/constants/menus.js
Due: prettier --write, eslint --cache --fix

docs: revisions
  content/changelog/2026-01-23.md
Due: node src/scripts/update-frontmatter.js

docs: edit title
  content/changelog/2026-01-23.md
Due: node src/scripts/update-frontmatter.js

docs: edit
  content/changelog/2026-01-23.md
Due: node src/scripts/update-frontmatter.js

docs: add tanstack navigation
  content/docs/get-started/frameworks.md
  content/docs/guides/tanstack-start.md
  content/docs/introduction.md
Due: node src/scripts/update-frontmatter.js

docs: add tanstack navigation (#4385)
  content/docs/get-started/frameworks.md
  content/docs/guides/tanstack-start.md
  content/docs/introduction.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/get-started/frameworks.md
  content/docs/guides/tanstack-start.md
  content/docs/introduction.md
Due: node src/scripts/update-frontmatter.js

feat: remove algolia
  next.config.js
  package-lock.json
  src/app/blog/(index)/category/[slug]/page.jsx
  src/app/blog/(index)/page.jsx
  src/components/shared/blog-search/blog-search.jsx
  src/components/shared/blog-search/index.js
  src/components/shared/blog-search/search-input.jsx
  src/components/shared/blog-search/search-results.jsx
Due: prettier --write, eslint --cache --fix

feat: fix faq
  src/app/pricing/page.jsx
Due: prettier --write, eslint --cache --fix

docs: add tanstack prompt
  content/changelog/2026-01-23.md
Due: node src/scripts/update-frontmatter.js

docs: remove unintended changes
  content/docs/guides/consumption-metrics.md
Due: node src/scripts/update-frontmatter.js

fixes
  src/components/shared/header/submenu/submenu.jsx
Due: prettier --write, eslint --cache --fix

Update content/changelog/2026-01-23.md
  content/changelog/2026-01-23.md
Due: node src/scripts/update-frontmatter.js

docs: remove entry
  content/changelog/2026-01-23.md
Due: node src/scripts/update-frontmatter.js
