Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

Update hero.jsx
  src/components/pages/demos/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

Update hero.jsx
  src/components/pages/pricing/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

fix: small style updates for case studies page after review
  src/components/pages/case-studies/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

fix: casse studies page cards mobile border
  src/components/pages/case-studies/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

docs: edits
  content/changelog/2024-06-14.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/changelog/2024-06-14.md
Due: node src/scripts/update-frontmatter.js

Update content/changelog/2024-06-14.md
  content/changelog/2024-06-14.md
Due: node src/scripts/update-frontmatter.js

docs: update description
  content/changelog/2024-06-14.md
Due: node src/scripts/update-frontmatter.js

docs: fix link
  content/changelog/2024-06-14.md
Due: node src/scripts/update-frontmatter.js

docs: minor revision
  content/changelog/2024-06-14.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/manage/projects.md
Due: node src/scripts/update-frontmatter.js

docs: revisions
  content/docs/guides/bemi.md
  public/docs/guides/bemi_browser_ui.png
  public/docs/guides/bemi_connect_postgres.png
  public/docs/guides/bemi_tracked_tables.png
Due: node src/scripts/update-frontmatter.js

docs: update sidebar
  content/docs/sidebar.yaml
Due: none

chore: format content markdown files with Prettier
  content/docs/guides/bemi.md
Due: node src/scripts/update-frontmatter.js

docs: prettier
  content/docs/guides/bemi.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/import/migrate-mysql.md
Due: node src/scripts/update-frontmatter.js

docs: cli updates
  content/docs/reference/cli-install.md
  content/docs/reference/neon-cli.md
Due: node src/scripts/update-frontmatter.js

docs: mention --no-color CLI option
  content/changelog/2024-06-14.md
  content/docs/reference/cli-branches.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/reference/cli-branches.md
  content/docs/reference/cli-install.md
  content/docs/reference/neon-cli.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/reference/cli-auth.md
  content/docs/reference/cli-branches.md
  content/docs/reference/neon-cli.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/reference/neon-cli.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/bemi.md
  content/docs/guides/integrations.md
  content/docs/guides/logical-replication-guide.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/reference/cli-auth.md
  content/docs/reference/cli-branches.md
  content/docs/reference/cli-install.md
  content/docs/reference/neon-cli.md
Due: node src/scripts/update-frontmatter.js

fix: case studies page fixes after review
  src/components/pages/case-studies/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

fix: case study featured card image 2x
  src/components/pages/case-studies/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

docs: moved tables to guides
  content/docs/guides/tables.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

fix: case studies cards width
  src/components/pages/case-studies/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

docs: modify cli page to show install command only
  src/components/pages/cli/hero/code-tabs/code-tabs.jsx
Due: prettier --write, eslint --cache --fix

docs: update link
  content/docs/get-started-with-neon/signing-up.md
Due: node src/scripts/update-frontmatter.js

docs: removed rows
  content/docs/guides/tables.md
Due: node src/scripts/update-frontmatter.js

Update src/components/pages/pricing/hero/hero.jsx
  src/components/pages/pricing/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

docs: change primary to default
  content/docs/connect/connect-from-any-app.md
  content/docs/get-started-with-neon/connect-neon.md
  content/docs/get-started-with-neon/dev-experience.md
  content/docs/get-started-with-neon/workflow-primer.md
  content/docs/guides/branch-promote.md
  content/docs/guides/branching-github-actions.md
  content/docs/guides/branching-intro.md
  content/docs/guides/branching-neon-api.md
  content/docs/guides/branching-neon-cli.md
  content/docs/guides/branching-test-queries.md
  content/docs/guides/liquibase-workflow.md
  content/docs/guides/polyscale.md
  content/docs/guides/protected-branches.md
  content/docs/guides/schema-diff-tutorial.md
  content/docs/guides/schema-diff.md
  content/docs/guides/time-travel-assist.md
  content/docs/guides/vercel.md
  content/docs/introduction/extra-usage.md
  content/docs/introduction/monitor-usage.md
  content/docs/introduction/plans.md
  content/docs/introduction/pricing-estimation-guide.md
  content/docs/manage/branches.md
  content/docs/manage/databases.md
  content/docs/manage/endpoints.md
  content/docs/manage/operations.md
  content/docs/manage/overview.md
  content/docs/manage/projects.md
  content/docs/manage/roles.md
  content/docs/reference/cli-branches.md
  content/docs/reference/cli-connection-string.md
  content/docs/reference/cli-databases.md
  content/docs/reference/cli-ip-allow.md
  content/docs/reference/cli-projects.md
  content/docs/reference/cli-roles.md
  content/docs/reference/cli-set-context.md
  content/docs/reference/glossary.md
  content/docs/unused/branching-pitr.md
Due: node src/scripts/update-frontmatter.js
