Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/changelog/2024-10-04.md
  content/docs/guides/oauth-integration.md
Due: node src/scripts/update-frontmatter.js

Update topbar.jsx (#2262)
  src/components/shared/topbar/topbar.jsx
Due: prettier --write, eslint --cache --fix

docs: edits
  content/changelog/2024-10-04.md
  public/docs/relnotes/account_metrics_widget.png
  public/docs/relnotes/azure_beta.png
  public/docs/relnotes/project_limits_widget.png
Due: node src/scripts/update-frontmatter.js

docs: removing oauth org for now
  content/docs/guides/oauth-integration.md
Due: node src/scripts/update-frontmatter.js

Revert "Update topbar.jsx (#2262)"
  src/components/shared/topbar/topbar.jsx
Due: prettier --write, eslint --cache --fix

docs: revisions
  content/docs/guides/oauth-integration.md
  content/docs/guides/partner-intro.md
  content/docs/reference/api-reference.md
Due: node src/scripts/update-frontmatter.js

Topbar banner: promote Neon Deploy (#2263)
  src/components/shared/topbar/topbar.jsx
Due: prettier --write, eslint --cache --fix

docs: oauth for orgs
  content/docs/guides/oauth-integration.md
Due: node src/scripts/update-frontmatter.js

docs: edits
  content/docs/guides/partner-billing.md
  content/docs/guides/partner-intro.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/guides/partner-billing.md
Due: node src/scripts/update-frontmatter.js

Update content/changelog/2024-10-04.md
  content/changelog/2024-10-04.md
Due: node src/scripts/update-frontmatter.js

docs: add link to neon deploy and db limits
  content/changelog/2024-10-04.md
Due: node src/scripts/update-frontmatter.js

docs: revoking cli-branch changes for set-primary
  content/docs/reference/cli-branches.md
Due: node src/scripts/update-frontmatter.js

fix: deploy redirect
  src/middleware.js
Due: prettier --write, eslint --cache --fix

feat: link to deploy page from ticket page
  src/app/tickets/[handle]/page.jsx
  src/components/pages/tickets/social-share/hero-not-found/hero-not-found.jsx
Due: prettier --write, eslint --cache --fix

fix: update topbar
  src/components/shared/topbar/topbar.jsx
Due: prettier --write, eslint --cache --fix

chore: add valeri img
  content/guides/authors/data.json
  public/guides/authors/vkarpov15.jpg
Due: none

Add Valeri img to Guides (#2266)
  content/guides/authors/data.json
  public/guides/authors/vkarpov15.jpg
Due: none

docs: fix missing description
  content/changelog/2024-10-04.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/guides/oauth-integration.md
  content/docs/guides/oauth-integration.md
Due: node src/scripts/update-frontmatter.js

docs: fix typo
  content/docs/reference/terraform.md
Due: node src/scripts/update-frontmatter.js

docs: updating images
  public/docs/introduction/HA-storage-failover.png
  public/docs/introduction/postgres_fails.png
  public/docs/introduction/vm_fails.png
Due: none

chore: update frontmatter date (auto-update)
  content/docs/reference/terraform.md
Due: node src/scripts/update-frontmatter.js

Update content/docs/introduction/high-availability.md
  content/docs/introduction/high-availability.md
Due: node src/scripts/update-frontmatter.js

docs: free tier project limit update
  content/docs/import/migrate-from-neon.md
  content/docs/introduction/extra-usage.md
  content/docs/introduction/plans.md
  content/docs/introduction/pricing-estimation-guide.md
  content/docs/introduction/regions.md
  content/docs/manage/organizations.md
  content/docs/manage/projects.md
  content/docs/postgresql/postgres-upgrade.md
  content/docs/reference/cli-projects.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

docs: fix image and simplify limitation
  content/docs/introduction/high-availability.md
  public/docs/introduction/HA-storage-failover.png
Due: node src/scripts/update-frontmatter.js

docs: fix indent
  content/docs/introduction/high-availability.md
Due: node src/scripts/update-frontmatter.js

docs: tweak for pooled vms
  content/docs/introduction/high-availability.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/introduction/high-availability.md
Due: node src/scripts/update-frontmatter.js

remove docs and references
  content/docs/import/migrate-from-postgres-pg-import.md
  content/docs/import/migrate-intro.md
  content/docs/manage/backups.md
  content/docs/postgresql/postgres-upgrade.md
  content/docs/sidebar.yaml
Due: node src/scripts/update-frontmatter.js

docs: redirect content
  content/docs/connect/connect-ai.md
  content/docs/guides/askyourdatabase.md
Due: node src/scripts/update-frontmatter.js

docs: update sidebar
  content/docs/sidebar.yaml
Due: none

chore: update frontmatter date (auto-update)
  content/docs/guides/metrics-api.md
  content/docs/guides/oauth-integration.md
  content/docs/guides/partner-billing.md
  content/docs/guides/partner-intro.md
  content/docs/reference/api-reference.md
Due: node src/scripts/update-frontmatter.js

docs: terraform update
  content/docs/reference/terraform.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/reference/terraform.md
Due: node src/scripts/update-frontmatter.js

docs: edit
  content/docs/reference/terraform.md
Due: node src/scripts/update-frontmatter.js

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
