Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

docs: sync skills with upstream (#5761)
  public/.well-known/agent-skills/index.json
  public/.well-known/skills/index.json
  public/docs/.well-known/agent-skills/index.json
  public/docs/.well-known/skills/index.json
  public/docs/ai/skills/neon-postgres/SKILL.md
  src/app/.well-known/ai-catalog.json/catalog.json
Due: node src/scripts/update-frontmatter.js

Post catalog sync on docs-reindex when llms-index config or the API-ref generator changes.
  .github/workflows/docs-reindex.yml
  src/scripts/docs-reindex-map.js
  src/scripts/docs-reindex-map.test.js
Due: prettier --write, eslint --cache --fix

Watch content.js for docs catalog sync; CONTENT_ROUTES can add or drop pages without a markdown edit.
  .github/workflows/docs-reindex.yml
  src/scripts/docs-reindex-map.js
  src/scripts/docs-reindex-map.test.js
Due: prettier --write, eslint --cache --fix

Restore the llms-index-config mapper test after adding the content.js case.
  src/scripts/docs-reindex-map.test.js
Due: prettier --write, eslint --cache --fix

Queue catalog sync on rename-away of a shaping file, and reuse the mapper for dispatch payloads.
  .github/workflows/docs-reindex.yml
  src/scripts/docs-reindex-map.js
  src/scripts/docs-reindex-map.test.js
Due: prettier --write, eslint --cache --fix

Do not count catalog-shaping files as skipped; they are the sync trigger.
  .github/workflows/docs-reindex.yml
  src/scripts/docs-reindex-map.js
  src/scripts/docs-reindex-map.test.js
Due: prettier --write, eslint --cache --fix

Drop unverified GLM and Grok effort values from the catalog.
  src/app/models.json/data.json
Due: none

docs(experiment): trim the agent hero card description
  content/docs/introduction.md
Due: node src/scripts/update-frontmatter.js

docs(experiment): drop the CI note, tighten the front-page hero copy
  content/docs/get-started/with-an-agent.md
  content/docs/introduction.md
Due: node src/scripts/update-frontmatter.js

docs(experiment): greenfield path, surface labels, verified follow-up caveats
  content/docs/get-started/with-an-agent.md
Due: node src/scripts/update-frontmatter.js

Publish GPT-6 Astra on the AI Gateway catalog.
  content/docs/ai-gateway/openai-responses.md
  src/app/models.json/data.json
  src/app/models/capabilities.json
Due: node src/scripts/update-frontmatter.js

docs(experiment): make the Connect step one linear path
  content/docs/get-started/with-an-agent.md
Due: node src/scripts/update-frontmatter.js

Add GPT-6 Astra to the AI Gateway catalog (#5765)
  content/docs/ai-gateway/openai-responses.md
  src/app/models.json/data.json
  src/app/models/capabilities.json
Due: node src/scripts/update-frontmatter.js

docs(experiment): flag sign-in as the human moment in the Connect lead-in
  content/docs/get-started/with-an-agent.md
Due: node src/scripts/update-frontmatter.js

Add a post-ship update for the three new models and GPT-6 Astra.
  content/blog/posts/comparing-token-economics-across-42-ai-models.md
Due: node src/scripts/update-frontmatter.js

Update GPT-6 Astra performance details in blog post
  content/blog/posts/comparing-token-economics-across-42-ai-models.md
Due: node src/scripts/update-frontmatter.js

Add tokenomics post update for Astra and two other models (#5766)
  content/blog/posts/comparing-token-economics-across-42-ai-models.md
Due: node src/scripts/update-frontmatter.js

Drop unverified reasoning effort values from glm-5-3-flash and grok-4-6 (#5763)
  src/app/models.json/data.json
Due: none

fix: refine claimable neon result form
  src/components/pages/claimable-neon/claimable-neon.test.jsx
  src/components/pages/claimable-neon/hero/provisioner.jsx
Due: prettier --write, eslint --cache --fix

docs: clarify Neon init setup choice
  content/docs/get-started/with-an-agent.md
Due: node src/scripts/update-frontmatter.js

fix: address claimable neon accessibility feedback
  src/components/pages/claimable-neon/hero/provisioner.jsx
  src/components/pages/claimable-neon/interfaces/code-tabs.jsx
  src/components/pages/claimable-neon/workflow/build-animation.jsx
  src/images/pages/claimable-neon/build-animation-placeholder.jpg
Due: prettier --write, eslint --cache --fix

docs: frame backend prompts as config as code
  content/docs/get-started/with-an-agent.md
Due: node src/scripts/update-frontmatter.js

docs: drop 'add them one at a time' from keep-building intro
  content/docs/get-started/with-an-agent.md
Due: node src/scripts/update-frontmatter.js

docs: address review feedback on object model (LKB-16593)
  content/docs/concepts/the-object-model.md
  content/docs/guides/ai-agent-integration.md
  content/docs/guides/embedded-postgres.md
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

docs: refresh the CLI reference schema (Neon CLI 4.14.1)
  scripts/docs-checks/neonctl/schema.json
Due: none

chore: regenerate the API reference from the OpenAPI spec
  content/docs/api-navigation.yaml
  content/docs/api-operation-ids.json
Due: none

docs: refresh the CLI reference schema (Neon CLI 4.14.1) (#5769)
  scripts/docs-checks/neonctl/schema.json
Due: none

chore: regenerate the API reference from the OpenAPI spec (#5770)
  content/docs/api-navigation.yaml
  content/docs/api-operation-ids.json
Due: none

Add cover image to give your agent Neon tools post (#5734)
  content/blog/posts/give-your-agent-neon-tools.md
Due: node src/scripts/update-frontmatter.js

docs: retitle quickstart to 'Build a Next.js app with your AI agent'
  content/docs/get-started/with-an-agent.md
Due: node src/scripts/update-frontmatter.js

docs: add Branch your backend concept hub (LKB-16594)
  content/docs/api-navigation.yaml
  content/docs/api-operation-ids.json
  content/docs/concepts/branch-your-backend.md
  content/docs/get-started/workflow-primer.md
  content/docs/guides/branching-intro.md
  content/docs/guides/vercel-postgres-transition-guide.md
  content/docs/introduction/branching.md
  content/docs/local/vscode-extension.md
  content/docs/navigation.yaml
  content/docs/unused/legacy-plans.md
  public/docs/concepts/branch-ai-gateway.png
  public/docs/concepts/branch-auth.png
  public/docs/concepts/branch-functions.png
  public/docs/concepts/branch-object-storage.png
  public/docs/concepts/branch-postgres.png
  public/docs/concepts/branch-your-backend.png
Due: node src/scripts/update-frontmatter.js

Trigger a docs catalog sync when catalog-shaping files change (#5762)
  .github/workflows/docs-reindex.yml
  src/scripts/docs-reindex-map.js
  src/scripts/docs-reindex-map.test.js
Due: prettier --write, eslint --cache --fix

Exclude generated api-navigation.yaml and api-operation-ids.json from the PR (npm run dev artifacts, not part of this change)
  content/docs/api-navigation.yaml
  content/docs/api-operation-ids.json
Due: none

feat: hide branch-trigger endpoints from the API reference
  content/docs/api-navigation.yaml
  content/docs/api-operation-ids.json
  scripts/check-docs-api-consistency.mjs
  scripts/generate-api-ref.mjs
  scripts/lib/excluded-operations.mjs
  scripts/lib/excluded-operations.test.js
Due: prettier --write, eslint --cache --fix

feat: hide branch-trigger endpoints from the API reference (#5772)
  content/docs/api-navigation.yaml
  content/docs/api-operation-ids.json
  scripts/check-docs-api-consistency.mjs
  scripts/generate-api-ref.mjs
  scripts/lib/excluded-operations.mjs
  scripts/lib/excluded-operations.test.js
Due: prettier --write, eslint --cache --fix

feat: update claimable neon page (#5768)
  public/animations/pages/claimable-neon/build.riv
  src/components/pages/claimable-neon/claimable-neon.jsx
  src/components/pages/claimable-neon/claimable-neon.test.jsx
  src/components/pages/claimable-neon/hero/hero.jsx
  src/components/pages/claimable-neon/hero/index.js
  src/components/pages/claimable-neon/hero/provisioner.jsx
  src/components/pages/claimable-neon/interfaces/code-tabs.jsx
  src/components/pages/claimable-neon/interfaces/data.js
  src/components/pages/claimable-neon/interfaces/index.js
  src/components/pages/claimable-neon/interfaces/interfaces.jsx
  src/components/pages/claimable-neon/ownership/index.js
  src/components/pages/claimable-neon/ownership/ownership.jsx
  src/components/pages/claimable-neon/workflow/build-animation.jsx
  src/components/pages/claimable-neon/workflow/claim-diagram.jsx
  src/components/pages/claimable-neon/workflow/images/agent.inline.svg
  src/components/pages/claimable-neon/workflow/images/api.inline.svg
  src/components/pages/claimable-neon/workflow/images/row-table.inline.svg
  src/components/pages/claimable-neon/workflow/index.js
  src/components/pages/claimable-neon/workflow/provision-diagram.jsx
  src/components/pages/claimable-neon/workflow/scramble-text.jsx
  src/components/pages/claimable-neon/workflow/workflow.jsx
  src/components/shared/rive-wasm/rive-wasm.jsx
  src/images/pages/claimable-neon/build-animation-placeholder.jpg
  src/images/pages/claimable-neon/hero/auth.svg
  src/images/pages/claimable-neon/hero/copy.svg
  src/images/pages/claimable-neon/hero/data-api.svg
  src/images/pages/claimable-neon/hero/postgres.svg
  vitest.config.js
Due: prettier --write, eslint --cache --fix

Drop the CLI version footnote from the claimable Neon page.
  src/components/pages/claimable-neon/interfaces/code-tabs.jsx
Due: prettier --write, eslint --cache --fix

docs: add five diagrams and two-column layout to Credentials & access
  content/docs/concepts/credentials-access.md
  public/docs/concepts/credentials-access.png
  public/docs/concepts/credentials-api-key-kinds.png
  public/docs/concepts/credentials-branch-anchor.png
  public/docs/concepts/credentials-data-api-jwt.png
  public/docs/concepts/credentials-scope-branch.png
Due: node src/scripts/update-frontmatter.js

Publish verified knowledge cutoffs and lab release dates for Fable 5.1, Grok 4.6, and GLM-5.3 Flash.
  src/app/models.json/data.json
Due: none

docs: align Console tour with current UI
  content/docs/get-started/signing-up.md
  content/docs/guides/schema-diff.md
Due: node src/scripts/update-frontmatter.js
