Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

feat: update ai agents use case (#3724)
  content/pages/use-cases/ai-agents.md
  src/components/pages/template/post/post.jsx
  src/components/shared/content/content.jsx
  src/components/shared/cta-block/cta-block.jsx
  src/components/shared/feature-list/feature-list.jsx
  src/components/shared/feature-list/glowing-icon/data.js
  src/components/shared/feature-list/glowing-icon/glowing-icon.jsx
  src/components/shared/feature-list/glowing-icon/index.js
  src/components/shared/feature-list/index.js
  src/components/shared/grid-features/grid-features.jsx
  src/components/shared/grid-features/logos-section/index.js
  src/components/shared/grid-features/logos-section/logos-section.jsx
  src/components/shared/logos/logos.jsx
  src/components/shared/quick-links/index.js
  src/components/shared/quick-links/quick-links.jsx
  src/components/shared/quote-block/index.js
  src/components/shared/quote-block/quote-block.jsx
  src/icons/features-icon/agent-creates.inline.svg
  src/icons/features-icon/agents-adds.inline.svg
  src/icons/features-icon/branching.inline.svg
  src/icons/features-icon/database.inline.svg
  src/icons/features-icon/gets-working.inline.svg
  src/icons/features-icon/infra-stays.inline.svg
  src/icons/features-icon/transactions.inline.svg
  src/images/authors/dhruv-amin2.jpg
  src/images/authors/lincoln-bergeson.jpg
  src/images/authors/martin-skow.jpg
  src/styles/doc-content.css
  src/utils/get-table-of-contents.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: edits
  content/changelog/2025-08-01.md
Due: node src/scripts/update-frontmatter.js

Update content/changelog/2025-08-01.md
  content/changelog/2025-08-01.md
Due: node src/scripts/update-frontmatter.js

feat: add three workflow entries to docs sidebar
  content/docs/sidebar.yaml
  src/icons/docs/sidebar/branching-workflows.inline.svg
  src/icons/docs/sidebar/github-integration.inline.svg
  src/icons/docs/sidebar/vercel-integration.inline.svg
Due: none

docs: tables page updates
  content/docs/guides/tables.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/tables.md
Due: node src/scripts/update-frontmatter.js

docs: update app.build doc
  content/docs/ai/ai-app-build.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/ai/ai-app-build.md
Due: node src/scripts/update-frontmatter.js

fix: add imports for new sidebar icons
  src/components/pages/doc/menu/icon/icon.jsx
Due: prettier --write, eslint --cache --fix

feat: reorder workflow sidebar entries and move Neon Local to DEV TOOLS section
  content/docs/sidebar.yaml
Due: none

fix: update remaining references from get-started-with-neon to get-started
  public/docs/get-started-with-neon/autoscaling_control.png
  public/docs/get-started-with-neon/branching_workflow.jpg
  public/docs/get-started-with-neon/database_workflow_AB.jpg
  public/docs/get-started-with-neon/fix_with_ai.png
  public/docs/get-started-with-neon/getting_started_schema_diff.png
  public/docs/get-started-with-neon/getting_started_schema_diff_reset.png
  public/docs/get-started-with-neon/history_retention_setting.png
  public/docs/get-started-with-neon/ip_allow_settings.png
  public/docs/get-started-with-neon/latency_distribution_graph.png
  public/docs/get-started-with-neon/neonctl_auth.png
  public/docs/get-started-with-neon/onboarding.png
  public/docs/get-started-with-neon/query_names.png
  public/docs/get-started-with-neon/sign_up_reduced.png
  public/docs/get-started-with-neon/sql_assistant.png
  public/docs/get-started-with-neon/sql_editor.png
  public/docs/get-started-with-neon/sql_editor_ai.png
  public/docs/get-started-with-neon/sql_editor_metacommand.png
  public/docs/get-started-with-neon/tables_drizzle.png
  public/docs/get-started-with-neon/time_travel_sql_editor.png
  public/llms/get-started-with-neon-production-checklist.txt
  public/llms/guides-bemi.txt
Due: none

docs: add FAQ
  content/docs/guides/vercel-managed-integration.md
Due: node src/scripts/update-frontmatter.js

chore: format content markdown files with Prettier
  content/docs/guides/vercel-managed-integration.md
Due: node src/scripts/update-frontmatter.js

feat: add redirectFrom metadata to all moved get-started files
  content/docs/get-started/azure-get-started.md
  content/docs/get-started/connect-neon.md
  content/docs/get-started/dev-experience.md
  content/docs/get-started/frameworks.md
  content/docs/get-started/languages.md
  content/docs/get-started/orms.md
  content/docs/get-started/production-checklist.md
  content/docs/get-started/production-readiness.md
  content/docs/get-started/query-with-neon-sql-editor.md
  content/docs/get-started/signing-up.md
  content/docs/get-started/why-neon.md
  content/docs/get-started/workflow-primer.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/tables.md
  content/docs/introduction/support.md
  content/docs/manage/operations.md
  content/docs/neon-auth/best-practices.md
  content/docs/serverless/serverless-driver.md
Due: node src/scripts/update-frontmatter.js

chore: restore postgres SVG files removed in batch 7 cleanup
  public/docs/postgres/genetic-algorithm.svg
  public/docs/postgres/gin.svg
  public/docs/postgres/pagelayout.svg
Due: none

fix: restore isDocsIndex prop to Aside component
  src/components/pages/doc/aside/aside.jsx
  src/components/pages/doc/post/post.jsx
Due: prettier --write, eslint --cache --fix

docs: add FAQ (#3751)
  content/docs/guides/vercel-managed-integration.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/vercel-managed-integration.md
Due: node src/scripts/update-frontmatter.js

docs: update projects content
  content/docs/manage/branches.md
  content/docs/manage/computes.md
  content/docs/manage/databases.md
  content/docs/manage/projects.md
  content/docs/manage/roles.md
  public/docs/connect/connection_details.png
  public/docs/guides/sharing_grant_access.png
  public/docs/manage/branches_all_list.png
  public/docs/manage/ip_allow.png
  public/docs/manage/settings_page.png
Due: node src/scripts/update-frontmatter.js

docs: modify updates images
  public/docs/manage/free_plan_updates.png
  public/docs/manage/paid_plan_updates.png
Due: none

docs: update branch expiration feature to indicate Early Access Program requirement
  content/docs/guides/branch-expiration.md
  content/docs/guides/branching-neon-cli.md
  content/docs/introduction/branching.md
  content/docs/manage/branches.md
Due: node src/scripts/update-frontmatter.js

docs: remove Early Access Program note from CLI documentation
  content/docs/guides/branching-neon-cli.md
Due: node src/scripts/update-frontmatter.js

docs: remove Early Access Program notes from introduction/branching.md and manage/branches.md
  content/docs/introduction/branching.md
  content/docs/manage/branches.md
Due: node src/scripts/update-frontmatter.js

docs: simplify Early Access Program messaging
  content/docs/guides/branch-expiration.md
Due: node src/scripts/update-frontmatter.js

feat: new field "reason for contact" for contact form
  src/components/pages/contact-sales/hero/contact-form/contact-form.jsx
Due: prettier --write, eslint --cache --fix

refactor: eslint-disable for empty select options
  src/components/pages/contact-sales/hero/contact-form/contact-form.jsx
Due: prettier --write, eslint --cache --fix

Contact form update (#3755)
  src/components/pages/contact-sales/hero/contact-form/contact-form.jsx
Due: prettier --write, eslint --cache --fix

docs: use comingSoon tag
  content/docs/guides/branch-expiration.md
Due: node src/scripts/update-frontmatter.js

docs: use comingSoon tag (#3756)
  content/docs/guides/branch-expiration.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/guides/branch-expiration.md
Due: node src/scripts/update-frontmatter.js

docs: change main branch to production
  content/docs/manage/branches.md
  content/docs/manage/overview.md
  public/docs/manage/add_record_drizzle.png
  public/docs/manage/edit_record_drizzle.png
  public/docs/manage/export_drizzle.png
Due: node src/scripts/update-frontmatter.js

docs: add ip allow image
  public/docs/guides/ip_allow_protected_branches.png
Due: none

feat: some sections have been changed
  src/app/about-us/page.jsx
  src/components/pages/about/connections/connections.jsx
  src/components/pages/about/connections/icons/discord.svg
  src/components/pages/about/connections/icons/linkedin.svg
  src/components/pages/about/connections/icons/x.svg
  src/components/pages/about/connections/index.js
  src/components/pages/about/developers/developers.jsx
  src/components/pages/about/developers/index.js
  src/components/pages/about/for-developers/index.js
  src/components/pages/about/hero/hero.jsx
  src/components/pages/about/investors/index.js
  src/components/pages/about/investors/investors.jsx
  src/components/pages/about/leadership/leadership.jsx
  src/components/pages/about/open-source/index.js
  src/components/pages/about/open-source/open-source.jsx
  src/components/pages/about/timeline/timeline.jsx
  src/components/pages/about/where-headed/index.js
  src/components/pages/about/where-headed/where-headed.jsx
  src/images/pages/about/investors/ajeet-singh.jpg
  src/images/pages/about/investors/andy-pavlo.jpg
  src/images/pages/about/investors/databricks.svg
  src/images/pages/about/investors/elad-gil.jpg
  src/images/pages/about/investors/founders-fund.svg
  src/images/pages/about/investors/general-catalyst.svg
  src/images/pages/about/investors/guillermo-rauch.jpg
  src/images/pages/about/investors/khosla-ventures.svg
  src/images/pages/about/investors/menlo-ventures.svg
  src/images/pages/about/investors/mike-ovitz.jpg
  src/images/pages/about/investors/nat-friedman.jpg
  src/images/pages/about/investors/notable.svg
  src/images/pages/about/investors/ramtin-naimi.jpg
  src/images/pages/about/investors/snowflake.svg
  src/images/pages/about/investors/soren-brammer-schmidt.jpg
  src/images/pages/about/investors/wes-mckinney.jpg
  src/images/pages/about/timeline/line-lg.svg
  src/images/pages/about/timeline/line-md.svg
  src/images/pages/about/timeline/line-xl.svg
  src/images/pages/about/timeline/line.svg
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
