Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

chore: sync agent skills from upstream
  public/.well-known/agent-skills/index.json
  public/docs/.well-known/agent-skills/index.json
  public/docs/ai/skills/neon-postgres-branches/SKILL.md
  public/docs/ai/skills/neon-postgres/SKILL.md
  public/docs/ai/skills/neon-postgres/references/lakebase-search-drizzle.md
  src/constants/static-md-manifest.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: add the neon git command reference and refresh CLI docs to 6.2.3 (#5961)
  content/docs/ai/agent-skills.md
  content/docs/cli/checkout.md
  content/docs/cli/git.md
  content/docs/cli/init.md
  content/docs/cli/snapshots.md
  content/docs/get-started/with-an-agent.md
  content/docs/navigation.yaml
  scripts/docs-checks/neonctl/schema.json
  src/components/pages/doc/cli-reference/cli-command-index/groups.js
  src/components/pages/doc/cli-reference/cli-command-index/meta.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: sync agent skills from upstream (#5962)
  public/.well-known/agent-skills/index.json
  public/docs/.well-known/agent-skills/index.json
  public/docs/ai/skills/neon-postgres-branches/SKILL.md
  public/docs/ai/skills/neon-postgres/SKILL.md
  public/docs/ai/skills/neon-postgres/references/lakebase-search-drizzle.md
  src/constants/static-md-manifest.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: add VisuaLeaf to the GUI applications table
  content/docs/connect/connect-postgres-gui.md
Due: node src/scripts/update-frontmatter.js

docs: reduce pgrag and pg_search docs and point to Lakebase Search
  content/docs/extensions/extension-explorer.md
  content/docs/extensions/migrate-pg-search-to-lakebase-text.md
  content/docs/extensions/pg-extensions.md
  content/docs/extensions/pg_search.md
  content/docs/extensions/pgrag.md
  content/docs/introduction/roadmap.md
  content/docs/navigation.yaml
  public/docs/extensions/rag_pipeline.jpg
Due: node src/scripts/update-frontmatter.js

docs: reduce pgrag and pg_search docs and point to Lakebase Search (#5965)
  content/docs/extensions/extension-explorer.md
  content/docs/extensions/migrate-pg-search-to-lakebase-text.md
  content/docs/extensions/pg-extensions.md
  content/docs/extensions/pg_search.md
  content/docs/extensions/pgrag.md
  content/docs/introduction/roadmap.md
  content/docs/navigation.yaml
  public/docs/extensions/rag_pipeline.jpg
Due: node src/scripts/update-frontmatter.js

fix: remove the EnglishPossessive at quick-start
  content/docs/extensions/lakebase-tokenizer.md
Due: node src/scripts/update-frontmatter.js

fix: improve form and documentation control accessibility
  src/components/pages/contact-sales/hero/contact-form/contact-form.jsx
  src/components/pages/doc/dropdown-menu/dropdown-menu.jsx
  src/components/pages/doc/dropdown-menu/dropdown-menu.test.jsx
  src/components/shared/field/field.jsx
  src/components/shared/inkeep-trigger/inkeep-search/inkeep-search.jsx
  src/components/shared/select-field/select-field.jsx
Due: prettier --write, eslint --cache --fix

Add blog post on branch-based restores in Lakebase Postgres
  content/blog/posts/inside-branch-based-restores-in-lakebase-postgres.md
Due: node src/scripts/update-frontmatter.js

Enhance blog post on branch-based restores in Lakebase
  content/blog/posts/inside-branch-based-restores-in-lakebase-postgres.md
Due: node src/scripts/update-frontmatter.js

fix: remove duplicate slug csharp/csharp-connect (#5945)
  content/postgresql/navigation.yaml
Due: none

fix: remove duplicate slug plpgsql/introduction-to-postgresql-stored-procedures
  content/postgresql/navigation.yaml
Due: none

fix: remove duplicate slug plpgsql/introduction-to-postgresql-stored-procedures (#5967)
  content/postgresql/navigation.yaml
Due: none

feat: add branch-based restores blog assets
  content/blog/posts/inside-branch-based-restores-in-lakebase-postgres.md
Due: node src/scripts/update-frontmatter.js

docs: initial document of lakebase_tokenizer (#5936)
  content/docs/ai/lakebase-search-get-started.md
  content/docs/ai/lakebase-search.md
  content/docs/extensions/lakebase-tokenizer.md
  content/docs/extensions/pg-extensions.md
  content/docs/introduction/regions.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

fix: update second branch-based restores video
  content/blog/posts/inside-branch-based-restores-in-lakebase-postgres.md
Due: node src/scripts/update-frontmatter.js

feat: add branch-based restores blog assets (#5968)
  content/blog/posts/inside-branch-based-restores-in-lakebase-postgres.md
Due: node src/scripts/update-frontmatter.js

Refactor content for clarity in Lakebase Postgres article
  content/blog/posts/inside-branch-based-restores-in-lakebase-postgres.md
Due: node src/scripts/update-frontmatter.js

Fix typo in blog post about branch-based restores
  content/blog/posts/inside-branch-based-restores-in-lakebase-postgres.md
Due: node src/scripts/update-frontmatter.js

Improve formatting and add links in blog post
  content/blog/posts/inside-branch-based-restores-in-lakebase-postgres.md
Due: node src/scripts/update-frontmatter.js

Add blog post: Inside branch-based restores in Lakebase Postgres (#5966)
  content/blog/posts/inside-branch-based-restores-in-lakebase-postgres.md
Due: node src/scripts/update-frontmatter.js

chore: update topbar to promote branch-based restores post
  content/config/topbar.yaml
Due: none

chore: fix topbar apostrophe escaping
  content/config/topbar.yaml
Due: none

docs(nav): surface Lakebase Search under Postgres
  content/docs/navigation.yaml
Due: none

Create guide on best S3-compatible object storage for 2026
  content/guides/best-s3-compatible-object-storage-saas-and-ai-agents-2026.md
Due: node src/scripts/update-frontmatter.js

Update topbar text for clarity and emphasis
  content/config/topbar.yaml
Due: none

docs(nav): reorder Postgres capability sections
  content/docs/navigation.yaml
Due: none

chore: update Carlota Soto author role to Product Team
  content/blog/authors/data.json
Due: none

chore: update Carlota Soto author role to Product Team (#5972)
  content/blog/authors/data.json
Due: none

Fix punctuation in topbar.yaml text
  content/config/topbar.yaml
Due: none

chore: update topbar to promote branch-based restores post (#5969)
  content/config/topbar.yaml
Due: none

docs: add Function Triggers to the backend get-started guides
  content/docs/get-started/backend-overview.md
  content/docs/get-started/full-backend-quickstart.md
Due: node src/scripts/update-frontmatter.js

Add Skydive case study blog post and case studies entry
  content/blog/posts/inside-skydive-building-virtual-coworkers-powered-by-neon.md
  content/data/case-studies.yaml
Due: node src/scripts/update-frontmatter.js

docs: add Function Triggers to the backend get-started guides (#5973)
  content/docs/get-started/backend-overview.md
  content/docs/get-started/full-backend-quickstart.md
Due: node src/scripts/update-frontmatter.js

docs: add data retention section to AI Gateway models docs
  content/docs/ai-gateway/models.md
Due: node src/scripts/update-frontmatter.js

docs: make AI Gateway data retention a dedicated page
  content/docs/ai-gateway/data-retention.md
  content/docs/ai-gateway/models.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

docs: clarify Neon-Databricks connection on AI Gateway data retention page
  content/docs/ai-gateway/data-retention.md
Due: node src/scripts/update-frontmatter.js

fix: address calculations
  content/guides/best-s3-compatible-object-storage-saas-and-ai-agents-2026.md
Due: node src/scripts/update-frontmatter.js

Embed Skydive demo video in the case study post
  content/blog/posts/inside-skydive-building-virtual-coworkers-powered-by-neon.md
Due: node src/scripts/update-frontmatter.js

Update inside-skydive-building-virtual-coworkers-powered-by-neon.md
  content/blog/posts/inside-skydive-building-virtual-coworkers-powered-by-neon.md
Due: node src/scripts/update-frontmatter.js
