Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: a little bit of llms.txt reordering (#5113)
  src/scripts/generate-llms-index.js
  src/scripts/llms-index-config.js
Due: prettier --write, eslint --cache --fix

Serve markdown indexes for the docs root and section hubs to agents (#4996)
  next.config.js
  scripts/test-markdown-urls.js
  src/app/(docs)/docs/[...slug]/page.jsx
  src/app/postgresql/[...slug]/page.jsx
  src/constants/content.js
  src/middleware.test.js
  src/proxy.js
  src/scripts/compare-md-conversion.js
  src/scripts/generate-llms-full.js
  src/scripts/generate-llms-index.js
  src/scripts/process-md-for-llms.js
  src/scripts/process-md-for-llms.test.js
  src/utils/ai-agent-detection.js
  src/utils/ai-agent-detection.test.js
Due: prettier --write, eslint --cache --fix

feat: human-in-the-loop resolve flow + explicit docs-root for docs-fact-conflicts
  .claude/commands/fact-check.md
  .claude/workflows/docs-fact-conflicts.agents.md
  .claude/workflows/docs-fact-conflicts.js
  .claude/workflows/lib/synth.mjs
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

Revert "Merge pull request #5117 from neondatabase/docs/nav-products-postgres-guides"
  content/docs/compute/functions/overview.md
  content/docs/introduction.md
  content/docs/introduction/architecture-overview.md
  content/docs/navigation.yaml
  content/docs/postgresql/introduction.md
  src/components/pages/doc/post/post.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: move referral program entry to top of changelog, update title
  content/changelog/2026-06-19.md
Due: node src/scripts/update-frontmatter.js

docs: remove the legacy Early Access Program (#5106)how
  content/docs/cli/projects.md
  content/docs/community/component-specialized.md
  content/docs/guides/auth-clerk.md
  content/docs/guides/branching-neon-api.md
  content/docs/introduction/early-access.md
  content/docs/introduction/roadmap.md
  content/docs/manage/organizations.md
  content/docs/manage/projects.md
  content/docs/manage/user-permissions.md
  content/docs/navigation.yaml
  content/docs/shared-content/coming-soon.md
  content/docs/shared-content/early-access-props.md
  content/docs/shared-content/early-access.md
  content/docs/shared-content/index.js
  next.config.js
  src/scripts/LLMS_PROCESSOR_GUIDE.md
  src/scripts/__snapshots__/process-md-for-llms.test.js.snap
  src/scripts/fixtures/mdx-conversion-test.md
  src/scripts/process-md-for-llms.js
  src/scripts/process-md-for-llms.test.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

Fix typos in DATE_PART() Function docs
  content/postgresql/date-functions/date_part.md
Due: node src/scripts/update-frontmatter.js

docs: serve blog posts as markdown and add to llms.txt
  next.config.js
  scripts/test-markdown-urls.js
  src/app/(blog)/blog/llms.txt/route.js
  src/proxy.js
  src/scripts/llms-index-config.js
  src/utils/ai-agent-detection.js
Due: prettier --write, eslint --cache --fix

Fix typos in EXTRACT Function docs
  content/postgresql/date-functions/extract.md
Due: node src/scripts/update-frontmatter.js

docs: agent-plan branch limit is custom, not the Launch/Scale 5,000
  content/docs/guides/ai-agent-integration.md
Due: node src/scripts/update-frontmatter.js

Fix typos in the DATE_PART() Function docs (#5120)
  content/postgresql/date-functions/date_part.md
Due: node src/scripts/update-frontmatter.js

Fix typos in the Extracting date and time components docs (#5122)
  content/postgresql/date-functions/extract.md
Due: node src/scripts/update-frontmatter.js

Add missing code example to the TIMEOFDAY() Function docs (#5115)
  content/postgresql/date-functions/timeofday.md
Due: node src/scripts/update-frontmatter.js

Add missing code example to the NOW() Function docs (#5114)
  content/postgresql/date-functions/now.md
Due: node src/scripts/update-frontmatter.js

docs: improve snapshot test reliability and add pre-push unit test hook
  .husky/pre-push
  CLAUDE.md
  src/middleware.test.js
  src/scripts/__snapshots__/process-md-for-llms.test.js.snap
  src/scripts/fixtures/mdx-conversion-test.md
  src/scripts/process-md-for-llms.test.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

Improve unit test reliability and add pre-push hook (#5124)
  .husky/pre-push
  CLAUDE.md
  src/middleware.test.js
  src/scripts/__snapshots__/process-md-for-llms.test.js.snap
  src/scripts/fixtures/mdx-conversion-test.md
  src/scripts/process-md-for-llms.test.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

Address Anthony's review nits
  content/guides/neon-skill-coding-agents.md
Due: node src/scripts/update-frontmatter.js

Add Anthony Giuliano author photo
  public/guides/authors/anthony-giuliano.jpg
Due: none

Add guide: Get Better Code from Your AI Coding Agent with the Neon Skill
  content/guides/authors/data.json
  content/guides/neon-skill-coding-agents.md
Due: node src/scripts/update-frontmatter.js

docs: address review comments
  content/docs/import/region-migration.md
  content/docs/introduction/regions.md
Due: node src/scripts/update-frontmatter.js

chore: drop updatedOn-only noise (restore to main)
  content/docs/ai-gateway/models.md
  content/docs/ai-gateway/overview.md
  content/docs/ai/neon-mcp-server.md
  content/docs/auth/authentication-flow.md
  content/docs/data-api/get-started.md
  content/docs/introduction/ip-allow.md
  content/docs/reference/javascript-sdk.md
  content/docs/serverless/serverless-driver.md
  content/postgresql/date-functions/make_interval.md
  content/postgresql/date-functions/make_time.md
Due: node src/scripts/update-frontmatter.js

docs: move legacy plans to unused, it's already redirected
  content/docs/unused/legacy-plans.md
Due: node src/scripts/update-frontmatter.js

docs: move legacy plans to unused, it's already redirected (#4842)
  content/docs/unused/legacy-plans.md
Due: node src/scripts/update-frontmatter.js

docs: add storage callouts
  content/docs/guides/aws-s3.md
  content/docs/guides/azure-blob-storage.md
  content/docs/guides/backblaze-b2.md
  content/docs/guides/cloudflare-r2.md
  content/docs/guides/cloudinary.md
  content/docs/guides/file-storage.md
  content/docs/guides/imagekit.md
  content/docs/guides/uploadcare.md
  src/styles/doc-content.css
Due: prettier --write, node src/scripts/update-frontmatter.js

chore: point topbar at the latest changelog highlights
  content/config/topbar.yaml
Due: none

chore: point topbar at the latest changelog highlights (#5125)
  content/config/topbar.yaml
Due: none

docs: mcp: cut verbose intros, extra admonitions, bonus sections; add access control docs
  content/docs/ai/connect-mcp-clients-to-neon.md
  content/docs/ai/neon-mcp-server.md
  content/docs/shared-content/mcp-tools.md
  content/guides/claude-code-mcp-neon.md
  content/guides/cline-mcp-neon.md
  content/guides/cursor-mcp-neon.md
  content/guides/neon-mcp-server.md
  content/guides/windsurf-mcp-neon.md
  content/guides/zed-mcp-neon.md
Due: node src/scripts/update-frontmatter.js

chore: update snapshot for mcp-tools content changes
  src/scripts/__snapshots__/process-md-for-llms.test.js.snap
Due: none

Tighten MCP docs and add access control documentation (#5127)
  content/docs/ai/connect-mcp-clients-to-neon.md
  content/docs/ai/neon-mcp-server.md
  content/docs/shared-content/mcp-tools.md
  content/guides/claude-code-mcp-neon.md
  content/guides/cline-mcp-neon.md
  content/guides/cursor-mcp-neon.md
  content/guides/neon-mcp-server.md
  content/guides/windsurf-mcp-neon.md
  content/guides/zed-mcp-neon.md
  src/scripts/__snapshots__/process-md-for-llms.test.js.snap
Due: node src/scripts/update-frontmatter.js

chore(bootstrap): sync fallback manifest with examples/bootstrap.yaml
  src/app/bootstrap/templates.yaml/route.js
Due: prettier --write, eslint --cache --fix

chore(bootstrap): sync fallback manifest with examples/bootstrap.yaml (#5128)
  src/app/bootstrap/templates.yaml/route.js
Due: prettier --write, eslint --cache --fix

chore: set 3 cards in row
  content/docs/introduction.md
  src/components/pages/doc/detail-icon-cards/detail-icon-cards.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: remove headerWithBorder prop
  src/app/templates/[slug]/page.jsx
  src/app/templates/page.jsx
Due: prettier --write, eslint --cache --fix

docs: serve blog posts as markdown and add to llms.txt (#5121)
  next.config.js
  scripts/test-markdown-urls.js
  src/app/(blog)/blog/llms.txt/route.js
  src/proxy.js
  src/scripts/llms-index-config.js
  src/utils/ai-agent-detection.js
Due: prettier --write, eslint --cache --fix

docs: adjust ai gateway description
  content/changelog/2026-05-29.md
  content/changelog/2026-06-05.md
  content/changelog/2026-06-12.md
  content/changelog/2026-06-19.md
  content/docs/ai-gateway/overview.md
  content/docs/introduction.md
Due: node src/scripts/update-frontmatter.js

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
