Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "**/*.{md,mdx}": "node src/scripts/update-frontmatter.js"
}

feat: update sections style
  src/components/pages/enterprise/benefits/benefits.jsx
  src/components/pages/enterprise/benefits/fleets/fleets.jsx
  src/components/pages/enterprise/benefits/price-perf/price-perf.jsx
  src/components/pages/enterprise/benefits/workflow/workflow.jsx
  src/styles/hubspot-form.css
  src/utils/inject-script.js
Due: prettier --write, eslint --cache --fix

feat: enhanced useHubspotForm functionality
  package-lock.json
  package.json
  src/components/pages/enterprise/apply/apply.jsx
  src/components/pages/enterprise/hero/hero.jsx
  src/hooks/use-hubspot-form.js
Due: prettier --write, eslint --cache --fix

fix: calendly popup modal root
  src/components/pages/enterprise/apply/apply.jsx
Due: prettier --write, eslint --cache --fix

Update signing-up.md
  content/docs/get-started-with-neon/signing-up.md
Due: node src/scripts/update-frontmatter.js

fix: update page content and graphic
  src/app/enterprise/page.jsx
  src/components/pages/enterprise/benefits/fleets/fleets.jsx
  src/components/pages/enterprise/benefits/images/3.png
  src/components/pages/enterprise/benefits/images/app-store.svg
  src/components/pages/enterprise/benefits/images/bash.inline.svg
  src/components/pages/enterprise/benefits/images/book.svg
  src/components/pages/enterprise/benefits/images/branching.png
  src/components/pages/enterprise/benefits/images/branching.svg
  src/components/pages/enterprise/benefits/images/file.svg
  src/components/pages/enterprise/benefits/images/fleets.gif
  src/components/pages/enterprise/benefits/images/fleets.svg
  src/components/pages/enterprise/benefits/images/replicas.svg
  src/components/pages/enterprise/benefits/price-perf/price-perf.jsx
  src/components/pages/enterprise/benefits/workflow/workflow.jsx
  src/icons/enterprise/audit.svg
  src/icons/enterprise/check.svg
  src/icons/enterprise/ip.svg
  src/icons/enterprise/s3.svg
  src/icons/enterprise/soc-2.svg
Due: prettier --write, eslint --cache --fix

updates
  content/docs/introduction/about-billing.md
  content/docs/introduction/billing-overview.md
  content/docs/introduction/plans.md
  public/docs/introduction/monitor_billing_usage.png
  public/docs/introduction/monitor_usage_widget.png
Due: node src/scripts/update-frontmatter.js

chore: update enterprise og image
  public/images/social-previews/enterprise.jpg
  src/constants/seo-data.js
Due: prettier --write, eslint --cache --fix

Update branch-restore.md
  content/docs/guides/branch-restore.md
Due: node src/scripts/update-frontmatter.js

chore: update enterprise adaptive
  src/components/pages/enterprise/benefits/fleets/fleets.jsx
  src/components/pages/enterprise/benefits/price-perf/price-perf.jsx
  src/components/pages/enterprise/benefits/workflow/workflow.jsx
Due: prettier --write, eslint --cache --fix

revisions
  content/docs/introduction/billing-overview.md
  content/docs/introduction/billing.md
Due: node src/scripts/update-frontmatter.js

edits
  content/docs/introduction/about-billing.md
Due: node src/scripts/update-frontmatter.js

chore: update frontmatter date (auto-update)
  content/docs/get-started-with-neon/signing-up.md
Due: node src/scripts/update-frontmatter.js

Update sidebar.yaml
  content/docs/sidebar.yaml
Due: none

chore: remove discourse links and references, except within release notes
  content/docs/introduction/support.md
  src/components/pages/doc/community-banner/community-banner.jsx
  src/components/pages/home/community/community.jsx
  src/constants/links.js
  src/constants/menus.js
  src/styles/main.css
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

revisions
  content/docs/introduction/billing.md
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

Update plans.md
  content/docs/introduction/plans.md
Due: node src/scripts/update-frontmatter.js

edits
  content/docs/community/contribution-guide.md
  content/docs/connect/connection-errors.md
  content/docs/connect/connection-latency.md
  content/docs/connect/connection-pooling.md
  content/docs/extensions/pg-extensions.md
  content/docs/guides/auto-suspend-guide.md
  content/docs/guides/autoscaling-guide.md
  content/docs/guides/branch-promote.md
  content/docs/guides/branching-pitr.md
  content/docs/guides/project-sharing-guide.md
  content/docs/guides/read-replica-guide.md
  content/docs/guides/read-replica-prisma.md
  content/docs/import/import-from-postgres.md
  content/docs/introduction/auto-suspend.md
  content/docs/introduction/autoscaling.md
  content/docs/introduction/compute-lifecycle.md
  content/docs/introduction/custom-plan.md
  content/docs/introduction/free-tier.md
  content/docs/introduction/ip-allow.md
  content/docs/introduction/point-in-time-restore.md
  content/docs/introduction/pro-plan.md
  content/docs/introduction/read-replicas.md
  content/docs/introduction/support.md
  content/docs/manage/backups.md
  content/docs/manage/branches.md
  content/docs/manage/endpoints.md
  content/docs/manage/project-access.md
  content/docs/manage/projects.md
  content/docs/reference/cli-projects.md
  content/docs/reference/glossary.md
  content/docs/security/security-overview.md
  content/docs/shared-content/need-help.md
Due: node src/scripts/update-frontmatter.js

edits, update image
  content/docs/introduction/billing.md
  public/docs/introduction/storage_calc.png
Due: node src/scripts/update-frontmatter.js

Update billing-sample.md
  content/docs/introduction/billing-sample.md
Due: node src/scripts/update-frontmatter.js

revisions
  content/docs/introduction/billing-sample.md
  content/docs/introduction/manage-billing.md
  content/docs/introduction/support.md
Due: node src/scripts/update-frontmatter.js

feat: copy edits
  src/components/pages/pricing/case-studies/case-studies.jsx
  src/components/pages/pricing/case-studies/images/profitflow.svg
  src/components/pages/pricing/hero/hero.jsx
  src/components/pages/pricing/plans/data/plans.json
Due: prettier --write, eslint --cache --fix

feat: fix ordering
  src/components/pages/pricing/plans/data/plans.json
Due: none

feat: hero edits
  src/components/pages/pricing/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

chore: upload partner dpa pdf
  public/pdf/Partner-DPA.pdf
Due: none

chore: update modal after form submit
  package-lock.json
  package.json
  src/components/pages/enterprise/apply/apply.jsx
  src/components/pages/enterprise/apply/images/close.inline.svg
Due: prettier --write, eslint --cache --fix

chore: update modal after form submit
  package-lock.json
  package.json
  src/components/pages/enterprise/apply/apply.jsx
  src/styles/calendly-widget.css
Due: prettier --write, eslint --cache --fix

edits
  content/docs/introduction/about-billing.md
  content/docs/introduction/billing-overview.md
  content/docs/introduction/billing.md
  content/docs/introduction/manage-billing.md
Due: node src/scripts/update-frontmatter.js

Update billing.md
  content/docs/introduction/billing.md
Due: node src/scripts/update-frontmatter.js

initial content
  content/changelog/2024-02-16-console.md
Due: node src/scripts/update-frontmatter.js
