Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: note lfc-hit-rate and working-set don't apply on large fixed computes (#5816)
  content/docs/cli/inspect.md
Due: node src/scripts/update-frontmatter.js

docs: add git repo link
  content/guides/branch-everything-preview-environments.md
Due: node src/scripts/update-frontmatter.js

docs(pages): move preview links and refresh summary for LKB-16597
  content/docs/connect/connect-hub.md
Due: node src/scripts/update-frontmatter.js

docs: add AI Gateway prepaid credits draft
  content/docs/ai-gateway/prepaid-credits.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

docs(pages): retarget postgres shortcut for LKB-16597
  content/docs/connect/connect-hub.md
Due: node src/scripts/update-frontmatter.js

chore: update animation timings
  src/components/pages/home/scale-your-app/startup-animation.jsx
  src/components/pages/home/scale-your-app/startup-logos.jsx
  src/components/pages/home/scale-your-app/startup-timing.js
Due: prettier --write, eslint --cache --fix

docs: point 'where to go next' at the Connect your app hub
  content/docs/concepts/credentials-access.md
Due: node src/scripts/update-frontmatter.js

Link the WorkOS Claimable Neon case study from the launch post
  content/blog/posts/an-agent-provisions-a-neon-backend-a-human-claims-it-later.md
Due: node src/scripts/update-frontmatter.js

Revise WorkOS case study reference in blog post
  content/blog/posts/an-agent-provisions-a-neon-backend-a-human-claims-it-later.md
Due: node src/scripts/update-frontmatter.js

Add WorkOS case study link to Claimable Neon post (#5819)
  content/blog/posts/an-agent-provisions-a-neon-backend-a-human-claims-it-later.md
Due: node src/scripts/update-frontmatter.js

docs: document neon checkout --create (Neon CLI 4.15.0)
  content/docs/cli/checkout.md
  content/docs/cli/config.md
  content/docs/get-started/backend-overview.md
  public/prompts/neon-backend.md
  scripts/docs-checks/neonctl/schema.json
Due: node src/scripts/update-frontmatter.js

docs: document neon checkout --create (Neon CLI 4.15.0) (#5820)
  content/docs/cli/checkout.md
  content/docs/cli/config.md
  content/docs/get-started/backend-overview.md
  public/prompts/neon-backend.md
  scripts/docs-checks/neonctl/schema.json
Due: node src/scripts/update-frontmatter.js

docs(experiment): present backend capabilities as a menu
  content/docs/get-started/with-an-agent.md
  scripts/with-an-agent-content.test.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: align the API reference audit to the docs and tidy its output
  scripts/audit-api-spec.mjs
  scripts/generate-api-ref.md
Due: node src/scripts/update-frontmatter.js

chore: update @neon/sdk to v4.1.0
  package-lock.json
  package.json
  scripts/check-docs-api-consistency.mjs
Due: none

chore: align the API reference audit to the docs and tidy its output (#5821)
  scripts/audit-api-spec.mjs
  scripts/generate-api-ref.md
Due: node src/scripts/update-frontmatter.js

chore: update @neon/sdk to v4.1.0 (#5822)
  package-lock.json
  package.json
  scripts/check-docs-api-consistency.mjs
Due: none

docs: add a custom domains guide for Neon Functions
  content/docs/cli/functions.md
  content/docs/compute/functions/custom-domains.md
  content/docs/compute/functions/overview.md
  content/docs/navigation.yaml
Due: node src/scripts/update-frontmatter.js

docs: update docs to neon cli 4.16.0
  content/docs/ai-gateway/authentication.md
  content/docs/ai-gateway/get-started.md
  content/docs/ai/agent-skills.md
  content/docs/ai/connect-mcp-clients-to-neon.md
  content/docs/api-navigation.yaml
  content/docs/api-operation-ids.json
  content/docs/cli/config.md
  content/docs/cli/credentials.md
  content/docs/cli/init.md
  content/docs/cli/link.md
  content/docs/cli/triggers.md
  content/docs/get-started/full-backend-quickstart.md
  content/docs/get-started/with-an-agent.md
  content/docs/navigation.yaml
  content/docs/storage/authentication.md
  content/docs/storage/get-started.md
  scripts/docs-checks/neonctl/schema.json
  scripts/lib/excluded-operations.mjs
  scripts/lib/excluded-operations.test.js
  src/components/pages/doc/cli-reference/cli-command-index/groups.js
  src/components/pages/doc/cli-reference/cli-command-index/meta.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

docs: update docs to neon cli 4.16.0 (#5823)
  content/docs/ai-gateway/authentication.md
  content/docs/ai-gateway/get-started.md
  content/docs/ai/agent-skills.md
  content/docs/ai/connect-mcp-clients-to-neon.md
  content/docs/api-navigation.yaml
  content/docs/api-operation-ids.json
  content/docs/cli/config.md
  content/docs/cli/credentials.md
  content/docs/cli/init.md
  content/docs/cli/link.md
  content/docs/cli/triggers.md
  content/docs/get-started/full-backend-quickstart.md
  content/docs/get-started/with-an-agent.md
  content/docs/navigation.yaml
  content/docs/storage/authentication.md
  content/docs/storage/get-started.md
  scripts/docs-checks/neonctl/schema.json
  scripts/lib/excluded-operations.mjs
  scripts/lib/excluded-operations.test.js
  src/components/pages/doc/cli-reference/cli-command-index/groups.js
  src/components/pages/doc/cli-reference/cli-command-index/meta.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

feat: add Object Storage page
  public/animations/pages/object-storage/hero.riv
  src/app/ai-gateway/page.jsx
  src/app/object-storage/page.jsx
  src/components/pages/ai-gateway/gateway-benefits/gateway-benefits.jsx
  src/components/pages/ai-gateway/gateway-benefits/index.js
  src/components/pages/backend-platform/backend-platform-page/backend-platform-page.jsx
  src/components/pages/backend-platform/backend-services/backend-services.jsx
  src/components/pages/backend-platform/hero/hero.jsx
  src/components/pages/backend-platform/hero/index.js
  src/components/pages/object-storage/configuration/configuration.jsx
  src/components/pages/object-storage/configuration/index.js
  src/components/pages/object-storage/hero/hero-animation.jsx
  src/components/pages/object-storage/hero/hero.jsx
  src/components/pages/object-storage/hero/index.js
  src/components/pages/object-storage/isolated-environments/index.js
  src/components/pages/object-storage/isolated-environments/isolated-environments.jsx
  src/components/shared/faq/item/item.jsx
  src/components/shared/product-benefits/index.js
  src/components/shared/product-benefits/product-benefits.jsx
  src/components/shared/rive-wasm/rive-wasm.jsx
  src/constants/content.js
  src/constants/links.js
  src/constants/object-storage-page-content.js
  src/constants/seo-data.js
  src/images/pages/object-storage/branchable-storage.jpg
  src/images/pages/object-storage/hero.jpg
  src/images/pages/object-storage/one-credential.jpg
  src/images/pages/object-storage/s3-compatible.jpg
  src/middleware.test.js
  src/proxy.js
  src/scripts/generate-backend-platform-page-markdown.js
  src/scripts/generate-backend-platform-page-markdown.test.js
  src/utils/ai-agent-detection.test.js
  src/utils/get-metadata.test.js
Due: prettier --write, eslint --cache --fix

chore: design adjustments
  src/components/pages/object-storage/configuration/configuration.jsx
  src/components/pages/object-storage/isolated-environments/isolated-environments.jsx
Due: prettier --write, eslint --cache --fix

fix: preload Rive WASM for Auth hero
  src/components/shared/rive-wasm/rive-wasm.jsx
Due: prettier --write, eslint --cache --fix

fix: qa adjustments
  next.config.js
  next.config.test.js
  src/components/pages/auth/hero/hero-animation.jsx
  src/components/pages/object-storage/hero/hero-animation.jsx
Due: prettier --write, eslint --cache --fix

docs: update AI Gateway prepaid credits draft
  content/docs/ai-gateway/prepaid-credits.md
Due: node src/scripts/update-frontmatter.js

docs: fold confirmed staging findings into AI Gateway prepaid credits
  content/docs/ai-gateway/prepaid-credits.md
Due: node src/scripts/update-frontmatter.js

docs: restore Availability section and refine metering/min-balance notes
  content/docs/ai-gateway/prepaid-credits.md
Due: node src/scripts/update-frontmatter.js

docs: note the latest scheduled snapshot is preserved while a schedule is active
  content/docs/guides/backup-restore.md
Due: node src/scripts/update-frontmatter.js

docs: document Neon MCP server telemetry and the NEON_MCP_DISABLE_ANALYTICS opt-out
  content/docs/ai/neon-mcp-server.md
Due: node src/scripts/update-frontmatter.js

chore: update animations
  public/animations/pages/lakebase/lakebase-scheme.riv
  src/components/pages/lakebase/README.md
  src/components/pages/lakebase/architecture/animation.jsx
  src/components/pages/lakebase/architecture/architecture.jsx
  src/components/pages/lakebase/dynamic-databases/restore-visual.jsx
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

chore: format integrated backend pages
  src/app/ai-gateway/page.jsx
  src/app/auth/page.jsx
  src/app/object-storage/page.jsx
  src/components/pages/backend-platform/backend-services/backend-services.jsx
Due: prettier --write, eslint --cache --fix

docs: address review feedback on credentials & access
  content/docs/concepts/credentials-access.md
  public/docs/concepts/credentials-access.png
  public/docs/concepts/credentials-scope-branch.png
Due: node src/scripts/update-frontmatter.js

docs: tighten hero alt text to match the diagram caption
  content/docs/concepts/credentials-access.md
Due: node src/scripts/update-frontmatter.js

fix: convert HTML comments to MDX-safe comments in prepaid-credits.md
  content/docs/ai-gateway/prepaid-credits.md
Due: node src/scripts/update-frontmatter.js

docs(experiment): name Lakebase Postgres, global CLI, and link services
  content/docs/get-started/with-an-agent.md
  scripts/with-an-agent-content.test.js
Due: prettier --write, eslint --cache --fix, node src/scripts/update-frontmatter.js

fix: remove draft comments that break MDX build
  content/docs/ai-gateway/prepaid-credits.md
Due: node src/scripts/update-frontmatter.js

feat: add new section for lakebase, qa adjustments
  src/app/lakebase/page.jsx
  src/app/object-storage/page.jsx
  src/components/pages/auth/branching/branching-animation.jsx
  src/components/pages/lakebase/architecture/architecture.jsx
  src/components/pages/lakebase/dynamic-databases/benefits.jsx
  src/components/pages/lakebase/dynamic-databases/dynamic-databases.jsx
  src/components/pages/lakebase/dynamic-databases/section-navigation.jsx
  src/components/pages/lakebase/hero/illustration.jsx
  src/components/pages/object-storage/configuration/index.js
  src/components/shared/configuration/configuration.jsx
  src/components/shared/configuration/index.js
  src/components/shared/faq/faq.jsx
  src/components/shared/footer/footer.jsx
  src/components/shared/product-benefits/product-benefits.jsx
  src/constants/backend-platform-page-content.js
  src/icons/lakebase/dynamic-databases/backend.svg
  src/icons/lakebase/dynamic-databases/environment.svg
  src/icons/lakebase/dynamic-databases/programmable.svg
  src/scripts/generate-backend-platform-page-markdown.js
  src/scripts/generate-backend-platform-page-markdown.test.js
Due: prettier --write, eslint --cache --fix

fix: shorten markdown cache TTL so agent reads stay tracked
  src/middleware.test.js
  src/proxy.js
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  node src/scripts/update-frontmatter.js: any of: **/*.{md,mdx}
